@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  font: 18px "Roboto", Helvetica, sans-serif;
  overflow-x: hidden;
}

/* Hide the checkbox */
input[type="checkbox"] {
  position: fixed;
  visibility: hidden;
}
/* start toggle */
.nav-alter {
  display: block;
  position: fixed;
  top: 10px;
  right: 0px;
  height: 32px;
  width: 40px;
  cursor: pointer;
  z-index: 99;
  margin-right: 10px;
  transition: margin 0.3s;
}
.nav-alter span {
  position: relative;
  display: block;
  height: 2px;
  width: 30px;
  background: #000;
  transition: all 0.3s;
  background-color: #ffffff;
}
.nav-alter span:nth-child(2) {
  top: 12px;
}
.nav-alter span:nth-child(3) {
  top: 24px;
}
/*moving toggle */
input[type="checkbox"]:checked ~ .nav-alter {
  margin-right: 0;
}
input[type="checkbox"]:checked ~ .nav-alter span:nth-child(1) {
  top: 15px;
  transform: scale(0.5) rotate(-45deg);
}
input[type="checkbox"]:checked ~ .nav-alter span:nth-child(2) {
  display: none;
}
input[type="checkbox"]:checked ~ .nav-alter span:nth-child(3) {
  top: 13px;
  transform: scale(0.5) rotate(45deg);
}
/*end toggle */

.container {
  width: 100%;
  overflow: auto;
  height: 100%;
  margin-left: 0;
  background-color: #b8c2a6;
  transition: margin 0.3s;
  left: 0;
}

.menu {
  width: inherit;
  position: fixed;
  top: 0;
  background-repeat: no-repeat;
  margin-left: -100%;
  background: #222;
  padding: 10px;
  transition: margin 0.3s;
  font-size: 15px;
}

/*menu moving*/
input[type="checkbox"]:checked ~ .container .menu {
  margin-left: 0;
  height: 50%;
  z-index: 1;
  text-align: center;
  line-height: 2em;
}

/* The menu */
ul {
  list-style: none;
  margin-top: 45px;
}
nav.menu ul ul {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s;
}
nav.menu ul li:hover > ul {
  max-height: 600px;
  height: auto;
}
nav.menu ul li:hover {
  background-color: #269ccf;
  border-radius: 30%;
}
a{
  text-decoration: none;
  display: block;
  color: #ffffff;
}

/*start hero image*/
/*for image active .hero*/
/*
.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), 
                  rgba(0, 0, 0, 0.5)),
                    url("../img/cooding.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
*/

/*for hero video deactivate .video-header and .video-header video*/
.video-header {
  height: 50vh;
  width: 99vw;
  border: 3px solid #ffa500;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-header video {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero__text {
  text-align: center;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  line-height: initial;

  
animation-duration: 3s;
animation-name: slidein;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  
  to {
    margin-left: 0%;
    width: 100%;
  }
  }

.hero__text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ffa500;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 10px;
}

.hero__text button:hover {
  background-color: #269ccf;
  color: #000000;
}

/*end hero image*/


/*start Signup form*/
.signupForm {
  margin: 30px;
  background-image: url("../img/background.png");
  border-radius: 15px;
}
h1 {
  text-align: center;
  padding: 10%;
}

input[type="text"],
input[type="email"],
input[type="submit"] {
  width: 80%;
  padding:5px;
  border: none;
  border-radius: 5px;
  height: 30px;
}

input[type="submit"] {
  margin-bottom: 15px;
  background-color: #ffa500;
}

input[type="submit"]:hover {
  background-color: #ffe600;
}

input[type="radio"] {
  width: 20px;
  height: 20px;
}
/*start custom radio*/
/* The container */
.containerRadio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.containerRadio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmarkRadio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.containerRadio:hover input ~ .checkmarkRadio {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.containerRadio input:checked ~ .checkmarkRadio {
  background-color: #ffa500;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmarkRadio:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.containerRadio input:checked ~ .checkmarkRadio:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.containerRadio .checkmarkRadio:after {
 	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}
/*end custom radio*/

fieldset {
  width: 80%;
  padding: 10px;
  border: 1px solid #000;
}

/*start custom checkbox*/

/* The container */
.containerCheckbox {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* Hide the browser's default checkbox */
.containerCheckbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #ffffff;
}
/* On mouse-over, add a grey background color */
.containerCheckbox:hover input ~ .checkmark {
  background-color: #ccc;
}
/* When the checkbox is checked, add a blue background */
.containerCheckbox input:checked ~ .checkmark {
  background-color: #ffa500;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked */
.containerCheckbox input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.containerCheckbox .checkmark:after {
  left: 4px;
  top: 0px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
/*end custom checkbox*/


.signupForm__info {
  padding: 10px;
  margin-left: 18%;
}
/*end Signup form*/

/*start accordion*/
.accordionSection {
  margin: 30px;
  background-image: url("../img/background.png");
  border-radius: 15px;
}

.accordionSection__button {
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordionSection__button:hover {
  background-color: #ccc;
  cursor: help;
}
.accordionSection__button:after {
  content: "\002B";
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {
  content: "\2212";
}
.accordionSection__text {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/*end Accordion*/
footer{
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  font-size: 18px;
}

/*for tablet*/
@media only screen and (min-width: 768px) {
  .nav-alter {
    display: none;
  }
  .container {
    top: 0;
    background-color: #b8c2a6;
    background-size: cover;
    line-height: 20px;
    color: #000;
    word-wrap: break-word !important;
    z-index: 10;
  }
  nav.menu {
    z-index: 99;
    position: fixed;
    top: 0;
    width: 99vw;
    text-align: right;
    background: none;
    margin-left: 0;
    padding: 0;
    height: auto;
  }
  nav.menu ul {
    padding: 0;
    margin: 0;
    position: relative;
    list-style: none;
  }
  nav.menu ul li {
    display: inline-block;
    width: auto;
    position: relative;
    margin-left: -5px;
  }
  nav.menu a {
    display: block;
    padding: 0 10px;
    color: #ffa500;
    font-size: 16px;
    font-weight: 800;
    line-height: 60px;
    text-decoration: none;
  }
  nav.menu a:hover {
    background-color: #269ccf;
    border-radius: 50%;
  }
  /* keeps the dropdown invisible and assign style to list*/
  nav.menu ul ul {
    display: none;
    position: absolute;
    overflow: visible;
    top: 60px;
    margin-left: -80px;
  }
  /* show dropdown 1st 2nd level on hover */
  nav.menu ul li:hover > ul {
    display: inherit;
  }
  /* 1st level */
  nav.menu ul ul li {
    display: list-item;
    float: none;
    position: relative;
  }
  input[type="checkbox"]:checked ~ .container section {
    margin-left: 0;
  }

  .signupForm,
  .accordionSection {
    max-width: 400px;
    margin: 10% 25% 10% 25%;
  }

  input#fname,
  input#lname,
  input#female,
  input#email {
    margin-top: 10px;
  }
}

/*for desktop*/
@media only screen and (min-width: 1024px) {
  .mainSection {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 0px;

    margin-left: 10%;
  }

  .signupForm,
  .accordionSection {
    margin: 10%;
}
}
