.container{
  width: 80%;
  max-width: 600px;
  margin: 50px auto;
}

button.accordion{
  width: 100%;
  background-color: coral;
  border: none;
  outline: none;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.2s linear;
}

#arrow-up{
  float: right;
  display: none;
}

#arrow-down{
  float: right;
}


button.accordion:hover{
  background-color: cornflowerblue;
}

.accordion-content{
  padding: 0 20px;
  border-left: 1px solid coral;
  border-right: 1px solid coral;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in-out;
}