/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
/* 
.active + .answer {
  
} */

.box {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
display: flex;
flex-direction: column;
box-sizing: border-box;

}
p{
  font-family: 'Arapey', 'Georgia', serif;
}


.top-page {
  height: 400px;
  width: 100%;
}


.video {
  width: auto;
  height: auto;
  display: block;
  position: absolute;
  
   
}
.video video {
  width: 90vw;
  height: 400px;
  object-fit: cover;

}
.content{
  position: absolute;
  top: 0px;
  left: 0x;
  width: 95%;
  height: 100%;
  max-height: 400px;
  z-index: 0;
}


.content h1{  
  margin: 0px;
  padding: 10px;
  color: white;
  text-shadow: 1px 1px 2px black;
  max-height: 100px;
}

.content p{
  padding: 10px;
  left: 30px;
  top: 250px;
  max-width: 80%;
  max-height: 130px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  overflow-y: hidden;
  z-index: 0;
  
}


.accordion {
  width: 100%;
  height: 700px;
  background: linear-gradient(to bottom left, #006666 0%, #888 100%);

  
 
}
.accordion h1{
  text-align: center;
  font-family: 'Montserrat', Helvetica, sans-serif;
}
.container div{
  width: 95%;
  margin-left: 5px;
  margin-right: 5px;
  
}
.answer p{
  text-align: center;
}
.answer {
  width: 100%;
  display: none;}


.question {
  width: 100%;
  background-color: #222;
  border: none;
  color: white;
  padding: 16px 0px;
  margin: 5px 2px;
  text-align: center;
  font-size: 16px;
  opacity: 0.6;
  transition: 0.3s;
  display: block;
  text-decoration: none;
  cursor: pointer;



}
.question:hover{
  background-color: #444;
}

.question:active{
  background-color: #444;
  color: black;
}


 
  .answer p{
    padding: 15px;
    margin: 0px;
  } 
  .answer {
    background-color: #777;
    color: black;
    display: none;}

.input {
  width: 100%;
  height: 700px;
  background: linear-gradient(to bottom left, #006666 0%, #888 100%);
}
.input h1{
  text-align: center;
  font-family: 'Montserrat', Helvetica, sans-serif;
}

/* Add padding to containers */
.container {
  padding: 0px 15px;
  
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 90%;
  padding: 15px;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
label{
  display: block;
  margin: 10px 0px;
  font-family: 'Arapey', Georgia, serif;
  font-size: 18px;
  font-weight: bold;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for the submit button */
.sub-btn {
  width: 100%;
  height: 40px;
  padding: 0px;
  margin-block-start: 0px;
  margin-block-end: 0px;
  display: block;
  font-size: 15px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: lightsteelblue;
  border: 1 px solid black;
  box-shadow: 0 8px #999;
}

.sub-btn:hover {background-color: steelblue}

.sub-btn:active { 
  background-color: steelblue;
  box-shadow: 0 5px #666;
  transform: translateY(4px);}

  .sub-btn:after{
    background-color: steelblue;
    box-shadow: 0 5px #666;
  }



/* Add a blue text color to links */
.terms {
  text-decoration: none;
  color: black;
  
}


footer {
  width: 100%;
  background-color: #555;
 
   
}
footer h1{
  color: white;
  font-family: 'Montserrat', Helvetica, sans-serif;
  text-shadow: 1px 1px 2px black;
  text-align: center;
}
.active + .answer{
  display: block;
 
  }


/* ---------För andra storlekar på skärm */

@media all and (min-width: 567px){
  .box{
  flex-direction: row;
  flex-wrap: wrap;
}


.accordion{
  width: 50%;
}
.input {
  width: 50%;
}
}
@media all and (min-width: 992px){

 
  
}
@media all and (min-width: 1200px){
  .box{
    max-width: 1080px;
  }
  .video video {
    width: 1080px;
    height: 400px;
    object-fit: cover;
  
  
  }
  .content{
    position: absolute;
    top: 0px;
    left: 0x;
    width: 1080px;
    height: 100%;
    z-index: 0;
  }
}
