/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Viga&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*, *::before, *::after {box-sizing: border-box}


body{
  height: 100%;
  margin: 0;
  background-color: #F2F2F2;
}

p{
  margin:0;
  padding:0;
}

/*** HERO IMAGE ****/
.header{
  width:100%;
}

.hero-wrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;  
}

.hero-image{
  height: 80vh;
  background: url("./images/erol_ahmed_unsplash.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10vw;
}

.hero-h1{
  position: relative;
  font-size: 2.5em;
  text-transform: uppercase;
  text-align: left;
  color: #e83333;
  font-weight: 900;
  text-shadow: rgb(120, 0, 0) 1px 1px;
  font-family: 'Monoton', cursive;
}

.hero-p{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1.8em;
  color: white;
  font-weight: 900;
  text-align: left;
  position: relative;
  
}

.hero-text{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hero-button{
  display: inline-block;
}

button{
  margin: 20px 0px;
  align-items: left;
  position: relative;
}


.hero-text button{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.7em;
  text-transform: uppercase;
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  position: relative;
}

.hero-text button:hover{
  background-color: #555;
  color: white;
}

span.red{
  color:#ff0f0f;
}

/*** NAVBAR ****/

nav{
  display: flex;
  justify-content: space-evenly;
  margin: 30px 0px;
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-weight: 900;
  text-transform: uppercase;
}

nav a{
  text-decoration: none;
  color: black;
}

a:hover::after{
  width: 20px;
  transition: width 0.5s;
}

a:hover{
  color: #DA0C0C;
}

/*** MANIFESTO ****/

.manifesto{
  display: flex;
  flex-direction: column;
}

.manifesto-h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  margin: 70px 10px 30px 10px;
}

.manifesto-h3{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-size: 1em;
  color: black;
  text-align: center;
  position: relative;
  font-weight: 10;
}

.p-manifesto-wrapper{
  display: block;
}

.p-manifesto{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: black;
  text-align: center;
  position: relative;
  margin: 20px 30px;
}

/*** ACCORDION ****/

.accordion-question{
  font-family: 'Montserrat', sans-serif;
  font-size: 1.8em;
  color: black;
  text-align: center;
}

.accordion{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: relative;
}

.accordion-h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: left;
}

.question{
  width: 70%;
  display: flex;
  justify-content: space-between;
  height: auto;
  text-align: justify;
  border: solid 2px black;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .question:hover{
  background-color: #ecded5
}

.activequestion:after{
  content: '\02795';
}

.inactivequestion:after{
  content: '\02796';
}

.question:after{
  /* content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: rgb(3, 3, 3);
  float: right;
  margin-right: 5px;
  margin-top: 10px;
}

/* THIS IS NOT WORKING */
/*
.active:after {
  content: "\2796";  Unicode character for "minus" sign (-)
}
*/

.active, .answer{
  background-color: #F2F2F2;
}

.answer{
  width: 70%;
  height: 0;
  text-align: justify;
  overflow:hidden;
  transition: height 0.3s ease;
  margin: 5px 0;
}

.answer-p{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: justify;
}

.answer-list{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  text-align: justify;
}

.accordion-image{
  width:100%;
  justify-items: center;
}

span.italic{
  font-style: italic;
}

.active{
  height: 270px; 
}

.active-image{
  height: 230px; !important;
}


/*** SIGN UP FORM ****/


form{
  box-sizing: border-box;
  width:50%;
}

.field-container{
  width:70%;
}

.the-form{
  box-sizing: border-box;
  background-color: #ecded5;
  display: flex;
  justify-content: center;
  margin: 60px 0px 0px 0px;
}

.p-form-main{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  color: black;
  text-align: justify;
}

.p-form{
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  color: black;
  font-weight: 900;
  text-align: left;
  margin: 15px 5px;
}

.p-form-small{
  font-family: 'Montserrat', sans-serif;
  font-size: 1em;
  font-style: bold;
}

.amount-container{
  display:inline-flex;
}

.amount{
  box-sizing: border-box;
  margin: 5px;
}

/* radio buttons styling */

.radio-button-container{
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 10px 5px;
  font-size: 16px;
  user-select: none;
}


.radio-button-container input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 16px;
  width: 16px;
  transform: translate(-180%, -135%);
  z-index: 1;
}

.custom-radio{
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
  cursor: pointer;
  border-radius: 50%;
}

.radio-button-container:hover input ~ .custom-radio{
  background-color: #444444;
}

.radio-button-container input:checked ~ .custom-radio{
  background-color: #444444
} 

.person{
  box-sizing: border-box;
  margin: 15px 5px;
}

.news{
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}

/* check box styling */

.checkbox-container{
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 10px 5px;
  font-size: 16px;
  user-select:none;
}

.checkbox-container input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 17;
  width: 17;
  transform: translate(-200%, -150%);
  z-index: 1;
}

.custom-checkbox{
  position: absolute;
  top: 0;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-container:hover input ~ .custom-checkbox{
  background-color: #444444;
}

.checkbox-container input:checked ~ .custom-checkbox{
  background-color: #444444
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  width:  3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  top: 5px;
  left: 7px;
  transform: rotate(45deg);
}


.bank{
  box-sizing: border-box;
  margin: 10px 5px;
}

.submit-form{
  margin: 15px 5px;
}

input[type = "text"]{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

input[type = "number"]{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
  height: 100px;
}

input[type = "submit"]{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.8em;
}

/* The footer */

footer{
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}

.imgage-container{
  display: inline-block;
}

.footer-image{
  width:50px;
}

/*** media query ****/

@media (min-width: 768px) {
  .hero-image{
    height: 85vh;
  }

    .hero-h1{
    font-size: 3.5em;
  }

  .active{
    height: 150px; 
  }
  
  .active-image{
    height: 350px; !important;
  }

  .field-container{
    width:50%;
  }

}

@media (min-width: 1024px){
  .hero-h1 {
    font-size: 4em;
  }

  .hero-p{
    font-size: 2.8em;
  }

  .active{
    height: 95px; 
  }
  
  .active-image{
    height: 650px;
  }
}


