*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 0;
}

input[type=text] {   
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  padding: 0.5rem 0.25rem;

  /* Style */
  color: #fff;  
}

input[type=password]{
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.5rem 0.25rem;

  /* Style */
  color: #fff; 
}

input[type=email]{
  /* Remove First */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0.5rem 0.25rem;

  /* Style */
  color: #fff; 
}

html, body {
  overflow-x: hidden;
}

.section{
  min-height: 100vh;
  padding: 0 7%;
  padding-top: 20px;  
}

/*/ ----------- Main Page ----------/*/
.full-page{
  width: 100%;
  min-height: 100vh;
}

/*/ navbar /*/
body{
  background-color: #080008; 
}

.header{
  height: 100vh;
  width: 100%;
  padding: 0 8%;
  position: relative;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo{
  width: 40px;
  margin: 0 30px;
}

.nav-links{
  padding: 28px 0;
  margin: 0 30px;
}

.nav-links li{
  display: inline-block;
  margin: 0 20px;
}

.nav-links li a{
  color: black; 
  padding: 5px 0;
}

.button{
  background: #00aa2b;
  color: #fff;
  padding: 10px 40px;
  box-shadow: 6px 6px 39px -4px rgba(0,0,0,0.75);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
}

.button:hover{
  background: #34495e;
  color: #fff;
}

/*/ Text over video /*/
.content{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 90%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding-top: 50px;
}

.content h1{
  font-size: 60px;
  font-weight: 600;
  margin-bottom: 10px;
}

.content p{
  margin-bottom: 30px;
}

.button-faq{
  color: #fff;
  background: #e05f09;
  padding: 10px 20px;
  border-color: white;
  box-shadow: 6px 6px 39px -4px rgba(0,0,0,0.75);
  border-radius: 3px;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 3px;
}

.button-faq:hover{
  background: #34495e;
  color: #fff;
}


/*/ Video background /*/
.back-video{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -100;
  opacity: 0.5;
}

/*/ ----------- Main Page - Ends ----------/*/

.popup{
  background: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.popup-content{
  height: 480px;
  width: 380px;
  background: rgb(49, 49, 49);
  padding: 5px;
  border-radius: 5px;
  position: relative;
  margin: 6% auto;
  overflow: hidden;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px
  rgba(0,0,0,0.2);
  border-radius: 3px;
}

.button-box{
  width: 220px;
  margin: 50px auto;
  position: relative;
  border-radius: 5px;
  background:rgb(109, 109, 109);
}

.toggle-btn{
  padding: 10px 30px;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  position: relative;
}

#btn{
  top: 0;
  left: 0;
  position: absolute;
  width: 110px;
  height: 100%;
  background: #ffffff;
  border-radius: 5px;
  transition: .5s;
}
#btn:hover{
  background: #34495e;
  color: #fff;
}

.input-group{
  top: 180px;
  position: absolute;
  width: 280px;
  transition: .5s;
}

.input-field{
  width: 100%;
  padding: 10px 0;
  margin: 5px 0;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #999;
  outline: none;
  background: transparent;
}

.submit-btn{
  width: 85%;
  padding: 10px 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background: #009b40;
  border: 0;
  outline: none;
  border-radius: 30px;
}

.submit-btn:hover{
  background: #34495e;
  color: #fff;
}

.check-box{
  margin: 30px 3px 30px 0;
}

label{
  color: #777;
  font-size: 12px;
  bottom: 68px;
}

#login{
  left: 50px;
}

#register{
  left: 450px;
}


.close{
  position: absolute;
  top: 15px;
  right: 15px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

/*/ ---- Accordion ---- /*/

.accordion{
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion .title{
  color: #fff;
  font-size: 3rem;
  margin: 2rem 0rem;
}

.accordion .answer{
  color: #fff;
}

.faq{
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.question{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.question h3{
  font-size: 1.8rem;
}

.answer{
  max-height: 0;
  overflow: hidden;
  transition: 1.4s;
}

.answer p{
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.faq.active .answer{
  max-height: 300px;
}

.faq.active svg{
  transform: rotate(180deg);
}









