* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
  
  body, html {
    height: 100%;
    background-color: #FBFDFF;
  }
  
  
  .hero-image {
    background-image: url("flowers.jpg");
    height: 40vh;
    min-height: 200px;
    width: 100vw;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Permanent Marker', cursive;
    transform: translate(-50%, -50%);
    color: #f7f9fcb7;
    
  }
  
  .hero-text h1{
    font-size: 28pt;
  }
  
  .hero-text h2{
    font-size: 18pt;
  }
  
  main{
    display: flex;
    flex-flow: column;
  }
  
  .intro {
    font-family: 'Cormorant Garamond', serif;
    font-size: 14pt;
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    text-align: center;
  }
  
  .accordion {
    width:80%;
    margin:1rem auto;
  }
  
  .accordion h1{
    font-size: 24pt;
    margin: 2rem; 
    margin-top: 1rem;
    font-family: 'Permanent Marker', cursive;
    text-align:center;
  }
  
  .accordion-item{
    background-color:#5C9F70;
    color: #FBFDFF;
    margin: 1rem; 
  }
  
  .accordion-item-header {
    display: flex;
    font-family: 'Permanent Marker', cursive;
    font-size: 16pt;
    padding: 10pt;
    min-height: 3,5rem;
    line-height: 1,25rem;
    align-items: center;
    position: relative;
    cursor: pointer;  
  }
  
  .accordion-item-header::after {
    content:"+";
    font-size:2rem;
    position:absolute;
    right:1rem;
  }
  
  .accordion-item-header.active::after{
    content:"-";
  }
  
  .accordion-item-body {
    display:none;
    padding:1rem;
    line-height: 1,5rem;
    border-top: 1px solid;
  }
  
  .accordion-item-header.active + .accordion-item-body {
    display: block;
  }
  
  .accordion-item-body-content{
    font-family: 'Cormorant Garamond', serif;
  }
  
  section{
   margin:2rem;
  }
  
  form h1{
    font-size: 24pt;
    margin: 2rem; 
    margin-top: 1rem;
    font-family: 'Permanent Marker', cursive;
    text-align:center;
  }
  
  .answer{
    background-color: #E6DB7D;
    padding: 10pt;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-right: 2rem;
    margin-left: 2rem;
    font-family: 'Cormorant Garamond', serif;
    font-size: 14pt;
    font-style:oblique;
  }
  
  .sub-section h2{
    font-family: 'Permanent Marker', cursive;
    font-size: 20pt;
    text-align: center;
    margin-bottom: -2rem;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="number"],
   input[type="tel"]{
  font-size: 16pt;
  text-decoration: none;
  border: none;
  font-family: 'Cormorant Garamond', serif;
  width: 100%;
   }
  
   button {
     align-items: center;
    font-family: 'Permanent Marker', cursive;
    color: #FBFDFF;
    font-size: 18pt;
    padding: 8pt;
    margin-left: 2rem;
  margin-bottom: 1rem;
  background-color: #4B7D5A;
   }
  
  
   footer{
     background-color: #E6DB7D;
     height: 10%;
     font-family: 'Cormorant Garamond', serif;
    padding: 1rem;
   }
  
  
   @media (min-width: 668px) and (max-width:1023px){
    .hero-text h1{
      font-size: 45pt;
    }
    .hero-text h2{
      font-size: 28pt;
    }
    .intro {
      font-size: 18pt;
    }
    .accordion h1{
      font-size: 26pt;
    }
    .answer{
      font-size: 18pt;
    }
    }
  
  
    @media (min-width: 1024px) {
  main{
  flex-flow: row-reverse;
  margin-right: 3rem;
  margin-left: 3rem;
      }
      .hero-text h1{
        font-size: 48pt;
      }
      .hero-text h2{
        font-size: 28pt;
      }
      .intro {
        font-size: 22pt;
        margin-top: 2rem;
        margin-left: 6rem;
        margin-right: 6rem;
        text-align: center;
      }
      .accordion h1{
        font-size: 30pt;
        margin: 3rem; 
        margin-top: 2rem;
      }
      .accordion-item{
        margin-right: 2rem; 
        margin-left: 2rem; 
        margin-top: 1em; 
        margin-bottom: 1rem; 
      }
      .accordion-item-header {
       font-size: 18pt;
      }
      form h1{
        font-size: 30pt;
        margin: 3rem; 
        margin-top: 3rem;
      }
      section{
        background-color: #dbd17283;
        margin-top: -2rem;
        padding:5pt;
        border-radius: 5pt;
      }
     
      .answer{
        background-color: #E6DB7D;
        padding: 8pt;
        font-size: 12pt;
      }
      .sub-section h2{
        font-family: 'Permanent Marker', cursive;
        color:#FBFDFF;
        font-size: 26pt;
        text-align: center;
        margin-bottom: -2rem;
      }
    }
  
  