body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(246, 246, 246);
  width: 100%;
  height: auto;
  overflow-x: hidden; /* Hide horizontal overflow */
  box-sizing: border-box;
}

h2 {
  color: #666663;
  margin: 0 0 10px; /* Consolidated margin */
}

/* Base styles for the header */
header {
  position: relative;
  width: 100%;
  height: 40%; /* Adjust height as needed */
  overflow-x: hidden;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(246, 246, 246, 0) 60%
  );
}

.hero-section {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  overflow: hidden;
  width: 100%; /* Full width of the viewport */
  height: 55vh; /* Adjust as needed */
}

.hero-video {
  left: 0;
  right: 0;
  top: 0;
  position: absolute;
  z-index: -1; /* Ensure it is behind other content */
  width: 100%;
  height: auto;
  object-fit: cover; /* Ensures video covers the entire header */
}

.fallback-image {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; /* Ensure it is behind other content */
}

/* Show fallback image and hide video on smaller screens */
@media (max-width: 480px) {
  .hero-video {
    display: none;
  }
  .fallback-image {
    display: block;
  }
}

.logo {
  /* display: flex; */
  position: absolute; /* Ensure it is positioned over the video */
  top: 20px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  z-index: 1; /* Ensure it is above the video */
  opacity: 0.7; /* Adjust the transparency (0 is fully transparent, 1 is fully opaque) */
}

.logo img {
  height: auto;
  width: 70px; /* Adjust as needed */
}

/* Style for the Menu button with transparent background */
.menu-toggle {
  margin-top: 5px;
  padding: 11px 23px;
  background-color: rgba(
    124,
    123,
    123,
    0.5
  ); /* Transparent original background */
  color: rgb(229, 224, 224, 0.9);
  border: none;
  border-radius: 25px;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  position: absolute;
  top: 20px; /* Adjust as needed */
  right: 20px; /* Reduce the right space by changing this value */
  z-index: 1; /* Ensure it is above other content */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5); /* Persistent shadow */
  transition: background-color 0.5s, box-shadow 0.5s; /* Smooth transition */
  overflow: hidden;
}

/* Hover effect with a slightly darker transparent background */
.menu-toggle:hover {
  background-color: rgba(
    124,
    123,
    123,
    0.7
  ); /* Slightly less transparent on hover */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Add shadow on hover */
}

/* Style the hero content */
.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2; /* Ensure it is above the video */
  text-align: center;
  color: rgb(229, 224, 224, 0.8);
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  overflow: hidden;
}

/* Responsive text sizes */
.hero-content h1 {
  font-size: 2.8rem;
}

.hero-content p {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .hero-content h1 {
    font-size: 2rem;
  }

  .hero-content p {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  .hero-content h1 {
    font-size: 1.5rem;
  }

  .hero-content p {
    font-size: 0.8rem;
  }

  .hero-content {
    padding: 0 15px;
  }
}

/* Signup section styling */
.signup {
  padding: 20px;
  text-align: center;
  background-color: rgb(246, 246, 246);
}

.signup form {
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.signup label {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  margin: 10px 0;
  font-size: 0.9rem;
}

fieldset {
  color: #3e3e3c;
  margin: 0;
  padding: 10px 30px;
  border: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.signup input[type="name"],
.signup input[type="email"],
.signup input[type="password"] {
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #a6a1a1;
  width: 100%;
  box-sizing: border-box;
}

.radio-group {
  display: flex;
  gap: 15px;
  align-items: center;
  font-size: 1rem;
}

.signup input[type="radio"],
.signup input[type="checkbox"] {
  accent-color: #7c7b7b;
}

.signup button {
  padding: 12px 24px;
  background-color: #7c7b7b;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  width: 50%;
  height: auto;
  margin-top: 10px;
}

.signup button:hover {
  background-color: #666663;
}
