/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

body {
  background-color: rgb(247, 245, 244);
  display: grid;
  margin: 0;
  font-family: 'Asap', sans-serif;
}

header {
  width: 100%;
  height: 30rem;
  position: relative;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

nav {
  display: flex;
  justify-content: space-evenly;
  color: black;
  text-align: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: black;
  padding: 1rem;
}

.nav-link:visited{
  text-decoration: none;
  color: black;
}

.nav-link:hover {
color: hotpink;
}

.hero-img {
  width: 100%;
  height: 30rem;
  /* background-image: url(https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=813&q=80); */
  background-image: url(https://images.unsplash.com/photo-1480970530467-74f67f39776e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=947&q=80);
  /* background-image: url(https://images.unsplash.com/photo-1590344018373-ebaf8d2210fb?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80); */
  /* background-image: url(https://images.unsplash.com/photo-1628430716372-6b2b4159f922?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1189&q=80); */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-family: 'Sedgwick Ave Display', cursive;
  font-size: 2rem;
}

form {
display: grid;
grid-template-columns: repeat(4 1fr);
gap: 1rem;
box-shadow: 1px 3px 19px -1px rgba(0,0,0,0.7);
border-radius: 5px;
padding: 1rem;
margin: auto;
width: 80%;
margin-bottom: 2rem;
}

.text-input {
  display: flex;
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
  text-align: left;
  justify-content: left;
  border-radius: 5px;
  border-color: hotpink;
  border-width: 1px;
}

label {
  display: block;
  padding: 0.5rem;
  width: 80%;
}

.terms-link {
  color: hotpink;
}

.terms-link:hover {
  text-decoration: none;
}

.terms-link:visited {
  color: hotpink;
}

button {
  max-width: 50%;
  min-width: 30%;
  background-color: rgb(236, 186, 211);
  border-radius: 10px;
  border-width: 1px;
  box-shadow: 1px 3px 3px 1px rgba(77, 76, 76, 0.7);
  margin: 1rem;
  padding: 0.3rem;
}

button:focus {
  box-shadow: none;
}

.accordion {
  display: block;
  box-shadow: 1px 3px 19px -1px rgba(0,0,0,0.7);
  border-radius: 5px;
  padding: 1rem;
  margin: auto;
  width: 80%;
  justify-content: right;
}

.question {
  display: block;
  border-bottom-color: rgb(236, 186, 211);
  border-bottom-style: solid;
  border-width: 0.1rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}


.answer {
  display: block;
  margin-bottom: 2rem;
  border-top-color: hotpink;
  border-top-style: solid;
  border-width: 0.1rem;
}

.question + .answer {
  display: none;
}

footer {
  display: flex;
  justify-content:space-around;
  color: black;
  text-align: center;
}

.footer-link {
  text-decoration: none;
  color: hotpink;
}

.footer-link:visited{
  text-decoration: none;
  color: hotpink;
}

.footer-link:hover {
color: black;
}

 /* styling for tablet and desktop */
@media (min-width:668px){

  .page {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
  }

  form {
    grid-column: span 2;
  }
  
  label {
    width: 90%;
  }

  .accordion {
    grid-column: span 2;
    text-align: center;
    /* margin-top: 0; */
  }
}

@media (min-width:1024px){

}