body, html {
  margin: 0;
  height: 100%;
  
}

/*** TYPO ***/

h1 {
  font-family: Helvetica, sans-serif;
  font-size: 40px;
}

h2 {
  font-family: Helvetica, sans-serif;
  font-size: 24px;
}
p{
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

/*** HERO VID ***/

.video-container {
  position: relative;
}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}
.overlay-text {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*** HERO IMAGE ***/

/* 
.hero-image {
position: relative;
height: 100%;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("pink.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
} */

/*** FORM ***/

.middlesection {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.form-container {
  width: 100%;
  padding: 20px;
  background-color: #fff;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
}

input[type=text], input[type=password], select {
  background-color: #fff;
  width: 100%;
  padding: 5px 0px;
  margin: 5px 0;
  display: inline-block;
  font-size: 14px;
  font-family: inherit;
  border: none;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus {
background-color: #999;
border: none;
border-bottom: 2px solid #000;
}

input[type=radio] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

input:checked[type=radio] {
  border: 6px solid black;
}

input[type=submit] {
  width: 100%;
  background-color: #232323;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  font-size: 14px;
  font-family: Helvetica, sans-serif;
  border: none;
  cursor: pointer;
}

input[type=checkbox] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 16px;
  height: 16px;
  border: 2px solid #999;
  transition: 0.2s all linear;
  margin-right: 5px;
  position: relative;
  top: 4px;
}

input:checked[type=checkbox] {
  border: 6px solid black;
}

input[type=submit]:hover {
  background-color: #141414;
}

.terms {
  margin-top: 40px;
}

/*** ACCORDION ***/

.accordion {
  width: 100%;
  background-color: #fff;
  padding: 40px;
  font-family: Helvetica, sans-serif;
  font-size: 14px;
}

.question {
  margin: 0;
  padding: 10px;
  width: 97%;
  background: #232323;
  color: #fff;
  cursor: pointer;
  border-bottom: 2px solid #fff;
  cursor: crosshair;
}

.question::after {
  content: '+';
  padding-bottom: 2px;
  text-align: center;
  float: right;
  color: #fff;
  width: 22px;
  height: 20px;
}
.question.active::after {
  content: '-';
}

.answer {
  margin: 0;
  padding: 10px;
  width: 97%;
  background: #fff;
  color: #000;
  font-size: 14px;
  display: none;
}
.active + .answer {
  display: block;
}

/*** FOOTER ***/

footer {
  margin: 0;
  padding: 90px 0;
  background: #232323;
  color: #fff;
}

.footer-container{
  max-width: 100%;
  margin: auto;
  padding: 0 20px;
  display: flex;
}

.social-col {
  margin: auto;
  font-size: 10px;
}

.social-media {
margin: 20px 0;
}

.social-media a{
  color: #fff;
  margin-right: 10px;
  font-size: 30px;
  text-decoration: none;
  transition: .3s linear;
}

.social-media a:hover {
  color: #232323;
}

/*** IPAD PRO & DESKTOP ***/

@media (min-width: 900px) {

h1 {
  font-size: 70px;
}
  .accordion {
    width: 40%;
    flex-grow: 1;
  }

  .form-container {
    width: 40%;
    flex-grow: 1;
  }
  
}