*{
  box-sizing: border-box;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
  height: 100vh;
  margin: 0;
}

/*styling of hero video container*/
.video-header {
  height: 50vh;
  width: 100%;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/*styling of hero video*/
.video-header video {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/*styling of hero text*/
h1 {
  position: absolute;
  color: white;
}

/*styling of main container with card container */
.container{
  display: grid;
  grid-template-columns: 1fr;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #dd3939, #b69d59);
}

/*size of card containers, registration and FAQ*/
.card-container {
  justify-self: center;
  background:white;
  padding: 3rem;
  border-radius: 3px;
  width: 100%;
  max-width: 500px;
  height: 40em;
  margin: 2rem;
}

/*styling of forms*/
h2{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/*size of the form */
form {
  width: 100%;
}

/*styling of full name, email, phone number password title*/
label {
  color: black;
  margin-top: 10px;
  font-size: 13px;
}

/*styling input box*/
input {
  height: 30px;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid black;
  width: 100%;
}



input[type=radio], [type=checkbox] {
  border: 0px;
  width: 100%;
  height: 14px;
  margin-bottom: -2px;
}


.radio-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}


.checkbox{
  display: flex;
  align-items: center;
  
}

.checkbox label {

  
  width: 100%;
}




/*size of "register" the button*/
form .button{
  height: 45px;
  margin: 35px 0 
}
/*styling of the button*/
form .button input{
  height: 100%;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 1px;
  cursor: pointer;
  background: linear-gradient(135deg, #dd3939, #b69d59);
}

/*styling of accordion container*/
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/*hover effect on accordion*/
.active, .accordion:hover {
  background: linear-gradient(135deg, #dd3939, #b69d59);
}

/*styling of accordion button once open*/
.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/*styling of the small text in FAQ>how much does it cost*/
h5{
  font-size: 10px;
}

/*what happens when the px is above 668*/
@media (min-width: 668px) {
  .container {
      grid-template-columns: 1fr 1fr;
      display: flex;
      align-items: center;
      justify-content: center;
 }
}