* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	max-width: 1350px;
	font-family: "Manrope", sans-serif;

	/* make use of how the fony should be rendered */
	text-rendering: optimizeLegibility;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-font-smoothing: antialiased;
	font-family: "Oswald", sans-serif;
}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* Sign in form */
header {

	height: 350px;
	/* text-align: center; */
	margin-top: 200px;
	margin-bottom: 0px;

}

/* .textWrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;

} */


.headerH1 {
	align-content: center; 
	color: #fff;
}

.headerH1 {
	text-align: center;
}

 h3 {
	color: white;
	text-align: center;
}



#headerWrapper {
	height: 500px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;  
	z-index: -1;
}

#headerWrapper video {
	width: 100%;
	height: 500px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -5;
	object-fit: cover;
}




.wrapperSignIn {
	width: 100%;
	height: 700px;
	margin: 15px;
	text-align: center;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	overflow: hidden;
	background-color: #5f9ea0;
	color: white;
}



.formH1 {
	padding: 15px;
	font-size: 2.2rem;
	text-align: center;
	color: white;
}

.signInContainer {
	display: grid;
	justify-content: center;
}

.signInContainer input {
	width: 500px;
	margin: 10px;
	padding: 15px;
	background-color: #80b1b3;
}

input::placeholder {
	color: white;
	font-size: 1.7rem;
	padding-left: 20px;
	position: relative;
	top: 7px;
}

.radioButtons {
	
	display: flex;
	justify-content: space-around;
	margin: 30px 20% 50px 20%;

}

.checkbox {
	font-size: 1.5rem;
}

input[type="radio"] {
	transform: scale(1.3);
}

.registerBtn {
	display: block;
	margin: 40px auto;
	font-size: 1.8rem;
	border-radius: 10px;
}

input[type="checkbox"] {
	transform: scale(1.3);
}

/* End of Sign in form */

/* Start Accordion */

.accordion {
	/* width: 100vw; */
	height: 700px;
	padding: 30px;
	font-size: 1.7rem;
	margin: 15px;
	background-color: #5f9ea0;
}

.question {
	padding: 15px;
}
.answer {
	display: none;
}

.active + .answer {
	display: block;
}

.checkbox a {
	decoration: none;
}

.question {
	background-color: #80b1b3;
}

.question:hover {
	background-color: #729b9d;
}
.answer {
	background-color: white;
}

.registerBtn {
	width: 200px;
	height: 50px;	
	}
	

}
/* End of Accordion */

/* Tablet size */
@media (min-width: 668px) {
	#headerWrapper {
		width: 1100px;
	}

	main {
		display: grid;
		grid-template-columns: 50% 50%;
	}
	.wrapperSignIn {
		width: 90%;
		height: 800px;
		border-radius: 10px;
	}

	.accordion {
		width: 90%;
		height: 800px;
		border-radius: 10px;
	}
	.radioButtons  { 
		width: 200px;
		margin: 50px auto;
	
		/* justify-content: center; */
		
	}

	.radioButtons {
		display: flex;
		justify-content: space-around;
		margin: 30px 20% 50px 20%;
	
	}
}

/* Desktop size */

@media (min-width: 1025px) {

	.radioButtons {
		display: flex;
		justify-content: space-around;
		margin: 30px 30% 50px 30%;
	
	}

	main {
		display:grid;
		grid-template-columns: 50% 50%;
	}


/* .radioButtons  { 
	width: 500px;
	margin: 50px auto;

	/* justify-content: center; */
	
} 
/* 
   input[type="radio"]{margin: 0px 30px};} 

} */
