/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

body {
  background-color: lightblue;
  color: white;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 70px;
  margin: 0;
  text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
}

h3 {
  font-size: 50px;
  margin: 10px;
  text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px white;
}
h4 {
  font-size: 50px;
  margin: 5px;
}

p {
  font-size: 30px;
  margin-bottom: 2px;
  margin-top: 10px;
  text-shadow: 1px 1px 2px white, 0 0 25px black, 0 0 5px white;
  letter-spacing: 2px;
}

/*** HEADER ***/

.mobile-video {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

  .tablet-video {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

    .desktop-video {
      position: absolute;
      z-index: -1;
      width: 100%;
      height: 100%;
      object-fit: cover;
      overflow: hidden;
    }

header {
    color: lightblue;
    background-color: transparent;
    overflow: hidden;
    height: 590px;
  }

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 500px;
}

.sign-up {
  background: lightblue;
  font-size: 30px;
  color: white;
  left: 35%;
  text-align: center;
  border-radius: 10%;
  margin-bottom: 20px;
  border-color: lightblue;
}
.sign-up:hover {
  background-color: darkblue;
}

/*** SIGN UP FORM ***/

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  font-size: 30px;
  color: white;
  height: 400px;
}

form button {
  margin: 20px;
  background: white;
  font-size: 25px;
  border: 2px solid;
  color: lightblue;
  border-radius: 10%;
}

.form button:hover {
  background-color: darkblue;
}

input {
  font-size: 25px;
  margin-bottom: 2px;
  /*Added this to hide the invalid border styling*/
  font-style: italic;
  font-weight: lighter;
  color: lightgray;
}

input:focus {
  box-shadow: darkmagenta;
  font-weight: bold;
  color: lightblue;
  }

input:invalid {
  border: 2px solid lightcoral;
}

select {
  font-size: 20px;
  margin-top: 10px;
}


/*** FAQ ***/

.faq {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  color:lightblue;
  height: 400px;
}

.first-question {
  background: darkgray;
  padding: 10px;
}

.second-question {
  background: darkgray;
  padding: 10px;
}

.question {
  font-size: 30px;
  margin: 5px;
  cursor: cell;
}

.answer {
  display: none;
  font-size: 20px;
}
.active + .answer {
  display: block;
}

/*** MEDIA QUERIES ***/

@media (max-width: 719px) {

.tablet-video {
  display: none;
}

.desktop-video {
  display: none;
}
}

@media (min-width: 720px) and (max-width: 1099px) {

  .mobile-video {
    display: none;
  }

  .desktop-video {
    display: none;
  }
}

@media (min-width: 1100px) {

  .mobile-video {
    display: none;
  }

  .tablet-video {
    display: none;
  }
}



