@font-face {
    font-family: 'Sana Sans Display';
    src: url('SanaSans-RegularDisplay.woff2') format('woff2'),
        url('SanaSans-RegularDisplay.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

