.hamburger-menu-container {
    position: relative;
    top: 0;
    right: 0;
    z-index: 1;
}

/* CHECKBOX TO MAKE NAV MENU VISIBLE */
.hamburger-menu-checkbox {
    position: absolute;
    top: -15px;
    right: -3px;
    z-index: 2;
    cursor: pointer;
    width: 30px;
    height: 30px;
    opacity: 0;
}

.hamburger-menu-illustration {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: 30px;
    height: 5px;
    background: black;
    border-radius: 5px;
    transition: all 0.4s ease;
}

.hamburger-menu-illustration::before,
.hamburger-menu-illustration::after {
    content: '';
    position: absolute;
    z-index: 1;
    width: 30px;
    height: 5px;
    background: black;
    border-radius: 5px;
}

.hamburger-menu-illustration::before {
   top: -10px;
}

.hamburger-menu-illustration::after {
    top: 10px;
}

/* ROTATION WHEN CHECKBOX IS CHECKED */
.hamburger-menu-checkbox:checked + .hamburger-menu-illustration {
    transform: rotate(90deg);
}
