/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */


html {
Font-Family: 'Playfair Display', Serif;
}


body  {
  background-color: #FAF0E6;
  margin: 0;
}

.video {
  display: block;
  object-fit: contain; 
}

.herovideo {
  position: relative;
  
}

.herovideo video {
  max-width: 100%;
}

#mobile {
  display: block;
}

.herovideo h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  font-family:“didot”;
  color: #FFFFFF;
  margin:0px;
}

#tablet {
  display: none;
}

#desktop {
  display: none;
}

/*WE ARE TEXT */

.weare {
  display: flex;
  text-align: center;
  margin-top: 5px;
  color: black;
  font-style: italic;
  font-size: 10px;
  text-decoration: underline solid white; 
}

/*sign up text */

.sign-up {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top:30px;
}

  /*Container main content*/

.container{
  margin-left:5px;
  margin-bottom: 30px;
  margin-top: 30px;
  display: inline-flex;
  flex-direction: column;
}

/*Form */

form {
  display: flex;
  flex-direction: column;
  height: 600px;
  padding-top: 30px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);
  font-size: 15px;
}
  
.form-group {
  display: flex;
  justify-content: center;   
}

.form-group label {
  justify-content: center;
  padding:10px;
  border-radius:10px;
}

.form-group-button {
  display: flex;
  justify-content: center;
}

h3 {
  display: flex;
  justify-content: center;
}

button {
  height: 50px;
  background-color: white;
  border-radius: 15px;
  border-style: hidden;
  font-size: 20px;
  Font-Family: 'Playfair Display', Serif;
  box-shadow: grey 2px 2px;
}

input {
  font-size: 20px;
}

/*Color Validations */ 

input:valid {
  background-color: #63C380;
}

input:invalid {
  border-color:#FE6C6C ;
}

label {
    display: block;
    margin-bottom: 30px;
}


 /* Accordion */

.answer {
  display: none;
}

 /* Accordion  box styling and placement*/

.accordion {
  display: flex;
  flex-direction: column;
  height: 500px;
  margin-left: 5px;
  margin-top: 100px;
  margin-bottom:90px ;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);
}

.accordion h1 {
  display: flex;
  text-align: center;
  font-size: 30px;
  background-color:rgb(250, 240, 230);;
}

.answer {
  height: 0px;
  opacity: 0;
  overflow: hidden;
  transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -ms-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
}

.active + .answer {
  display: inline-block;
  opacity: 1;
  height: 80px;
  background-color: #FAEBD7;
}

 .question {
   font-size: 20px;
   margin:12px;
   padding:10px;
   cursor: pointer;
   border-bottom: 2px solid white;
 }


/* the icon in the accordion    */

.question::after {
  content: "\002B";
  font-size: 25px;
  float: left;
  margin-right: 10px;
}

.active::after {
  content: "\002D";
}

.question:hover {
  background-color:#FAEBD7;
}

/*Footer*/ 

footer{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  padding: 0;
  background-color: white; 
}

footer p {
  text-align: center;
  font-size: 18px;
  color:black;
}


footer img {
  width: 50px;
  margin-bottom: 10px;
}


    /***  Media Quaries  Tablet  ***/

@media screen and (min-width: 667px) and (max-width:1024px) {
  #tablet {
    display:block;
    width :100%;
  }
 
  #mobile {
    display: none;
  }
 
  .herovideo {
    width: 100%;
  }
 
  .herovideo h1 {
    font-size: 45px;
  }
  .weare{
    width: 100%;
    margin-left: 20px;
  } 
  .sign-up-container{
    justify-content: left;
    margin-left: 80px;
  }
 .sign-up {
  font-size: 10px;
 }
  .container {
    display: inline-flex;
    margin-left: 10px;
    flex-direction: row;
  }
  form {
    margin-left: 40px;
  }
  .accordion {
    margin-left: 40px;
  }

  .accordion h1 {
    font-size: 20px;
  }
}  

  /***  Media Quaries  Desktop ***/

  @media screen and (min-width: 1025px) {

  #desktop {
    display: block;
    width :100%;
  }
  #mobile {
    display: none;  
  }
  #tablet {
    display: none;
  }  
  
  .herovideo {
    width: 100%;
  }
  .herovideo h1 {
    font-size: 80px; 
  }
  .weare{
    font-size: 18px;      
  } 
  .sign-up-container{
    justify-content: left;
    margin-left: 150px;
  }
  .sign-up {
    font-size: 20px;
  }
  .container {
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    margin-left: 20px;
  }
  form {
   
  }
  .accordion {
    margin-left: 100px;
    height:500px;
  }    
} 

    
  
  

