

* {
  margin: 0;
  padding: 0;
  
}

/*** Body ***/
body {
  box-sizing: border-box;
}

/*** Fonts ***/
h1{
  color: white;
  font-family: 'Ubuntu';
  font-size: 35px;
  align-content: center;
  letter-spacing: 2px;
  text-align: center;
  margin: 53px 0 0 0;

  
}

h2 {
  color: white;
  font-family: 'Nunito';
  font-size: 15px;
 
}

h3{
  font-family: 'Nunito';
  text-align: center;
  color: white;
}
h4 {
  font-family: 'Nunito';
  text-align: center;
  color: black;
  padding-bottom: 30px;

}
/*** Header ***/


header{
  display: flex;
  height: 200px;
  background-image: url("./images/header-monstera.jpg");
  background-size: cover;
  width: 100%;
  
}


nav {

    font-family: 'Nunito';
    margin: 0 10px;
    font-size: 14px;
    color: white;
    display: none;
   
    
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
}
 
nav a:hover {
  color: #A39161;
  transform:scale(1.2,1.2);
}
  
.hamburger {
  display: flex;
  height: 30px;
  width: 30px;
  flex-direction: column;
  justify-content: space-between;
  margin: 65px 40px 0 0;
  
  

}

.hamburger div {
  width: 30px;
    height: 5px;
    background:white;
    display: flex;
   margin-left: 15px;  
}
/*** Form ***/


.formaccordion-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin: 50px auto;
  background-color: #60A9A6;
  justify-content: center;
  

}


fieldset {
  border-radius: 10px;
  box-shadow: 10px 10px 15px 0 #3B5249;
  border: none;
  margin: 20px auto;
  width: 60%;
  background-color: white;
  max-width: 400px;
  
}

label {
  
  padding: 10px;
  margin: 5px;
  align-items: center;
  font-family: 'Nunito';
  display: flex;
  font-size: 10px;
  

}

input[type="text"],input[type="email"], 
input[type="password"] {
 
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Nunito';
  font-weight: bold; 
  font-size: 15px;
  background-color: #CAF2D7;
  margin: 10px;
  width: 90%; 
}

input[type="submit"]{
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Nunito';
  font-weight: bold; 
  font-size: 15px;
  background-color: #FDDEDE;
  margin: 10px;
  width: 90%; 
}
.button-submit:hover {
  transform:scale(1.2,1.2);
  cursor: pointer;
}

.button-submit{ 
  background-color: #FDDEDE;
  width: 100%;
}
input:valid {

}
/*** radiobuttons styling ***/

.radio-row{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

.radiobutton-container {
  display: inline-block;
  position: relative;
  user-select: none;
  padding: 0 10px;
  margin: 10px 5px;
  
}
.radiobutton-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio {
  position: absolute;
  top: 1;
  left: 1.5;
  height: 15px;
  width: 15px;
  background-color: #CAF2D7;
  cursor: pointer;
  margin: 0 5px;
  border-radius: 50%;

}

.radiobutton-container:hover input ~ .custom-radio {
  background-color: #FDDEDE;

}
 


.custom-radio:after {
  content: "";
  position: absolute;
  top: 4px;
  left: 4px;
  height: 8px;
  width: 8px;
  background-color:#A39161;
  border-radius: 50%;
  display: none;
}

.radiobutton-container input:checked ~ .custom-radio:after {
  display: block;
  
}

.radiobutton-container input:checked ~ .custom-radio{
  background-color: #FDDEDE;

}


/*** checkbox styling ***/
.checkbox-row {
  
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  
}
.checkbox-container {
  
  font-size: 12px;
  font-family: 'Nunito';
  font-weight: bold; 
  padding: 5px 10px;
  margin: 5px 30px;

  }

.checkbox-container input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  position: absolute;
  top: 10;
  left: 20px;
  height: 15px;
  width: 15px;
  background-color: #CAF2D7;
  border-radius: 4px;
  cursor: pointer;
  
}
.checkbox-container:hover input ~ .custom-checkbox {
  background-color: #FDDEDE;
}
.checkbox-container input:checked ~ .custom-checkbox {
  background-color: #FDDEDE;
}

.custom-checkbox:after {
content: "";
position: absolute;
width: 3px;
height: 6px;
border: solid black;
border-width: 0 3px 3px 0;
top: 3px;
left: 5px;
transform: rotate(45deg);
display: none;
}

.checkbox-container input:checked ~ .custom-checkbox:after {
  display:block;
}

/*** Accordion styling ***/


.accordion {
  border-radius: 10px;
  box-shadow: 10px 10px 15px 0 #3B5249;
  border: none;
  margin: 50px auto;
  padding-top: 50px; 
  width: 60%;
  background-color: white;
  max-width: 400px;
  /*min-width: 250px;*/
  cursor: pointer;
}


.question {
  margin: 20px 0;
  padding: 10px 5px;
  align-items: center;
  font-family: 'Nunito';
  font-size: 15px;
  font-weight: bold;
}
.question:hover{
  color:#A39161;
  background-color:#CAF2D7;
  
}

.answer {
  display:none;
  margin: 15px 0;
  font-family: 'Nunito';
  background-color: #FDDEDE;
  color: black;
  padding: 40px 10px;
  font-size: 12px;
  font-style: italic;
 
  
}
.active {}

.active + .answer {
  display: block;
}

 footer{
   width: 100%;
   background-color: #3B5249;
   height: 150px;
   text-align: center;
   
  
 } 

.footer-nav {
  display:block;
  
}
 .fab {
   font-family: "Font Awesome 5 Brands";
   font-size: 30px;
   color: white;
   padding: 20px 10px;
   margin: 10px auto;
 
 }
.fab:hover {
  color: #A39161;
  transform:scale(1.2,1.2);
}

/*** Media Queries***/



@media (min-width: 768px){

  Header {
    height: 300px;
    justify-content: space-between;
  }
  .Hero-text{
    margin-left: 40px;
  }
  h1{
   
    font-size: 70px;
  }
  h2 {
    
    font-size: 25px;
  }
.hamburger {
  display:none;
}

nav {
  display:inline-block;
 
}
footer{

  position: absolute;
   margin-top: 50px;
   
}
}

@media (min-width: 992px) {

  .Hero-text {
    margin-left: 60px;
    
  }
  h1 {
    font-size: 80px;

  }

  h2 {
    font-size: 30px;
  }

 .accordion {
  margin: 50px 0;
  height: 480px;
  
 }

 fieldset{
   width: 350px;
 }
  .formaccordion-container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 50px auto;
   
   
  }
  nav {
    font-size: 20px;
  }
  nav a{
    padding: 15px;
  }

  footer{

    position: absolute;
     margin-top: 50px;
     
  }
}