/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

* {
  padding: 0;
  /* margin: 0; */
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-boz-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
 
}

header span {

  filter: invert(44%) sepia(95%) saturate(1177%) hue-rotate(202deg) brightness(101%) contrast(102%) ;
  
}

header h1 {
  filter: drop-shadow( 3px 3px 2px rgba(0, 0, 0, .3));
}

header img {
  filter: invert(58%) sepia(20%) saturate(1077%) hue-rotate(196deg) brightness(102%) contrast(104%) drop-shadow( 3px 3px 2px rgba(0, 0, 0, .1));
  margin-bottom: -10px;
}

.back-video {
  overflow: hidden;
  position: fixed;
  right: 0;
  bottom: 0;
  top: 0;
  /* min-width: 100%;
  min-height: 100%; */
  width: 100%;
  height: auto;
  z-index: -1;
  
  
}

header h1 {
  color: white;
  font-size: 100px;
  text-align: start;
  margin: 10px 0 0 200px;
}

header h2 {
  color: white;
  text-align: start;
  margin-left: 220px;
}


/* CONTAINER FOR FORM AND ACCORDION */
.container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
  z-index: 1;
}

/* FORM */

form {
  background-color: rgba(255, 255, 255, .9);
  padding: 10px;
  /* margin: 200px 0; */
  width: 80%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  box-sizing: border-box;
  padding-top: 40px;
  border-radius: 20px;
  grid-column-start: 2;
  
}

input{
  margin: 10px;
  padding: 10px 30px;
  border-radius: 20px;
  display: block;
  box-shadow: 
  /* logo shadow */
  0px 0px 2px #5f5f5f,
  /* offset */
  0px 0px 0px 5px #ecf0f3,
  /*bottom right */
  8px 8px 15px #a7aaaf,
  /* top left */
  -8px -8px 15px #ffffff;
  border: none;
  color: #555;
  outline:none;
  background: none;
   font-size: 18px;
  color: #555;
  margin-bottom: 30px;
  border-radius: 25px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}

button {
  margin: 30px;
  padding: 10px 60px;
  border-radius: 20px;
  background-color: #8D9AFF;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 20px;
  color: white;
  background: #8D9AFF;
  box-shadow: 3px 3px 8px #b1b1b1,
              -3px -3px 8px #ffffff;
  transition: 0.5s;
}

button:hover {
  background: #a3aeff;
}

button:active {
  background:#707bcc;
}


select {
  width: 70%;
  opacity: .9;
  color: #555;
  font-family: poppins;
  font-size: 16px;
  padding: 15px 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  box-shadow: 
  /* logo shadow */
  0px 0px 2px #5f5f5f,
  /* offset */
  0px 0px 0px 5px #ecf0f3,
  /*bottom right */
  8px 8px 15px #a7aaaf,
  /* top left */
  -8px -8px 15px #ffffff
  ;
  margin: 20px;
  /* box-shadow: inset 8px 8px 8px #fff,
              inset -8px -8px 8px #cbced1; */
    box-shadow: inset 1px 1px 1px 1px #fff,
                  inset -2px -2px 1px 1px #cbced1;;
}

option  {
  border-radius: 10px;
  padding: 20px;
}

/* ACCORDION */

.accordion {
  background-color: rgba(255, 255, 255, 0.9);
  /* display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; */
  /* margin: 200px; */
  width: 80%;
  border-radius: 20px;
  grid-column-start: 3;
  text-align: center;
}

.active + .answer {
  /* some styling here */
  display: block;
  border-top: hidden;

  
}



.answer {
  display: none;
  padding: 20px;
 
  border-radius: 20px;
  box-shadow: 
  /* logo shadow */
  0px 0px 2px #5f5f5f,
  /* offset */
  0px 0px 0px 5px #ecf0f3,
  /*bottom right */
  8px 8px 15px #a7aaaf,
  /* top left */
  -8px -8px 15px #ffffff
  ;
  margin: 20px;
  box-shadow: inset 8px 8px 8px #cbced1,
              inset -8px -8px 8px #ffffff;
}



.question {
  cursor: pointer;
  padding: 20px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 20px;
  display: flex;
  gap: 40px;
  box-shadow: 
  /* logo shadow */
  0px 0px 2px #5f5f5f,
  /* offset */
  0px 0px 0px 5px #ecf0f3,
  /*bottom right */
  8px 8px 15px #a7aaaf,
  /* top left */
  -8px -8px 15px #ffffff
  ;
  margin: 20px;
  /* box-shadow: inset 8px 8px 8px #fff,
              inset -8px -8px 8px #cbced1; */
    box-shadow: inset 1px 1px 1px 1px #fff,
                  inset -2px -2px 1px 1px #cbced1;;
}




/* DESKTOP */
@media (min-width:1025px) {

  .back-video {
   width: 100%;
   height: auto;
  }

  .container {
    display: flex;
    justify-content: center;
  }

  form, .accordion {
    width: 20%;
  }

}

/* TABLET */
@media (min-width:668px) and (max-width:1024px) {
  .back-video {
    width: auto;
    height: 100%;
  }

    header h1, header h2 {
      text-align: center;
      margin: 0;
    }

    .container {
      margin: 150px 50px;
      display: flex;
      justify-content: space-around;
      gap: 20px;
    }

    form {
      margin: 0 0px;
    }

  

  }

/* MOBILE */
@media (max-width:667px) {
  * {
    margin: 0;
    height: auto;
  }  

  body {
    background: #000;
  }
  
  .back-video {
      display: none;
    }

    header {
      background: url(./videos/poster2.png);
      background-size: cover;
      padding: 70px;
      
    }

    header h1, header h2 {
      margin: 0;
      line-height: 70px;
      text-align: center;
    }

    header h1 {
      font-size: 40px;
  
    }

    header img {
      width: 50px; 
      height: auto;
    }

    header h2 {
      font-size: 20px;
    }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

form {
  margin-bottom: 20px;
}

  .accordion, form {
    width: 80%;
  }


  }

 
  footer {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 0 10px;
    color: #ccc;
    
  }
