/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp *

.active + .answer {
  /* some styling here */



  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
 
 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'sans-serif';

  }

  .header{
    display: flex;
    
  }

  .hero{
    height:60vh;
    width:100%;
    align-items: center;
    justify-content: center;
    color: rgba(245, 245, 220, 0.774);
    background-color: rgba(15, 2, 2, 0.61);
  }

  .hero .hero-content{ 
    position: relative;
     z-index: 3;
  }

  .hero .fullscreen{
    width:100%;
    height:60vh;
    position: absolute;
    top: 20;
    left:0;
    z-index: -1;
    object-fit: cover;  
  }
  

  h1{
    font-size: 70px;
    padding:  20px;
    opacity: 90%;
    letter-spacing: 2px;
    padding: 20px 20px;
    letter-spacing: 2px;
    color: black;
    font-family: 'Dancing Script';
    opacity: 50%;
      }

    .h1-sub{
      font-family: 'Dancing Script';
      padding: 0 30px;
      color: black;
      }

      .fa-bars{
        color:black;
        font-size: 30px;
        opacity: 50%;
      }

   .navbar{
    color: #c3cbcc;
     float: right;
     font-size: 40px;
     padding: 20px;
   } 

   .button{
    font-family: 'Neonderthaw' ;
    display: inline-block;
    padding: 20px;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    transition: all .3s;
    z-index: -1;
    box-shadow: 3px 2px 2px 2px rgba(22, 19, 19, 0.404);
    margin-top: 30px;
    background-color:  #d4cac3;
    font-family:  'sans-serif';
  }

  .button:hover{
    transform: scale(1.2);
    cursor: pointer;
  }
  

  .text{
    display:flex;
    background-size: 50%;
    flex-wrap: wrap;
    color: rgb(22, 32, 22);
    background-color: #c9baa9;
    
  }

  

   .main-text {
    font-size: 20px;
    margin: 50px;
    text-align: center;
    z-index: 2;
    justify-content: safe;
    text-align: start;
    font-size: 40px;
    opacity: 70%;
   }

   .signup h2 {
    text-align: center;
   }

   .signup{  
    flex:1;
    padding: 20px;
     margin: 30px;
     font-size:15px;
     border: 2px solid black;
     border-radius: 20px;
     box-shadow: 5px 5px 5px 5px rgba(22, 19, 19, 0.404);
     justify-content: safe;
     background-color: #ccc5b9;
     
     }

     .img{
       position: absolute ;
       width:100%;
       height:300vh;
       width:100%;
       height:100vh;
       position: absolute;
       z-index: -1;
       object-fit: cover;
     }

.accordion{
  flex:1;
  padding: 10px;
   margin: 20px;
   border: 2px solid black;
   border-radius: 20px;
   box-shadow: 5px 5px 5px 5px rgba(22, 19, 19, 0.404);
   justify-content: safe;
   background-color: #ccc5b9;
   align-items: flex-start;
  }
   
#submit{
  padding:10px;
  font-size: 20px;
   background-color: #d4cac3;
   border-radius: 10px;
   color:rgba(12, 12, 12, 0.76);
   font-weight: bold;
   box-shadow: 4px 2px 2px 2px rgba(22, 19, 19, 0.404);
   font-family: 'Neonderthaw'  'sans-serif';
}
.question{
    padding: .5rem .5rem .5rem .5rem;
    border-radius: 10px;
    font-size: 15px;
    letter-spacing: 1px;
    transition: all .3s;
    margin-top: 20px;
    background-color: #d4cac3;
    font-family:  'sans-serif';
    text-align: justify;
    margin:10px  0px;
}
.answer{
  padding: 5px 20px;
}
hr{
  height: 1px;
  background-color: rgb(20, 18, 18);
  border: none;
}
footer{
  background-color:#342a218e;
  letter-spacing: 1px;
  display: flex; 
  text-align: center;
  justify-content: center;
  
}
.navbar-footer{
  margin: 10px;
  font-size: 10px;
letter-spacing: 1px;
}

  
  
h3{
  padding:0 2px;
}

.fa-facebook-square{
  padding: 2px;
  cursor: pointer;
  
}
.fa-envelope{
  cursor: pointer;
padding: 2px;
}
.fa-instagram{
  cursor: pointer;
  padding: 2px;
}



@media (min-width:768px){ 
  .text{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.signup{
   text-align: center;
   }




.navbar-footer{
  font-size: 15px;
letter-spacing: 1px;
flex :1;
}
}

 

@media (min-width:1024px){
  .hero{
    height: 110vh;
    width:100%;
    align-items: center;
    justify-content: center;
    
  }

  .hero .fullscreen{
    width:100%;
    height:110vh;
  }

  h1{
    font-size: 120px;
    padding: 200px 20px;
    position: relative;
    letter-spacing: 3px;
    justify-content: space-around;
  }

  .h1-sub{
    padding: 0 100px;
    }
    
    .navbar{
      float: right;
      font-size: 40px;
      padding: 20px;
    }

      button{
        font-weight: bolder;
        margin-left: 5rem;
        font-size: 1.5rem;
       
        
      }
    
    
    .text{ 
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    footer{
      display: flex;
      color: black;
      font-size: 20px;
      letter-spacing: 1px;
      padding: 20px 0;
    }

    .fa-facebook-square:hover{
      transform: scale(0.8);
      cursor: pointer;
      opacity: 70%;
    }

    .fa-envelope:hover{
      transform: scale(0.8);
      cursor: pointer;
      opacity: 70%;
    }
     
    .fa-instagram:hover{
      transform: scale(0.8);
      cursor: pointer;
      opacity: 70%;
    }

    .navbar-footer{
     flex: 1;
      font-size: 20px;
    letter-spacing: 1px;
    }

    
 }

 
    
  





