/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}


html {
  background: rgb(201, 238, 220);
  color: black;
  font-family: 'PT Sans Narrow', sans-serif;
}

body {
  margin: 0;
}

/****HEADER***/
.header {
  background-color: rgb(142, 226, 185);
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: column;
  width: 75px;
  height: 100%;
  align-items: flex-start;
  margin: 5px;
  border: 4px solid black;
}

.navigation {
  display: none;
}


/****HERO IMG AND TEXT***/
.hero {
  position: relative;
}

.hero-text {
  font-size: 32px;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; 
  -webkit-text-stroke: 1px black;
}


.hero-image {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
  border-top: 2px solid black;
}


/****INTRO TEXT***/
.intro-text {
  margin: 10px;
  text-align: center;
  font-size: 26px;
}

.smaller-intro-text {
  margin: 10px;
  text-align: center;
  font-size: 18px;
}


/****SIGN UP FORM****/
.form {
  /* height: 560px;
  width: 560px; */
  /* margin: 100px; */
  margin: 24px;
  border: 2px solid black;
  /* background-color: rgb(192, 207, 200); */
  background-color: #A1B2C3 (161,178,195) ;
  /* padding: 10px; */
  border-radius: 12px;
}

.form-text {
  font-size: 24px;
  /* text-decoration: underline; */
  text-align: center;
  border-bottom: 1px solid black;
}

.check-boxes {
  align-items: center;
}
/* .boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly
} */


input[type=button], input[type=submit] {
  background-color:rgb(142, 226, 185);
  border: none;
  border-radius: 12px;
  color: black;
  padding: 16px 32px;
  text-decoration: none;
  margin: 12px;
  cursor: pointer;
  outline: none; 
  box-shadow: 0 4px #999; 
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 16px;
}

input[type=button], input[type=submit]:hover{
background-color: white;
}

input[type=button], input[type=submit]:active {
  background-color: white;
  box-shadow: 0 4px #999;
  transform: translateY(6px);
}

input[type=text] {
  padding: 10px;
  border:0;
  border-radius:10px;
}

input[type=email] {
  padding: 10px;
  border:0;
  border-radius:10px;
}

input[type=radio], [type=checkbox] {
margin: 10px;
}

.checkbox-text {
  margin:10px;
  font-size: 20px;
}


label {
	padding: 10px;
	margin: 3px;
}


/* input[type=text] {
  border-radius: 5px;
  padding: 6px;
} */

/* input[type=email] {
  border-radius: 5px;
  padding: 6px;
} */

/****ACCORDION****/

.FAQ {
  text-align: center;
  border-bottom: 1px solid black;
  margin-top: 24px;
  margin-bottom: 24px;
}

.accordion {
  /* width: 560px;
  height: 300px; */
  /* margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px; */
  margin: 24px;
  border: 2px solid black;
  border-radius: 10px;
  /* background-color: rgb(133, 201, 169); */
}

.question {
  font-size: 24px;
  text-align: center;
  border-radius: 16px;
  text-decoration: underline;
  margin-right: 12px;
  margin-left: 12px;
}

.answer {
  overflow: hidden;
  height: 0px;
  transition: height .3s ease;
  text-align: center;
  margin-bottom: 16px;
}

.question:hover {
 color: white;
  cursor: pointer;
}


.active +.answer {
height: 120px;
}


/* .container {
  max-width: 760px;
  display: flex;
  flex-direction: column;
  
} */


/***EXTRA STORIES****/
.small-story img{
  width: 75%;
  height: auto;
}

/* .hero {
  position: relative;
}
.hero-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
} */


/* .navigation-text {
  margin: 16px;
}

.navigation-text a {
  text-decoration: none;
}

.hero-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    border-top: 2px solid black;
} */


/****FOOTER****/

.footer {
  padding: 2px;
  text-align: center;
  background-color: rgb(142, 226, 185);
  margin-top: 24px;
  border-top: 2px solid black; 
}
 .footer-logo {
   width: 40px;
   height: 100%;
 }

 .logos-in-accordion {
   display: flex;
   justify-content: space-evenly;
 }

 .logo-lift {
   width: 75px;
   height: auto;
   margin-top:30px;
 }
/*MEDIA QUERIES****/

/* Tablet */
@media (min-width: 768px) {
  
  .hero-text {
    font-size: 42px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; 
    -webkit-text-stroke: 1px black;
  }
  
  .navigation {
    display: flex;
    justify-content: row;
  }

  .navigation-text {
    margin: 10px;
    border: 2px solid black;
    padding: 10px;
    color: black; 
  }

  .navigation a {
    text-decoration: none;
  }
  
  .navigation-text:hover {
    background-color: white;
  }

  .hero-image {
      width: 100vw;
      height: 90vh;
      object-fit: cover;
      border-top: 2px solid black;
  }
  
  .signup-container {
    /* max-width: 760px; */
     display: flex; 
    /* flex-direction: row;*/
    justify-content: space-around; 
  }


.form {
  /* height: 560px;
  width: 560px; */
  /* margin: 100px; */
  margin: 24px;
  width: 40%;

}
.accordion {
  /* width: 560px;
  height: 300px; */
  /* margin-bottom: 100px;
  margin-left: 100px;
  margin-right: 100px; */
  margin: 24px;
  width: 40%;
}
.active +.answer {
  height: 100px;
  }

}
/* Small desktop */

@media (min-width: 992px) {

}