/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

* {
  margin: 0;
  padding: 0;
}
/*** Body ***/
body {
  box-sizing: border-box;
}

/*** Fonts ***/
h1{
  color: white;
  font-family: 'Ubuntu';
  font-size: 45px;
  align-content: center;
  letter-spacing: 7px;
  text-align: center;
  margin: 53px 0 0 0;

  
}

h2 {
  color: white;
  font-family: 'Nunito';
  font-size: 15px;
 
}

h3{
  font-family: 'Nunito';
  text-align: center;
  color: white;
}
h4 {
  font-family: 'Nunito';
  text-align: center;
  color: black;
  padding-bottom: 30px;

}
/*** Header ***/


header{
  display: flex;
  height: 200px;
  background-image: url("./images/header-monstera.jpg");
  background-size: cover;
  width: 100%;
  
}


nav {

    font-family: 'Nunito';
    margin: 0 10px;
    font-size: 16px;
    color: white;
    display: none;
   
    
}

nav a {
  display: inline-block;
  padding: 10px;
  text-decoration: none;
  border-radius: 5px;
  color: white;
}
 
nav a:hover {
  transform:scale(1.2,1.2);
}
  
.hamburger {
  display: flex;
  height: 30px;
  width: 30px;
  flex-direction: column;
  justify-content: space-between;
  margin: 65px 40px 0 0;
  
  

}

.hamburger div {
  width: 30px;
    height: 5px;
    background:white;
    display: flex;
   margin-left: 15px;  
}
/*** Form ***/


.formaccordion-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  background-color: #60A9A6;
  justify-content: center;
  

}


fieldset {
  border-radius: 10px;
  box-shadow: 10px 10px 15px 0 #3B5249;
  border: none;
  margin: 20px auto;
  /*padding: 20px;*/
  width: 60%;
  background-color: white;
  max-width: 400px;
  min-width: 300px;
}

label {
  
  padding: 10px;
  margin: 5px;
  align-items: center;
  font-family: 'Nunito';
  display: flex;
  font-size: 10px;
  

}

input[type="text"],input[type="email"], 
input[type="password"] {
 
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Nunito';
  font-weight: bold; 
  font-size: 15px;
  background-color: #CAF2D7;
  margin: 10px;
  width: 90%; 
}

input[type="submit"]{
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-family: 'Nunito';
  font-weight: bold; 
  font-size: 15px;
  background-color: #FDDEDE;
  margin: 10px;
  width: 90%; 
}
.button-submit:hover {
  transform:scale(1.2,1.2);
  cursor: pointer;
}

.button-submit{ 
  background-color: #FDDEDE;
  width: 100%;
}
input:valid {

}
/*** radiobuttons styling ***/

.radio-row{
  display: flex;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
}

/*** checkbox styling ***/
.checkbox-row {
  
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  
}
.checkbox-container {
  
  font-size: 12px;
  font-family: 'Nunito';
  font-weight: bold; 
  padding: 5px 10px;
  margin: 5px 30px;

  }

.checkbox-container input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  position: absolute;
  top: 10;
  left: 20px;
  height: 15px;
  width: 15px;
  background-color: #CAF2D7;
  border-radius: 4px;
  cursor: pointer;
  
}
.checkbox-container:hover input ~ .custom-checkbox {
  background-color: #FDDEDE;
}
.checkbox-container input:checked ~ .custom-checkbox {
  background-color: #FDDEDE
}

.custom-checkbox:after {
content: "";
position: absolute;
width: 3px;
height: 6px;
border: solid black;
border-width: 0 3px 3px 0;
top: 3px;
left: 5px;
transform: rotate(45deg);
display: none;
}

.checkbox-container input:checked ~ .custom-checkbox:after {
  display:block;
}

/*** Accordion styling ***/


.accordion {
  border-radius: 10px;
  box-shadow: 10px 10px 15px 0 #3B5249;
  border: none;
  margin: 50px auto;
  padding-top: 50px; 
  width: 60%;
  background-color: white;
  max-width: 400px;
  min-width: 300px;
  cursor: pointer;
}


.question {
  margin: 20px 0;
  padding: 10px 10px;
  width: 90%;
  padding: 10px;
  margin: 5px;
  align-items: center;
  font-family: 'Nunito';
  /*display: flex;*/
  font-size: 15px;
  font-weight: bold;
}
.question:hover{
  color:#A39161;
  background-color:#CAF2D7;
  margin-left: 5px;
  width: 90%;
}

.answer {
  display:none;
  margin: 15px 0;
  font-family: 'Nunito';
  background-color: #FDDEDE;
  color: black;
  padding: 40px 10px;
  font-size: 12px;
  font-style: italic;
 
  
}
.active {}

.active + .answer {
  display: block;
}

  
/*** Media Queries***/



@media (min-width: 768px){

  Header {
    height: 300px;
    justify-content: space-between;
  }
  .Hero-text{
    margin-left: 40px;;
  }
  h1{
   
    font-size: 70px;
  }
  h2 {
    
    font-size: 25px;
  }
.hamburger {
  display:none;
}

nav {
  display:inline-block;
 
}
}

@media (min-width: 992px) {

  .Hero-text {
    margin-left: 60px;
    
  }
  h1 {
    font-size: 80px;

  }

  h2 {
    font-size: 30px;
  }

 .accordion {
  margin: 50px 0;
  
 }

  .formaccordion-container {
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    margin: 50px auto;
   
   
  }
  nav {
    font-size: 20px;
  }
  nav a{
    padding: 15px;
  }
}