* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ubuntu;
}

/* navigation style start here*/

header {

  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
  top: 0;
  left: 0;
  padding: 10px 0;
  box-shadow: 5 2px 5px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin: 0 1em;
}

nav a {
  color: white;

  font-size: 15px;
  text-transform: uppercase;
}

nav a:hover {
  color: rgb(16, 13, 13);
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 5px;
}


/* form"card" style start here */

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("elizeu.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

main {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 25px 40px;
}

main h1 {
  font-size: 30px;
  text-align: center;
}

main .question {
  width: 100%;
  height: 50px;

  margin: 30px 0;
}

main button {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba (0, 0, 0, .1);
  cursor: pointer;
  font-size: 16px;
  color: #333;
  font-weight: 500;
  margin-top: 50px;
}

.terms {
  font-size: 12px;
  text-align: center;
}

.terms a {
  color: white;
}

.question input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: white;
  padding: 20px 45px 20px 20px;

}

.checkbox-group {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* Mellanrum mellan checkboxar och etiketter */
  margin-bottom: 20px;
  /* Utrymme under checkboxarna */
}

.optional {
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding-bottom: 15px;

}

/* Media query för skärmar mellan 320px och 552px */
@media (min-width: 320px) and (max-width: 522px) {
  main {
    width: 90%;
    margin-top: 40px;

  }
}

/* Media query för skärmar mellan 522px och 668px */
@media (min-width: 522px) and (max-width: 668px) {
  main {
    margin-top: 40px;

  }
}