/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
body {
  margin: 0;
  width: 100%;
  background-color: black;
}

/* Header and image */

.header {
  position: relative;
  width: 100%;
}

.image {
  width: 100vw;
  height: 800px;
  object-fit: cover;  
}

/* Navigation bar */

.navigation-container {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 1;
}

.navigation-links {
  color: white;
  font-family: "Cuprum", serif;
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

.navigation-links:hover {
  opacity: 0.5;
}

/* Title */

.title-container {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  color: white;
  font-family: "Stardos Stencil", serif;
  font-size: 70px;
  letter-spacing: 3px;
}

.title-two {
  font-family: "Stardos Stencil", serif;
  font-size: 16px;
  letter-spacing: 1.5px;;
  color: white;
  margin-top: -50px;
  margin-bottom: 100px;
}

.book-now {
  width: 120px;
  padding: 15px;
  font-family: "Stardos Stencil", serif;
  font-size: 20px;
  text-align: center;
  border: 2px solid white;
  background:rgba(5, 5, 5, .5);
  border-radius: 30px;
  color: white;
  cursor: pointer;
}

.book-now:hover {
  opacity: 0.7;
}


/* Big content (sign-up form and accordion) */

.big-content-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  margin-top: 40px;
  width: 100%;
}

/* Sign-up form */

.sign-up-container, .accordion-container {
  display: flex;
  flex-direction: column;
  font-family: "Pompiere";
  padding: 20px;
  width: 80%;
  border: 1px solid white;
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  box-shadow: 2px 3px rgb(255, 255, 255);
}

.header-three {
  margin-top: 0;
  text-align: center;
  font-size: 36px;
  font-variant: small-caps;
}

.form {
  border: 1px solid white;
  padding: 15px;
}

.question {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  margin-bottom: 10px;
}

.input-text {
  padding: 3px 10px;
  background: transparent;
  width: 92%;
  outline: none;
  outline-style: none;
  border-bottom: 1px solid white;
  border-top: none;
  border-left: none;
  border-right: none;
}

.date-number {
  display: flex;
  margin-bottom: 10px;
}

.question input[type=date] {
  width: 130px;
  margin-right: 50px;
}

.question input[type=number] {
  width: 80px;
}

.radio {
  margin-top: 5px;
  margin-bottom: 30px;
  font-size: 18px;
}

.radio input[type='radio']:checked:after {
  width: 10px;
  height: 10px;
  border-radius: 15px;
  position: relative;
  background-color: rgb(102, 4, 4);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}

.checkbox {
  font-size: 20px;
}
.checkbox input[type='checkbox']:checked:after {
  width: 12px;
  height: 12px;
  position: relative;
  background-color: rgb(102, 4, 4);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid white;
}

.terms-conditions-link {
  text-decoration: underline;
  color: white;
  cursor: pointer;
}

.terms-conditions-link:hover {
  opacity: 0.7;
}

/* Submit booking button */

.submit-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.book-button {
  padding: 6px;
  font-size: 30px;
  font-family: "Pompiere";
  width: 150px;
  border: 2px solid white;
  color: white;
  border-radius: 30px;
  background-color: black;
  font-variant: small-caps;
  cursor: pointer;
}

.book-button:hover {
  opacity: 0.7;
}


/* Accordion Container */

.accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid white;
  background-color: rgba(70, 67, 67, 0.1);
  font-size: 20px;
  text-align: center;
  height: 70px;
  margin-bottom: 5px;
}

.accordion-question:hover {
  opacity: 0.7;
}

.accordion-plus {
  font-size: 50px;
  color: white;
}

.accordion-answer {
  display: none;
  background-color: rgba(70, 67, 67, 0.1);
  border-bottom: 1px solid white;
  font-size: 20px;
  padding: 5px;
  margin-bottom: 5px;
}

.accordion-visible {
  display: block;
}


/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: black;
  width: 100%;
  bottom: 0;
  margin-top: 90px;
}

.footer-text {
  color: white;
  font-family: "Pompiere", serif;
  font-size: 22px;
  padding-left: 10px;
}

.social-media {
  padding-right: 10px;
}

.social-media .fa {
  color: white;
  text-decoration: none;
  padding: 10px 5px 5px 5px;
  font-size: 24px;
}

.social-media .fa:hover {
  opacity: 0.6;
}


@media (min-width: 768px) {
  .image {
    height: 1020px;
  }

  .title {
    font-size: 85px;
  }
  .question input[type=date] {
    margin-right: 50px;
  }

  .accordion-question {
    font-size: 24px;
  }
}

@media (min-width: 1024px){
  .image {
    height: 1360px;
  }

  .sign-up-container, .accordion-container {
    width: 35%;
    margin: 10px;
  }

  .question input[type=date] {
    margin-right: 100px;
  }
}

@media (min-width: 1200px) {
  .image {
    height: 735px;
  }
}

.active + .answer {
  margin: 0;
  
}
