/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

body {
  margin: 0;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  position: absolute;
}

/* Hero & Hero video */

.headerText, .navbar {
  position: relative;
  z-index: 20;
}

.flexParentHeader {
  display: flex;
  flex-direction: column;
}

.headerText {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  font-size: 34px;
  font-weight: 700;
  color: blue;
  text-transform: uppercase;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

ul {
  width: 100vw;
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-block-start: 0;
}

li {
  padding: 3%;
  justify-content: center;
}

li a {
  color: blue;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: blue;
  text-transform: uppercase;
}

/* MAIN CONTENT */

.flexMain {
  display: flex;
  flex-direction: column;
}

/* FORMS CONTAINER */

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  margin: auto;
}

#form {
  margin-bottom: 30px;
  padding: 10px 40px;
  font-size: 12px;
  background-color: burlywood;
  opacity: 0.95;
  position: relative;
  z-index: 20;
  border-radius: 5%;
}

label {
  margin-bottom: 2%;
  margin-top: 5%;
}

.blockLabel, .blockInput {
  display: block;
}

select {
  display: block;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

textarea {
  display: block;
  padding: 2%;
  margin-top: 4%;
  margin-bottom: 2%;
}

/* Ended here - "Services needed" needs adjusting */

#button {
  display: flex;
  background-color: coral;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid;
  border-width: 1px;
  border-radius: 8%;
  border-color: blue;
}


/* MEDIA QUERY DESKTOP */
/* li a:hover text-decoration: underline; */