

/* HEADER */

.header img {
  height: 100px;
  width: 100%;
  object-fit: cover;
}

/* LOGO SECTION */

.logotype img {
  height: 50px;
  width: 100%;
  margin-top: 5px;
  object-fit: contain;

}

/* BODY */

body {
  margin: 0px;
  }

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

/* BUSINESS FORM */

label {
   display:block;
   margin-bottom: 5px;
   
}

.business-form {
  width: 90%;
  font-size: 20px;
  margin: 5px;
  color: black;
  text-align: left;
  
}

input[type=submit] {
  background-color: #196CFF;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  margin-top: 30px;
  cursor: pointer;
  width: 100%;
}

input[type=text] {
  width: 100%;
}

/* ACCORDION */

.accordion {
  height: 50%;
  width: 90%;
  text-align: center;
  
  
}

.accordion h1 {

  height: 40px;
  font-size: 30px;
  
  color: #196CFF;

}

.question {
  height: 15px;
  line-height: 15px;
  font-size: 15px;
  text-align: center;
  background-color: #196CFF;
  color: white;
  margin: 2px;
  padding: 16px 32px;
}

.answer {
  display: none;
}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
display: inline;
}

/* FOOTER */



/* MEDIA */

@media (min-width: 667px) {

  .business-form {
    width: 350px;
  }

  .accordion {
    width: 350px;
    background: white;
    color: #196CFF;
}

}

