body {
  margin: 0;
  font-family: "Roboto", sans-serif;

  background: linear-gradient(270deg, #aef0df, #d9b7d6, #fbd880);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 80px;
  margin: 10px 0;
  font-family: "Arvo", serif;
  font-style: italic;
}

h2 {
  text-align: center;
  text-transform: uppercase;
}

h3 {
  font-size: 30px;
  margin: 0;
  font-family: "Arvo", serif;
  font-weight: 400;
  font-style: italic;
}

h4 {
  display: inline;
  margin-left: 10px;
  font-size: 20px;
  font-weight: 500;
  font-style: italic;
}

p {
  color: #fff;
}

button {
  border: none;
  cursor: pointer;
}

button:focus {
  outline: 2px solid #fff;
  outline-offset: 4px;
}

a:focus {
  outline: 2px solid #fff;
}

/************ HEADER ************/

/* video as header */

header {
  position: relative;
  overflow: hidden;
  background-size: cover;
  height: 100vh;
}

video {
  height: 100vh;
  width: 100%;
  object-fit: cover;
  position: absolute;

  /* center */
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

picture {
  display: none;
}

ul {
  display: flex;
  align-items: center;
  list-style: none;
  color: #fff;
  padding: 0;
}

li {
  margin: 5px 10px;
}

nav {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: relative;
}

a {
  text-decoration: none;
}

article {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  min-width: 1024px;

  /* center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a:visited {
  color: #fff;
}

@keyframes shake {
  20% {
    transform: translateY(5px);
  }
}

.nav-bar {
  text-transform: uppercase;
  font-size: 16px;
}

.nav-bar:hover {
  animation-name: shake;
  animation-duration: 1s;
}

.logo {
  height: 40px;
  width: 40px;
  fill: rgba(255, 255, 255, 0.6);
  padding-left: 20px;
  padding-top: 5px;
  transition: 0.1s;
}

.logo:hover {
  cursor: pointer;
  fill: #fff;
  transition: 0.2s;
}

.sign-in {
  margin: 0;
  padding-top: 20px;
  display: inline;
  padding-right: 20px;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 900;
  cursor: pointer;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.1s;
}

.sign-in:hover {
  color: #fff;
  transition: 0.2s;
}

.button-container {
  text-align: center;
}

.btn {
  display: inline-block;
  width: 240px;
  margin-top: 50px;
  padding: 14px 0;
  border-radius: 60px;
  background: rgba(255, 255, 255, 0.4);
  font-size: 20px;
  color: #000;
  font-weight: 700;
  letter-spacing: 1px;
}

.btn:hover {
  transition: 1s;

  background: linear-gradient(270deg, #aef0df, #d9b7d6, #fbd880);
  background-size: 150% 150%;

  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* I didn't get the "transition: 0.3s;" to work when hovering on this button.
Is that possible in any way??? Would be nice :) */

.hamburger {
  display: none;
}

/************ MAIN ************/

main {
  max-width: 1100px;
  height: 700px;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
  padding-top: 50px;
}

/*** signup ***/

/* form */

input[type="text"]:focus {
  border: 2px solid #000;
}

.form-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(255, 255, 255, 0.1);
  width: 40%;
  height: 500px;
  /* border: 2px solid black; */
  margin: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-group {
  margin-bottom: 20px;
  text-align: center;
}

.form-group input {
  width: 80%;
  outline: none;
  border: none;
  background: rgba(255, 255, 255, 0.4);
  border: 2px solid rgba(255, 255, 255, 0);
  height: 50px;
  border-radius: 27px;
  padding-left: 20px;
  transition: 0.3s;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}

input::placeholder {
  color: rgba(0, 0, 0, 0.2);
  font-family: "Arvo", serif;
  font-size: 14px;
}

input:hover {
  background: rgba(255, 255, 255, 0.8);
  transition: 0.3s;
}

/* change autocomplete styles in WebKit */
/* code from https://css-tricks.com/ */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  transition: background-color 5000s ease-in-out 0s;
}

.checkbox-container a {
  color: #000;
  text-decoration: underline;
  transition: 0.1s;
}

.checkbox-container a:hover {
  font-weight: 700;
  text-decoration: none;
  transition: 0.3s;
}

.form-submit {
  display: inline-block;
  text-align: center;
  margin: auto;
  border: 2px solid #000;
  width: 100px;
  margin-top: 5px;
  padding: 5px 0;
  border-radius: 25px;
  background: rgba(255, 255, 255, 0);
  font-size: 20px;
  color: #000;
  transition: 0.3s;
}

.form-submit:hover {
  color: #fff;
  background: #000;
  transition: 0.3s;
}

.error-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 40px;
  margin: 0;
}

.error {
  font-size: 20px;
  font-weight: 900;
}

/* radio */

.wrapper-row {
  display: flex;
  justify-content: flex-start;
}

.wrapper-col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 10%;
}

.radiobutton-container {
  display: block;
  position: relative;
  padding-left: 30px;
  margin: 10px 5px;
  font-size: 16px;
  user-select: none;
}

.radiobutton-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  border-radius: 50%;
  transition: 0.1s ease;
}

.radiobutton-container:hover input ~ .custom-radio {
  background-color: #000;
  transition: 0.3s ease;
}

.radiobutton-container input:checked ~ .custom-radio {
  background-color: #000;
}

.custom-radio:after {
  content: "";
  position: absolute;
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  background: rgba(255, 255, 255, 1);
  border-radius: 50%;
  display: none;
}

.radiobutton-container input:checked ~ .custom-radio:after {
  display: block;
}

.radiobutton-container input:focus + .custom-radio {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

/* check-box */

.checkbox-container {
  display: block;
  position: relative;
  margin: 5px 15px 0 0;
  font-size: 16px;
  user-select: none;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-container.checkbox-container-text {
  margin: 5px 20px;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  /*  I don't really know why below margin position worked or why the checkbox was in a weird place without it.
  I just tested different ways and this one worked! */
  margin: -2px 5px;
  transition: 0.1s ease;
}

.checkbox-container:hover input ~ .custom-checkbox {
  background-color: #000;
  transition: 0.2s ease;
}

.checkbox-container input:checked ~ .custom-checkbox {
  background-color: #000;
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 7px;
  border: solid white;
  border-width: 0 3px 3px 0;
  top: 4px;
  left: 7px;
  transform: rotate(45deg);
  display: none;
}

.checkbox-container input:checked ~ .custom-checkbox::after {
  display: block;
}

.checkbox-container input:focus + .custom-checkbox {
  outline: 2px solid #fff;
  outline-offset: 2px;
}

/*** accordion ***/

.accordion-container {
  width: 40%;
  height: 500px;
  border: 2px solid black;
  margin: 20px;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: help;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 80%;
  margin-bottom: 24px;
  transition: 0.1s ease;
}

.accordion-header:hover {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.2s ease;
}

.accordion-header::after {
  content: "▼";
  transition: 0.2s;
  color: #000;
}

.accordion-header.active::after {
  content: "▲";
  color: #fff;
  transition: 0.2s;
}

.accordion-text-container {
  height: 0;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.4);
  width: 80%;
  font-size: 20px;
  box-sizing: border-box;
  text-align: left;
  transition: 0.5s ease;
  padding-left: 30px;
}

.accordion-text-container.active {
  height: 158px;
  text-align: left;
  box-sizing: border-box;
  padding: 30px;
}

.accordion-icon {
  margin-right: 10px;
}

.accordion-icon.active {
  margin-right: 20px;
}

.accordion-text {
  color: #000;
  margin: 0;
}

/************ FOOTER ************/

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  width: 100%;
  height: 80px;
  padding: 20px;
}

.social-icon {
  height: 40px;
  width: 40px;
  margin-right: 5px;
  cursor: pointer;
  transition: 0.1s ease;
}

.social-icon:hover {
  fill: rgba(255, 255, 255, 0.6);
  transition: 0.2s ease;
}

.footer-info a {
  color: #000;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  transition: 0.1s ease;
}

.footer-info a:hover {
  color: rgba(255, 255, 255, 0.6);
  transition: 0.2s ease;
}

.footer-info-link {
  margin-left: 10px;
}

/* **************** MEDIA QUERIES **************** */

/* TABLET */
@media (max-width: 1024px) {
  /*** HEADER ****/

  nav {
    background: #000;
  }

  ul {
    flex-direction: column;
    position: absolute;
    overflow: hidden;
    align-items: flex-start;
    margin-top: 50px;
    height: 0;
    width: 100%;
    color: #000;
    transition: 0.5s;
    background: rgba(255, 255, 255, 0.5);
  }

  li {
    font-size: 20px;
    line-height: 1.8;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .nav-bar:visited {
    color: #000;
  }

  .sign-in {
    display: none;
  }

  .hamburger {
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 20px;
  }

  .hamburger div {
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background: #fff;
    transition: 0.5s;
    cursor: pointer;
  }

  .open div {
    transition: 1s;
    background: rgba(255, 255, 255, 0.6);
  }

  .open + ul {
    height: 204px;
    transition: 1s;
    padding-top: 20px;
  }

  .logo {
    fill: #fff;
  }

  .logo:hover {
    fill: rgba(255, 255, 255, 0.6);
  }

  /* main */

  main {
    flex-direction: column;
    height: 100%;
  }

  .form-container,
  .accordion-container {
    width: 70%;
    text-align: center;
    margin: auto;
    margin-bottom: 50px;
  }

  .accordion-header:hover {
    color: #000;
  }
}

/* MOBILE */
@media (max-width: 667px) {
  /*** HEADER ****/

  video {
    display: none;
  }

  picture {
    display: flex;
    height: 100vh;
    width: 100%;
    position: absolute;
  }
  picture img {
    object-fit: cover;
  }
  h1 {
    font-size: 46px;
  }

  h3 {
    font-size: 26;
  }

  /* main */

  .form-container,
  .accordion-container {
    width: 95%;
  }

  .wrapper-col {
    margin: 0 7%;
  }

  .accordion-header {
    width: 90%;
  }

  .footer-container {
    flex-direction: column;
  }

  /* footer */

  .footer-info {
    margin: 20px 0 50px 0;
  }
}
