*, *::before, *::after { box-sizing: inherit; }

html {
  box-sizing: border-box;
}

body {
  background-image: url(./pictures/JellyHeader2.jpg);
  margin: 0;
}

h1 {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: white;
  margin-block-end: 0px;
  padding-top: 30px;
}

h2 {
  font-family: 'Questrial', sans-serif;
  text-align: center;
}

h3 {
  font-family: 'Questrial', sans-serif;
  color: white;
}

header {
  height: 300px;
}

.video-phone {
  height: 300px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
}

.video-tablet {
  height: 200px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  display: none;
}

.video-desktop {
  height: 200px;
  width: 100%;
  object-fit: cover;
  z-index: -1;
  display: none;
}

.header-content {
  position: absolute; 
  top: 0;
  width: 100%;
  text-align: center;
}

.main-container {
  display: flex;
  flex-direction: column;
}

.sign-up {
  box-sizing: content-box;
  margin: 15px 5px;
  border: 2px solid rgba(45, 45, 122, 0.9);
  border-radius: 5px;
  text-align: center;
  padding-bottom: 15px;
  background-color: rgba(113, 181, 233, 0.9);
  box-shadow: 8px 8px rgba(18, 78, 124, 0.9);
  font-family: 'Questrial', sans-serif;
}

label {
  display: block;
  text-align: left;
  padding-left: 20%;
  padding-bottom: 10px;
}

 button {
   margin-top: 20px;
 }

.accordion-container {
  margin: 15px 5px;
  border: 2px solid rgba(45, 45, 122, 0.9);
  border-radius: 5px;
  padding: 0px 20px 15px 20px;
  background-color: rgba(113, 181, 233, 0.9);
  box-shadow: 8px 8px rgba(18, 78, 124, 0.9);
}

.accordion {
  font-family: 'Questrial', sans-serif;
  background-color: rgb(202, 216, 230);
  border-radius: 5px;
  text-align: left;
  padding: 16px;

}

.question {
  padding: 16px;
  font-weight: bold;
}

.answer {
  display: none;
}

.answer p {
  margin-block-start: 0;
  margin-block-end: 0;
  padding: 16px;
  font-style: italic;
}

.active + .answer {
  display: contents;
  background-color: white;
}

.active, .question:hover {
  background-color: rgb(223, 227, 232);
}

@media (min-width: 668px) {

  header {
    height: 200px;
  }

   header h1 {
    font-size: 90px;
    margin-top: 0;
  }

  .video-phone {
    display: none;
  }

  .video-tablet {
    display: block;
  }

  .main-container {
    display: flex;
    flex-direction: row; 
  }

  .sign-up {
    width: 40%;
    flex-grow: 1;
  }

  .accordion-container {
    width: 40%;
    flex-grow: 1;
  }
} 

@media (min-width: 1024px) {

  header h1 {
    font-size: 100px;
  }

  .video-phone {
    display: none;
  }

  .video-tablet {
    display: none;
  }

  .video-desktop {
    display: block;
  }
}

