/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */


body {
  font-family: 'Quicksand', sans-serif;
  margin: 0px;
  
}



h1 {
  font-size: 20px;
  color: rgb(241, 237, 237);
  margin: 0px;
  padding-right: 20%;
  padding-left: 5%;
  padding-top: 35%;
  padding-bottom: 5%;
}

h2 {
  background-color: darkgrey;
  font-family: 'Dancing Script', cursive;
  font-size: 15px;
  color: rgb(202, 199, 199);
 
  margin: 0px;
  padding: 5px;
}

h4 {
  color: white;
  font-size: 15px;
}

header {
  margin: 0px;
  background-image: url("Images/ballet_shoes.jpg");
  background-size: 100%;
  background-position: 20% 40%;
  background-repeat: no-repeat;
}



form {
  margin: 8px 8px;
  border-style: solid;
  border-radius: 8px;
  border-color: rgb(82, 81, 81);
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(58, 56, 56);
  
}

input {
  font-size: 14px;
  width: 100%;
  padding: 5px;
}

input:valid {
 
  border-radius: 8px;
}

input:invalid {
  border-color: rgb(247, 103, 132);
  border-radius: 8px;
}

select {
  width: 72%;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 8px;
  background-color: rgb(243, 208, 214);
}

label {
  font-size: 14px;
  color: white;
}

.email {
  margin-right: 30px;
  margin-bottom: 8px;
}

input[type=email] {
width: 109%
}

.choose {

 width: 80%;
 margin-left: 20px;
}

button {
  width: 100%;
  border-radius: 8px;
  background-color: rgb(248, 191, 200);
  font-weight: bold;
  font-size: 15px;
  padding: 8px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.accordion  {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  border: solid;
  border-radius: 8px;
  margin: 8px;
  background-image: linear-gradient(white,grey);
}

.FAQheader {
  color: black;
}

.question {
  padding: 10px;
  cursor: pointer;
}

.answer {
  display: none;
}

.active + .answer {
  /* some styling here */
  display: block;
  padding: 5px 5px;
  border-left: dotted;
}

footer {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  width: 100%;
  height: 50px;
}

h3 {
  font-size: 8px;
  margin-right: 10px;
}

@media  (min-width: 667px) {

  main {
    display: flex;
    justify-content: space-evenly
    
  }

  h1 {
    font-size: 40px;
  }

  input {
    width: 90%;  
  }
  input[type=email] {
    width: 100%
    }

.accordion {
  background-image: linear-gradient(white,grey,black);
}

}
@media (min-width:1025px) {

  h1 {
    font-size: 60px;
    }
  h4 {
    font-size: 20px;
  }  
    input {
      font-size: 25px;
    }
   form {
     width: 40%;
   }
   input[type=email] {
    width: 97%
    }
    select {
      margin-right: 50px;
    }
    .accordion {
     width: 40%;
   }
   .FAQheader {
     font-size: 25px;
   }
   .question {
     font-size: 20px
   }
   p {
     font-size: 20px;
   }
}