/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");

body {
  height: 100%;
  overflow-x: hidden;
  font-family: "Sacramento", cursive;
  color: #292524;
}

/* HERO VIDEO */

#hero-video {
  height: 100vh;
  width: 100%;
  background: tan;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero-video::after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: "";
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(248, 249, 249, 0.2);
}
#hero-video video {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  object-fit: cover;
}
#hero-video .texture {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 15;
  background: url(./img/worn-dots.png);
}
#hero-video .hero-text {
  position: relative;
  z-index: 20;
  color: white;
  font-family: "Playfair Display", serif;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: center;
}
#hero-video h1 {
  color: #292524;
  font-family: "Sacramento", cursive;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 2px;
  letter-spacing: 5px;
}
#hero-video .btn {
  color: #292524;
  font-family: "Playfair Display", serif;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 16px;
  background-color: burlywood;
  border: 1px solid tan;
}

/* ABOUT */
#about {
  width: 80%;
  height: 80%;
}
.about-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  background-color: #deb887; /* For browsers that do not support gradients */
  background-image: linear-gradient(
    to right,
    #f1e1cd,
    #f6e2c9,
    #fce3c3,
    #ffe4bc
  );
}
.about-section h2 {
  position: relative;
  color: #292524;
  font-family: "Sacramento", cursive;
  font-size: 50px;
  text-align: center;
  justify-content: center;
  margin-top: 15px;
  padding-top: 15px;
}
.about-p {
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 20;
  color: #292524;
  font-family: "Playfair Display", serif;
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: 30px; /* change the margin for other devices*/
  padding-left: 50px; /* change the padding for other devices*/
  padding-right: 50px; /* change the padding for other devices*/
}

/* SIGN-UP FORM */
#sign-up {
  height: 100vh;
  width: 100%;
  background: #e6ebf6;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: wrap;
}
.form .btn {
  align-items: left;
}
.sign-up-form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.form-sign-up {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.form-sign-up h3 {
  font-family: "Playfair Display", serif;
  font-size: 25px;
  letter-spacing: 2px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  padding: 10px;
}
.form-group {
  font-size: 18px;
  font-family: "Playfair Display", serif;
  padding: 10px;
}
