/*** General styling for the whole website ***/
* {box-sizing: border-box;}

body {
  background-color: #e8cccb;
  margin: 0;
  color: #22031F;
  font-Family: 'Roboto', Sans-Serif;
  font-Size: 48px;
  font-Family: 'Lora', Serif;
  font-Size: 14px;
}

main { /** The area containing the form and the FAQ. **/
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
  border-top: 15px solid white;
  height: 110vh;
}

/*** HERO-VIDEO ***/
.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("./desktoppic.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
 
.hero-image h1 { /* Text on hero-image and placement of it */
  text-align: center;
  margin: 5px;
  color: #22031F;
  font-size: 106px;
  text-shadow: 3px 3px #87B38D;
}

.hero-image h3 { /* Text on hero-image and placement of it */
  text-align: center;
  margin: 5px;
  color: #87B38D;
  font-size: 24px;
  background-color: none;
}
 
/*** FORM ***/
.form-container {
  margin: 40px;
  background-color: #ddeaeb;
  padding: 10px 20px;
  width: 500px;
  max-height: 630px;
}

.form-container:hover { /* When hovering the full container-box */
  box-shadow: 3px 3px 20px 5px #DD9296;
}

.form { 
  display: flex;
  flex-direction: column;
}

.form-div {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.form-div label {
  width: 100px;
  margin: 5px;
}

#fullName, #companyName, #mailAdress, #passWord {  /*Styling of the input fields*/
  width: 250px;
  border: none;
  border-bottom: 1px solid black;
  background-color: #ddeaeb;
}

.checkbox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.checkbox-child {
  margin-bottom: 5px;
}

/** Design of the button **/
button  { 
  width: 438px;
  font-size: 16px;
  font-weight: bold;
  background: #ddeaeb;
  color: #22031F;
  padding: 8px;
  margin: 10px;
  border: 1px solid white; 
  box-shadow: 2px 2px 5px 2px white; 
}

button:hover { /** How the button shall look when pointing on it - it gets flat **/ 
  transform: translateY(5px);
  box-shadow: none;
}

/*** ACCORDION ***/
.accordion {
  margin: 40px;
  background-color: #ddeaeb;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  width: 500px;
  max-height: 630px;
}

.accordion:hover { /* When hovering */
  box-shadow: 3px 3px 20px 5px #DD9296;
}

.question { /* Design of the question texts */
  font-weight: bold;
  line-height: 1em;
  cursor: pointer;
  transition: 0.3s;
  margin: 10px;
}

.question:hover { /* When hovering the question 'heading */
  font-size: 16px;
}

.question::after {
  content: "\002B";
  font-size: 24px;
  position: absolute;
  right: 200px;
}

.question.active::after {
  content: "\2212";
}

.answer-container {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease; 
}

.answer-container.active {
  height: auto;
}

.answer-text {
  margin-left: 13px;
  margin-right: 18px;
}

footer { /* Footer styling */
  width: 100%;
  background-color: #ddeaeb;
  text-align: center;
  bottom: 0;
  color: #22031F;
  padding: 15px;
  border-top: 15px solid white;
}

img { /* Styling of LinkedIn logo */
  width: 22px;
  margin-top: 35px;
  margin-left: 10px;
}

.footer {
  font-size: 12px;
}

/*** Media queries ***/
@media screen and (max-width: 1024px) { /* Tablet device */
  body {
    background-color: #d4b4c4;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./tabletpic.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }

  .hero-image h1 {
    font-size: 92px;
    margin: 15px;
  }
  
  .hero-image h3 {
    font-size: 30px;
    margin: 15px;
  }

  .form-container, .accordion, button {
    width: 100%;
  }
   
  .form-container:hover, .accordion:hover { /* When hovering */
    box-shadow: 3px 3px 20px 5px #98727d;
  }

  footer, .form-container, .accordion, button, #fullName, #companyName, #mailAdress, #passWord { 
    background-color: #bcb6c4;
  }
}

@media screen and (max-width: 667px) { /* Mobile device */
  body {
    background-color: #FCB1AD;
  }
  
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .hero-image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url("./mobilepic.jpg"); 
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
 
  .hero-image h1 {
    font-size: 55px;
    margin: 10px;
    text-shadow: 5px 4px 5px white;
  }
  
  .hero-image h3 {
    font-size: 25px;
    margin: 20px;
    color: #22031F;
    text-shadow: 5px 3px 4px white;
  }

  .form-container, .accordion, button, #fullName, #companyName, #mailAdress, #passWord, footer {
    width: 100%;
    background-color: #F3ECEF;
  }

  .form-container  {
    max-height: 800px;
  }
}