/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: Karla, sans-serif;
  background-image: url(build-set.jpeg);
}

header {
  width: 100%;
  height: 60vh;
  position: relative;
}

/* ---------Hero video styling---------- */

#header-video {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----------Site content styling---------- */

.text-section {
  display: flex;
  flex-direction: column;
  background-color: rgb(255, 235, 239);
  margin: 0;
  border-bottom: lightgoldenrodyellow 3px solid;
}

.introduction {
  padding: 10px 10px 0;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: inherit;
}

h3 {
  text-transform: uppercase;
}

/* ----------Form styling---------- */

.signup-form {
  margin-bottom: 20px;
  padding: 20px;
  background-color: rgb(252, 203, 210);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.input-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

fieldset {
  padding: 10px;
  border: goldenrod 2px solid;
}

legend {
  font-size: 18px;
  text-align: center;
}

#fname,
#lname,
#email {
  padding: 8px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

#fname:focus,
#lname:focus,
#email:focus {
  padding: 8px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  background-color: rgb(250, 224, 228);
}

/* ----------Accordion styling---------- */

.accordionParent {
  margin-top: 10px;
  padding: 10px;
  justify-content: center;
  background-color: rgb(252, 203, 210);
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
}

.accordion-header {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
}

.question {
  padding: 10px;
  text-align: left;
  transition: 0.4s;
  text-transform: uppercase;
}

.question:nth-of-type(8) {
  background: goldenrod;
}

.question:hover {
  background-color: palevioletred;
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

.question:after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.open:after {
  content: "\2212";
  float: right;
}

.open {
  background-color: rgb(252, 203, 210);
}
img {
  padding: 5px;
}

.answer {
  padding: 10px;
  background-color: rgb(252, 203, 210);
  border: palevioletred 2px solid;
  display: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.open + .answer {
  display: flex;
  flex-direction: column;
}

/* ----------Footer styling---------- */

.footer-logo {
  width: 75px;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: whitesmoke;
  background-color: goldenrod;
  border-top: gold 1px solid;

  height: auto;
  width: 100%;
}

.fab,
.fas {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  padding: 5px;
}

/* ---------- Media quaries ---------- */

@media screen and (min-width: 855px) {
  .content-container {
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: space-evenly;
  }
  .introduction {
    margin: 0 100px 20px;
  }
  .accordionParent {
    margin-top: 0;
    width: 450px;
  }
}

@media screen and (min-width: 992px) {
  .content-container {
    margin: 20px;
  }

  .introduction {
    margin: 0 400px 50px;
  }

  footer {
    padding: 5px 25px;
  }
}
