@import url("https://fonts.googleapis.com/css2?family=Lora:wght@400;600;700&family=Poiret+One&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #000;
  font-family: "Poiret One", sans-serif;
}

header {
  height: 60vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
    url(./pictures/blue-art.jpg);
  background-position: top center;
  background-size: cover;
}

.hero-image{
  position: relative;
  text-align: center;
  color: #F5F1E8;
}

.hero-image h1 {
  font-size: 15vh;
  margin: 0;
}

.hero-image h2 {
  color: #F5F1E8;
}

h2,
h3 {
  font-family: "Poiret One";
  color: #000;
}

.class-btn{
  margin-top: 15vh;
  background: rgb(236, 227, 210, 0.8);
  width: 100px;
  border-radius: 10%;
}

.class-btn:hover{
  background: rgb(236, 227, 210, 1);
  transition: all 0.5s ease-in-out;
}

h3 {
  margin: 0;
}
p {
  font-size: 16px;
}
.wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  align-items: center;
  justify-content: center;
  background: rgb(236, 227, 210, 0.5);
}
.form-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form {
  display: flex;
  font-family: "Poiret One";
  flex-direction: column;
  padding: 5px;
  margin: 10px;
  width: 80%;
  background: rgb(210, 209, 187, 0.3);
}

.request-form {
  display: flex;
  flex-direction: column;
}

.login-form {
  display: flex;
  flex-direction: column;
}

:placeholder-shown {
  font-family: "Poiret One";
}
button {
  font-family: "Poiret One";
  margin: 10px;
  width: 200px;
}
label {
  margin: 5px;
}
.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
}

.accordion-element {
  margin-bottom: 5px;
  width: 100%;
}

.accordion-element p,
.question {
  padding: 15px;
}

.question,
.answer {
  margin: 0;
}

.question {
  background: #d2d1bb;
  position: relative;
}

.answer {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
  background: rgb(210, 209, 187, 0.3);
}
.question::after {
  content: "\002B";
  position: absolute;
  right: 20px;
  top: 20px;
  font-size: 2.5vh; 
}
.question.active::after {
  content: "\2212";
  font-size: 2.25vh;
}

.active + .answer {
  height: 10vh;
}

@media (min-width: 950px){
  header{
    height: 75vh;
  }
}

@media (min-width:1024px){
  header{
    height: 80vh;
  }
  .wrapper{
    flex-wrap: nowrap;
  }
  .form-section {
    flex-wrap: nowrap;
  }
}