/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.answer {
  display: none;
}

.active + .answer {
  display: block;
}

/* * {
  border: 2px solid red;
} */

h1 {
  color: brown;
}

.hero-text {
  background-color: white;
  width: 200px;
  text-align: center;
  margin: 0 auto;
}

.hero-image {
  background-image: url("./Images/Cherry-blossom.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 700px; /* fix this? */
}

/* Fix Media queries */

/* Fix styling for div classes */

/* Fix styling for Signup Form */

/* Michelle W starts tomorrow 1 of Februar */

.flex-parent {
}
