/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
display: block;
  /* some styling here */
}

body, html {
  height: 100%;
  margin: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: burlywood;
}

.hero-image {
  background-image:url("assets/braxton-apana.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 80%;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
}


.form {
  background-color: rgb(163, 219, 219);
  display: flex;
  align-items: center;
  max-width: 18em;
  flex-direction: column;
  border-style: none;
  padding: 1em
}

.accordion {
  background-color: rgb(219, 163, 212);
  display: flex;
  align-items: center;
  max-width: 18em;
  flex-direction: column;
  border-style: none;
  padding: 1em
}

.question {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.active, .question:hover {
  background-color: #ccc;
}

.answer {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;

}
input {
  font-size: 20px;
  color: blueviolet;
}

/* Får inte vara några mellanslag i input:valid 
Fungerar endast när man skriver in texten, inte när man väljer ett aöternativ*/
input:valid {
  background-color: rgb(193, 241, 197);
}

label {
  display: block;
  margin-bottom: 20px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
