body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background:white;
}


/* Header */
header {
  position: relative;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  margin-bottom: 40px;
  background: url(videos/gostya_iz_budushego_prekrasnoe_daleko.png);
  background-size: cover;
  background-position: 50% 50%;
}

video {
  min-height: 100vh;
  min-width: 133.3vh; /* ratio 4:3 */
  /* centers video */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.header-text {
  color: orangered;
  font-family: 'Stalinist One', cursive;

  /* centers text */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  

  line-height: 1em;
  letter-spacing: 10px;
  text-transform: uppercase;
}

h1 {
  font-size: 9vw;
  line-height: 1em;
  text-shadow: 5px 5px 5px black;
}

header p {
  color: black
}


/* Main */
main {
  color: black;
  min-height: 800px;
  display: flex;
  flex-direction: row;
  /* FAQ before form when wrap */
  flex-wrap: wrap-reverse; 
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: flex-end;
  font-size: 28px;
  font-family: 'Bungee', cursive;
}

h2 {
  text-align: center;
  font-size: 42px;
}

section {
  margin: 30px;
  width: 450px;
}


/* Form */
.form {
  display: flex;
  flex-direction: column;
  background: orange;
  box-sizing: border-box;
  padding: 0 10px;
}

input {
  height: 50px;
  width: 360px;
  margin: 20px 10px;
  padding: 10px 25px;
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  color: black;
  background: white;
}

input::placeholder {
  color: black;
  opacity: 0.5;
}

label {
  margin: 5px;
}

.radio {
  margin: 25px 0px 35px 0px;
}

.check-container {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box {
  display: block;
  margin: 15px 5px;
}

.check-container input {
  display: none;
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  border-radius: 5px;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background-color:white;
}

.round {
  border-radius: 50%;
}

.check-container:hover input ~ .checkmark {
  background-color: orangered;
}

.check-container input:checked ~ .checkmark {
  background-color: black;
}

button {
  display: flex;
  margin: 40px auto;
  padding: 10px 50px;
  color: black;
  background: wheat;
  border-radius: 10px;
  outline: none;
  border: 0;
  cursor: pointer;
  font-size: 42px;
  font-family: 'Bungee', cursive;
}

button:hover {
  color: orangered;
}


/* Accordion */
.accordion {
  background: orange;
  box-sizing: border-box;
  padding: 0 10px;
}

.question {
  cursor: help;
  padding: 5px 0;
  margin: 15px 5px;
}

.question:hover {
  color: orangered;
}

.question span {
  float: right;
}

.closed-sign {
  display: none;
}

.answer {
  padding: 0 30px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 20px;;
  max-height: 0;
  overflow: hidden;  
  visibility: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.125s 0.375s ease-out, visibility 0.5s;
}

.active + .answer {
  visibility: visible;
  max-height: 400px;
  opacity: 1;
  transition: max-height 0.5s ease-out;
}

.active > .open-sign {
  display: none;
}

.active > .closed-sign {
  display: inline;
}

.active {
  color: orangered;
}

footer {
  background: orangered;
  height: 50px;
  font-family: 'Stalinist One', cursive;
  color: white;
  line-height: 1em;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 10px 40px;

  display: flex;
  justify-content: space-between;
}

@media (max-width: 530px) {
  video {
    display: none;
  }
  .header-text {
    letter-spacing: 5px;
  }
  h1 {
    font-size: 10vw;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  input {
    width: auto;
    font-size: 20px;
    padding: 5px 15px;
  }
  .radio {
    display: flex;
    flex-direction: column;
  }
  button {
    padding: 10px 10px;
  }
  footer {
    height: 30px;
    font-size: 10px;
    letter-spacing: 1px;
    padding: 10px 20px;
  }
}