* { 
  outline: 1px solid red;
  outline-offset: -1px;
}

nav {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
}

nav a {
  font-size: smaller;
  color:#646464;
  opacity: 0.5;
} 

nav a:hover {
  cursor: pointer;
}


body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  
}
/* ---Header---*/
/* with hero-image styling*/
header {
  max-height: 300px;
}

.hero-parent-mobile {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 8%;
  /* padding-top: 50px; */
  /* text-align: center; */
  background-image:url('./images/llama.jpg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.hero-parent-mobile img {
  width: auto;
}
.hero-child {
  display: block;
  width: 70%;
}

h1 {
  font-size: 3em;
  color: #FFFCFC;
  margin-bottom: 0;
  margin-top: 15%;
}

h2 {
  color: #FFFCFC;
  margin-top: 0;
}

section.hero-parent-tablet {
  display: none;
}

main {
  margin-top: 0;
}

/* ---MAIN---*/
/*styled usiong flexbox*/
.main-boxes {
  display: flex;
  align-items: center;
  background-color: rgba(198, 193, 193, 0.8);;
  /* border-radius: 8px; */
    /* make it centered with the auto, but width is needed */
  /* margin: 30px auto;*/
  margin: 20%;
  padding: 10%;
  /*width: 80%; */
}

/* ---FORM--- */
label {
  display: block;
  margin: 20px 0 0;
  color: #262223;
}

.checkbox {
  display:flex;
  align-items: flex-end;
  font-size:smaller;
  margin-bottom: 15px;
}

::placeholder {
  opacity: 0.4;
}

button {
  /* box-shadow: 1px 2px; */
  color: #262223;
  border: 0.5px solid black;
  padding: 10px 15px;
  text-transform: uppercase;
  transition-duration: 0.4s;
}

button:hover {
  cursor: pointer;
  background-color: #FFFCFC
}
/* ---ACCORDION---- */
/* Display the accordion when its not active */
.active + .description {
  display: block;
}

/* Hiding the accordion when its not active */
.description {
  display: none;
}

.menu {
  border: 1px solid black;
  padding: 10px;
  background-color: #FFFCFC;
}

.menu:hover {
  cursor: pointer;

/* Selects every <p> element that is the first child of its parent */
/* p:nth-child(1) {
  background-color: #FFFCFC; */
} 
/* Selects all divs inside menu-class */
/* div.menu {

} */

/* ---STYLING FOR TABLETS---*/
@media (min-width: 668px) and (max-width: 1024px) {
  section.hero-parent-mobile {
    /* width: 100vW;
    height: 100vh;
    display: flex;*/
    display: none;
  }
  header {
    max-height: 350px;
  }

  h1 {
    font-size: 4em;
    margin-top: 100px;

  }
  section.hero-parent-tablet {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
  }

  body {
    background-image: url(./images//llama-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background-position: right;
    z-index: 99;
    position: relative;
}

  .main-boxes {
    background-color: rgba(198, 193, 193, 0.4);;
  }
}

  /* 
  justify-content: center;
  align-items: center;
  /* padding-top: 50px; */
  /* text-align: center; */
  /* 
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed; */ 
/* header {
  display: none;
}
.hero-parent {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('./images/llama-tablet.jpg');
  /* background-size: cover; */
  /* background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */ 


/*---STYLING FOR DESKTOP---*/
 @media (min-width: 1025px){

}
