body {
  margin: 0;
  background-color: #ededed;
}


h1 {
  font-family: 'Playfair Display', serif;
}

p {
  font-family: 'Roboto', sans-serif;  
}

.header-background-image {
  height: 400px;
  background-image: url("img/SannaDolckWall_Wedding2_640px.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-background-image h1 {
  color: #13443b;
  margin-top: -100px;
  text-align: center;
}

.header-background-image h2 {
  color: #7e947f;
  margin-top: -10px;
  text-align: center;
}

/* MEDIA QUERIES */
/* På skärmar större än 678 px */
@media screen and (min-width: 678px) {

  .header-background-image {
    background-image: url("img/SannaDolckWall_Wedding2_1920px.jpg");
    background-position: bottom;
  }
 
  .header-background-image h1 {
  color: white;
    ;
  }

  .header-background-image h2 {
    color: white;
  }
}



/* MEDIA QUERIES */
/* På skärmar större än 1025 px */
@media screen and (min-width: 1025px) {

  .header-background-image {
    background-image: url("img/SannaDolckWall_Wedding2_2400px.jpg");
    background-position: bottom;
  }

  }







/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}


