body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #056676;
  background-color: #e8ded2;
}

/*** HEADER ***/
header {
  background-color: #056676;
  color: #e8ded2;
  display: flex;
  align-items: center;
  padding: 16px;
}

.hamburger-menu {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 24px;
}

.hamburger-menu div {
  width: 35px;
  height: 5px;
  background-color: #e8ded2;
}

.logo {
  width: 100px;
  height: 100px;
}

nav {
  display: none;
}

nav a {
  color: #e8ded2;
  text-decoration: none;
  margin-left: 16px;
}

/*** HERO IMAGE ***/
.hero-img {
  background-color: cadetblue;
  width: 100%;
  height: 300px;
}

/*** MAIN ***/
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 90%;
}

/*** SIGNUP FORM ***/
.form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 10px;
}

/*** MEDIA QUERIES ***/
@media (min-width: 768px) {
  /* Add styling specific for screen-size from 768px to 1023px */
  header {
    justify-content: space-between;
  }

  .hamburger-menu {
    display: none;
  }

  .logo {
    margin-left: 54px;
  }

  nav {
    display: inline-block;
  }

  main {
    flex-direction: row;
  }
}

@media (min-width: 1024px) {
  /* Add styling specific for screen-size from 1024px */
}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}
