/* GLOBAL STYLES */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  background-color: #297F55;
}

/* HEADER & NAVIGATION */

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #297F55;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav a {
  color: yellow;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  margin-right: 10px;
}

.logo-image {
  height: 50px;
  width: auto;
  margin-left: 3px;
}

.hidden-anchor {
  height: 50px;
  background-color: pink;

}

.head-container {
  width: 100%;
  height: 667px;
  position: relative;
  top: 0;
  left: 0;
  background-image: url(./images/Buddha_img\(big\).jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-color:  #297F55;
  
}

.head-container h1 {
  color: yellow;
  max-width: 375px;
  font-size: 80px;
}

.head-container video {
  display: none;
}



/* FORM */

.form-section {
  height: 667px;
  width: 100%;
  background-image: url(./images/Buddha_img\(small\).jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  text-align: justify;
}


.subscription-form, .accordion {
  max-width: 375px;
  height: 530px;          /* Form takes up only 80% of the height on mobile */
  border-radius: 20px 20px 0 0;
  padding: 20px;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
  background-color: whitesmoke;
  opacity: 0.9;
}


.form-label {
  display: block;
  position: relative;
  height: 80px;
  width: 100%;
}

.text-input {
  border-radius: 12px;
  border: 1px #297F55 solid;
  font-size: 18px;
  height: 50px;
  padding: 4px 20px 0;
  width: 100%;
}

.text-input:focus {         /* one can style the input fields that are activated with input:focus */
  color: white;
  background-color: #297F55;
}

.experience-fieldset {
  border: none;
  padding-left: 0;
}

.experience-fieldset legend {
  padding: 0;
}



.send-button {
  background-color: #297F55;
  color: whitesmoke;
  display: block;
  border-radius: 12px;
  border: 0;
  cursor: pointer;          /* changes the cursor to a pointing hand on hover */
  font-size: 18px;
  height: 35px;
  width: 30%;
  margin: 0 auto;

}



/* Accordion */


.accordion-section {
  height: 667px;
  width: 100%;
  background-image: url(./images/lantern_small.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  text-align: justify;
}


.accordion h2 {
  color: #297F55;
  margin-left: 5px; 
  font-size: 40px;
}

.grouped-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px;
  border: 1px solid #297F55;
  border-radius: 5px;
}

.question p {
  width: 90%;
  margin: 0;
  display: inline-block;
}

.question::after {          /* makes a plussign after the question, but I can't manage to change to minus on click later */        
  content: '+';
  font-size: 30px;
  font-weight: bold;
  float: right;
}

.question active {
  border: none;
}

.answer {
  background-color: lightgray;
  display: none;
  padding: 3px;
}


/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  display: block;
}



/* FOOTER */
.footer-text {
  margin-top: 50px;
  color: darkslategray;
  font-size: 12px;
  text-align: center;
}





/* **********MEDIA QUERIES********** */


@media (max-width: 255px) {                 /* This is for making the h1 responsive. I am using a very big font-size and hence it was not breaking the word. */
  .head-container h1 {
    word-break: break-all;
  }
}

@media (min-width: 668px) {
  nav a {
    font-size: 20px;
    font-weight: 600;
    margin-right: 20px;
  }

  .head-container {
    background-image: none;
    height: 768px;
  }

  .head-container video {
    display: block;
    width: 100%;
  }

  .head-container h1 {
    position: absolute;
    top: 50px;
    margin-top: 0;
    font-size: 100px;
  }

  .form-section {
    background-image: url(./images/Buddha_img\(big\).jpg);
  }

  .subscription-form, .accordion {
    height: 100%;
    border-radius: 0;
  }

  .send-button {
    margin-top: 50px;
    height: 40px;
    width: 35%
  }

  .accordion-section {
    background-image: url(./images/lantern_big.jpg);
  }

}


@media (min-width: 1025px) {
  .form-section, .accordion-section {
    display: none;
  }
}
  