

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Header */

header {
  position: relative;
  height: 600px;
  text-align: center;
  overflow: hidden;
  margin-bottom: 80px;
}

video {
  min-height: 600px;
  min-width: 800px; /* ratio 4:3 */

  /* centers video */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}


.header-text {
  color: orangered;
  font-family: 'Stalinist One', cursive;

  /* centers text */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  

  line-height: 1em;
  letter-spacing: 10px;
  text-transform: uppercase;
}

header h1 {
  font-size: 9vw;
  line-height: 1em;
  text-shadow: 5px 5px 5px black;
}

header p {
  color: black
}


/* Main */

main {
  color: black;
  min-height: 800px;
  display: flex;
  flex-direction: row;
  /* FAQ before form when wrap */
  flex-wrap: wrap-reverse; 
  justify-content: space-evenly;
  align-items: flex-end;
  align-content: flex-end;
  font-size: 28px;
  font-family: 'Bungee', cursive;
}

h1 {
  text-align: center;
  font-size: 42px;
}

section {
  margin: 30px;
  width: 450px;
}


/* Form */

.form {
  display: flex;
  flex-direction: column;
}

input {
  height: 50px;
  width: 400px;
  margin: 20px 0;
  padding: 10px 25px;
  border-radius: 20px;
  outline: none;
  border: none;
  font-family: Courier, monospace;
  font-size: 24px;
  font-weight: bold;
  color: white;
  background: orangered;
}

input::placeholder {
  color: white;
  opacity: 0.5;
}

label {
  margin: 5px;
}

.radio {
  margin: 25px 0px 35px 0px;
}

.check-container {
  position: relative;
  padding-left: 30px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.box {
  display: block;
  margin: 15px 5px;
}

.check-container input {
  display: none;

  /* W3S used this code but "display none" seems to work fine */
  
  /* position: absolute;
  opacity: 0;
  cursor: pointer; */
}

.checkmark {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 25px;
  width: 25px;
  background-color:lightgray;
}

.round {
  border-radius: 50%;
}

.check-container:hover input ~ .checkmark {
  background-color: black;
}

.check-container input:checked ~ .checkmark {
  background-color: orangered;
}

button {
  display: flex;
  margin: 40px auto;
  padding: 10px;
  color: black;
  outline: none;
  border: 0;
  cursor: pointer;
  font-size: 42px;
  font-family: 'Bungee', cursive;
}

button:hover {
  color: grey;
}


/* Accordion */

.accordion {
}

.question {
  cursor: help;
  padding: 5px 0;
  margin: 15px 0;
  border: 5px solid white;
}

.question:hover {
  color: grey;
}

.question span {
  float: right;
}

.closed-sign {
  display: none;
}

.answer {
  padding: 0 30px;
  margin-bottom: 20px;
  border: 8px dotted orangered;
  border-radius: 25px;
  max-height: 0;
  overflow: hidden;  
  visibility: hidden;
  opacity: 0;
  transition: max-height 0.5s ease-out, opacity 0.125s 0.375s ease-out, visibility 0.5s;
}

.active + .answer {
  visibility: visible;
  max-height: 200px;
  opacity: 1;
  transition: max-height 0.5s ease-out;
}

.active > .open-sign {
  display: none;
}

.active > .closed-sign {
  display: inline;
}

.active {
  color: grey;
}

