body {
  margin: 0;
  font-family: "Nunito", sans-serif;
}

.hero{
  position: relative;
  text-align: center;
  color: white;
}

.heroheader{
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); /*UNDERSTAND*/
}

.herobutton{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  font-size: 20px;
  font-family: "Nunito", sans-serif;
}

.heroimage{
  width: 100%;
  height: 100%;
}

.resources{
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
}
.smallstory {
border: 1px solid black;
margin: 10px;
text-align: center;
padding: 10px;
max-width: 30%;
}

.smallstory:hover {
  background-color: rgb(240, 233, 233);
}

.formparent{
  display: flex;
  justify-content: center;
}
.signup-form{
  border: 1px solid black;
  padding: 10px;
  width: 40%;
  text-align: center;
}

@media only screen and (max-width: 768px) { /*Change to only 1 for mobile, 3 for tablet*/
  .smallstory {
    max-width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 375px) {
  .smallstory {
    max-width: 100%;
  }

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}
