/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* STYLING FOR MOBILE DEVICES 320PX - 480PX*/

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #faf2e7e5;
}

/* STYLING VIDEO */
#hero video {
  height: 55vw;
  width: 100%;
  z-index: 5;
  position: relative;
  object-fit: cover;
}

.logotype {
  z-index: 5;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}

.main-content {
  margin: 1.5rem;
}

.selling-copy {
  margin-bottom: 50px;
}

.selling-copy p {
  margin-bottom: 30px;
}

.input {
  border-radius: 10px;
}

form {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  border: solid 1px #a36666;
  border-radius: 15px;
  padding: 15px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: solid 0.5px #a36666;
  box-shadow: 0 0 1 0;
}

.question,
.answer,
p,
input,
label,
select,
#message {
  font-family: "Montserrat", sans-serif;
}

a {
  color: #c73737;
}

select,
input,
#message {
  padding: 5px;
  display: inline;
}

.style {
  margin-bottom: 18px;
}

h3 {
  font-family: Lobster, cursive;
  color: #a36666;
  font-size: 18px;
  margin-bottom: 10px;
  font-weight: 100;
}

.extra-big-header {
  font-family: Lobster, cursive;
  color: #a36666;
  font-size: 50px;
  line-height: 50px;
  margin-bottom: 40px;
}

.big-header {
  font-family: Lobster, cursive;
  color: #a36666;
  font-size: 34px;
  margin-bottom: 10px;
}

#size-boquet,
#message {
  width: 18rem;
}

.box {
  display: inline-block;
  margin: 15px 0 15px 0;
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
}

.responsive {
  margin: 20px 0 90px 0;
}

select {
  display: inline;
}

.accordion {
  display: flex;
  margin-bottom: 50px;
  flex-direction: column;
  border: solid 1px #a36666;
  border-radius: 15px;
  padding: 15px;
}

.active + .answer {
  display: block;
  border-top: hidden;
}

.arrow {
  width: 18px;
  height: 10px;
  margin: 7px;
  opacity: 80%;
}

.question {
  font-family: Lobster, cursive;
  font-size: 18px;
  color: #a36666;
  padding: 0;
  margin-bottom: 18px;
  cursor: pointer;
  display: flex;
}

.answer {
  display: none;
  overflow: hidden;
  font-family: Lobster, cursive;
  padding: 10px;
  margin-bottom: 18px;
  background: #8d545427;
}

footer {
  width: 100%;
  background-color: #a3666648;
  margin-top: 5rem;
  text-align: center;
  padding: 2rem;
}

footer a {
  text-decoration: none;
  color: #c73737;
}

/*!!! MEDIA QUERIES !!!*/

/* TABLET SIZE 481PX - 768PX */
@media screen and (min-width: 481px) and (max-width: 758px) {
  #hero video {
    height: 55vw;
    width: 100%;
    z-index: 5;
    position: relative;
    object-fit: cover;
  }

  .extra-big-header {
    font-family: Lobster, cursive;
    color: #a36666;
    font-size: 58px;
    margin: 40px 0 40px 0;
    text-align: start;
  }

  .big-header {
    font-family: Lobster, cursive;
    color: #a36666;
    font-size: 30px;
  }

  h3 {
    font-family: Lobster, cursive;
    color: #a36666;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 100;
  }

  .box {
    display: inline-block;
    margin: 0 0 15px 0;
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
  }

  .responsive {
    margin: 20px 0 30px 0;
    justify-content: center;
  }

  footer {
    width: 100%;
    background-color: #a3666648;
    margin-top: 5rem;
    text-align: center;
    padding: 2rem;
  }
}

/* SMALL SCREENS, LAPTOPS SIZE 769PX-1024PX */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  #hero video {
    height: 55vw;
    width: 100%;
    z-index: 5;
    position: relative;
    object-fit: cover;
  }

  .extra-big-header {
    font-family: Lobster, cursive;
    color: #a36666;
    font-size: 60px;
    margin: 40px 0 40px 0;
    text-align: center;
  }

  .big-header {
    font-family: Lobster, cursive;
    color: #a36666;
    font-size: 30px;
  }

  .selling-copy {
    text-align: center;
    margin: 0 4rem;
  }

  h3 {
    font-family: Lobster, cursive;
    color: #a36666;
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 100;
  }

  .box {
    display: inline-block;
    align-items: baseline;
  }

  form {
    width: 50%;
  }

  .responsive {
    margin: 20px 0 30px 0;
    display: flex;
    border-radius: 15px;
    gap: 20px;
    width: 100%;
  }

  .accordion {
    width: 50%;
  }
}

/* DESKTOP SIZE, LARGE SCREENS */
@media screen and (min-width: 1025px) and (max-width: 2600px) {
  #hero video {
    height: 50vw;
    width: 100%;
    z-index: 5;
    position: relative;
    object-fit: cover;
  }

  .responsive {
    margin: 20px 0 30px 0;
    display: flex;
    border-radius: 15px;
    justify-content: center;
    gap: 20px;
    width: 100%;
  }

  form {
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    border: solid 1px #a36666;
    border-radius: 15px;
    width: 35%;
  }

  .extra-big-header {
    font-family: Lobster, cursive;
    color: #a36666;
    font-size: 58px;
    margin: 40px 0 40px 0;
    text-align: center;
  }

  .selling-copy {
    text-align: center;
    margin: 0 15rem;
  }

  h3 {
    font-family: Lobster, cursive;
    color: #a36666;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .box {
    display: inline-block;
    flex-direction: row;
    align-content: center;
    gap: 10px;
  }

  .accordion {
    display: flex;
    flex-direction: column;
    border: solid 1px #a36666;
    border-radius: 15px;
    padding: 15px;
    width: 35%;
  }
}
