/*** Base ***/
:root {
  --black: #272727;
  --white: #ffffff;
  --grey: #d3d2d2;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 500;
  font-size: 16px;
  color: var(--black);
}

body {
  margin: 0;
  background: linear-gradient(110deg, #1b1b1b, #1132ec);
}

h1,
h2,
h3 {
  margin: 0 0 5px 0;
}

/*** Hero Image ***/
.bg-img {
  background-image: url("./doc-image-small.png");
  width: 100%;
  min-height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* hero text */
i {
  font-size: 40px;
  color: var(--black);
  margin-bottom: 5px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--black);
}

.hero-btn {
  text-decoration: none;
  color: var(--white);
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: var(--white);
  background-color: var(--black);
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.hero-text button:hover {
  background: var(--white);
}

.hero-btn:hover {
  color: var(--black);
}

/*** Sections  ***/

.section-container {
  padding: 10px;
  display: flex;
  flex-direction: row;
}

/* Form  */
.section-container-form {
  width: 50%;
  border-radius: 3px;
  margin: 30px 2px 0px 0px;
  padding: 10px;
  background: var(--grey);
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

input {
  width: 100%;
  padding: 10px;
  border: 1px solid black;
  margin-top: 0px;
  margin-bottom: 10px;
}

input[type="submit"] {
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  padding: 12px 20px;
  border: none;
  cursor: pointer;
  margin: 10px;
}

input[type="submit"]:hover {
  background: var(--white);
  color: var(--black);
}

/* FAQ - Accordion */
.section-container-faq {
  width: 50%;
  margin: 30px 2px 0px 0px;
  border-radius: 3px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--grey);
}

.accordion {
  background-color: var(--white);
  color: var(--black);
  cursor: pointer;
  padding: 10px;
  width: 100%;
  border: 1px solid black;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active,
.accordion:hover {
  background-color: var(--grey);
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  font-size: 12px;
  font-weight: 300;
}

/* Footer */

.footer {
  height: 80px;
  text-align: center;
  padding: 10px;
  color: var(--white);
}

.fa-github {
  font-size: 40px;
  color: var(--white);
  margin: 5px;
}

/***  Media Query ***/
@media (max-width: 650px) {
  .bg-img {
    min-height: 600px;
  }

  .section-container {
    display: flex;
    flex-direction: column;
  }
  .section-container-form {
    width: 100%;
  }

  .section-container-faq {
    width: 100%;
  }
}
