* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  position: relative;
}

/* Navigation bar */

.nav {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 30px;
  width: 30px;
  margin: 10px 15px;
}

.nav-item {
  margin: 10px 15px;
  text-decoration: none;
  color: black;
  font-size: 10px;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 10px;
  cursor: pointer;
}

/* Heror image */

.hero-image {
  width: 100vw;
  height: 75vh;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.header h1 {
  font-size: 28px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 10px;
  text-align: center;
  margin: 0px 20px;
}

.header p {
  color: #fff;
  font-size: 12px;
  text-align: center;
  margin-top: 0;
  margin: 0px 45px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

/* Form */

.form {
  display: flex;
  flex-direction: column;
}

.form h2 {
  margin: 0 0 30px 0;
}

.label-container {
  display: flex;
  flex-direction: column;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.input-name {
  width: 300px;
  height: 30px;
  margin-top: 10px;
  background-color: #EEEEEE;
  border: none;
  border-radius: 5px;
  padding: 0px 0px 0px 10px;
}

.input-username {
  width: 300px;
  height: 30px;
  margin-top: 10px;
  background-color: #EEEEEE;
  border: none;
  border-radius: 5px;
  padding: 0px 0px 0px 10px;
}

.input {
  width: 300px;
  height: 30px;
  margin-top: 10px;
  background-color: #EEEEEE;
  border: none;
  border-radius: 5px;
  padding: 0px 0px 0px 10px;
}

.label-checkbox {
  display: flex;
  flex-direction: row-reverse;
  align-items: end;
  margin-bottom: 20px;
  margin-top: 0;
  font-size: 12px;
  margin-top: 0;
  width: 250px;
}

.input-checkbox {
  margin: 0px 15px 0px 0px;
}

.input-submit {
  color: white;
  font-weight: bold;
  background-color: #6200ee;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: 300px;
}

.input-submit:hover {
  background-color: #3700B3;
}

/* Accordion */

.accordion-container {
  display: flex;
  flex-direction: column;
  background-color: lavender;
  width: 100%;
  align-items: center;
  margin-top: 50px;
  padding: 50px 0px 100px 0px;
}

.question-container {
  cursor: pointer;
  border-bottom: 1px solid #000;
  width: 70%;
}

.question {
  display: block;
  background-color: lavender;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  padding: 25px 18px;
}

.question:hover {
  color: #6200ee;
}

.answer {
  background-color: lavender;
  font-size: 14px;
  text-align: center;
  padding: 0 18px;
  height: 0px;
  opacity: 0;
  overflow: hidden;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

.active+.answer {
  opacity: 1;
  height: 150px;
  margin: 0px 40px;
  background-color: lavender;
  -webkit-transition: height 0.5s linear;
  -moz-transition: height 0.5s linear;
  -ms-transition: height 0.5s linear;
  -o-transition: height 0.5s linear;
  transition: height 0.5s linear;
}

.footer {
  padding: 50px;
}

.footer p {
  font-size: 10px;
  color: lightgray;
  text-align: center;
}

/* Tablet */

@media (min-width: 767px) {
  .header h1 {
    font-size: 48px;
  }
  .header p {
    font-size: 21px;
  }
  .label-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .label-container .label {
    margin-right: 10px;
  }
  .input-name {
    width: 125px;
  }
  .input-username {
    width: 125px;
  }
  .active+.answer {
    height: 100px;
  }
}

/* Desktop */

@media (min-width: 1024px) {
  .main {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 50px 0px 50px 0px;
  }
  .form-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 50px 0px 100px 0px;
  }
  .label-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .accordion-container {
    align-items: baseline;
    margin: 0px;
    background-color: #fff;
  }
  .accordion-container h1 {
    margin-top: 0;
  }
  .question-container {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }
  .question {
    background-color: #fff;
    padding-left: 0;
  }
  .answer {
    padding-left: 0;
  }
  .active+.answer {
    background-color: #fff;
    margin: 0px 40px 0px 0px;
    height: 100px;
    text-align: left;
  }
}