
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/*This is the styling for the font*/
body {
  font-family:'Permanent Marker';
  color: black;
  background-color: aqua;
}

/*This is the styling for the header*/
header { 
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}

video {
width: 100%;
height: auto;
position: absolute;
z-index: 1;
}

h1 {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  z-index: 2;
  color: black;
  font-size: 100px;
  text-shadow: -2px -2px 3px black;
}

h2 {
  text-align: center;
  padding: 1rem;
  margin: 1rem;
  color: black;
  font-size: 50px;
}

h3 {
  position: top;
  padding: 1rem;
  margin: 1rem;
  color: black;
  font-size: 20px;
  font-style: underline;
}

form {
  border: 1px solid;
  border-radius: 0.5rem;
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin: 3rem auto;
  display: grid;
  gap: 1rem;
}

input:focus {
  background-color: yellow;
}

form button {
  width: 100px;
  border-radius: 2rem;
  border: none;
  background-color: rgb(55, 0, 255);
  padding: 0.5rem;
  font-size: 1rem;
  text-transform: uppercase;
  cursor: pointer;
}

.accordion__button  {
  display: block;
  width: 100%;
  padding: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: left;
  transition: 0.2s;
}

.question {
  background: inherit;
  color: black;
  padding: 1rem;
  margin: 1rem;
}

.answer {
  background: grey;
  color: white;
  padding: 1rem;
  margin: 1rem;
  display: none;
  border-radius: 25px;
  width: 200px;
  height: 150px;
}

.active + .answer {
  display: block;
  padding: 1rem;
  margin: 1rem;
}

/* This is styling for the footer */
footer {
  text-align: right;
}

/* This is the media querie for computer*/
@media (min-width: 1025px) {
  .column {
    width: 100%;
  }
 
  /* This is the media querie for mobile*/
@media only screen and (max-width: 768px) {
  .column {
  width: 50%;}
  }
}