/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

body {
  box-sizing: border-box;
  margin: 0;
  background-color: black;
  font-family: 'Oswald', sans-serif;;
  background-image: url(./images/body-image.jpg);
}

.container {
  display: flex;
  flex-direction: column;
  background-image: url(./images/header-image-large.jpg);
  width: 100%;
  height: 75vh;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
  overflow: hidden;
}

.dumbbell {
  padding: 20px;
  width: fit-content;
  color: white;
  font-size: 20px;
}

.dumbbell:hover {
  color: pink;
}


.open {
 color: white;
 list-style: none;
 display: none;
 padding-left: 20px;
 font-size: 25px;
}

.press + .open {
 display: block;
}


.big-title {
  display: flex;
  justify-content: space-evenly;
  width: fit-content;
  color: white;
  font-size: 17px;
  margin-top: 80px;
  margin-left: 20px;
}


.big-title-lower {
  display: flex;
  width: fit-content;
  color: white;
  margin-top: 40px;
  margin-left: 20px;
  font-size: 10px;
}

input {
  font-size: 15px;
  background-color: black;
  color: white;
  border:color white;
  border-radius: 5px;
}

input:valid {
  background-color: pink;
}


select {
  background-color: black;
  color: white;
  border: color white;
  border-radius: 5px;
}

.form {
 display: flex;
 flex-direction: column;
 width: auto;
 height: auto;
 background-color: black;
 padding: 30px 30px 30px 30px;
 margin: 20px 10px;
 color: white;
 font-size: 20px;
 box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
 transition: all 0.5s ease-in-out;
  }

.form:hover {
  transform: scale(1.1)
}


.first-row {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-top: 20px;
  text-align: ;
} 


.phone-label {
  margin-left: 10px;
}

.second-row {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-top: 30px;
}

.third-row {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-top: 30px;
  font-size: 22px;
}

.monthly-label {
  margin-right: 30px;
}
  
 /* display: block;
  position: relative;
  user-select: none;

 
.monthly-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 10px;
  width: 10px;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}*/


.button {
  width: fit-content;
  align-self: flex-start;
  font-size: 30px;
  margin-top: 45px;
  color: white;
  background-color: black;
  font-family: 'Oswald', sans-serif;;
}

.button:hover {
  color: pink;
}

.accordion {
  color: white;
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  margin: 20px 10px;
  background-color: black;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
 transition: all 0.5s ease-in-out;
}

.accordion:hover {
  transform: scale(1.1)
}

.faq {
  text-align: center;
  font-size: 45px;
}

.question {
  background-color: black;
  color: white;
  font-size: 30px;
  cursor: pointer;
  padding: 18px;
  width: auto;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.question:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
  
}

.active, .question:hover {
  background-color: pink;
}

.answer {
  padding: 0 18px;
  background-color: black;
  color: white;
  font-size: 20px;
  display: none;
}

.active + .answer {
  display: block;
}


footer {
  color: white;
  padding-bottom: 20px;
  padding-left: 20px;
}

.myname {
  float: right;
  display:inline-block;
  margin: 0;
  padding-right: 20px;
}


/*desktop*/
@media (min-width: 993px) and (max-width: 1280px) {
  .media-bigger {
    display: flex;
    flex-direction: row;
  }

  .accordion {
    width: 50%;
    height: auto;
    margin: 20px 10px;
  }

  .form {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    background-color: black;
    padding: 30px 30px 30px 30px;
    margin: 20px 10px;
    color: white;
    font-size: 20px;
     }

  .city-label {
    margin-left: 13px;
  }   

  h1 {
    margin: 0;
  }

  .big-title {
    font-size: 50px;
    margin-top: 5px;
    margin-left: 5px;
  }
  
  .big-title-lower {
    margin: 0, 0, 0, 5px;
    font-size: 20px;
    padding-top: 35px;
  }

  .button {
    align-self: flex-start;
  }

}
/*tablet*/
@media (min-width: 700px) and (max-width:992px) {
 
  .media-bigger {
   display: flex;
   flex-direction: row; 
 }

 h1 {
   margin 0;
 }

 .big-title {
   font-size: 30px;
   margin-top: 45px;
 }

 .big-title-lower {
  margin-top: 0;
  font-size: 15px;
}

 .form {
  width: auto;
  height: 50%;
  }


  .accordion {
   width: auto;
   height: auto;
 } 

 .question {
   font-size: 20px;

 }

 .answer {
   font-size: 15px;
 }

 .faq {
   font-size: 25px;
 }
}