/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp
)*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/*
.image-header {
  height: 100vh;
  min-height: 50vh;
  width: 100vw;

  background-image: url('/images-3/header-flowers.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  display: grid;
  gap: 1rem;
  justify-items: center;
  align-items: center;
}*/


.video-header {
  height: 100vh;
  min-height: 50vh;
  width: 100vw;
  border: 3px solid #808d8e;
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.video-header video {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

h1 {
  position: absolute;
  top: 1.5rem;
  left: 10px;
  color: #546061;
  font-size: 2.5rem;
  text-shadow: -2px -2px 5px 5px rgb(32, 31, 31);
}

/*.title-container {
  background-color: rgba(221, 213, 203, 0.712);
  border-radius: 8px;
  box-shadow: 5px 5px 15px 8px rgba(0,0,0,.1);
}*/

/* Presentation text */

.presentation-text-container {
  /*border: 2px solid rgba(54, 92, 69, 0.678);*/
  margin: 1rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 2rem;
}

.welcome-text-title {
  color: #546061;
  font-size: 2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.welcome-text {
  color: #546061;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}

.welcome-text p {
  padding: 1rem;
}

.container-background-color {
  background-color: #e1dcdc;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: center;
  gap: 2rem;
}

/* Sign-up form -> */

.form-container {
  /*border: 2px solid rgba(141, 173, 155, 0.678);*/
  border-radius: 8px;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,.2);
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
}

.form {
  background-color: white;
  height: 70%;
  border-radius: 10px;
  padding: 2.5rem 2.5rem;
  box-shadow: 0 10px 25px rgba(92,99,105,.2);
}

h2 {
  color: #546061;
  font-size: 2rem;
  padding-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.input-container {
  position: relative;
  left: 10%;
  height: 3rem;
  width: 80%;
  margin-bottom: 1rem;
}

.input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border: 2px solid rgba(192, 181, 171, 0.329);
  border-radius: 7px;
  font-size: 1.5rem;
  padding: 0 1.5rem;
  outline: none;
  background: none;
  z-index: 1;
}

::placeholder {
  color: transparent;
}

.input-container label {
  top: 15px;
  left: 15px;
  padding: 0 4px;
  color: #808d8e;
  font-size: 1.5rem;
  transition: 0.5s;
  z-index: 0;
}

.input:focus + label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 1rem;
  font-weight: 600;
  color:rgba(141, 173, 155, 0.678);
}

.input:focus {
  border: 2px solid rgba(141, 173, 155, 0.678);
}

.checkbox {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 15px;
}

.input:not(:placeholder-shown)+ label {
  top: -7px;
  left: 3px;
  z-index: 10;
  font-size: 1rem;
  font-weight: 600;
}

select {
  color: #808d8e;
}

.hiding-select label::after {
  display: none;
}

.submit-button {
  display: block;
  margin-left: auto;
  border: none;
  background-color: #808d8e;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.5rem;
  text-align: center;
}

.submit-button:hover {
  background-color:rgba(54, 92, 69, 0.678);
  transform: translateY(-2px);
}

/* Accordion -> */

.accordion-container {
  /*border: 2px solid rgba(141, 173, 155, 0.678);*/
  border-radius: 8px;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,.2);
  background-color: whitesmoke;
  min-height: 50vh;
  overflow-y: scroll;
}

.accordion-container h2 {
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.accordion-segment {
  position: relative;
  margin: 10px;
}

.question {
  position: relative;
  font-size: 1.5rem;
  color: #546061;
  border-bottom: 2px solid rgba(54, 92, 69, 0.315);
  padding: 5px;
  margin-top: 5px;
  cursor: pointer;
}

/*
.question::before {
  content: '+';
  color:rgba(54, 92, 69, 0.678);
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 1.5rem;
  transform: translateY(-50%);
}

.question.active .question::before {
  content: '-';
  font-size:
}*/

.answer {
  color: #546061;
  font-size: 1.5rem;
}

.answer {
  display: none;
}

.active + .answer {
  display: block;
}

/* Footer -> */

.image-footer {
  background-image: url('/images-3/footer-2.jpg');
  filter: opacity(60%);
  box-shadow: 4px 4px 3px 3px rgba(0,0,0,.2);
  height: 50vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}

.footer-text-container {
  color: #546061;
  text-align: center;
  padding-top: 2.5rem;
}

.fa-facebook-square, .fa-instagram, .fa-envelope {
  color: #546061;
  text-align: center;
}


@media (min-width: 768px) {
  h1 {
    top: 5rem;
    left: 3rem;
    font-size: 4rem;
  }
  .main-container {
    padding: 2rem;
  }
  h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 3rem;
  }
  .accordion-container h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    top: 6rem;
    left: 4rem;
  }
  .main-container {
    margin: 0 4rem;
    padding: 4rem;
  }
  h2 {
    font-size: 3rem;
    margin-top: 1rem;
    padding: 0 2rem;
  }
  .accordion-container h2 {
    font-size: 3rem;
    margin-top: 1rem;
  }
  .accordion-container {
    padding: 0 3rem;
  }
}
