html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body{
  margin:0;
  background-color: #F9E2E8;
}

/** Hero image and content **/

.hero-image{
  width: 100vw;
  object-fit: cover;
  filter: contrast(130%) brightness(45%);
}

.hero{
  position: relative;
  background-color: rgba(248, 247, 216, 0.7);
  height: 100%;
  width: 100%;
}

.hero-content{
  position:absolute;
  left:0;
  top:200px;
  right:0;
  left:0;
  display:flex;
  height: 100%;
  align-items: center;
  color: white;
  flex-direction: column;
  font-size: 42px;  
  font-family: 'Work Sans', sans-serif;
}

.welcome-m{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.welcome-heading{
  margin: 0;
  padding-bottom:5px;
  text-align: center;

}

.welcome-text{
  margin: 0;
  padding-bottom: 60px;
  text-align: center;
  font-size: 32px;
}

.welcome-button{
  border-radius: 10px;
  padding: 16px 38px;
  font-size: 18px;
  background-color: #FFB3BA;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  transition-duration: 0.4s;
}

.welcome-button:hover{
  background-color: #bb555f;
  color: white;
}

/** Navigation section **/

.navigation-container{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.logo{
  font-size: 38px;
  font-family: 'Lobster', cursive;
}

.nav-element{
  text-decoration: none;
  padding: 10px;
  color: black;
  font-size: 18px;
}

.navigation{
  display:flex;
  justify-content: space-between;
  width: 30%;
}

/** Main content **/

.main-content{
  display:grid;
  grid-template-columns: 1fr 1fr; 
  margin:30px; 
}

/** Sign up form **/

.form-container{
  background-color: #BED9D3;
  width: 65%;
  height: 600px;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 5px 10px #adb3b1;
  font-family: 'Work Sans', sans-serif;
 
}

.form{
  display:flex;
  flex-direction: column;
}

.sign-up{
  margin-bottom: 50px;
  font-size: 30px;
  padding: 10px;
  background-color: #FFDFBA;
  width: 300px;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 5px;
  font-family: 'Work Sans', sans-serif;

}

.input{
  width: 100%;
  border: none;
  border-bottom: 2px solid #adb3b1;
  background-color: #BED9D3;
  font-family: 'Work Sans', sans-serif;
}

.course{
  width: 100%;
  border: none;
  border-bottom: 2px solid #adb3b1;
  background-color: #BED9D3;
  margin-top: 15px;
  font-family: 'Work Sans', sans-serif;;
  padding: 10px;
}

.submit-button{
  border-radius: 10px;
  padding: 10px 18px;
  font-size: 16px;
  background-color:#BED9D3;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  width: 40%;
  align-self: center;
  box-shadow: 2px 4px #adb3b1;
}

.submit-button:hover{
  background-color:#6c8b85;
  color: white;
}


/** Accordion **/
.questions-container{
  background-color: #FFDFBA;
  width:65%;
  height: 600px;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  padding:25px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px #c4b09a;
  font-family: 'Work Sans', sans-serif;
}

label{
  margin-bottom: 40px;
}

.questions{
  margin-bottom: 50px;
  font-size: 25px;
  padding: 10px;
  background-color: #BED9D3;
  width: 400px;
  border-radius: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: 'Work Sans', sans-serif;
}

.question{
  font-weight: bold;
  padding-bottom: 20px;
  font-size: 20px;
}

.answer{
  overflow: hidden;
  height: 0;
  transition: 0.5s ease-in-out;
}

.answer-selected{
  height: 80px;
  padding-bottom: 10px;
  background-color: #e9ccab;
  padding: 0 8px;
  border-radius: 10px;
  margin-bottom: 10px;
}











/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/**.active + .answer {
  /* some styling here */

