/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
body, html {
  margin:0px;
  font-family: 'Cormorant', serif;
  color: black;
  
}

.header-section {
  position:relative;
  width: 100%;
  height: 70vh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
  object-fit: cover;
  overflow:hidden;
  margin:0px;
  padding:0px;
  
}

.text-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:center;
  margin-top: 75px;
  border:0px;
}

.hero-video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
  margin:0px;
}

h1{
 
  font-size: 30px;
  text-align: center; 
}

h2{
  
  font-size: 20px;
}

h3{
 font-size: 22px; 
}

p{
  font-size: 25px;
}

  button {
  background-color: lightgrey;
  opacity:0.7;
  border-color: 10px black;
  border-radius: 10px;
  color: black;
  font-family: 'Cormorant', serif; 
  font-size: 40px;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display:block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background:white;
  color: black;
  opacity:1.0;
}

.wrapper{
  display:flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  width:100%;
  background-color: rgb(227,227,227);
  
  
}

.form{
  margin:50px 30px 30px 30px;
  padding:20px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 25px;
  width:80%;
  height:510px;

}

 input{
  display: block;
}

input[type=checkbox] {
  position: relative;
  display: inline-block;
  margin:0px 0px 25px 0px;
 
}

.faq-section{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width:80%;  
  border-radius: 25px;
}

.question{
  position: relative;
  background-color: rgb(255, 208, 254,0.9);
  cursor: pointer;
  padding: 1px;
  margin: 20px 20px 20px 5px;
  width: auto;
  text-align: left;
  outline: none;
  transition: all 0.4s ease-in-out;
}


.faq-text{
  margin:0px 30px 0px 10px;
  width:100%;
}

.answer{
  display:none;
}

.active + .answer {
display: block;
}

.question::after {
  content: "\002B";
  position: absolute;
 
  right: 20px;
  top: 10px;
  font-size: 4vh; 
}
.question.active::after {
  content: "\2212";
  font-size: 4vh;
}





 @media (min-width: 668px) and (max-width:1024px){

  .wrapper{
    flex-direction: row;
  }
  
  .text-header{
    margin-top:250px;
  }


  h1{
    font-size: 50px;
  }

  h2{
  font-size: 30px;
}

  h3{
    font-size: 30px;
  }

  p{
    font-size: 25px;
  }
}

@media (min-width: 1025px) {

  .wrapper{
    flex-direction: row;
  }

  .text-header{
    margin-top: 180px;
  }

  .form{
    width:40%;
  }

  .faq{
    margin:200px;
  }

  .faq-section{
    width: 40%;
  }

  h1{
 
    font-size: 50px;
  }

h2{
  
  font-size: 30px;
}

h3{
  font-size: 30px;
}

p{
  font-size: 25px;
}

.faq-section{
  flex-direction:row;
}
}