/*mobile first*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000120;
}

/* header and navbar position*/
.showcase {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
}

/* when clicking on hamburger nav it appears*/
.showcase.active {
  right: 200px;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
}

/*displays hamburger nav icon*/
.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(./icons/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

/*displays x-icon when nav is clicked*/
.toggle.active {
  background: url(./icons/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.text {
  position: relative;
  z-index: 10;
  font-family: 'Barlow';
}

.text h2 {
  font-size: 3em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  margin: 20px 0px;
  font-weight: 400;
  max-width: 700px;
}

h1 {
  color: #fff;
}

.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s; /*makes a soft bounce on hover*/
}

/* Makes social media icon bounce*/
.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

/*navbar categories, displayed when showcase is active*/
.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Barlow';
  font-weight: bold;
  background: #fff;
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.menu ul li a:hover {
  color: #048492;
}

/*body starts*/
.grid-container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
  background-color: #000120;
  padding: 0px;
}


.information {
  display: block;
  text-align: center;
  color: #fff;
  padding: 80px;
  font-size: 35px;
  line-height: 50px;
  font-family: 'barlow';
}

.information h1 {
  padding: 10px;
}

/*sign up-form*/
.form-item {
  padding-right: 40px;
  margin: 20px;
}

.apply-form {
  padding: 40px;
  margin: 5px;
  display: block;
  justify-content: center;
  font-family: 'barlow';
}

label {
  display: block;
  margin: 1px;
  padding: 3px;
  color: #fff;
  font-size: 20px;
}

input {
  display: block;
  margin: 1px;
  padding: 3px;
  color: #000;
  font-size: 20px;
  font-family: 'barlow';
  outline: none;
}

input:focus {
  border: 3px solid #BD789A;
}

.form-button {
  display:inline-block;
  padding: 8px;
  margin-top: 3px;
  width: 40%;
  border: 2px solid #fff;
  border-radius: 15px;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'barlow';
  font-size: 15px;
  color:#fff;
  transition: all 0.15s;
  background-color: Transparent;
  cursor:pointer;
  }

  .form-button:hover{
  color: #048492;
  font-weight: bold;
  background-color: #fff;
  border-color:#FFFF;
  }

  /*Removes up and down button in number input field*/
  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.img-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, 1fr);
}

  .grid-item-img {
  grid-column: span 1;
  display: grid;
  flex-direction: column;
}

.more-information {
  display: block;
  text-align: center;
  color: #fff;
  padding: 80px;
  font-size: 35px;
  line-height: 50px;
  font-family: 'barlow';
}

.interview-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  color: #000;
  margin-top: 10px;
  font-family: 'barlow';
}

.interview p, h3 {
  padding: 10px
}

.interview {
  grid-column: span 3;
  display: grid;
  flex-direction: column;
  padding-bottom: 20px;
}

.interview img {
  opacity: 0.8;
}

/*makes interview image bounce on hover*/
@keyframes bounce {
  0%, 20%, 60%, 100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  
  40% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  
  80% {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
    }
  }

  .interview img:hover {
    opacity: 1;
    animation: bounce 1s;
  }

/* accordion styling*/

.accordion {
  padding: 50px;
}

.accordion-title {
  padding: 40px 0px 15px 0px;
  font-family: 'barlow';
  font-size: 30px;
}

.accordion__content p {
  padding: 15px;
}

.accordion__button {
  display: block;
  width: 100%;
  padding: 15px;
  border: solid #000120 1px;
  outline: none;
  cursor: pointer;
  background: #BD789A;
  color: #fff;
  text-align: left;
  transition: background 0.2s;
  font-size: 20px;
  font-family: 'barlow';
}

.accordion__button::after {
  content: '\25be'; /* triangle icon pointing down*/
  float: right;
  transform: scale(1.5);
}

.accordion__button--active {
  background: #555555;
}

.accordion__button--active::after {
  content: '\25b4'; /* triangle icon pointing up*/
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s;
  padding: 0px 15px;
  font-family: 'barlow';
  background: #eeeeee;
  /*creates shadow in accordion-content*/
  -moz-box-shadow:    inset 0 0 5px #504c4c; /* firefox browser*/
  -webkit-box-shadow: inset 0 0 5px #504c4c; /* for chrome browser*/
  box-shadow:         inset 0 0 5px #504c4c; /* IE browser*/
}

/*footer styling*/
.footer-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  background-color: #000120;
  color: #fff;
  margin-top: 10px;
  font-family: 'barlow';
  padding-left: 10px;
}

.footer-item {
  padding: 15px;
  grid-column: span 3;
  display: grid;
  flex-direction: column;
}

.footer-item h1 {
  font-size: 20px;
}

.footer-item p {
  font-size: 16px;
}

/*google map width*/
iframe {
  width: 100%;
  height: 100%;
}

.signature {
  background: #048492;
  width: auto;
  font-family: 'barlow';
  padding: 20px;
  color: #fff;
  text-align: center;
}

.signature h3 {
  font-family: 'Nothing You Could Do';
}

.signature p {
  font-size: 12px;
}


/*tablet*/
@media (min-width: 668px) and (max-width: 1024px) {

  .grid-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000120;
  }

  .information {
    grid-column: span 1;
    display: grid;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 25px 80px 25px 80px;
    font-size: 30px;
    line-height: 35px;
  }

    .apply-form {
    grid-column: span 1;
    display: grid;
    flex-direction: column;
  }

  .form-item {
    padding: 40px;
    margin: 5px;
    display: block;
    justify-content: center;
  }

  .information h1 {
    padding: 0px;
  }

  .interview-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    color: #000;
    margin-top: 10px;
  }

  .interview p, h3 {
    padding: 10px;
  }

  .interview {
    grid-column: span 1;
    display: grid;
    flex-direction: column;
  }
  
    .footer-item {
    padding: 15px;
    grid-column: span 1;
    display: grid;
    flex-direction: column;
  }

}


/*desktop*/
@media (min-width: 1025px)  {

  .showcase, .showcase header {
    padding: 100px;
  }

  .showcase.active {
    right: 300px;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text h2 {
    font-size: 4em;
  }

  .text h3 {
    font-size: 3em;
  }

  .grid-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000120;
    
  }

  .information {
    grid-column: span 1;
    display: grid;
    flex-direction: column;
  }

    .apply-form {
    grid-column: span 1;
    display: grid;
    flex-direction: column;
  }

  
  .information h1 {
    padding: 10px;
  }
   
  .interview-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    color: #000;
    margin-top: 10px;
  }

  .interview p, h3 {
    padding: 10px;
  }

  .interview {
    grid-column: span 1;
    display: grid;
    flex-direction: column;
  }
  
  .footer-item {
    padding: 15px;
    grid-column: span 1;
    display: grid;
    flex-direction: column;
  }

}
