body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Mitr', sans-serif;
  font-weight: 400;
  background-color: rgb(236, 184, 232);
}
a {
  color: hsl(268.1,74.6%,50.6%);
  text-decoration: none;
}

footer {
  text-align: center;
}

footer a {
  color: white;
}
/* Mobile first development */

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: relative;
}

video {
  position: relative;
  z-index: 0;
}

.overlay {
  position: absolute;
  top: 0;
  z-index: 1;
}
main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
}

h1{
  font-family: 'Monoton', cursive;
  color: hsl(0,0%,0%);
  font-size: 15vw;
  margin-top: 0.5vw;
}

h2 {
  font-size: 30px;
  color: hsl(0,0%,5.5%);
  position: relative;
  font-family: 'Luckiest Guy', cursive;
  margin: 0;
  text-align: center;
}

.inquiry {
  margin-top: 20px;
}

.inquiry img {
  padding-left: 30px;
  animation: movingPaw 1s infinite;
  transform-origin: top left;
  }


/* FAQ */

h3 {
  background: #e619a8;
  border-bottom: 2px solid hsl(267.9,69.9%,67.5%);
  text-align: center;
  color: hsl(0,0%,100%);
  padding: 10px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  margin: 0;
  border: 1px solid hsl(0,0%,39.2%);
}

.form-wrapper {
  margin: 40px 40px;
  padding: 20px 30px 20px 20px;
  line-height: 1.5;
  border: 2px solid hsl(312,2.6%,37.1%);
  border-radius: 10px;
  background:hsl(48.9,86.4%,65.5%);
}

*:focus {
  outline: none;
}

input[name="name"],[name="email"],[name="phone"] {
  width: 100%;
  height: 30px;
}

input[name="val-amountcats"] {
  width: 20px;
  height: 20px;
}

input[type='range'] {
  overflow: hidden;
  -webkit-appearance: none;
}

input[type='range']::-webkit-slider-runnable-track {
  height: 10px;
  -webkit-appearance: none;
  color: hsl(267.9,69.9%,67.5%);
  margin-top: -1px;
}

input[type='range']::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  cursor: ew-resize;
  background: #22e75d;
  box-shadow: -80px 0 0 80px hsl(267.9,69.9%,67.5%);
}



input, select { 
  border: 2px solid hsl(0, 2%, 25%);
}

input:focus {
  border: 2px solid hsl(267.9,69.9%,67.5%);
  background: rgb(231, 202, 243);
}

input[name="foodandsand"] {
  accent-color: hsl(267.9,69.9%,67.5%);
  width: 18px;
  height: 18px;
}
input[name="agree-tos"] {
  accent-color: hsl(267.9,69.9%,67.5%);
  width: 20px;
  height: 20px; 
  vertical-align: top;
  border-radius:  5px;
}

.container {
  display: block;
  position: relative;
  border-radius: 50%;
}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

button {
  padding: .8em 1.3em;
  font-size: 17px;
  text-transform: uppercase;
  font-family: 'Luckiest Guy', cursive;
  text-shadow: 2px 5px 10px #626464;
  color: hsl(0,53.8%,97.5%);
  background-color: hsl(267.9,69.9%,67.5%);
  border: 2px solid hsl(0,0%,39.2%);
  border-radius: 45px;
  box-shadow: 0px 8px 15px rgba(252, 245, 245, 0.1);
  transition: all 0.3s ease 0s;
 }
 .btn {
   display: flex;
   flex-direction: row;
   justify-content: center;
 }

 button:hover {
  cursor: url(black-paw.svg), auto;
  box-shadow: 0 0 5px #ae00ff, 0 0 10px #0b82b9, 0 0 20px #ae00ff;
 }

.accordion {
  margin: auto;
  width: 90vw;
  background: rgb(241, 235, 176);
  overflow: hidden;
  border: 1px solid hsl(0,0%,39.2%);
}

.panel-questions {
  cursor: pointer;
  background: rgb(91, 243, 172);
  color: hsl(0,1.2%,31.8%);
  font-size: 1em;
  position: relative;
  padding: 10px 10px;
  border: 1px solid hsl(0,1%,39.6%);
}

.panel-questions::before,
.panel-questions::after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 3px;
  position: absolute;
  background: rgb(109, 108, 108);
  right: 15px;
  top: 20px;
  transform: rotate(0deg);
  transition: transform 300ms;
}
.panel-questions::after {
  transform: rotate(90deg);
}

.panel-answers p {
  margin: 20px;
  font-size: .8em;
  color: hsl(0,0%,39.2%);
  line-height: 1.5;
}

.boldedtext {
  font-weight: 600;
}

.panel-questions.active::after {
  transform: rotate(180deg);
}

.panel-answers {
  display: none;
}


.panel-questions.active + .panel-answers {
  display: block;
}

  @keyframes movingPaw {
    to {
      transform: skewX(5deg);
    }
  }

@media (min-width: 668px) {
  main {
   flex-direction: row-reverse;
  }
  .inquiry img {
    margin-left: 10vw;
  }
  .accordion {
    width: 40vw;
  }
  .inquiry-form {
    width: 50vw;
  }

}
