* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #C2B8B2;
}
/*    Styling of the header    */
.image-header {
  height: 60vh;
  max-width: 100%;
  background-image: url('img/hero-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-text {
  /*color: #6D2E46;*/
  color: #370926;
}

h1 {
  font-size: 3rem;
  
}

h1 + p {
  font-size: 1rem;
  padding-left: 1.8rem;
} 

/*      Main     */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%
}

/*     Styling of the form     */
.form-container {
  display:flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 4rem;
  background-color: #DDD0C7;
}

.form-container h3 {
  font-size: 1.5rem;
  padding-top: 2rem;
}

.form {
  padding: 1rem; 
}

label {
  font-size: 1rem;
  margin: 1.2rem;
  display: flex;
  flex-direction: column;
}

input {
  height: 5vh; 
}

.radio {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}

.radio input {
  margin: 0.5rem;
}

button {
  width: 12rem;
  border-radius: 50px;
  color:#CEBEBE;
  background-color: #6D2E46;
  padding: 1rem;
  margin: 1rem;
  text-transform: uppercase;
  box-shadow: 2px 3px 5px black;
  cursor: pointer;
}

 button:hover {
   box-shadow: none;
 }

 .accordion {
   display: flex;
   align-items: center;
   flex-direction: column;
   width: 80%;
   background-color:#DDD0C7;
   margin-bottom: 1rem;
 }

 .accordion h1{
   color: #370926;
   font-size: 3rem;
   margin-top: 1rem;
 }

 .accordion-element {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   padding: 1rem;
   width: 80%;
   gap: 0.5rem;
 }

 .question {
   width: 100%;
   color:#CEBEBE;
   background-color: #884B58;
   padding: 1rem;
   text-align: center;
   border: 3px solid #6D2E46;
 }

 .answer {
   display: none;
   width: 100%;
   padding: 1.5rem;
   background-color: #CEBEBE;
   text-align: center;
 }

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/*.active + .answer {
  /* some styling here 
} */
