
body {
  margin: 0;
  font-family: 'Rosario', sans-serif;
  background: #e6ddde;
}

h1 {
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 2rem;
}

h2 {
  color: #e6c2c6;
  font-family: 'Playfair Display', serif;
  font-size: 1.6rem;
  margin: 0 auto 20px auto;
  text-align: center;
}

/*** HERO VIDEO ***/

.video-container {
  position: relative;
}

video {
  height: 300px;
  vertical-align: middle;
  width: 100%;
  object-fit: cover;
}

.tablet-video {
  display: none;
}

.desktop-video {
  display: none;
}

.video-overlay {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay-paragraph {
  display: none;
  color: #fff;
  font-size: 1rem;
  margin: 40px;
}

.get-started {
  background: #e6c2c654;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  border: 0;
  border-radius: 30px;
  text-decoration: none;
  margin: 16px;
  padding: 5px 20px;
  display: inline-block;
  text-align: center;
  backdrop-filter: blur(15px);
}

/*** MAIN CONTAINER ***/

.main-container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 20px;
}

/*** SIGNUP FORM ***/

.sign-up {
  background-color: #fff;
  padding: 40px;
  margin-bottom: 20px;
}

input {
  /* display: block; */
  width: 97%;
  background: transparent;
  outline: none;
  border: none;
  border-bottom: 1px solid #f5e3e7;
  font-size: 1rem;
  color: #000;
  padding: 10px 0 10px 10px;
  margin-bottom: 10px;
}

input::placeholder {
  color: #e6ddde;
  font-family: 'Rosario', sans-serif;
  font-size: 0.7rem;
}

label {
  color: #666666;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column;
}

.select-containers {
  width: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
}

fieldset {
  border: 1px solid #f5e3e7;
  width: 100%;
}

legend {
  color: #666666;
  font-size: 0.8rem;
}

input[type=checkbox], input[type=radio] {
  position: relative;
  width: 1em;
  margin: 0 0 0 5px;
}

.radio-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
}

.radio-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.radio-bttn {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: #e6c2c6;
  border-radius: 50%;
}

.radio-bttn:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-container input:checked ~ .radio-bttn:after {
  display: block;
}

.radio-container .radio-bttn:after {
  top: 5px;
  left: 5px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #fff;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.checkbox-bttn {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background: #e6c2c6;
}

.checkbox-bttn:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkbox-bttn:after {
  display: block;
}

.checkbox-container .checkbox-bttn:after {
  top: 1px;
  left: 4px;
  width: 4px;
  height: 8px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  transform: rotate(40deg);
}

/* .radio-bttn p, .checkbox p {
  font-size: 0.8rem;
  margin: 0 5px 5px 5px;
} */

/* button {
  margin: 10px;
} */

button[type=submit] {
  background: #e6c2c6;
  color: #fff;
  font-family: 'Playfair Display', serif;
  font-size: 1rem;
  border: 0;
  border-radius: 30px;
  text-decoration: none;
  margin: 30px auto 0 auto;
  padding: 5px 20px;
  display: block;
  text-align: center;
}

/*** FAQ ACCORDION ***/

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.accordion {
  background-color: #fff;
  padding: 40px;
}

.question {
  margin: 0;
  padding: 10px;
  width: 97%;
  background: #e6c2c6;
  color: #fff;
}

.answer {
  margin: 0;
  padding: 10px;
  width: 97%;
  background: #f5e3e7;
  color: #666666;
  font-size: 0.8rem;
  display: none;
}

.answer a {
  color: #e6a6ad;
  text-decoration: none;
  font-weight: bold;
}

.active + .answer {
  display: block;
}

/*** MEDIA QUERIES ***/

@media (min-width: 668px) {
  video {
    height: 400px;
  }

  .mobile-video {
    display: none;
  }

  .tablet-video {
    display: inline;
  }

  .overlay-paragraph {
    display: initial;
  }

  .select-containers {
    justify-content: space-between;
  }
  
  fieldset {
    border: 1px solid #f5e3e7;
    width: 40%;
    flex-grow: 1;
  }
}

@media (min-width: 1025px) {
  video {
    height: 600px;
  }

  .tablet-video {
    display: none;
  }

  .desktop-video {
    display: inline;
  }

  .main-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-gap: 20px;
  }

  .sign-up {
    margin: 0;
  }

  .accordion {
    margin: 0 20px 0 0;
  }
}