html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin:0;
  background-color: #F9E2E8;
}

/** Hero image and content **/

.hero-image {
  width: 100vw;
  height: 100%;
  width: 100%;
  object-fit: cover;
  filter: contrast(130%) brightness(45%);
}

.hero {
  width:100vw;
  position: relative;
  background-color: rgba(248, 247, 216, 0.7);
  margin-bottom: 0;
}

.hero-content {
  position:absolute;
  left:0;
  top:200px;
  right:0;
  left:0;
  display:flex;
  height: 200px;
  align-items: center;
  color: white;
  flex-direction: column;
  font-size: 42px;  
  font-family: 'Work Sans', sans-serif;
}

.welcome-m {
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
}

.welcome-heading {
  margin: 0;
  padding-bottom:5px;
  text-align: center;
}

.welcome-text {
  margin: 0;
  padding-bottom: 60px;
  text-align: center;
  font-size: 32px;
}

.welcome-button {
  border-radius: 10px;
  padding: 16px 38px;
  font-size: 18px;
  background-color: #FFB3BA;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  transition-duration: 0.4s;
}

.welcome-button:hover {
  background-color: #bb555f;
  color: white;
}

/** Navigation section **/

.navigation-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 100px;
  border-bottom: 2px solid #7c4957;

  
}

.logo {
  font-size: 38px;
  font-family: 'Lobster', cursive;
}

.brush-icon {
  width: 60px;
  height: 50px;
  margin-left: 30px;
  animation-name: brush;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.logo-icon {
  display: flex;
  flex-direction: row;
  margin-left: 30px;
}

/** Keyframe for brush animation **/
@keyframes brush {
  from {transform:translateX(0);}
  to {transform: translateX(40px);}
}


.nav-element {
  text-decoration: none;
  padding: 10px;
  color: black;
  font-size: 18px;
  overflow: auto;
  transition: background-color .5s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
}

.nav-element:hover {
  background-color: rgb(180, 120, 170);
  border-radius: 10px;
}

.navigation {
  overflow: auto;
  width: 40%;
  display: inline-flex;
}

/** Main content **/

.main-content {
  display:grid;
  grid-template-columns: 1fr 1fr; 
  margin:30px; 
}

/** Sign up form **/

.form-container {
  background-color: #BED9D3;
  min-width: 80%;
  height: 650px;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  padding: 25px;
  box-shadow: 5px 10px #adb3b1;
  font-family: 'Work Sans', sans-serif;
}

.form {
  display:flex;
  flex-direction: column;
}

.form-header {
  margin-bottom: 25px;
  font-size: 25px;
  padding: 10px;
  background-color: #4d7069;
  color: white;
  width: 300px;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 10px;
  margin-top: 5px;
  font-family: 'Work Sans', sans-serif;
}

.input {
  width: 100%;
  border: none;
  border-bottom: 2px solid #adb3b1;
  background-color: white;
  font-family: 'Work Sans', sans-serif;
  border-radius: 7px;
  height: 30px;
}

.input-label {
  margin-bottom: 15px;
}

.input-course {
  margin-top: 15px;
}

.input-experience {
  line-height: 25px;
  display: flex;
  flex-direction: column;

}

.input-terms {
  margin: 20px 0 10px 0;
}

.input-color {
  margin-top: 10px;
}

.input:focus {
  background-color:  #d8c6e9;
}

.course {
  width: 100%;
  border: none;
  border-bottom: 2px solid #adb3b1;
  background-color: white;
  margin: 10px 0px;
  font-family: 'Work Sans', sans-serif;
  border-radius: 7px;
  height: 30px; 
}

.course:focus {
  background-color:  #d8c6e9;
}

.submit-button {
  border-radius: 10px;
  padding: 10px 18px;
  font-size: 16px;
  background-color:#BED9D3;
  font-family: 'Work Sans', sans-serif;
  font-weight: bold;
  width: 40%;
  align-self: center;
  box-shadow: 2px 4px #adb3b1;
  margin-top: 20px;
}

.submit-button:hover {
  background-color:#6c8b85;
  color: white;
}


/** Accordion **/
.questions-container {
  background-color: #d8c6e9;
  width: 80%;
  height: 650px;
  align-self: center;
  justify-self: center;
  border-radius: 10px;
  padding:25px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 10px #b3aeb8;
  font-family: 'Work Sans', sans-serif;
  cursor: pointer;
}

.faq-header {
  margin-bottom: 50px;
  font-size: 25px;
  padding: 10px;
  background-color:#7a559c;
  color: white;
  width: 400px;
  border-radius: 10px;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  font-family: 'Work Sans', sans-serif;
}

.question {
  font-weight: bold;
  padding: 15px 20px 15px 10px;
  font-size: 20px;
  border: 2px solid #7a559c;
  border-radius: 20px;
  margin-bottom: 15px;
  position: relative;
}

/** Accordion answer and "+"/"-" icons **/
/** not active **/
.accordion .question .question-plus {
  display:block;
  float: right;
  font-size: 30px; 
  position: absolute; 
  top:15%;
  right: 0;
  bottom: 0;
  margin-right: 5%;
  
 }

.accordion .question .question-minus {
  display:none;
}


.answer {
  overflow: hidden;
  height: 0;
  transition: 0.5s ease-in-out;
}

/** active **/
.accordion .question.active .question-plus {
  display:none; 
}

.accordion .question.active .question-minus {
  display:block;
  float: right;
  font-size: 30px; 
  position: absolute; 
  top:15%;
  right: 0;
  bottom: 0;
  margin-right: 5%;
}

.active + .answer{
  height: 80px;
  padding-bottom: 10px;
  background-color: #f4edfa;
  padding: 0 8px;
  border-radius: 10px;
  margin-bottom: 10px;
  display:flex;
  align-items: center;
}


/** Footer **/
.footer {
  padding: 20px 0 15px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
  background-color: #7c4957;
  color: white;
  font-family: 'Work Sans', sans-serif; 
}

/** Media queries **/

@media (max-width: 1023px){
.hero-content{
  top:150px;
  font-size: 26px;  
}

.welcome-text{
  font-size: 19px;
}

.welcome-button{
  padding: 12px 28px;
  font-size: 17px;
}

.navigation-container{
  padding: 10px 50px 10px 0;
  margin-bottom: 60px;
  margin-right: 15px;
}

.logo{
  font-size: 28px;
  padding-left: 55px;
  width: 260px;
}

.brush-icon {
  width: 50px;
  height: 40px;
}

.nav-element{
  padding: 8px;
  font-size: 16px;
}

.navigation{
  width: 50%;
}

.form-container{
  min-width: 360px;
  margin-left: 20px;
  height: 650px;
  padding: 15px;
}


.form-header{
  font-size: 25px;
  width: 280px;
}

.submit-button{
  margin-top: 10px;
  width: 50%;

}

.questions-container{
  min-width: 360px;
}

.faq-header{
  margin-bottom: 40px;
  width: 350px;
  text-align: center;
}

}

@media (max-width: 668px){

  
  .hero-content{
    top:100px;
    font-size: 23px;  
  }
  
  .welcome-text{
    font-size: 18px;
  }
  
  .welcome-button{
    padding: 10px 24px;
    font-size: 15px;
  }
  .main-content{
    display:grid;
    grid-template-columns: 1fr; 
  }

 
.nav-element{
   display:none;
}
  
  .form-container{
    margin-bottom: 50px;
    margin-left: 0;
    width: 90%;
  }

  .questions-container{
    width: 90%;
  }

 }