

/* first header as flexcontainer, tried using vh to get the font size to adapt to screen */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: whitesmoke;
  font-size: 4vh;
  font-weight: bold;
}

.menu {
  font-size: 7vh;
}

/* hero section */
.hero {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
  padding: 2em;
  box-sizing: border-box;
  color: whitesmoke;
  background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/44ed8b50022933.58c566bd36679.gif) center center no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 667px) { .hero { background: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/44ed8b50022933.58c566bd36679.gif) center center no-repeat; background-size: cover; } }


.hero-title {
  max-width: 16em;
  margin: 0;
  font-size: 10vh;
  font-weight: bold;
  font-family: 'Fraunces', serif;
}

@media only screen and (min-width: 667px) { .hero-title { font-size: 14vh; } }	

.hero-footer {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.hero-form {
  text-align-last: center;
  padding-top: 20px;
  padding-bottom: 20px;
  border: 2px inset whitesmoke;
  border-radius: 2px;
}

.hero-labels {
  padding: 5px;
  color: whitesmoke;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  font-family: 'Fraunces', serif;
}

input {
  margin-top: 3px;
  margin-bottom: 3px;

}

.submit-button {
	color: #444;
  text-decoration: none;
  margin: 3px;
}


/* accordion style and functionality*/

.accordion {
  font-family: 'Fraunces', serif;
}

.accordion-header {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  }

  .accordion-description {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .accordion-header {
    background-color: #ccc;
    cursor: context-menu;
  }

/* class added with javaScript*/

.selected {
  display: block;
}