

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

header {
  max-height: 350px;
}

.hero-parent {
  width: 100%;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 50px; */
  /* text-align: center; */
  background-image:url('./images/llama.jpg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  
}

.hero-parent img {
  width: auto;
  
}
h1 {
  font-size: 4em;
  color: #FFFCFC;
  margin-bottom: 0;
  margin-top: 150px;
}

h2 {
  color: #FFFCFC;
  margin-top: 0;
}


.boxes {
  display: flex;
  align-items: center;
  background-color: rgba(198, 193, 193, 0.8);;
  /* border-radius: 8px; */
    /* make it centered with the auto, but width is needed */
  /* margin: 30px auto;*/
  margin: 50px;
  padding: 40px;
  /*width: 80%; */
}

label {
  display: block;
  margin: 20px 0 0;
  color: #262223;
}

.checkbox {
  display:flex;
  align-items: flex-end;
  font-size:smaller;
  margin-bottom: 15px;
}

::placeholder {
  opacity: 0.4;
}

button {
  /* box-shadow: 1px 2px; */
  color: #262223;
  border: 0,5px solid black;
  padding: 10px 15px;
  text-transform: uppercase;
  transition-duration: 0.4s;
}

button:hover {
  cursor: pointer;
  background-color: #FFFCFC
}

/* Display the accordion when its not active */
.active + .description {
  display: block;
}

/* Hiding the accordion when its not active */
.description {
  display: none;
}

/* Selects every <p> element that is the first child of its parent */
p:nth-child(1) {
  background-color: #FFFCFC;
} 
/* Selects all divs inside menu-class */
/* div.menu {

} */

/* Adding styling for tablets*/
@media (min-width: 668px) and (max-width: 1024px) {
}

/* .hero-parent {
  width: 100vW;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding-top: 50px; */
  /* text-align: center; */
  /* background-image:url('./images/llama.jpg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed; */ 
/* header {
  display: none;
}
.hero-parent {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url('./images/llama-tablet.jpg');
  /* background-size: cover; */
  /* background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
} */ 


/* Adding styling for desktop */
@media (min-width: 1025px){
}
