/* ––– Global styles ––– */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Avenir', 'Helvetica', sans-serif;
}

body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3 {
  margin-top: 0;
  line-height: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

a {
  color: #000;
  text-decoration: none;
  font-weight: 600;
}

.button {
  display: inline-block;
  margin-top: 2rem;
  padding: .6rem 1.4rem;
  background-color: wheat;
}


/* ––– Header + Nav ––– */

header {
  position: absolute;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
}

header>* {
  flex: 0 1 auto;
}

.logo {
  width: 60px;
}

nav a {
  margin-left: 1rem;
  color: #fff;
}


/* ––– Hero ––– */

.hero {
  position: relative;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1419833173245-f59e1b93f9ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80);
  background-size: cover;
  background-position: 50% 50%;
}

.hero video {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.hero-container {
  position: absolute;
  z-index: 10;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  flex: 0 1 auto;
  max-width: 40rem;
  margin: 3rem;
  color: wheat;
}

.hero-content h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.hero::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
}


/* ––– Sections ––– */

.faq,
.signup {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-container {
  flex: 1 1 auto;
  max-width: 50rem;
  margin: 3rem;
}

.section-container h1 {
  text-align: center;
}


/* ––– FAQ ––– */

.question {
  position: relative;
  padding: 1.5rem 2rem 1.5rem 0;
  font-weight: 700;
  cursor: pointer;
}

.question::after {
  position: absolute;
  top: 35%;
  right: 10px;
  content: url(img/plus.svg);
  width: 14px;
}

.question:not(:first-of-type) {
  border-top: 1px solid #e2e2e2;
}

.answer {
  display: none;
  margin-bottom: .5rem;
}

.active+.answer {
  display: inline-block;
}

.active.question::after {
  content: url(img/minus.svg);
}


/* ––– Form ––– */

.signup {
  background-color: wheat;
}

.two-col {
  display: flex;
  flex-direction: column;
  margin: auto;
}

.col {
  flex: 0 1 45%;
}

.signup-form>* {
  font-size: .9rem;
  ;
}

.signup-form input[type=text],
.signup-form input[type=submit],
.signup-form input[type=password] {
  display: block;
  width: 100%;
  height: 40px;
  padding: 0 1rem;
  margin: 1rem 0;
  border: none;
}

.signup-form input[type=submit] {
  margin-top: 2rem;
  padding: .6rem 1.4rem;
  background-color: #000;
  color: #fff;
  font-weight: 600;
}

.checkbox-container:first-of-type {
  margin-top: 2rem;
}

/* Customize the label (the container) */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  display: none;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #000;
}

.checkbox-container:hover input~.checkmark {
  background-color: #000;
}

.checkbox-container input:checked~.checkmark {
  background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid wheat;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}


/* ––– Footer ––– */

footer {
  padding: 2rem 3rem;
  background-color: #000;
  color: #fff;
  font-size: .8rem;
}


/* ––– Media queries ––– */
/* ––– Tablet styles ––– */

@media screen and (min-width: 668px) {

  .hero-content,
  .section-container {
    margin: 4rem;
  }

  .signup-form input[type=submit] {
    width: auto;
  }
}

/* ––– Desktop styles ––– */

@media screen and (min-width: 1024px) {
  .hero {
    background: none;
  }

  .hero video {
    display: inline;
  }

  .two-col {
    flex-direction: row;
    justify-content: space-between;
  }
}