@font-face {
  font-family: 'Circular Bold';
  src: url(./assets/circularstd-bold.otf)
}

body {
  background-color: #fafafa;
  margin: 0;
  font-family: 'Circular Bold';
}

.hero {
  position: relative;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

.topbar {
  width: 95vw;
  position: absolute;
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.logo {
  width: 150px;
}

.navigation {
}

.menu {
  text-decoration: none;
  color: white;
  margin-left: 10px;
  font-size: 13px;
}

.hero-img {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
}

.hero-title {
  font-size: 55px;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  margin: auto;
  justify-content: space-around;
}

.form-container {
  width: 40%;
}

label {
  display: block;
  margin-bottom: 10px;
}

.accordion-container {
  width: 30%;
}

.accordion {
  border: 1px solid grey;
  border-radius: 7px;
  margin-bottom: 10px;
}

.question {
  margin: 0;
  padding: 10px;
  font-size: 16px;
}

.answer {
  margin: 0;
  padding: 10px;
  display: none;
  border-top: 1px dotted grey;
  font-size: 14px;
}

.active {
  display: block;
}

.footer {
  background-color: black;
  color: white;
  height: 200px;
  margin-top: 50px;
}


/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}
