/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

body {
margin: 0px
}

/*HERO VIDEO SECTION*/

.hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }

.hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  object-fit: cover;
  z-index: 1;
  filter: opacity(50%);
}

.welcome {
  color: rgb(186, 186, 228);
  font-family: fantasy;
  z-index: 2;
  position: relative;
  text-align: center;
}

.welcome-title {
  font-family: "Caveat", cursive;
  font-weight: 500;
  font-size: 30px;
}

.welcome-sub {
  font-family: "Dosis", sans-serif;
}

/* SIGN UP SECTION */
.signup {

}

.h2 {

}

.birth-month {

}

.option {

}

section {

  /* border: 3px solid black;
  margin: 10px; */

}

div {
  /* border: 2px solid blue;
  margin: 10px; */
}

.active + .answer {
  /* some styling here */
}

/* MEDIA QUERIES TABLET */
@media (min-width: 768px) {
  .welcome-title {
    font-size: 100px;
  }
  .welcome-sub {
    font-size: 50px;
  }
}

/* MEDIA QUERIES DESKTOP */

