/* Style for project 3: business site */

body, html {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  margin: 0;
  font-size: 14px;
}

h1, h2 {
  font-family: 'flood-std', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

/* Hero banner with video */
#hero {
  height: 80%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#hero video {
  width: 100%;
  height: 80%;
  position: absolute;
  top:0;
  left: 0;
  z-index: 5;
  object-fit: cover;
}

#hero .caption {
  position: relative;
  z-index: 20;
  color: #ffffff;
  text-align: center;
}

#hero::after {
  width: 100%;
  height: 80%;
  content:'';
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
}

/* Style for page content */
.page-content {
  text-align: center;
  margin-top: 50px;
}

.photo {
  text-align: center;
  padding: 10px;
  width: 300px;
}

/* Style for the accordion */
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: #ffffff;
  color: #111111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.25);  
}

.accordion-item-header {
  background: #ff9747;
  color: #ffffff;
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid #111111;
  border-image: linear-gradient(to right, transparent, #ee716e, transparent) 1;
}

/* Style for the form  */
input[type=text], select, textarea {
  width: 80%;
  padding: 12px;
  border: 1px solid #cecece;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  text-decoration: none;
  font-weight: bold;
  letter-spacing: 1px;
  background: #ffb260;
  color: #353535;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 5px 3px 0 #ae8e5b;
  cursor: pointer;
}

input[type=submit]:hover {
  transform: translateY(5px);
  box-shadow: none;
}

.container {
  border-radius: 5px;
  background-color: #ffdda1;
  color: #353535;
  padding: 20px;
  margin: 30px;
  width: 80%;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style for the footer */
footer {
  clear: both;
  position: relative;
  height: 200px;
  width: 100%;
  margin-top: 100px;
  text-align: center;
  background-color: #ff9747;
  color: #ffffff;
}

.footer-text {
  font-size: 12px;
  padding: 1rem;
  margin: 1rem;
}

/* Social media icons in footer */
.fa {
  text-decoration: none;
  width: 20px;  }
     
  .fa:hover {
  opacity: 0.7;
  text-decoration: none;
  transition: all .3s;
  color: #ffd900;
  }
     
  .fa-facebook {
  background: #ff9747;
  color: #ffffff;
  }
     
  .fa-instagram {
  background: #ff9747;
  color: #ffffff;
  }


/* Media queries - Responsive design */

/* Smartphones/mobile */
@media screen and (min-width:768px) {
  
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.75rem;
  }

}

/* Tablet */
@media screen and (min-width:992px) {
  
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2rem;
  }

}

/* Desktop */
@media screen and (min-width:1200px) {
  
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2.5rem;
  }
}

/* Responsive layout - contact form */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}