* {
  margin: 0px;
}
body {
  background-color: rgb(255, 157, 37);
 
}
header {
height: 70vh;
background-size: cover;
margin-bottom: 20px;
}

video {
min-width: 100vw;
max-height: 70vh;
object-fit: cover;
}

h1 {
  font-size: 80px;
  text-shadow: 2px rgb(117, 117, 117);
  font-style: oblique;
}

.overload {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

h4 {
  padding-bottom: 10px;
}
.container {
  display:flex;
  align-items:center;
  justify-content:space-around;
  background-image: url(https://images.pexels.com/photos/2824173/pexels-photo-2824173.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-size: cover;
  padding-bottom: 30px;
}

.sign-up-form {
  background-color: #4bb9dd;
  font-family: 'source sans pro', sans-serif;
  font-size: 20px;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 20px;
  margin-right: 10px;
  width: 350px;
  height: 350px;
  margin-top: 40px;
  box-shadow: 1px 1px 2px black, 0 0 25px;
}

input {
  font-size: 17px;
}

input:valid {
  border: 3px solid rgb(4, 202, 4);
  border-radius: 4px;
  background-color: whitesmoke;
  }
  
input:invalid {
      border: 4px solid rgb(223, 151, 57);
      border-radius: 4px;
      background-color: whitesmoke;
  }
  
label {
      display: block;
      margin-top: 10px;
      font-family: 'source sans pro', sans-serif;
  }

  .bone{
      margin: 20px;
      position: relative;
      width: 150px;
      height: 60px;
      cursor: pointer;
      background: transparent;
      border: none;
    }
    .c1, .c2, .c3, .c4{
      background:#fff;
      height: 30px;
      width: 30px;
      border: 1px solid #000;
      border-radius: 50%;
      position:absolute;
    }
    .c1{
      left: 0;
      top: 0;
    }
    .c2{
      right: 0;
      top: 0;
    }
    .c3{
      left: 0;
      bottom: 0;
    }
    .c4{
      bottom: 0;
      right: 0;
    }
    .b1 {
      background:#fff;
      height: 30px;
      width: 120px;
      position:absolute;  
      left: 15px;
      top: 15px;
    }
    .b2 {
      position: absolute;
      left: 15px;
      top: 0;
      width: 90px;
      height: 30px;
      line-height: 30px;
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      text-align: center;
    }
  
.faqbox {
      background-color: #4bb9dd;
      width:350px;
      height:370px;
      margin-top:40px;
      padding-left: 20px;
      padding-top: 30px;
      box-shadow: 1px 1px 2px black, 0 0 25px;
      font-size: 20px;
      margin-left: 10px;
  }

.accordion {
  background-color: rgb(208, 224, 230);
  font-family: 'source sans pro', sans-serif;
  font-size: 20px;
  color: black;
  padding: 18px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  width:300px;
  height:70px;
  display:block;
}

.active, .accordion:hover {
  background-color: rgb(239, 245, 247);
  
}

.panel {
  padding: 0 18px;
  background-color: white;
  font-style: oblique;
  display: none;
  overflow: hidden;
  width: 280px;
  height: fit-content;
  font-family: 'source sans pro', sans-serif;
  padding-right: 2px;
}

@media only screen and (max-width:920px){
  .container {
      display:flex;  
      flex-wrap: wrap;
    align-content: center;
      }
}