/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* .active + .info {
}
  /* some styling here */



/* .info {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}   */


body {
  margin: 0;
}

/*** HERO IMAGE ***/

.hero {
  position: relative;
}
.hero-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  top:40%;
  left:10%;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content:left;
  align-items: center;
}

h1 {
  color: rgb(183, 216, 216);
  font-size: 40px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.p-header {
  position: absolute;
  top: 60%;
  left:10%;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  color: rgb(183, 216, 216);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 50%;
}

.big-container {
  display: flex;
  width: 100%;
  border: solid 1px yellow;
}

/*** ACCORDION ***/

/* .accordion-container {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}  */

.accordion {
  display: flex;
  flex-direction: column;
  width: 400px;
  border: solid greenyellow; 
  margin: auto;
  margin-top: 60px;
}

.info-content {
  display: none;
  background-color: aquamarine;
  padding: 18px;
  margin: 0;
  border: solid 0.5px black;
  }

.info-selected {
  display: block;
}

.acc-button + div {
  color:red;
}


.acc-button {
  background-color: gray;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: solid 0.5px black;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.8s;
} 

/*** FORM ***/

.form-container { 
  width: 400px;
  border: 1px solid blue;
  border-radius: 20px;
  background-color: beige;
  padding: 20px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.colum25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.colum75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.row:after {
  content: "";
  display: table; 
  clear: both;
}
input [type=text], select {
  border: 1px solid black;
  resize: vertical;
  width: 50%;
  height: 30px;
} 

.text-field {
  width: 70%;
  height: 25px;
}



.btn {
  background-color: blueviolet;
  color: aqua;
  padding: 12px 20px;
  border: none;
}  


label {
  width: 80%;
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*** MEDIA TABLET ***/

@media (min-width:768px){
  .form-container {
    width: 600px;
  }

  .accordion {
    width: 500px;
  }
  .colum25 {
    width: 45%;
  }

  .colum75 {
    width: 65%;
  }
  
}

/*** MEDIA DESKTOP ***/

@media (min-with:1100px) {
  .form-container {
    width: 40%;
  }

  .accordion {
    width: 40%;
  }

  .big-container {
    flex-direction: row;
  }

  
}