/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* MY CSS STARTS HERE */
body {
  font-family: "Roboto", sans-serif;
  background:white;
}
header {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.13)), url(images/hero3.jpg);
  background-size: cover;
  background-position: center;
  height: 80vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-content: center;
  align-items: center;
  color: white;
}

hr {
  width: calc(100% - 20px);
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 1200px;
}

.logo {
  max-width: 80%;
  top: 5px;
  order: 2;
  margin-top: 20px;
}

.desktop {
  display: none;
}

.desktop a {
  border-top:2px solid #FF925C;
}

.desktop a:hover {
  border-top: 2px solid white;
  cursor: pointer;
}

.mobile i {
  position: absolute;
  display: block;
  right: 20px;
  top: 15px;
  font-size:25px;
}

.mobile {
  height: 45px;
  margin-top: 0px;
  height: 50px;
}

header nav {
  display: flex;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  order: 1;
  position: relative;
  background: #353535;
  margin-top: 10px;
}

header nav a {
  color: white;
  text-decoration: none;
  width: 33.333%;
  padding: 5px 10px;
  text-align: center;
}

header div {
  order: 3;
  margin-top: 50px;
  padding:20px;
}

header div h2 {
  font-size: 20px;
  font-weight: 500;
}

header div button {
  border: 3px solid white;
  background: none;
  color: white;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 16px;
  margin-top: 20px;
}

header div button:hover {
  background: white;
  color: black;
  cursor: pointer;
  transition: 0.5s;
}

.gallery {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.gallery div {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 20px 0px;
}

.gallery h2 {
  color: #EB6424;
  font-size: 24px;
  margin: 20px 0px 0px 0px;
}

.gallery img {
  width: calc(50% - 5px);
}

.signup__form {
  width: 100%;
}

.signup__form img {
  width: 100%;
}

form {
  background: #FFF2EB;
  color: #FA9500;
  position: relative;
  padding: 20px;
}

form h2 {
  margin: 0px 0px 10px 0px;
}

label,
input {
  margin-bottom: 5px;
  background: none;
  color: #F1956A;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border: none;
}

input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  background: none;
  border-bottom: 1px #FFE4D6 solid;
}

input[type="radio"] {
  cursor: pointer;
}


input {
  border: none;
  background: white;
}

textarea {
  font-family: "Roboto", sans-serif;
    width: 100%;
    height: 150px;
    padding: 12px 10px;
    box-sizing: border-box;
    border: 1px solid #FFE4D6;
    border-radius: 4px;
    background-color: transparent;
    resize: none;
}

form button {
  background: none;
  border: 2px solid #F1956A;
  border-radius: 20px;
  padding: 10px 25px;
  color: #F1956A;
  right: 40px;
  margin-top: 10px;
  bottom: 40px;
}

form button:hover {
  background: #F1956A;
  transition: 0.5s;
  color: white;
  cursor: pointer;
}

.accordion {
  width:100%;
  cursor:pointer;
  padding-bottom:20px;
}

.accordion h2 {
  background:#747642;
  color:white;
  padding:10px 20px;
  display:block;
}

.answer {
  padding: 10px 18px;
  background-color:#F0F0E5;
  display:none;
}

.active {
  display:block;
}

.question {
  padding:10px 20px;
  background:#CACCA4;
  color:white;
  display:flex;
  position:relative;
}

.question i {
  position:absolute;
  margin:5px 10px;
  right:10px;
}

.question:hover {
  background:#BABD89;
  transition: 0.5s ease-in-out;
}

.active + .answer {
  display:block;
  height:auto;
  transition:height 1s ease-out;
}

footer {
  background:#4D4E2C;
  color:white;
  padding:40px;
  display:flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}

footer i {
  margin:5px 10px;
  color:white;
  font-size: 28px !important;
}

footer i:hover {
  color:#F3A27C;
  cursor:pointer;
  transition: ease-in-out .2s;
}
@media only screen and (min-width: 599px) {
  .gallery div img {
    transition: transform 0.5s;
  }

  .gallery div img:hover {
    transform: scale(1.02);
    box-shadow: 1px 1px 10px #4f4f4f;
    cursor: pointer;
  }

  .gallery,
  .signup__form,
  .accordion {
    max-width: 1200px;
    margin: 0 auto;
  }

  header div h2 {
    font-size: 60px;
  }

  header div {
    margin-top:50px;
    padding: 40px 80px;
  }

  .gallery img {
    width: calc(25% - 15px);
  }

  .gallery div {
    gap: 20px;
  }

  .gallery h2 {
    font-size: 42px;
  }

  .desktop {
    display: flex;
  }

  .mobile {
    display: none !important;
  }

  .logo {
    order: 1;
    max-width:500px;
    margin-top:40px;
  }

  header nav {
    order: 2;
    background: none;
    font-size: 18px;
  }
}

@media only screen and (min-width: 769px) {
  header {
    min-height: 50vh;
  }

  header div {
    margin-top:150px;
  }

  .signup__form {
    display: flex;
  }

  .signup__form img {
    width: 60%;
  }
  .signup__form form {
    width: 40%;
  }

  form {padding:50px;}
}
