/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

body, html {
  height: 100%;
  margin: 0;
}

header {
  height: 80%;
display:flex;
align-items:center;
justify-content: center;
text-align: center;
background-image:
url("https://images.unsplash.com/photo-1543459176-4426b37223ba?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80");
background-size:cover;
background-repeat: no-repeat;
background-position: center;
position: relative;
}

h1 {
  color: whitesmoke;
}

h2 {
  color: whitesmoke;
}


 /* header .HeroVid1 {
  width:100%;
      height:100%;
      position:relative
      /* top:0;
      left:0; */
      /* z-index:5; */
      object-fit:cover;
      font-family:'object-fit: cover';
}

.caption {
  text-align:center;
  color:#ffffff;
}

.caption h1 {

  text-transform: uppercase;
  font-size:2em;
  font-family: 'Oswald', sans-serif;
  margin-bottom:0.5rem;
}

.caption h2 {
  font-weight:400;
  font-size:1.5rem;
  margin:0;
  font-family: 'PT Sans', sans-serif;
} 

input {
  width: 100%;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block; 
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: darkgreen;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.form{
  /* border-radius: 5px;
  background-color: peru;
  padding: 20px; */
  border: solid black;
  border-radius: 25px;
  height: auto;
  width: 200px;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  padding: 30px;
  margin: 20px;
}

.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}