
/*styling of the whole page */
html {
  margin:0;
}

body {
  background-color: black;
}

h1 {
  color: black;
  font-size: 36px;
  font-family: 'New Rocker', cursive;
}

h2 {
  font-size: 28px;
  font-family: 'New Rocker', cursive;
}

h3 {
font-size: 24px;
font-family: 'New Rocker', cursive;
}

p {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: whitesmoke;
  text-align: center;
  padding: 5px;
}

.lead-paragraph {
  border: whitesmoke 5px;
  border-style: dotted;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lead-paragraph:hover {
  border:#f2a4c7 8px;
  border-style: dotted;
}

.gif-container{
  display: flex;
}

.gif img {
  width: 300px;
  height: auto;
  box-shadow: 10px 10px 10px grey;
  margin-top: 10px;
}

/*styling of the header */
.video-container {
  position: relative;
  margin: -10px;
}

video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.overlay-header {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.h1-header {
  font-size: 42px;
  color: whitesmoke;
  text-align: center;
}

.h2-header {
  font-size: 36px;
  color: whitesmoke;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
}

/*styling of the form */

form {
  width: fit-content;
  height: auto;
  background-color: #327779;
  border: black 2px;
  box-shadow: 10px 10px 10px grey;
  padding: 20px;
  margin-bottom: 30px;
}

input {
  font-size: 18px;
  font-family:'Roboto', sans-serif;
  display: block;
  border: none;
  margin-top: 2px;
}

label {
  display: block;
  font-size: 20px;
  font-family: 'New Rocker', cursive;
  margin-bottom: 20px;
}

button {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 18px;
  font-family:'Roboto', sans-serif;
}

select {
  display: block;
  font-size: 18px;
  font-family:'Roboto', sans-serif;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.terms input {
  display: inline-flex;
}

/*styling of the accordion */

.accordion-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.accordion {
  background-color: #327779;
  color: #0000;
  cursor: pointer;
  padding: 15px;
  margin: auto;
  margin-bottom: 30px;
  box-shadow: 10px 10px 10px grey;
  width: fit-content;
  text-align: left;
  border: none;
  outline: none;
}

.question {
  display: block;
  background-color: #f2a4c7;
  height: 40px;
  padding: 10px;
  color: black;
  font-family:'New Rocker';
  font-size: 24px;
  transition: 0.4s;
}

.question:hover {
  background-color: #b2ffe6;
}

.answer {
  padding: 0 18px;
  background-color: #b2ffe6;
  color: black;
  display: none;
  overflow: hidden;
  transition: 0.4s;
}

.active + .answer {
  display: block;
}

.answer p {
  color: black;
  text-align: left;
  margin-top: 0;
}

.teacher {
  width: 300px;
  height: auto;
  margin-bottom: 10px;
}

/*styling of the footer */

footer {
display: flex;
flex-direction: column;
align-items: center;
color: black;
}

.footer-form {
  width: 300px;
  height: auto;
  background-color: #b2ffe6;
  border: black 2px;
  padding: 20px;
  text-align: center; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.button-footer {
  width:100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

/*media queries*/

@media screen and (min-width: 668px) {
  .video-mobile {
    display: none;
  }

  .video-desktop {
    display: none;
  }
}

@media screen and (min-width:1024px) { 
  .signup-info {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin-left: 20px;
  }


  .video-mobile {
    display: none;
  }

  .video-tablet{
    display: none;
  }
}




