@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-width: 350px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(156, 212, 214);
}

/* -------HEADER CONTENT-------- */

.header {
  height: 100vh;
  width: 100%;
}

.header__title {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.25);
  min-width: 350px;
}

h1 {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 100;
  color: rgb(255, 255, 255);
  margin-bottom: 3%;
  font-size: 6vw;
}

.header__title__arrow {
  color: white;
  margin-bottom: 3%;
  font-size: 2vw;
}

.header__video {
  height: 100vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.header__video--mobile {
  display: flex;
}

.header__video--ipad {
  display: none;
}

.header__video--desktop {
  display: none;
}

.navbar {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
  padding: 0 3%;
  column-gap: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar__logotype {
  height: 30px;
  width: 200px;
}

.navbar__item {
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 10px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.navbar__item:hover {
  color: rgb(255, 147, 6);
  transition: color 1s ease-in;
  border-bottom: 1px solid rgb(255, 147, 6);
}

.navbar__item a:active {
  transition: all 1s ease-in;
  color: rgb(255, 147, 6);
  border-bottom: 1px solid rgb(255, 147, 6);
}

.form-accordion-contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.hidden-anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

/*------------- FORM CONTAINER ---------------- */

.form {
  padding: 30px 0;
  display: grid;
  max-width: 1200px;
  margin: auto;
}

.form__content {
  padding: 0 10%;
}

h2 {
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}

.form__content__layout {
  display: grid;
  row-gap: 10px;
}

.form__content__layout__row {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form__content__layout__row__input-text {
  padding: 5px 5px 5px;
  -webkit-appearance: none;
  background-color: rgb(255, 254, 253, 0);
  border: 0;
  border-bottom: 1px solid gray;
  font-size: 16px;
  background-color: white;
}

.form__content__layout__row__input-text:focus,
.form__content__layout__row__room-selector:focus,
.form__content__layout__row__date-picker:focus {
  outline: none;
  border: 1px solid rgb(255, 147, 6);
  transition: all 1s ease-in;
}

input:focus::placeholder {
  color: white;
  transition: all 1s ease-in;
}

.form__content__layout__row__room-selector {
  font-size: 15px;
  padding: 5px 5px 5px;
  outline: none;
}

.form__content__layout__row__date-picker {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  outline: none;
  padding: 5px 5px 5px;
}

.form__content__layout__row--radio-btns {
  display: grid;
  grid-template-columns: 1fr auto;
}

.form__content__layout__row__radio-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 10px;
  row-gap: 4px;
}

input[type="radio"] {
  -webkit-appearance: none;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid black;
  margin: auto;
  box-shadow: 1px 1px black;
}

input[type="radio"]:checked {
  background-color: black;
  box-shadow: none;
  transition: all 0.5s ease-in;
}

.form__content__layout__user-agreement {
  margin: 20px 0;
  text-align: center;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: block;
  width: 1em;
  height: 1em;
  border: 0.1em solid black;
  margin: auto;
  box-shadow: 1px 1px black;
  margin-top: 10px;
}

input[type="checkbox"]:checked {
  box-shadow: none;
  background-color: black;
  transition: all 0.5s ease-in;
}

.form__content__layout__btn {
  background-color: rgb(0, 0, 0, 0);
  border: rgb(0, 0, 0) solid 0.5px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 10% 50px 10%;
  width: 200px;
  border-radius: 40px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 2px 2px black;
}

.form__content__layout__btn:hovger {
  cursor: grab;
  transition: all 1s ease-in;
  box-shadow: none;
}

.form__posters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form__posters img {
  width: 80%;
  margin-top: 40px;
}

/* ------------- Flex containers----------------  */

.container__accordion-contact {
  display: flex;
}

.content__accordion-contact {
  display: flex;
  flex-direction: column;
}

/* ------------- ACCORDION----------------  */

.accordion {
  background-color: rgb(211, 209, 209);
  padding: 30px 10% 50px 10%;
}

.accordion__question {
  display: grid;
  background-color: rgb(156, 212, 214);
  font-weight: 500;
  padding: 10px;
  border: 0.5px solid black;
  grid-template-columns: 1fr auto;
}

.accordion__answer {
  background-color: rgb(228, 228, 228);
  max-height: 0px;
  border-right: 0.5px solid black;
  border-left: 0.5px solid black;
  overflow: hidden;
}

.active + .accordion__answer {
  max-height: 170px;
  transition: height 400ms ease;
  padding: 10px;
}

.accordion__question__arrow {
  color: black;
}

.accordion__answer--last {
  border-bottom: 0.5px solid black;
}

/*------------- CONTACT ----------------  */

.contact {
  background-color: rgb(156, 212, 214);
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 10px;
  padding: 30px 10% 50px 10%;
}

.contact__text--bold {
  font-weight: 500;
  margin-bottom: 10px;
}

.contact__information {
  display: grid;
  grid-template-columns: 30px 1fr;
}

.contact__information a {
  text-decoration: none;
  color: black;
}

.contact__information a:hover {
  color: rgb(255, 147, 6);
}

.contact__map {
  padding-top: 10px;
}

/*------------- IPAD ADJUSTEMENTS ----------------  */

@media only screen and (min-width: 668px) and (max-width: 1024px) {
  html {
    width: 100%;
  }

  .header__video--mobile {
    display: none;
  }

  .header__video--ipad {
    display: flex;
  }

  .form__content {
    padding: 10px 40px 50px 40px;
  }

  .form__posters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
  }

  .form__posters img {
    width: 30%;
    margin-top: 0;
  }

  .accordion {
    padding: 10px 20px 50px 40px;
  }

  .accordion-contact-content {
    flex-direction: row;
  }

  .contact {
    background-color: rgb(211, 209, 209);
    display: flex;
    flex-direction: column;
    padding: 10px 40px 50px 20px;
    row-gap: 0px;
  }

  .contact__information {
    padding-bottom: 10px;
  }
}

/*------------- DESKTOP ADJUSTMENTS ----------------  */

@media only screen and (min-width: 1025px) {
  .header__video--mobile {
    display: none;
  }

  .header__video--desktop {
    display: flex;
  }

  .form {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 60px 40px;
    justify-content: center;
  }

  .form__content {
    flex: 50%;
    padding: 0;
    margin: 0 40px 0 0;
  }

  .form__posters {
    flex: 50%;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 40px;
  }

  .form__posters img {
    width: 33%;
    margin-top: 0;
  }

  .container__form-accordion-contact {
    background-color: rgb(156, 212, 214);
  }

  .container__accordion-contact {
    width: 100%;
    background-color: rgb(211, 209, 209);
    padding: 60px 40px;
  }

  .content__accordion-contact {
    max-width: 1200px;
    flex-direction: row;
    margin: auto;
  }

  .accordion {
    flex: 50%;
    padding: 0 40px 0 0;
  }

  .contact {
    flex: 50%;
    background-color: rgb(211, 209, 209);
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    padding: 0 0 0 40px;
  }

  .contact__information {
    padding-bottom: 10px;
  }

  .contact__map {
    height: 300px;
  }
}
