/* GLOBAL STYLES */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #297F55;
  z-index: 1;


}


/* HEADER & NAVIGATION */

.logo-image {
  height: 50px;
  width: auto;
  margin-left: 3px;
}

.head-container {
  max-width: 375px;
  height: 667px;
  position: relative;
  top: 0;
  left: 0;
  background-image: url(./images/Buddha_img\(small\).jpg);
  background-size: contain;
  background-repeat: no-repeat;
  background-color:  #297F55;


  border: 3px solid #297F55;
  
}

.head-container h1 {
  color: yellow;
  max-width: 375px;
  font-size: 80px;
}



/* FORM */

.form-section {
  height: 667px;
  max-width: 375px;
  background-image: url(./images/Buddha_img\(small\).jpg);
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  align-items: flex-end;
  text-align: justify;


}


.subscription-form {
  max-width: 375px;
  height: 530px;
  border-radius: 20px 20px 0 0;
  box-sizing: border-box;
  padding: 20px;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  background-color: whitesmoke;


  border: 1px solid #297F55;
}


.form-label {
  display: block;
  position: relative;
  height: 80px;
  width: 100%;
}

.text-input {
  border-radius: 12px;
  border: 1px #297F55 solid;
  font-size: 18px;
  height: 50px;
  padding: 4px 20px 0;
  width: 100%;
}

.experience-fieldset {
  border: none;
  padding-left: 0;
}

.experience-fieldset legend {
  padding: 0;
}



.send-button {
  background-color: #297F55;
  color: whitesmoke;
  display: block;
  border-radius: 12px;
  border: 0;
  cursor: pointer;
  font-size: 18px;
  height: 35px;
  width: 30%;
  margin: 0 auto;

}



/* Accordion */

.accordion {
  max-width: 375px;
  height: 667px;


  border: 3px solid blue;
}

.question {
  margin: 0;
  padding: 5px;
  background-color: grey;


  border: 1px solid green;
}

.question::after {
  content: '+';
  font-size: 30px;
  font-weight: bold;
  float: right;
}

.answer {
  margin: 0;
  background-color: lightgray;
  display: none;



/*   border: 1px solid blueviolet; */
}


/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  display: block;
}

/* **********MEDIA QUERIES********** */


@media (max-width: 255px) {                 /* This is for making the h1 responsive. I am using a very big font-size and hence it was not breaking the word. */
  .head-container h1 {
    word-break: break-all;
  }
}
  