 body {
   margin: 0;
   font-family: 'Source Sans Pro', sans-serif;
   background-color: white;
   color: #333;
 }

 a {
   color: #333;
 }

 /***************** Hero Video ****************/

 .hero-wrapper-container {
   display: flex;
   justify-content: center;
   justify-self: stretch;
   align-items: flex-start;
 }

 .hero-styling {
   width: 100%;
   height: 100%;
   position: relative;
   object-fit: cover;
   overflow: hidden;
   left: 0;
   right: 0;
   top: 0;
   bottom: 0;
   text-align: center;
   background: black;
 }

 .hero-inner-container {
   display: flex;
   flex: 1;
 }

 .video {
   flex: 1;
 }

 .hero-video {
   opacity: 0.8;
 }

 .title-container {
   position: absolute;
 }

 .title h1 {
   display: flex;
   font-size: 3rem;
   font-weight: 600;
   margin-top: 9rem;
   color: #fff;
   letter-spacing: 0.2rem;
   margin-bottom: 0;
 }

 /* Title styles for mobile and tablets */

 @media only screen and (max-width: 767px) {
   .title h1 {
     margin-top: 7rem;
     font-size: 2rem;
   }
 }

 @media only screen and (max-width: 991px) and (min-width: 768px) {
   .title h1 {
     font-size: 2.5rem;
   }
 }

 .title p {
   width: 400px;
   padding: 2rem;
   margin: auto;
   color: #fff;
   font-size: 2rem;
   font-weight: 500;
 }

 /* paragrah styles for mobile version */

 @media only screen and (max-width: 767px) {
   .title p {
     font-size: 1.5rem;
   }
 }

 .btn {
   width: 200px;
   border: 3px solid white;
   padding: 1.2rem;
   margin: 20px auto 0;
   font-size: 1.5rem;
   font-weight: 500;
   background-color: rgba(255, 255, 255, 0.158);
   color: #fff;
 }

 .btn:hover {
   cursor: url('pointer.png'), pointer;
   transform: scale(1.2);
   transition: 0.1s;
   background-color: rgba(255, 255, 255, 0.336);
 }

 @media only screen and (max-width: 767px) {
   .btn {
     font-size: 1rem;
     padding: 0.5rem;
     margin: 10px auto 0;
     width: 150px;
   }
 }

 .info-section-wrapper {
   display: flex;
   flex-direction: row;
   align-items: stretch;
   justify-content: center;
   margin-top: 50px;
 }

 /* Mobile view for form and acardion / making them jump into a column */

 @media only screen and (max-width: 767px) {
   .info-section-wrapper {
     flex-direction: column;
     margin-top: 10px;
   }
 }

 .wrapper-container {
   flex: 1 1 50%;
   flex-direction: column;
   margin: 20px 30px 50px 10px;
   padding: 20px;
   box-sizing: border-box;
 }

 /* Making space between form and accordion on Mobile view */

 @media only screen and (max-width: 767px) {
   .wrapper-container {
     margin-top: 20px;
   }
 }

 /******************** Form styling  *******************/

 form {
   font-size: 0.8rem;
 }

 .child-form-container {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
 }

 .tip {
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   flex-flow: wrap;
   box-sizing: border-box;
   margin-top: 10px;
   display: none;
 }

 .focus .tip {
   display: block;
 }

 .input {
   margin-top: 20px;
   max-width: 300px;
   height: 1.5rem;
   width: 200px;
   cursor: pointer;
   /* border: 1px solid rgb(118, 118, 118);
   border-radius: 4px; */
   border: 2px solid teal;
   border-radius: 4px;
 }

 .input:focus {
   outline: none;
 }

 .inputs-wrapper {
   margin-top: 10px;
 }

 .terms-message {
   display: block;
   margin-left: 10px;
   margin-top: 40px;
 }

 form p {
   display: flex;
   align-self: center;
   justify-content: center;
   margin-top: 40px;
   margin-bottom: 0;
 }

 /******* Custom Radio Buttons ********/

 .radio-wrapper {
   flex-direction: row;
   margin-bottom: 0;
   margin-top: 10px;
 }

 .radio-style {
   display: block;
   position: relative;
   padding-left: 25px;
   margin-top: 12px;
   user-select: none;
   cursor: pointer;
 }

 /* hide the default radio button */

 .radio-style input {
   position: absolute;
   opacity: 0;
   height: 0;
   width: 0;
 }

 /* Create a custom radio button */

 .mark {
   position: absolute;
   top: 0;
   left: 0;
   height: 16px;
   width: 16px;
   background-color: #eee;
   border: 1px solid rgba(51, 51, 51, 0.575);
   border-radius: 50%;
 }

 /* On mouse-over, add a background color and new border color */

 .radio-style:hover input~.mark {
   background-color: #ccc;
   border-color: teal;
 }

 /* When the radio button is checked: */

 .radio-style input:checked~.mark {
   background-color: rgba(0, 128, 128, 0.404);
   border-color: teal;
   box-shadow: 0px 0px 4px teal;
 }

 /* The indicator (the dot/circle - hidden when not checked) */

 .mark:after {
   content: "";
   position: absolute;
   display: none;
 }

 /* Show the indicator (dot/circle) when checked */

 .radio-style input:checked~.mark:after {
   display: block;
 }

 /* Style the indicator (dot/circle) */

 .radio-style .mark:after {
   top: 4px;
   left: 4px;
   width: 8px;
   height: 8px;
   border-radius: 50%;
   background: #fff;
 }

 /****** Custom checkbox ******/

 .checkbox-container {
   display: flex;
   flex-direction: row;
 }

 .checkbox {
   margin-top: 38px;
   display: block;
   position: relative;
   padding-left: 30px;
   cursor: pointer;
   font-size: 16px;
 }

 .checkbox input {
   position: absolute;
   opacity: 0;
 }

 /* creating a tick mark */

 .checkmark {
   position: absolute;
   top: 0;
   left: 0;
   height: 16px;
   width: 16px;
   background-color: #fff;
   border: 1px solid rgba(51, 51, 51, 0.575);
 }

 .checkbox:hover input~.checkmark {
   background-color: #ccc;
   border-color: teal;
 }

 /* glow on focus */

 input:focus~.checkmark {
   border-color: teal;
   box-shadow: 0px 0px 4px teal;
 }

 /* creation of indicator hidde when not checked */

 .checkmark:after {
   content: "";
   position: absolute;
   display: none;
 }

 /* showing the checkmark when checked */

 .checkbox input:checked~.checkmark:after {
   display: block;
 }

 /* checkmark indicator */

 .checkbox .checkmark:after {
   left: 5px;
   top: 1px;
   width: 4px;
   height: 8px;
   border: 1px solid teal;
   border-width: 0 3px 3px 0;
   -webkit-transform: rotate(45deg);
   -ms-transform: rotate(45deg);
   transform: rotate(45deg);
 }

 /******* Form buttons *******/

 .form-button {
   display: flex;
   align-self: center;
   color: rgba(51, 51, 51, 0.822);
   max-width: 100px;
   margin-top: 30px;
   padding: 10px;
   cursor: pointer;
   border: 2px solid teal;
   background-color: rgba(255, 255, 255, 0.555);
 }

 .form-button:hover {
   transform: scale(1.2);
   transition: 0.1s;
 }

 .submit-button {
   margin-right: 20px;
 }

 /****************** Accordion styles **************/

 .accordion-inner-wrapper {
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .accordion-button-styling {
   border: none;
   background-color: rgba(255, 255, 255, 0.932);
   cursor: url('pointer.png'), pointer;
   padding: 18px 10px;
   text-align: left;
   outline: none;
   transition: 0.4s;
 }

 .accordion h1 {
   display: flex;
   align-self: center;
   justify-content: center;
   font-weight: 500;
 }

 .active {
   background-color: teal !important;
 }

 .question:hover {
   background-color: teal;
 }

 .answer {
   padding: 0 18px;
   background-color: white;
   display: none;
   overflow: hidden;
   line-height: 28px;
 }

 .question:after {
   content: '\02795';
   font-size: 13px;
   color: #777;
   float: right;
   margin-left: 5px;
 }

 div.section:nth-child(even) .question {
   background-color: #dee2e6;
 }

 div.section:nth-child(even):hover .question {
   background-color: teal;
 }

 .active:after {
   content: '\2796';
 }

 .active+.answer {
   display: inline-block;
   animation: active 1s;
 }

 @keyframes active {
   0% {
     display: none;
     transform: translate3d(0, -1rem, 0);
     opacity: 0;
   }
   1% {
     display: block;
     transform: translate3d(0, -1rem, 0);
     opacity: 0;
   }
   100% {
     transform: translate3d(0, 0, 0);
     opacity: 1;
   }
 }