*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  background-color: #f1e8e0;
}

header {
  text-align: center;
  font-family: 'Roboto Slab', serif;
}

header p {
  margin-bottom: 20px;
  padding: 20px;
  border: 2px dotted #AA8464;
  color: #690707;
}

.navbar {
  text-align: left;
  overflow: hidden;
  background-color: #f1e8e0;
}

.navbar a {
  float: right;
  display: none;
  color: #690707;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.navbar a:hover {
  background-color: #ddd;
  color: black;
}

.navbar a.icon {
  display: block;
}

.hero-banner {
  position: relative;
  text-align: center;
}

.hero-banner h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-banner img {
  width: 100%;
  height: auto;
}

.question+.answer {
  display: none;
}

.answer {
  display: block;
}

.order-form p {
  margin-bottom: 40px;
}

.form {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;

}

.row-buttons {
  flex-direction: row;
}

.form-group label {
  margin: 10px;
}

.navbar.responsive {
  position: relative;
}

.navbar.responsive .icon {
  position: absolute;
  right: 0;
  top: 0;
}

.navbar.responsive a {
  float: none;
  display: block;
  text-align: left;
}

input[type="submit"] {
  background-color: #690707;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}


@media (min-width: 600px) {
  .navbar a {
    display: block;
  }
  .navbar a.icon {
    float: right;
    display: none;
  }
}

/*.active + .answer {
   some styling here 
}
*/