
* {
    box-sizing: border-box;
}

body{
  margin: 0;
  min-height: 100vh;
 background: rgb(0,18,18);
 background: linear-gradient(180deg, rgb(5 29 31) 46%, rgb(0 29 46 / 80%) 100%);
}

.hero, .signup-form-wrap, .accordion-Wrap{
  padding: 20px;
}

.active + .panel {
  display: inline-block;
}

.active .icon {
  background-image: url("./pics/less.png");
}

.icon{
  max-width: 30px;
  display: inline-block;
  float: right;
  background-image: url("./pics/more.png");
  background-repeat: no-repeat;
  background-size: 30px 30px;
    width: 30px;
    height: 30px;
}

/*HERO*/
.hero {
  height: 40vh;
  background-image: url("./pics/jungleView.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Big Shoulders Display', cursive;
  margin-bottom: 4vh;
  min-width: 300px;
}

.hero-header{
  display: flex;
  align-items: center;
  flex-direction: column;
}

#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-title{
  background: #e8f3f8b8;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.8em;
  margin-top: 0;
}

.hero-small-title{
  background: #e8f3f8b8;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 2.5em;
  margin:0;
  font-family: Sacramento, cursive;
}

/*The main section with form and accordion*/

.flex-container{
  display: flex;
  background-color: transparent;
  justify-content: space-evenly;
  align-items: stretch;
  flex-direction : row;
  flex-wrap: wrap;
  padding-top: 3%;
  margin-bottom: 10vh; 
  max-width: 1300px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 7vh;
}

.signup-form-wrap{
  background-color:#2e5962;
  align-self: flex-start;
  min-width: 300px;
  margin-bottom: 5vh;
  border-radius: 15px;
  color:white;
  flex-basis : 100%; 
}

form{
  display: flex;
    flex-direction: column;
}

.text-Input{
  display: block;
  padding: 7px;
  width: 99%;
  border-radius: 13px;
  border: none;
  min-height: 2.5em;
  font-size: 1.2em;
}

.text-Input:focus{
  outline: none;
  border-bottom: 4px solid#e89a74;
  border-right: none;
}

.text-Input:valid{
  outline: none;
  border-bottom: 4px solid #32965691;
  border-right: none;
}

.text-Input:focus:invalid{
  outline: none;
  border-bottom: 4px solid #e89a74;
  border-right: none;
}

.age-wrapper{
  padding: 5%;
}

select{
  display: block;
    padding: 7px;
    width: 99%;
    border-radius: 13px;
    border: none;
    min-height: 2em;
    font-size: 1em;
    background-color: #fff;
}

label{
  padding: 4% 0;
  font-size: 1em;
}
.radioGroup{
  display: flex;
    margin-top: 4%;
    margin-bottom: 4%;
    align-items: baseline;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}

.radioButtonWrapper{
  padding: 4%;
}

.radioInput, .checkbox-Input{
  cursor: pointer;
}

.checkBoxWrapper{
  padding: 4%;
}

/* styled radio btn*/
.wrapper-row{
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.radiobutton-container{
  display: block;
  position: relative;
  padding-left:25px;
  margin: 10px 5px;
  font-size: 16px;
  user-select: none;
}

.radiobutton-container input{
  position: absolute;
  opacity: 0;
  cursor: 0;
  height:0;
  width: 0;
}

.custom-radio{
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left:0;
  height: 19px;
  width: 19px;
  background-color: #f9f1f1;
}

.radiobutton-container input:checked ~.custom-radio{
  background-color: #fff;
}

.custom-radio:after{
  content:"";
  position: absolute;
  top: 6px;
  left: 6px;
  width:7px;
  height: 7px;
  background-color: #2e5962;
  border-radius: 50%;
  display: none;
}

.radiobutton-container input:checked ~.custom-radio:after{
  display: block;
}

.radiobutton-container input:focus + .custom-radio{
  outline: #333 auto 4px;
}

/* custom checkbox*/
.checkbox-container{
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 10px 5px;
  font-size: 16px;
  user-select: none;
}

.checkbox-container input{
  position: absolut;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox{
  position: absolute;
 
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-container input:checked ~.custom-checkbox{
  background-color: #fff;
}

.custom-checkbox:after{
  content: "";
  position: absolute;
  width: 3px;
  height: 6px;
  border: solid #2e5962;
  border-width: 0 3px 3px 0;
  top: 5px;
  left: 7px;
  transform: rotate(45deg);
  display: none;
}

.checkbox-container input:checked ~.custom-checkbox:after{
  display: block;
}

.checkbox-container input:focus +.custom-checkbox{
  outline: #333 auto 4px;
}

.submit-Btn{
  border:none;
  cursor: pointer;
  margin: 4% 0;
  width: 98%;
  align-self: center;
  height: 3.5em;
  border-radius: 20px;
  background-color:#e9a985;
  font-size: 1em;
}

.submit-Btn:hover{
  background-color: #8ac39f;
  color: #333;
}

.accordion-Wrap{
  background-color:#013c4c;
  
  align-self: flex-start;
  min-width: 300px;
    /*flex-basis: 40%;*/
    border-radius: 15px;
    color: white;
    flex-basis : 100%;
   
}

/*Accordion*/
.accordion {
  background-color: #f9f1f1;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1em;
  transition: 0.4s;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  margin-bottom: 5px;
  display: flex;
    justify-content: space-between;
    align-items: center;
}

.accordion-Header{ 
  color: #444;
  padding-left: 5px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.faq-Header, .signup-Header{
  color: #fff;
  font-size: 1em;
}

.active, .accordion:hover {
  background-color: #2a5a66;
    color: #fff;
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: #f9f1f1;
  color: #333;
  overflow: hidden;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  font-size: 1em;
}

footer{
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 4vh;
  font-family: 'Roboto', sans-serif;
}

.footer-Link, .footer-Text{
  font-size: 1em;
  color: #f9f1f180;
}

.footer-Link{
  text-decoration: none;
}

.footer-Link:hover{
  color: #e9a985;
}


/*Tablet*/
@media only screen and (min-width: 768px) {
  .radioGroup{
    flex-direction: column;
  }

  .hero-title{
    font-size: 4em;
  }

  .flex-container{
    flex-direction: row;
  }

  .signup-form-wrap, .accordion-Wrap{
    flex-basis : 40%;
  }

  
  }

  /*Desktop or Laptop*/
@media only screen and (min-width: 1200px) {
  
  .hero{
    height: 90vh;
  }

  .hero-title{
    font-size: 6em;
  }

  .wrapper-row{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
  }
  }
