/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/*.active + .answer {
  some styling here 
}*/

.bgvideo {
    width: 100%;
    height: auto;
    background-size: cover;
    background-position: relative;
    background-repeat: no-repeat;
    margin: 0;
    z-index: 1;
    filter:grayscale(0.75);
  }

  .header {
    display: flex;
    flex-wrap: wrap;
  }

  .nav {
    width: 80%;
    height: auto;
    position: absolute;
    text-align: right;
    margin-top: 3%;
    margin-left: 17%;
    z-index: 2
  }

  .nav-item {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    margin: 3%;
    text-transform: uppercase;
    color:linen;
  }

  .headline {
    
    /*text-align: center;*/
  
    /*width: 100%;
    height: auto;
    position:absolute;
    z-index: 2;*/
    
    color: linen;
    
    width: 100%;
    height: auto;
    position: absolute;
    z-index: 2;
    
  
    font-family: 'Roboto Mono', monospace;
    margin-top: 20%;
    text-align: center;
  }

  .header h1 {
   /* position:absolute;
    text-align: center;
    margin-top: 35%;
    padding-top: 10px;
    padding-bottom: 14px;*/
    font-size: 50px;
   /* width: 100%;
    height: auto;
    color: white;
    z-index: 2;
    background-color: black;
    opacity: 0.5;
    font-family: 'Roboto Mono', monospace;*/
  }

  .header p {
   /* position:absolute;
    text-align: center;
   width: 100%;
    height: auto;
    color: white;
    z-index: 2;
    background-color: black;
    opacity: 0.5;
    font-family: 'Roboto Mono', monospace;
    margin-top: 42%;
    padding-top: 10px;
    padding-bottom: 20px;*/
    font-size: 40px;
  }
 
  .logo {
    position: absolute;
    margin: 2%;
    /*width: 15px;
    height: auto;*/
    z-index: 2;
  }

  .imglogo {
    width: 40%;
    height: auto;
  }

  @media (max-width: 767px){
  
  .imglogo {
    width: 25%;
    height: auto;
  }
    
  .nav {
    display: none;
  }

  .header h1 {
    font-size: 20px;
  }

  .header p {
    font-size: 10px;
  }
      
    
    .form {
      
      width: 100%;
      height: auto;
     
    }
    .QandA {
     
      width: 100%;
      height: auto;
      
    }
  }

  @media (min-width: 768px){
   
    .headline {
      margin-top: 25%;
    }
    .header h1 {
      font-size: 30px;
    }
  
    .header p {
      font-size: 20px;
    }
    .nav {
      display: none;
    }
    
  }

  @media (min-width: 769px){
   
    .hamburger div{
      display: none;
    }
    .nav {
      display: block;
    }
    .header h1 {
      font-size: 40px;
    }
  
    .header p {
      font-size: 30px;
    }
  }


.hamburger {
  display: block;
  position: absolute;
  width: 30px;
  height: 30px;
  z-index: 2;
  margin-left: 85%;
  margin-top: 1%;
}
.hamburger div {
  width: 30px;
  height: 5px;
  background-color: #E8A53A;
  margin: 3px;
}

  a:link {
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    border-bottom: 3px solid linen;
  }

  .main {
    background-color: darkgrey;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: 2px solid red;
    padding: 2%;
  }
  
  .form {
    display: block;
    /*flex-wrap: wrap;
    justify-content: left;*/
    background-color: lightgrey;
    width: 40%;
    height: auto;
    padding: 2%;
    margin: 10px;
    box-shadow:5px 5px rgba(0,0.15,0,0.15);
  }

  input text{
    width: 40%;
  }

  input:valid {
    border-radius: 2px;
    font-size: 20px;
    background-color: green;
  }

  .form h3, h6 {
    text-align:center;
  }


  button {
    border: 1px solid #E8A53A;
    background-color: #E8A53A;
    width:40%;
    height: auto;
  }

  .QandA {
    display: block;
    background-color: gray;
    width: 40%;
    height: auto;
    padding: 1%;
    margin: 10px;
    box-shadow: 5px 5px rgba(0,0.15,0,0.15);
  }

  .QandA h3 {
    width: 100%;
    height: auto;
    text-align: center;
  }

  .accordion {
    background-color: slategray;
    padding: 10px 0 10px 0;
    margin: 1%;
    width: 100%;
    height: auto;
    text-align: left;
    
    
  }
  .accordion-topic {
   cursor: pointer;
  }
  

  .accordion-content{
    display: none;
  }

  .accordion-selected{
    display: block;
  }

  /*
  .accordion {
    background-color:silver;
    width: 40%;
    height: auto;
    margin: 10px;
    box-shadow:5px 5px rgba(0,0.15,0,0.15);
  }

  .accordion h3 {
    text-align: center;
  }
  .accordionquestion {
    background-color:darkgrey;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .active, .accordionquestion:hover {
    background-color: slategray;
  }
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }
  .accordion:after {
    content: '\02795'; Unicode character for "plus" sign (+) 
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
  }
  
  .active:after {
    content: "\2796"; Unicode character for "minus" sign (-) 
  }*/

 .footer {
    display: flex;
    flex-wrap: wrap;
    background-color:slategray;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
  }
