body {
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  background-color: #F7F4F2;
}

/** MOOBILE VIEW **/




.hero-image {
  object-fit: cover;
  width: 100vw;
}

.middle-section {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

/*** First section ***/
.first-section h2 {
  background-color: #ffffff;
  margin: 0;
  text-align: center;
  padding: 20px 20px;
  font-family: 'Bodoni Moda', serif;
  text-transform: uppercase;
  font-weight: 400;
  color: rgba(20,1,1,.7);
  letter-spacing: .3em;
  font-size: 15px;
}

/*** Accordeon**/
.qa-photo {
  display: none;
}

.accordion {
  width: 100%;
}

.accordion h1 {
  padding: 10px 30px 15px;
  border-bottom: solid 1px #eaeaea;
  text-align: center;
  margin-bottom: 0px;
  font-size: 35px;
}

.question {
  font-weight: 900;
  border-bottom: solid 1px #eaeaea;
  padding: 15px 30px 15px;
  cursor: pointer;
}


.answer {
  display: none;
  padding: 0 30px;
  background-color: red;
}

.answer p {
  margin: 0px;
  padding: 10px 0px 15px;
}


/*** Signup form ***/

.form {
  text-align: center;
  background: white;
  padding: 30px 0 50px;
  display: flex;
  flex-direction: column;
}

input {
  text-align: center;
  padding: 10px;
  margin:10px 0;
  border: 0;
  border-bottom:1px solid #eee;
}

.form-item {
  font-size: 13px;
  color: #a8a8a8;
}

textarea {
  font-family: 'Roboto', sans-serif;
  margin:10px 0;
  border: 1px solid #eee;
}


/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  display: block;
}
