body {
  background-color: white;
}

/* OBS! STRUKTURERA, CLEAN UP & SE MÅSTEN MM INFO LÄNGST NER HÄR, TEX STYLA ELEMENTEN SOM KLASSER, SÅ ÄNDRA DETTTA! */

/* HEADER HERO */

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  object-fit: cover;
}

nav {
  position: absolute;
  left: 50%;
  margin-top: 20px;
  transform: translate(-50%, -50%)
}

a {
  color: white;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 20px;
  width: 125px;
  padding: 1em, 0;
  display: inline-block;
  font-weight: bold;
  transition: all .4s ease-in-out;
}

.line {
  width: 125px;
  height: 5px;
  background-color: white;
  transition: all .4s ease-in-out;
}

a:nth-child(2):hover ~ .line {
  transform: translate(125px);
  transition: all .4s ease-in-out;
  background-color: white;
}

a:nth-child(3):hover ~ .line {
  transform: translate(250px);
  transition: all .4s ease-in-out;
}

a:nth-child(4):hover ~ .line {
  transform: translate(375px);
  transition: all .4s ease-in-out;
  background-color: white;
}

video {
  z-index: -1;
  width: 100%;
  max-height: 80%;
}

main {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-evenly;
}

/* FORM */
.form {
  margin: 15px;
  padding: 15px;
  background: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 300px;
  height: auto;
  text-align: center;
  color:white;
  font-family: monospace;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.form:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* 1. Accordion */

.accordion {
  margin: 15px;
  padding: 15px;
  background: black;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 300px;
  height: auto;
  text-align: center;
  color: white;
  font-family: monospace;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 10px;
} 

.accordion-container {
  border: 2px solid #999;
  border-radius: 5px;
  margin-bottom: 15px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 15px;
  cursor: pointer;
}

.accordion-text {
  border-top: 2px solid #999;
  margin: 0;
  padding: 15px;
}

.accordion-text-container {
  height: 0;
  overflow: hidden;
  transition: height .3s ease;
}

.accordion-text-container.active {
  height: 158px;
}

.accordion:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* FOOTER */

footer {
  background-color: black;
  color: white;
  font-family: sans-serif;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}

footer p {
  padding: 100px;
}

@media (min-width: 1px) and (max-width: 667px){

}