/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

html {
  color: rgb(107, 85, 36);
  font-family: 'Shadows Into Light', cursive;
  background-color: rgba(255, 235, 205, 0.87);
  /* border: 20px solid white; */
  margin: 0;
}

body {
  margin: 0;
}

header {
  width: 100%;
  margin: 0;
  display: block;
}

img {
  width: 100%;
}

.title {
  text-align: center;
  position: relative;
}

.title-text {
  position: absolute;
  text-align: center;
  width: 100%;
}

.title img {
  position: absolute;
  left: 0;
  top: 0;
}

.title-text h1 {
  text-align: center;
  align-content: center;
  padding: 20px;
  width: 100%;
  font-family: 'Bowlby One SC', cursive;
  color: white;
  font-size: 200px;
  font-weight: bold;
}