/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --prime-font: 'Alata', sans-serif; /*  */
  --second-font: ; /*  */
  --prime-color: #fff; /*  */
  --second-color: #42692F; /*  */
}

.active + .answer {
  max-height: 100vh;
  transition: 1s ease-out;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* add hero img */
  background-image: url(img/social-media-4.jfif);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-inner {
}

.hero h1 {
  font-family: var(--prime-font);
  color: #fff;
  font-size: 5vw;
}

.hero p {
  font-family: var(--prime-font);
  color: #fff;
  font-size: 2vw;
}

.hero button {
  font-family: var(--prime-font);
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid var(--second-color);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.hero button:hover {
  background-color: var(--second-color);
}

.accordion {
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.accordion > * {
  overflow-y: hidden;
  font-family: var(--prime-font);
}

.faq > h1 {
  text-align: center;
  padding: 3vw;
  color: var(--prime-color);
}

.question {
  display: flex;
  width: 40vw;
  background-color: #0f2027;
  color: var(--prime-color);
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
}

.question:nth-of-type(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.answer:nth-of-type(10){
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.question p {
  font-size: 4vh;
  padding: 8px;
}

.answer p {
  padding: 8px 0px 8px 8px;
}

.question i {
  margin-right: 4vh;
}

.question > i::after {
  content: '\002B';
}

.active > i::after {
  content: "\2212";
}

.answer {
  max-height: 0vw; /* The JS will append active class and then change the height */
  text-align: left;
  overflow-y: hidden; /* removes small scroll when answer is expanding */
  width: 40vw;
  background-color: var(--prime-color);
}

.testimonials {
  width: 45vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.testimonials * {
  overflow-y: hidden;
}

.testimonials-card {
  background-color: var(--prime-color);
  width: 40vw;
  padding: 1vw;
  margin: 1vh;
  border: 1px solid black;
  border-radius: 4px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1), 
              0px 0px 40px rgb(127, 128, 127) inset;
}

.testimonials-card > span {
  width: 30vw;
}

.testimonials-card > span > p {
  text-align: right;
}

.testimonials-card > img {
  width: 6vw;
  height: 6vw;
  border-radius: 100%;
  border: 1px solid #000;
}

.testimonials > h1 {
  text-align: center;
  padding: 3vw;
  color: var(--prime-color);
}

.sign-up {
  background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-up h1 {
  font-family: var(--prime-font);
  color: var(--prime-color);
}

form {
  display: flex;
  width: 40vw;
  flex-direction: column;
  font-family: var(--prime-font);
}

.form-field {
  font-family: var(--prime-font);
  margin: 10px;
  padding: 5px;
}

.form-check {
  margin: 10px;
  padding: 5px;
}

form label {
  color: var(--prime-color);
}

form > button {
  font-family: var(--prime-font);
  margin: 10px;
  padding: 5px;
}

.display-block {
  display: block;
  text-align: center;
}

footer {
  display: flex;
  height: 10vh;
  color: #000;
  font-family: var(--prime-font);
  justify-content: center;
  align-items: center;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

a:active {
  color: #000;
  text-decoration: none;
}

/*
font-family: 'Alata', sans-serif; */

@media only screen and (min-width: 300px)  and (max-width: 640px) {
  body {
  }

  .flex-conatiner-small {
    display: flex;
    flex-direction: column;
  }

  .active + .answer {
    /* some styling here */
    max-height: 100vh;
    transition: 1s ease-out;
  }

  .hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* add hero img */
    background-image: url(img/social-media-4.jfif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .hero-inner {
  }

  .hero h1 {
    font-family: var(--prime-font);
    color: #fff;
    font-size: 6vw;
  }

  .hero p {
    font-family: var(--prime-font);
    color: #fff;
    font-size: 4vw;
  }

  .hero button {
    font-family: var(--prime-font);
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid var(--second-color);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .hero button:hover {
    background-color: var(--second-color);
  }

  .accordion {
    background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accordion > * {
    overflow-y: hidden;
    font-family: var(--prime-font);
  }

  .faq > h1 {
    padding: 3vw;
    color: var(--prime-color);
  }

  .question {
    display: flex;
    width: 70vw;
    background-color: #0f2027;
    color: var(--prime-color);
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
  }

  .question p {
    font-size: 3vh;
    padding: 8px;
  }
  
  .answer p {
    padding: 8px 0px 8px 8px;
  }
  
  .question i {
    margin-right: 4vh;
  }

  .question > i::after {
    content: '\002B';
  }

  .active > i::after {
    content: "\2212";
  }

  .answer {
    max-height: 0vw; /* The JS will append active class and then change the height */
    text-align: left;
    overflow-y: hidden; /* removes small scroll when answer is expanding */
    width: 70vw;
    background-color: var(--prime-color);
  }

  .sign-up {
    background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sign-up h1 {
    font-family: var(--prime-font);
    color: var(--prime-color);
  }

  form {
    display: flex;
    width: 70vw;
    flex-direction: column;
    font-family: var(--prime-font);
  }

  .form-field {
    font-family: var(--prime-font);
    margin: 10px;
    padding: 5px;
  }

  .form-check {
    margin: 10px;
    padding: 5px;
  }

  form label {
    color: var(--prime-color);
  }

  form > button {
    font-family: var(--prime-font);
    margin: 10px;
    padding: 5px;
  }

  .display-block {
    display: block;
    text-align: center;
  }

  footer {
    display: flex;
    height: 10vh;
    color: #000;
    font-family: var(--prime-font);
    justify-content: center;
    align-items: center;
  }

  a:link {
    color: #000;
    text-decoration: none;
  }

  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: #fff;
  }

  a:active {
    color: #000;
    text-decoration: none;
  }

  .exclude-small {
    display: none;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


}

@media only screen and (min-width: 641px)  and (max-width: 1024px) {
  body {
  }

  .flex-conatiner-medium {
    display: flex;
    flex-direction: column;
  }

  .active + .answer {
    /* some styling here */
    max-height: 100vh;
    transition: 1s ease-out;
  }

  .hero {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* add hero img */
    background-image: url(img/social-media-4.jfif);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  .hero-inner {
  }

  .hero h1 {
    font-family: var(--prime-font);
    color: #fff;
    font-size: 6vw;
  }

  .hero p {
    font-family: var(--prime-font);
    color: #fff;
    font-size: 3vw;
  }

  .hero button {
    font-family: var(--prime-font);
    margin: 10px;
    padding: 10px;
    border-radius: 4px;
    border: 2px solid var(--second-color);
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
  }

  .hero button:hover {
    background-color: var(--second-color);
  }

  .accordion {
    background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  .accordion > * {
    overflow-y: hidden;
    font-family: var(--prime-font);
  }

  .faq > h1 {
    padding: 3vw;
    color: var(--prime-color);
  }

  .question {
    display: flex;
    width: 40vw;
    background-color: #0f2027;
    color: var(--prime-color);
    border-bottom: 1px solid black;
    justify-content: space-between;
    align-items: center;
  }

  .question p {
    /* Texten på frågan */
    font-size: 3vh;
    padding: 8px;
  }
  
  .answer p {
    /* Texten på svaret */
    padding: 8px 0px 8px 8px;
  }
  
  .question i {
    margin-right: 4vh;
  }

  .question > i::after {
    content: '\002B';
  }

  .active > i::after {
    content: "\2212";
  }

  .answer {
    max-height: 0vw; /* The JS will append active class and then change the height */
    text-align: left;
    overflow-y: hidden; /* removes small scroll when answer is expanding */
    width: 40vw;
    background-color: var(--prime-color);
  }

  .testimonials {
    width: 40vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .testimonials-card {
    background-color: var(--prime-color);
    width: 40vw;
    padding: 2vw;
    margin: 1vh;
    border: 1px solid black;
    border-radius: 4px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .testimonials-card > span {
    width: 30vw;
  }

  .testimonials-card > span > p {
    text-align: right;
  }

  .testimonials-card > img {
    width: 7vw;
    height: 7vw;
    border-radius: 100%;
  }

  .testimonials > h1 {
    text-align: center;
    padding: 3vw;
    color: var(--prime-color);
  }

  .sign-up {
    background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sign-up h1 {
    font-family: var(--prime-font);
    color: var(--prime-color);
  }

  form {
    display: flex;
    width: 50vw;
    flex-direction: column;
    font-family: var(--prime-font);
  }

  .form-field {
    font-family: var(--prime-font);
    margin: 10px;
    padding: 5px;
  }

  .form-check {
    margin: 10px;
    padding: 5px;
  }

  form label {
    color: var(--prime-color);
  }

  form > button {
    font-family: var(--prime-font);
    margin: 10px;
    padding: 5px;
  }

  .display-block {
    display: block;
    text-align: center;
  }

  footer {
    display: flex;
    height: 10vh;
    color: #000;
    font-family: var(--prime-font);
    justify-content: center;
    align-items: center;
  }

  a:link {
    color: #000;
    text-decoration: none;
  }

  a:visited {
    color: #000;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: #fff;
  }

  a:active {
    color: #000;
    text-decoration: none;
  }

  .exclude-medium {
    display: none;
  }

}


/* Might not need this */
@media only screen and (min-width: 1025px) {
  body {
  }

  .flex-conatiner-large {
    display: flex;
    flex-direction: column;
  }

  .exclude-large {
    display: none;
  }

}