/* After you've linked the CSS file in the HTML,
this should turn the background blue ;) */
/* 

0. Förberedelse inför punkt 1 (Ta bort margins, padding)
1. Skapa vänster respektive höger container vertikalt ✅
2. Addera bakgrundsbild på vänster container ✅
3. Block som innehåller logga och rubrik

1. Rubrik ovanför formuläret ✅
2. Ändra färg på text ✅
3. Centrera formulär ✅
4. Lägga till padding mellan olika fälten
*/


/*

Måsvingar

<h1> = tagg 
class="box"

h1 {
  background: pink;
}

.box {
  background: yellow;
}

*/


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* explain */
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.box-left {
  min-height: 100vh;
  /* vh - view height */
  width: 40%;
  background-image: url("./assets/doggy.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 28px;
  font-weight: bold;
  color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;

}


img {
  width: 100%;
  display: block;
}

.box-right {
  min-height: 100vh;
  background-color: #484b61;
  width: 60%;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

/*
margin: 10px;
margin-bottom
margin-top
margin-right
margin-left
*/

h1 {
  color: #fff;
}

label {
  color: #fff;
  /* padding: 3px; */
}

input {
  display: block;
  width: 100 %;
  margin-bottom: 10px;
  margin-top: 5px;
  padding: 5px;
  border: none;
  border-radius: 5px;

}

.gender-area div {
  display: flex;
}

.gender-area label {
  margin-bottom: 10px;
}

.gender-area .gender-option {
  display: flex;
  width: initial;
}

.gender-area div input {
  width: initial;
  margin: 0;
  margin: 0 10px;
}

button {
  background: beige;
  color: black;
  padding: 20px;
  font-size: 18px;
  border: 0;
  border-radius: 10px;
  display: block;
  margin: auto;

}

button:hover {
  background-color: pink;
}

/* .form-area {
  padding: 15px;
  margin: 10px;
}

.gender-option {
  padding: 15px;
  margin: 15px;
} */