/* THE BODY */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* THE HEADER */

header {
  height: 600px;
  background-image: url(./summerday_original.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 32px 70px;
  font-size: 50px;
}

header p {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 30px;
  font-size: 30px;
}

/* THE SHORT GREET SECTION */

.greet {
  background-color: rgba(255, 255, 255, 0.5);
}

.greet p {
  text-align: center;
  font-size: 26px;
  color: black;
}

/* THE INFORMATION SECTION */

.info {
  display: flex;
}

.form-container {
  background-color: burlywood;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-container {
  background-color: brown;
  width: 50%;
}

/* THE FORM */

h2 {
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-group {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.form-choose {
  display: flex;
  margin-bottom: 15px;
}

.textfield {
  width: 200px;
}

.label-left {
  width: 150px;
}

.bringbox {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

.label-right {
  width: 100px;
  margin-bottom: 5px;
}

.memberbox {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
}

.form-submit {
  width: 100px;
  margin-bottom: 25px;
}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

