/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* .active + .answer {
  some styling here
} */

body {
  margin: 0;
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  position: absolute;
}

/* HEADER - HERO CONTENT */

#hero {
  height: 10vh;
  overflow-x: hidden;
  margin: 0;
}

#hero video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.headerText, .navbar {
  position: relative;
  z-index: 20;
}

.flexParentHeader {
  display: flex;
  flex-direction: column;
}

.headerText {
  display: flex;
  width: 100%;
  margin: auto;
  margin-top: 30px;
  justify-content: center;
  font-size: 34px;
  font-weight: 700;
  color: blue;
  text-transform: uppercase;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

ul {
  width: 100vw;
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-block-start: 0;
}

li {
  padding: 3%;
  justify-content: center;
}

li a {
  color: blue;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}

h2 {
  font-size: 32px;
  font-weight: 700;
  color: blue;
  text-transform: uppercase;
}

/* MAIN CONTENT */

.flexMain {
  display: flex;
  flex-direction: column;
}

/* FORMS CONTAINER */

.formWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  margin: auto;
}

#form {
  margin-bottom: 30px;
  padding: 10px 40px;
  font-size: 12px;
  background-color: burlywood;
  opacity: 0.95;
  position: relative;
  z-index: 20;
  border-radius: 5%;
}

label {
  margin-bottom: 2%;
  margin-top: 5%;
}

.blockLabel, .blockInput {
  display: block;
}

.blockInput {
  width: auto;
}

select {
  display: block;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

textarea {
  display: block;
  padding: 2%;
  margin-top: 4%;
  margin-bottom: 2%;
}

#button {
  display: flex;
  background-color: coral;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid;
  border-width: 1px;
  border-radius: 8%;
  border-color: blue;
}

/* ACCORDION CONTAINER */

h1 {
  font-size: 32px;
  font-weight: 700;
  color: blue;
  text-transform: uppercase;
}

.accordionWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

#accordion {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 10px 40px 30px 40px;
  background-color: burlywood;
  opacity: 0.95;
  position: relative;
  z-index: 20;
  border-radius: 5%;
}

.question {
  background-color: blue;
  color: white;
  padding: 8%;
  border: solid;
  border-width: 2px;
  border-color: coral;
  font-weight: 600;
}

.answer {
  line-height: 1.5;
  background-color: coral;
  border: solid;
  border-width: 1px;
  border-color: coral;
  padding: 8%;
}

#question {
  margin: 0;
  min-width: 100%;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 5%;
  position: relative;
  z-index: 20;
}

.footerText {
  /* font-family: ; */
  font-size: 14px;
  margin: 2px;
  color: blue;
  margin-bottom: 8%;
}

.footerCred {
  /* font-family: ; */
  font-size: 10px;
  margin: 2px;
  color: blue;
}


/* MEDIA QUERY TABLET */
@media (min-width: 667px) and (max-width: 1024px) {

  /* HEADER - HERO CONTENT */
  .headerText {
    font-size: 50px;
    margin-top: 8%;
  }

  /* NAVBAR */
  li {
    padding: 5%;
  }
  
  li a {
    font-size: 26px;
  }

  /* MAIN CONTENT */

  /* CONTACT FORM */
  .mainWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 5%;
  }

  .flexMain {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin: auto;
    margin-top: 2%;
  }

  .formWrapper {
    width: 70%;
    margin-top: 3%;
    margin-right: 3%;
  }

  /* ACCORDION CONTAINER */
  .accordionWrapper {
    width: 70%;
    margin-top: 3%;
    margin-left: 3%;
  }

  /* FOOTER */
  .footer {
    margin-top: 2%;
  }

  .footerText {
    font-size: 18px;
    font-weight: 600;
    margin: 3%;
  }

  .footerCred {
    font-size: 14px;
    margin-bottom: 2%;
  }
  
}


/* MEDIA QUERY DESKTOP */

/* HEADER - HERO CONTENT */

/* NAVBAR */
li a:hover {
  text-decoration: underline;
}
