/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* .active + .answer {
  background-color: #4a7b52;
} */

body {
  background: #181d20;
  background-image: url(./images/micro_carbon.png);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

p {
  margin: 2px;
}

h1 {
  font-size: 36px;
  font-family: 'Comfortaa', cursive;
  color: rgb(255, 255, 255);
  margin-bottom: 10px;
  text-shadow: 1px 1px 2px rgb(43, 43, 5);
}

h2 {
  font-size: 13px;
  color: rgb(255, 255, 255);
  font-weight: 100;
}

h3 {
  font-size: 20px;
  font-weight: 100;
  color: rgb(0, 0, 0);
}

h4 {
  color: rgb(255, 255, 255);
  font-size: 13px;
  font-weight: 100;
  margin-top: 0px;
  margin-bottom: 20px;
  max-width: 500px;

  text-shadow: 1px 1px 2px rgb(43, 43, 5);

}

/******* HEADER *******/

header {
  height: 240px;
  background-image: url("./images/forrest-800x533.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0px;
  min-height: 280px;
}

footer {
  height: 60px;
  margin: 10px 0px
}

footer p {
  color: rgb(184, 184, 184);
  font-size: 10px;
  text-align: center;
}

.big-text-container {
  width: 100%;
  max-width: 650px;
  object-position: center;
  padding: 50px;
}

/******* MY FLEX BOX - PARENT *******/

.box-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  height: auto;
}

/******* ORDER FORM *******/

.my-form {
  background-color: #63d471;
  background-image: linear-gradient(90deg, #233329  0%, #63d471 74%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  font-size: 10px;
  width: 80%;
  height: auto;
  padding: 5px 20px 20px;
  margin-top: 20px;
  margin-bottom: auto;
  border-radius: 8px;
  box-shadow: 3px 3px 0px 0px rgb(176, 247, 202); 
  
}

/* Form label styling */

.my-form label {
  margin: 0px 0px 3px 0px;
  padding:0px;
  display:block;
  font-size: 11px;
  color: #fff;
  display: block;
}


/* Style the input fields */

.my-form input {
  /* vertical-align: middle; */
  margin: 0px 5px 5px 0;
  padding: 5px;
  background-color: #fff;
  border: 1px solid rgb(28, 194, 117);
  font-size: 10px;
  border-radius: 3px;
 
}
/* Style the input button */

.my-form button {
  padding: 3px 5px;
  background-color: rgb(65, 172, 77);
  border: 1px solid rgb(131, 198, 138);
  border-radius: 3px;
  color: white;
  font-size: 1em;
  text-transform: uppercase;
}

.my-form button:hover {
  background-color: rgb(108, 198, 126);;
  /* box-shadow: 0px 0px 0px 0px rgb(176, 247, 202); */
}

/******* ACCORDION Style *******/

.my-accordion {
  background-color: #63d471;
  background-image: linear-gradient(90deg, #233329  0%, #63d471 74%);
  height: auto;
  color: #444;
  padding: 5px 20px 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  width: 80%;
  text-align: left;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 12px;
  transition: 0,4s;
  box-shadow: 3px 3px 0px 0px rgb(176, 247, 202);
  cursor: pointer;
}

.question {
  background-color: rgb(65, 172, 77);
  display: flex;
  align-items: center;
  padding: 5px;
  margin: 2px;
  border: 1px solid rgb(131, 198, 138);
  color: white;
}

.question:after {
  content: '+';
  margin-left: auto;
}

.question.active::after {
  content: '-';
}

/* Accordion hidden .answer */
.answer {
  padding: 0px 0px;
  margin-left: 4px;
  margin-right: 4px;
  /* background-color: rgb(255, 255, 255); */
  /* display: none; */
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s ease-out;
}

/* Accordion open - show .answer */
.active + .answer {
  background-color: rgb(65, 172, 77);
  display: block;
  
  max-height: 150px;
  padding: 5px 5px;
  color: white;
}

/****** MEDIA QUERIES FOR RESPONSIVE DESIGN ******/
@media (min-width: 668px) {
  header {
    height: 280px;
    background-image: url("./images/forrest-2000x1333.png");
  }

  .my-form {
    max-width: 600px;
    margin: 20px 15px;
  }

  .my-accordion {
    max-width: 600px;
    margin: 20px 15px;
  }

  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 16px;
  }

  h4 {
    font-size: 16px;
    max-width: 500px;
  }
}

@media (min-width: 900px) {
  header {
    height: 280px;
  }

  .box-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    margin-top: 30px;
    margin-bottom: 80px;
  }

  .my-form {
    max-width: 30%;
    margin: 20px 15px;
    min-height: 250px;
  }

  .my-accordion {
    max-width: 500px;
    margin: 20px 15px;
    min-height: 250px;
    font-size: 14px;
  }

  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 18px;
  }
  h4 {
    font-size: 20px;
    max-width: none;
  }

  .big-text-container {
    text-align: center;
    max-width: 700px;
  }
}
