@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  min-width: 350px;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(156, 212, 214);
}

/* -------HEADER CONTENT-------- */

.header-container {
  height: 100vh;
  width: 100%;
}

.video {
  height: 100vh;
  width: 100%;
  z-index: -1;
  object-fit: cover;
}

.video-mobile {
  display: flex;
}

.video-ipad {
  display: none;
}

.video-desktop {
  display: none;
}

.title {
  position: absolute;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.25);
  min-width: 350px;
}

h1 {
  text-align: center;
  font-family: "Cinzel Decorative", cursive;
  font-weight: 100;
  color: rgb(255, 255, 255);
  margin-bottom: 3%;
  font-size: 6vw;
}

.arrow {
  color: white;
  margin-bottom: 3%;
  font-size: 2vw;
}

.navbar-container {
  width: 100%;
  height: 80px;
  background-color: rgb(0, 0, 0);
  color: white;
  display: grid;
  grid-template-columns: 1fr auto auto auto;
  align-items: center;
  padding: 0 3%;
  column-gap: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logotype {
  height: 30px;
  width: 200px;
}

.icon-container {
  text-align: center;
  display: grid;
  grid-template-rows: auto auto;
  row-gap: 10px;
  text-decoration: none;
  color: white;
  font-size: 14px;
}

.icon-container:hover {
  color: rgb(255, 147, 6);
  transition: color 1s ease-in;
  border-bottom: 1px solid rgb(255, 147, 6);
}

.icon-container a:active {
  transition: all 1s ease-in;
  color: rgb(255, 147, 6);
  border-bottom: 1px solid rgb(255, 147, 6);
}

h2 {
  margin-bottom: 20px;
  padding: 0;
  width: 100%;
}

.form-faq-contact-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/*
------------- FORM CONTAINER ---------------- */

.input-text {
  padding: 5px 5px 5px;
  -webkit-appearance: none;
  background-color: rgb(255, 254, 253, 0);
  border: 0;
  border-bottom: 1px solid gray;
  font-size: 16px;
  background-color: white;
}

input[type="radio"] {
  -webkit-appearance: none;
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: 0.1em solid black;
  margin: auto;
  box-shadow: 1px 1px black;
}

input[type="radio"]:checked {
  background-color: black;
  box-shadow: none;
  transition: all 0.5s ease-in;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  display: block;
  width: 1em;
  height: 1em;
  border: 0.1em solid black;
  margin: auto;
  box-shadow: 1px 1px black;
  margin-top: 10px;
}

input[type="checkbox"]:checked {
  box-shadow: none;
  background-color: black;
  transition: all 0.5s ease-in;
}

.input-text:focus,
.room:focus,
.date-picker:focus {
  outline: none;
  border: 1px solid rgb(255, 147, 6);
  transition: all 1s ease-in;
}

input:focus::placeholder {
  color: white;
  transition: all 1s ease-in;
}

.room {
  font-size: 15px;
  padding: 5px 5px 5px;
  outline: none;
}

.date-picker {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  outline: none;
  padding: 5px 5px 5px;
}

.form-container {
  padding: 30px 0;
  display: grid;
  max-width: 1200px;
  margin: auto;
}

.form-layout {
  display: grid;
  row-gap: 10px;
}

.form-row {
  font-size: 16px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.radio-btns {
  display: grid;
  grid-template-columns: 1fr auto;
}

.radio-btns-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 4px;
}

.hidden-anchor {
  display: block;
  position: relative;
  top: -80px;
  visibility: hidden;
}

.user-agreement {
  margin: 20px 0;
  text-align: center;
}

.book-btn {
  color: rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, 0);
  font-weight: 100;
  border: rgb(0, 0, 0) solid 0.5px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 10% 50px 10%;
  width: 200px;
  border-radius: 40px;
  font-weight: 600;
  text-decoration: none;
  padding: 25px;
  box-shadow: 2px 2px black;
}

.book-btn:hover {
  cursor: grab;
  transition: all 1s ease-in;
  box-shadow: none;
}

.form-content {
  padding: 0 10%;
}

.faq-contact-container {
  display: flex;
}

.faq-contact-content {
  display: flex;
  flex-direction: column;
}

/* ------------- FORM POSTERS----------------  */

.form-room-posters {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-room-posters img {
  width: 80%;
  margin-top: 40px;
}

/* ------------- ACCORDIAN CONTAINER----------------  */

.accordion-container {
  background-color: rgb(211, 209, 209);
  padding: 30px 10% 50px 10%;
}

.question {
  display: grid;
  background-color: rgb(156, 212, 214);
  font-weight: 500;
  padding: 10px;
  border: 0.5px solid black;
  grid-template-columns: 1fr auto;
}

.answer {
  background-color: rgb(228, 228, 228);
  height: 0px;
  border-right: 0.5px solid black;
  border-left: 0.5px solid black;
  overflow: hidden;
}

.last-answer {
  border-bottom: 0.5px solid black;
}

.active + .answer {
  height: 170px;
  transition: height 400ms ease;
  padding: 10px;
}

.faq-arrow {
  color: black;
}

/*------------- CONTACT-CONTAINER ----------------  */

.contact-container {
  background-color: rgb(156, 212, 214);
  display: grid;
  grid-template-rows: 1fr;
  row-gap: 10px;
  padding: 30px 10% 50px 10%;
}

.bold {
  font-weight: 500;
  margin-bottom: 10px;
}

.information a {
  text-decoration: none;
  color: rgb(77, 165, 168);
}

.information a:hover {
  color: rgb(255, 147, 6);
}

.information {
  display: grid;
  grid-template-columns: 30px 1fr;
}

.map {
  padding-top: 10px;
}

/*------------- IPAD ADJUSTEMENTS ----------------  */

@media only screen and (min-width: 668px) and (max-width: 1024px) {
  html {
    width: 100%;
  }

  .video-ipad {
    display: flex;
  }

  .video-mobile {
    display: none;
  }

  .form-content {
    padding: 10px 40px 50px 40px;
  }

  .form-room-posters {
    display: flex;
    flex-direction: row;
    justify-content: center;
    column-gap: 10px;
  }

  .form-room-posters img {
    width: 30%;
    margin-top: 0;
  }

  .accordion-container {
    padding: 10px 20px 50px 40px;
  }

  .faq-contact-content {
    flex-direction: row;
  }

  .contact-container {
    background-color: rgb(211, 209, 209);
    display: flex;
    flex-direction: column;
    padding: 10px 40px 50px 20px;
    row-gap: 0px;
  }

  .information {
    padding-bottom: 10px;
  }
}

/*------------- DESKTOP ADJUSTMENTS ----------------  */

@media only screen and (min-width: 1025px) {
  .video-mobile {
    display: none;
  }

  .video-desktop {
    display: flex;
  }

  .form-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 60px 40px;
    justify-content: center;
  }

  .form-content {
    flex: 50%;
    padding: 0;
    margin: 0 40px 0 0;
  }

  .form-room-posters {
    flex: 50%;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 40px;
  }

  .form-room-posters img {
    width: 33%;
    margin-top: 0;
  }

  .form-faq-contact-container {
    background-color: rgb(156, 212, 214);
  }

  .faq-contact-container {
    width: 100%;
    background-color: rgb(211, 209, 209);
    padding: 60px 40px;
  }

  .faq-contact-content {
    max-width: 1200px;
    flex-direction: row;
    margin: auto;
  }

  .accordion-container {
    flex: 50%;
    padding: 0 40px 0 0;
  }

  .contact-container {
    flex: 50%;
    background-color: rgb(211, 209, 209);
    display: flex;
    flex-direction: column;
    row-gap: 0px;
    padding: 0 0 0 40px;
  }

  .information {
    padding-bottom: 10px;
  }

  .map {
    height: 300px;
  }
}
