
body {
  background: #8D7B68;
  width: 100%;
  height: 100%;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  color: rgb(255, 255, 255);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 40px;
}

h2 {
  color: rgb(0, 0, 0);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 25px;
  text-align: center;  
}

button {
  background-color: #4e604f; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 12px;
  cursor:pointer;
}


.hero-header {
  position: relative;
  height: 100vh;
  width: 100%; 
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.hero-video {
  position: absolute;
  width: 102%;
  height: 80%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.7;
}

.hero-content {
  z-index: 1;
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.5rem;
}

label {
	display: block;  
	padding: 10px;
  color: grey;
}

.form-label {
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  color: #333;
}

input, select {
  width: 100%; 
}

.form-radio {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  color: #333;
  display: flex;  
}

.form-time {
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 5px;
  color: #333;
  display: flex;  
}

.form {
  width: 50%;
  background-color: #F7E9D7;
  padding: 20px;
  margin: 10px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 20px;
  box-shadow: 4px 4px 7px 0 rgba(0, 0, 0, 0.3);
}


.footer{
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #8D7B68(148, 134, 134);
  color: white;
  text-align: center;
  font-family: 'Raleway', sans-serif;
}


@media (min-width:667px) and (max-width:1024px) {
  /*This is the middle version*/
  body, html,h1 {
    background: #8D7B68(148, 134, 134);
  }
  
  .form {
    background-color: #F7E9D7;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
  }

}

@media (min-width:0px) and (max-width:668px) {
/*this is the mobile version*/
  body, html {
    background: #8D7B68(148, 134, 134);
  }

  .form {
    background-color: #F7E9D7;
    padding: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.3);
  }

  p {
    display:none
  }

}




