/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

/* Färger
#62AC7B Main grön
#437252 Mörk grön
#34563d Mörkaste grön

#FFCA41 Gul
#FFD366 Ljjus gul
#FEF6DF Ljusaste gul

#0F1B12 Mörk grån/svart
#BABCBB Ljus grå
*/




* {
  padding: 0;
  margin: 0;
  font-family: montserrat, sans-serif;
}


/* Header */

header {
  width: 100%;
  display: flex;
  justify-content: space-between;

  z-index: 1;
}

.logo {
  width: 220px;
  margin: 0px 8px;
}

.hamburger {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-around;
  align-self: center;

  margin-left: 30px;
  margin-right: 30px;
  margin-top: 20px;
  margin-bottom: 20px;

}

.hamburger div {
  width: 30px;
  height: 5px;
  background: #0F1B12;
  border-radius: 5px;
}

nav {
  display: none;
}

.mainSection {
  display: flex;
  flex-direction: column;
}

/* Header */

.heroPic img {
  width: 100%;
  background-position: center;
  background-repeat: none;
  background-size: cover;
}

.hero-ctn {
  position: relative;
  text-align: center;
  width: 100%;
}

.heroText {
  box-sizing: border-box;
  padding: 20px;
  font-size: 25px;
  color: #0F1B12;
  margin-top: 20px;
}

/* Form */
.signUp {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  padding: 30px
}

.signUpForm {
  display: flex;
  flex-direction: column;
  text-align: center;
}



form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.signUpForm h2 {
  font-weight: 400;
  font-size: 20px;
}

form label {
  text-align: left;
  font-size: 14px;
  box-sizing: border-box;
  padding: 20px 0px 5px;
}

.excitedVolLabel {
  margin-bottom: 20px;
}

.excitedVol {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin-bottom: 10px;
}


.excitedVol::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.excitedVol::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.signUpImg {
  width: 100%;
}
.signUpImg img {
  width: 100%;
}

form input {
  border: none;
  border-bottom: 1px solid #BABCBB;
  height: 30px;
}

.getStartedBtn {
  width: 200px;
  height: 50px;
  border: none;
  color: #ffffff;
  background-color: #62AC7B;
  margin: 25px 0px;
  font-size: 18px;
  border-radius: 10px;
  font-weight: 600;
  
}





.signUpForm h2 .signUpGreen{
  color: #62AC7B;
  font-weight: 900;
}



.checkbox-ctn {
  display: flex;
  margin: 10px 0px;
    
  position: relative;
  padding-top: 10px;
  -webkit-user-select: none;
} 

.checkbox-ctn input {
  position: relative;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  
}


.custom-checkbox {
  position: relative;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #d3d3d3;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 10px;
}


.checkbox-ctn:hover input ~.custom-checkbox {
  background-color: #BABCBB;
}

.checkbox-ctn input:checked ~.custom-checkbox {
  background-color: #a2a3a3;
}

.custom-checkbox::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 11px;
  border-radius: 2px;
  border: solid #fff;
  border-width: 0 3px 3px 0;
  top: 1px;
  left: 5px;
  transform: rotate(45deg);
  display: none;

}

.checkbox-ctn input:checked ~ .custom-checkbox::after {
  display: block;
}


/* Accordion */
.accordion {
  display: flex;
  flex-direction: column;
  width: 100%;
  box-sizing: border-box;
  padding: 10px 30px 30px 30px;
}

.accordion h1 {
  font-size: 25px;
  box-sizing: border-box;
  padding: 10px 0px;
  font-size: 25px;
  color: #0F1B12;
  margin-top: -15px;
  
}

.question {
  background-color: #62AC7B;
  color: #fff;
  font-size: 16px;
  box-sizing: border-box;
  padding: 15px;
  font-weight: 600;
  width: 100%;
}

.answer-ctn {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-in-out;
}

.answer-ctn p {
  padding: 15px;
}

.answer {
  background-color: #f7f7f7;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 1.5;
  margin: 0;
}


.active {
  height: 170px;
}