/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

html {
  box-sizing: border-box;
}

body {
  color: black;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

a {
text-decoration: none;
color: black;
}

h1 {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
  text-align: center;
}

h2{
  color: black;
  text-align: center;
  font-size: 20px;
}

p {
  color: black;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 16px;
  margin-top: 10px;
  margin-bottom: 8px;
}

div {
  display: block;
}

/****************** HEADER ******************/

/* Navigation OK */
.header { 
  background: black;
  display: flow-root;
  padding: 12px 16px 10px 0;
  border-bottom: 2px solid #ebebeb;
  position: relative;
  width: 100%;
}

.navbar-right a {
  color: white;
  font-size: 12px;
  padding: 10px 10px;
  text-decoration: none;
  margin-left: 16px;
  margin-right: 20px;
  float: right;
  font-weight: 900;
}

.navbar-right a:after {
  content: "";
  display: block;
  margin: auto;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}

.navbar-right a:hover {
  color: #D9CDBF;
}

.navbar-right a:hover:after {
  width: 100%;
  background: #D9CDBF;
}

/****************** TOP SECTION ******************/
/* Welcome-video OK*/ 

.head-container {
  width: 100%;
  position: relative;
  flex-direction: column;
  }

.head-container .head-content {
  flex-direction: column;
  flex-wrap: flex;
  justify-content: center;
}

.head-video video {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;
  flex-grow: 1;
  opacity: 0.98;
  margin-top: -3px;
  }

.head-overlay {
  position: absolute;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  top: 40%;
  left: 30%;
  right: 30%;
  bottom: 50%;
}

/* Welcome message button */
.head-overlay button {
  display: inline-block;
  background-color: #403F3D;
  color: #D9CDBF;
  padding: 13px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 13px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.head-overlay button:hover {
  background-color: #C4F2AE;
  color: #59493B;
}

/****************** SIGNUP FORM ******************/

.main-content {
  flex-direction: column;
  flex-wrap: wrap;
}

.form-wrapper {
  display: inline-block;
  width: 40%;
  margin-left: 40px;
}

label {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin: 8px;
}

input,
textarea {
  margin: 0;
  font-size: inherit;
  font-family: inherit;
  line-height: inherit;
}

.text-center {
  text-align: center;
}

form {
  border: #A68C76 solid 1px;
  padding: 30px 50px 30px 18px;
  border-radius: 10px;
}

.form-control {
  display: block;
  width: 100%;
  height: 25px;
  padding: 7px;
  background-color: white;
  background-clip: padding-box;
  border: 2px solid #D9CDBF;
  border-radius: 10px;
  transition: border-color 0.15sec ease-in-out, box-shadow 0.15sec ease-in-out;
}

.input-radio,
.input-checkbox {
  display: inline-block;
  margin-right: 10px;
  min-width: 18px;
  min-height: 18px;
}

.submit-button {
  display: inline-block;
  background-color: #403F3D;
  color: #D9CDBF;
  padding: 13px 28px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 13px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #C4F2AE;
  color: #59493B;
}

/****************** MEDIA QUERIES ******************/
@media (min-width: 576px){

}

@media (min-width: 768px){
  
}

@media (min-width: 480px){

}
