/*mobile first*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000120;
}

/* header and navbar down to row 160*/
.showcase {
  position: relative;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
}

.showcase.active {
  right: 200px;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-transform: uppercase;
  cursor: pointer;
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 3px;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(./icons/menu.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url(./icons/close.png);
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: center;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.text {
  position: relative;
  z-index: 10;
  font-family: 'Barlow';
}

.text h2 {
  font-size: 3em;
  font-weight: 800;
  line-height: 1em;
  text-transform: uppercase;
}

.text h3 {
  font-size: 2em;
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
}

.text p {
  font-size: 1.1em;
  margin: 20px 0px;
  font-weight: 400;
  max-width: 700px;
}

h1 {
  color: #fff;
}

.social {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social li {
  list-style: none;
}

.social li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transform: scale(0.5);
  transition: 0.5s;
}

.social li a:hover {
  transform: scale(0.5) translateY(-15px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Barlow';
  font-weight: bold;
  background: #fff;
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: black;
}

.menu ul li a:hover {
  color: blueviolet;
}

/*body starts*/
.grid-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: #000120;
  padding: 0px;
  flex-wrap: wrap;
}


.information {
  span: 2;
  display: grid;
  text-align: center;
  color: #fff;
  padding: 80px;
  font-size: 35px;
  line-height: 50px;
  font-family: 'barlow';
}

.information h1 {
  padding: 10px;
}

.gridright {
  display: flex;
  flex-direction: column;
  justify-content: left;
  flex-wrap: nowrap;
  text-align: left;
  padding: 3em;
  border-style: solid;
  border-color: chartreuse;
}

.apply-form {
  padding: 40px;
  margin: 5px;
  display: block;
  justify-content: center;
  font-family: 'barlow';
}

label {
  display: block;
  margin: 1px;
  padding: 3px;
  color: #fff;
  font-size: 20px;
}

input {
  border: solid;
  border-width: 1px;
  font-size: 1em;
  padding: 1em;
  margin-bottom: 1em;
  width: 90%;
}

input:focus {
  border: 3px solid #BD789A;
}

/* Removes up and down icon in number input field*/
/*Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.form-button {
  padding: 10px;
  margin-top: 10px;
  width: 90px;
  font-size: 15px;
  font-family: 'barlow';
  font-weight: bold;
}

.img-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(4, 1fr);
}

.grid-item-img {
  grid-column: span 2;
  display: grid;
  flex-direction: column;
}

.more-information {
  display: block;
  text-align: center;
  color: #fff;
  padding: 80px;
  font-size: 35px;
  line-height: 50px;
  font-family: 'barlow';
}

.more-information h1 {
  padding-bottom: 20px;
}

.interview-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  background-color: #fff;
  color: #000;
  margin-top: 10px;
  font-family: 'barlow';
}

.interview p, h3 {
  padding: 10px
}

.interview {
  grid-column: span 3;
  display: grid;
  flex-direction: column;
  padding-bottom: 20px;
  background: #000120;
}

/* accordion styling*/

.accordion {
  padding: 50px;
}

.accordion-title {
  padding: 40px 0px 10px 0px;
  font-family: 'barlow';
}

.accordion__button {
  display: block;
  width: 100%;
  padding: 15px;
  border: solid #000120 1px;
  outline: none;
  cursor: pointer;
  background: #BD789A;
  color: #fff;
  text-align: left;
  transition: background 0.2s;
}

.accordion__button::after {
  content: '\25be'; /* triangle icon pointing down*/
  float: right;
  transform: scale(1.5);
}

.accordion__button--active {
  background: #555555;
}

.accordion__button--active::after {
  content: '\25b4'; /* triangle icon pointing up*/
}

.accordion__content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.8s;
  padding: 0px 15px;
  font-family: 'barlow';
  background: #eeeeee;
  -moz-box-shadow:    inset 0 0 5px #504c4c;
  -webkit-box-shadow: inset 0 0 5px #504c4c;
  box-shadow:         inset 0 0 5px #504c4c;
}

.accordion__content p {
  padding: 15px;
}

/*footer styling*/

.footer-container {
  display: grid;
  flex-wrap: wrap;
  grid-template-columns: repeat(3, 1fr);
  background-color: #000120;
  color: #fff;
  margin-top: 10px;
  font-family: 'barlow';
}

.footer-item {
  padding: 15px;
  grid-column: span 3;
  display: grid;
  flex-direction: column;
}

.footer-item h1 {
  font-size: 15px;
  padding-bottom: 1px;
}

.footer-item p {
  font-size: 12px;
}

iframe {
  width: 100%;
  height: 100%;
}

/*tablet*/
@media (min-width: 668px) and (max-width: 1024px) {

  .grid-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr);
    background-color: #000120;
    
  }

  .information, .apply-form, .grid-item-img {
    grid-column: span 2;
    display: inline-block;
    flex-direction: column;
  }
  
  .information {
    text-align: center;
    color: #fff;
    padding: 25px 80px 25px 80px;
    font-size: 20px;
    line-height: 30px;
  }
  
  .information h1 {
    padding: 15px;
  }

  .information p {
    font-size: 20px;
    line-height: 30px;
  }
  
   .grid-item-img {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
    
  }
  
  .apply-form {
    padding: 40px;
    margin: 5px;
    display: block;
    justify-content: center;
  }
  
  label, input {
    display: block;
    color: #fff;
    font-size: 20px;
  }

  input {
    margin-bottom: 10px;
  }
  
  .form-button {
    padding: 10px;
    margin-top: 10px;
    width: 90px;
    font-size: 15px;
  }

  .interview-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    color: #000;
    margin-top: 10px;
  }

  .interview p, h3 {
    padding: 10px;
  }

  .interview {
    grid-column: span 1;
    display: grid;
    flex-direction: column;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    background-color: #000120;
    color: #fff;
    margin-top: 10px;
    font-family: 'barlow';
  }
  
  .footer-item {
    padding: 15px;
    grid-column: span 1;
    display: inline-block;
    flex-direction: column;
  }
  
  .footer-item h1 {
    font-size: 15px;
    
  }
  
  .footer-item p {
    font-size: 12px;
  }

}


/*desktop*/
@media (min-width: 1025px) and (max-width: 1900px)  {

  .showcase, .showcase header {
    padding: 100px;
  }

  .showcase.active {
    right: 300px;
  }

  .menu {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .text h2 {
    font-size: 4em;
  }

  .text h3 {
    font-size: 3em;
  }

  .grid-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(2, 1fr);
    background-color: #000120;
    padding: 20px 0px 20px 0px;
    
  }

  .information, .apply-form, .grid-item-img {
    grid-column: span 1;
    display: grid;
    flex-direction: column;
  }

  .apply-form {
    width: 100%;
  }

  .gridright {
    span: 2;
  }

  .interview-container {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(3, 1fr);
    background-color: #fff;
    color: #000;
    margin-top: 10px;
  }

  .interview p, h3 {
    padding: 10px;
  }

  .interview {
    grid-column: span 1;
    display: grid;
    flex-direction: column;
  }
  
  .information {
    text-align: center;
    color: #fff;
    padding: 25px 80px 25px 80px;
    font-size: 40px;
    line-height: 50px;
  }
  
  .information h1 {
    padding: 10px;
  }
  
   .grid-item-img {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    margin: 0px;
    width: 100%;
  }

  .accordion {
    padding: 100px
  }

  .footer-item h1 {
    font-size: 20px;
    
  }
  
  .footer-item p {
    font-size: 16px;
  }

}

