/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
/* 
.active + .answer {
  /* some styling here */
  /* background-color: aquamarine;
} */ */



body{
  font-family: 'Courier Prime', monospace;
  margin: 0;
  width: 100%;
}

.hero-image {
  background-image: url("camera.jpg");
  height: 400px;
  /* background-position: center; */
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);  /*needs explanation*/
  top: 25%;
  left: 50%;
  color: #ddded8;
  font-family: 'Special Elite', cursive;
  font-size: xx-large;
}

.black-white-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  object-fit: cover;
}

.bw-pic{
  height: 200px;
  width: 100%;
}

.main-box {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 15px;
}

.order-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ababab;
  width: 50%;
  margin: 0 0 4% 20%;
  padding: 5%;
}

label{
  display: block;
  margin-bottom: 10px;
  justify-content: center;
}

.accordion {
  text-align: center;
  padding: 5px 20px;
  background-color: #ababab;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin: 0 20% 4% 0;
  padding: 5%;
}

.question { 
  background-color: #c3c3c3;
  color: #5b5f62;
  cursor: pointer;
  text-align: left;
  border: 0.5px solid #939393;
  /* border: none; */
  outline: none;
  transition: 0.4s;
  width: 50%;
}

.active, .question:hover {
  background-color: #828385 ;
}

.answer {
  padding: 0 18px;
  background-color: #939393;
  display: none;
  overflow: hidden;
}

.question:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  font-size: 15px;
  color: #5b5f62;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}


footer {
  background-color: black;
  color: #e3dfd4;
  height: 100px;
  text-align: center;
  font-size: x-large;
  display: flex;
  justify-content: space-evenly;
}

.social-media {
  height: 80px;
  width: 300px;
  margin-top: 0;
}

@media (min-width: 600px) {

.hero-image{
  background-position: 100%;
}

.black-white-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 0;
  width: 100%;
 
}

.bw-pic{
  height: 300px;
  width: 100%;
  
}

 .main-box {
   grid-template-columns: 1fr 1fr;
 } 

 .order-box {
   span: 1;
 }

}