body {
  margin: 0;
  padding: 0;
  background: #cedd69;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #cedd69;
  padding: 30px;
}

header {
  overflow: hidden;
  margin: 0px;
  height: 720px;
}

.header-video {
  object-fit: cover;
  width: 100%;
  height: 720px;
}

#video2 {
  display: none;
}

.header-text {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 45px;
  color: white;
  position: absolute;
  top: 200px;
  width: 100%;
  text-align: center;
}

.header-text h1 {
  font-size: 45px;
  color: white;
}

.header-text h2 {
  font-size: 25px;
  font-weight: 600;
  opacity: 0.8;
}

#signup-form {
  font-family: "Source Sans Pro", sans-serif;
  width: 300px;
  height: 300px;
  display: flex;
  flex-direction: column;
  background:rgba(255, 255, 255, 0);;
  margin-right: 100px;
  box-shadow: 10px 5px 5px #705151;
  
}

.form-group {
  padding: 10px;
  width: 280px;
  display: flex;
  align-items: center;
}

.form-group label {
  width: 100px;
  color: white;
}

#daynightgroup {
  width: 120px;
}

.form-group input {
  width: 200px;
  border: none;
}

input:focus {
  outline: grey;
  background: #9C9C9C;
}

#vegetarian {
  width: 20px;
}

#submit {
  color: white;
  background: rgb(156, 156, 156);

}

.accordion {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  width: 300px;
  margin-bottom: 55px;
  box-shadow: 10px 5px 5px #705151;
}

.accordion-header {
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 15px;
  cursor: pointer;
  background: rgb(156, 156, 156)
}

.question {
  border-top: 2px solid #999;
  margin: 0;
  padding: 15px;
  height: 20px;
  cursor: help;
  position:relative;
}

/* content in answer after question */

.question::after {
  content:"+";
  padding-right:5px;
  position: absolute; 
  right: 0;
}

/* styling for active answer in accordion */

.active::after {
  content:"-";
  padding-right:5px;
  position: absolute; 
  right: 0;
}

.answer {
  height: 0px;
  overflow: hidden;
  transition: height 0.4s ease;
}

.active + .answer {
  height: 100px;
  padding: 15px;
  background: #705151;
}

/* styling for tablet mode */

@media only screen and (max-width: 768px) {
  
  main {
    padding: 0px;
    height: auto;
    margin:0;
  }

  #video1 {
    display: none;
  }
  #video2 {
    display: block;
  }
  .header-video {
    height: 480px;
  }

  header {
    height: auto;
  }

  .header-text h1 {
    font-size: 30px;
  }

  .header-text h2 {
    font-size: 15px;
  }

  #signup-form {
    margin: 0px;
    padding: 0px;
    width: 50%;
    height:100%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
  }

  .accordion {
    margin: 0px;
    padding: 0px;
    width: 50%;
    min-width: 300px;
    height:100%;
    border: none;
    border-radius: 0px;
    box-shadow: none;
  }
}

/* styling for mobile view */

@media only screen and (max-width: 600px){
  .accordion {
    width: 100%;
  }
  
  #signup-form {
    width: 100%;
  }

  .header-video {
    height: 240px;
  }

  .header-text {
    top: 100px;
  }

  .header-text h1 {
    font-size: 20px;
  }

  .header-text h2 {
    font-size: 12px;
  }
}