/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}




.header img {
  width: 100%;
  height: 400px;
}

.flex-parent {
  border: 2px solid blue;
  width: 800px;
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
  height: 500px;
  
}

.flex-child {
  margin: 30px;
  width: 100px;
  height: 400px;
}

.one {
  padding: 10px;
  background: rgb(32, 155, 236);
  width: 48%;
  text-align: center;
}

.two {
  padding: 10px;
  background: blue;
  width: 48%;
  text-align: center;
}



/*------------------------FORM Section------------------------*/

form {
  background-color: rgb(32, 155, 236);;

}

h1{
  height: 22px;
}

input {
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 251px;

}

input:valid {
  background-color: rgb(214, 240, 214);
}

input:invalid {
  background-color: rgb(214, 112, 112);
}

label {
  display: block;
  margin-bottom: 20px;
}

/* TEST RADIO BUTTONS*/
/* The container */

.checkbox1 {
  display: flex;
  justify-content: space-between;
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  height: 22px;
}
.container {
  display: flex;
  position: relative;
  padding-left: 16px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 2px;
  left: 0;
  height: 12px;
  width: 12px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: red;
  border: 1px solid white;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  top: 4.5px; /* 2.88 */
	left: 4px; /* 2.88 */
  width: 4px; /*2.56*/
  height: 4px; /*2.56*/
	border-radius: 50%;
	background: white;
}

/* TEST RADIO BUTTON */


button {
  background-color: #4CAF50; /* Green */
  border: 2px solid black;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  /*margin: 4px 2px; */
  cursor: pointer;
  border-radius: 12px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  
}

.button {
  display: flex;
  justify-content: center;
}

.terms  {
  width: 16px;
}




/*------------------------FORM Section------------------------*/