body {
  background: black;
  color: white;
  text-align: center;
  margin: auto;
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.hero {
  background-image: url(./assets/color-smoke.jpg);
  height: 60vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero-overlay {
  display: flex;
  justify-content: baseline;
  flex-direction: column;
}

h1 {
  font-size: 50px;
  margin: 20px;
  font-weight: bold;
}

h2 {
  font-size: 25px;
  font-family: "Petit Formal Script", cursive;
  font-weight: 400;
  font-style: normal;
}


main {
  background-color: white;
  background-image: url(./assets/dancer-bw.jpg);
  height: 280vh;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: cover;
}

.form-header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h3 {
  font-size: 30px;
  font-weight: light;
  margin-bottom: 5px;
}

h4 {
  font-size: 20px;
  font-weight: light;
  margin-top: 5px;
}

form {
  border: none;
  border-radius: 4px;
  padding: 20px;
  max-width: 500px;
  margin: 0 auto;
  background-color: transparent;
}

.form-fieldset {
  border: none;
  padding: 0px;
  background: transparent blur 5px;
  border-radius: 4px;
}

.form-fieldset label {
  display: flex;
  border-bottom: 1px #720455;
  align-items: center;  
  backdrop-filter: blur(5px);
  margin: 7px;
  padding: 3px;
  border-radius: 20px;
}

.form-fieldset .fname:hover {
  background-color: #e81416;
}

.form-fieldset .lname:hover {
background-color: #ffa500;
}

.form-fieldset .email:hover {
background-color: #faeb36;
}

.form-fieldset .phone:hover {
background-color: #79c314;
}

.form-fieldset .password:hover {
background-color: #487de7;
}

.form-fieldset .confirm-password:hover {
background-color: #4b369d;
}

.form-fieldset .country:hover {
background-color: #70369d;
}

span {
  width: 30%;
  text-align: center;
  margin-right: 15px;
  flex-shrink: 0;
}

input.fill-out-form  {
  width: 100%;
  font-size: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 10px;
  appearance: none;
  border: none;
  outline: none;
  background-color: transparent;
}

input:valid {
  border: 2px solid black;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

input:invalid {
  border: 1px solid gray;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
}
::-moz-placeholder { /* Firefox 19+ */
  color: grey;
}
:-ms-input-placeholder { /* IE 10+ */
  color: grey;
}
:-moz-placeholder { /* Firefox 18- */
  color: grey;
}

select {
  width: 80%;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 15px;
  color: 030637;
  outline: none;
}

/* RADIO BOXES RADIO BOXES RADIO BOXES RADIO BOXES RADIO BOXES RADIO BOXES RADIO BOXES RADIO BOXES RADIO BOXES RADIO BOXES RADIO BOXES RADIO BOXES  */


fieldset.contact-method {
  background-color: transparent; 
  margin-top: 20px;
  padding:10px;
  border-radius: 4px;
  border: none;
}

.contact-method-container {
  Border: none;
}

legend {
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 20px;
  margin-bottom: 10px;
}

legend:hover {
  background-color: black;
}

.radio-button-container {
  border: none;
  display: flex;
  justify-content: space-evenly;
  background-color: transparent;
}

.radio-button-box {
  border: none;;
  background-color: transparent;
  backdrop-filter: blur(5px);
  padding: 10px;
  border-radius: 20px;
}

.radio-button-box:hover {
  background-color: hotpink;
}


.radio-button-box label {
  border: none;
}


/* CHECKBOXES CHECKBOXES  CHECKBOXES  CHECKBOXES  CHECKBOXES  CHECKBOXES  CHECKBOXES  CHECKBOXES  CHECKBOXES  CHECKBOXES  CHECKBOXES  CHECKBOXES */


fieldset.agreement {
 background-color: transparent; 
 backdrop-filter: blur(5px);
 padding: 10px;
 border-radius: 20px;
 margin-top: 20px;
 border: none;
}

fieldset.agreement:hover {
  background-color: pink;
  color: black;
}

.agreement-box {
  display:flex;
  justify-content: flex-start;
  margin: 10px;
  padding-left: 15px;
}

.agreement-box label {
  font-size: 15px;
  padding-left: 30px;
}

.agreement-box a {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.agreement-box a:hover {
 text-decoration: underline;
}

/* CHECKBOXES END CHECKBOXES END CHECKBOXES END CHECKBOXES END CHECKBOXES END CHECKBOXES END CHECKBOXES END CHECKBOXES END CHECKBOXES END   */


button {
  background:aquamarine;
  border: none;
  border-radius: 20px;
  width: 100%;
  font-size: 20px;
  color: #030637;
  font-weight: bold;
  padding: 10px;
  margin-top: 20px;
}

button:hover {
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
  transform: translateY(-3px);
  transition: all 0.3s ease-in-out;
}


.existing-account h4 {
  font-size: 15px;
  display: flex;
  justify-content: center;
}

.existing-account h4 a {
  text-decoration: none;
  padding-left: 5px;
  color: aquamarine;
}

.existing-account h4 a:hover {
  text-decoration: underline;
}


/* FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER FOOTER */

.personal-info {
  display: flex;
  justify-content: space-between;
}

.personal-info img {
  max-width: 200px;
}

.personal-info-links {
  display: flex;
  align-items: center;
}
