
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
} 

section {

  flex: 1;
  width: 100%
}

/* HEADER */

nav {

  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 1;
  position: fixed; 

  background-color: black;
  font-family: 'Kumbh Sans', sans-serif;
  
}

nav a {
  padding: 1rem;
  color:lightsalmon;
  align-self: center;
}

/* 
nav > * {

} */ */


#header-section {

  /* align-self: center; */
  width: 100%;
  height: 50%;
  display: flex;

  text-align: center;  
  align-items: center;

  position: relative;
  
  justify-content: center;
  overflow: hidden;


}

.heading-text {
  z-index: 2;
  
}

video {
  object-fit: cover;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  width: 100vw;
}

/* FAQ */

article {
  margin: 0.3rem;
}

#accordion {
  flex: 1;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(102, 12, 62);
  padding: 5rem;

}

.questions-box {

  display: flex;
  flex-direction: column;
  max-width: 70%;
  align-self: center;

}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
    /* some styling here */
    display: block;
    /* background-color: seashell; */

}

.question {

  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  color: #c23bce;
}


.answer {
  align-self: center;
  padding: 2rem 5rem 2rem 5rem;
  color: #fd99d7;
  display: none;
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:active {

  color: red;
}


/* TEXT STYLING */

h1 {
  flex: 1;
  font-family: 'Kumbh Sans', sans-serif;
  margin: auto;
  width: 100%;  
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  color: snow;
  position: absolute;
  margin-top: 13rem;

}

h2 {

  margin: auto;
  width: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  font-weight: 300;
  color: snow;
  position: absolute;
  padding: 5rem;
  margin-top: 16rem;

}

h3 {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(252, 208, 252);
  padding-bottom: 1.5rem;
}

/* FORM */

#form-section {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  color: #fd99d7;
  padding: 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-image: url("./images/guitar-rainbow.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;

}

.form-box {
  padding: 3rem;
  width: 80%;
  background-color: rgba(27, 28, 77, 0.666);
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  
}

.signup {

  flex: 1;
  min-width: 100%;
}

.right {

  flex: 1;
  max-width: 400px;
  min-width: 310px;
  
}

.left {
  flex: 1;
  max-width: 400px;

}

label {

  padding: 0.1rem;
}

.right input[type="radio"] {

  padding: 1.2rem;
  
}

.right input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 3rem;

}

.left input {
  width: 100%;
  height: 50px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 5rem;

}

textarea {
  border-radius: 0.4rem;
  padding-top: 2rem;
}

/* Styling for the submit-button */

input[type="submit"] {
  margin-top: 0.7rem;
  font-size: 1.2rem;
	background-color: #fd99d794;
	border: none;
  border-radius: 0.4rem;
	padding: 1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: 100%;

}

.form-box button {

  width: 100%;
}

/* FOOTER */

footer p {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: end;
  padding-right: 3rem;
  color: rgb(68, 117, 117);
  padding-top: 2rem;
}


footer {
  /* width: 100%; */
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  background-color: black;
}

/* MEDIA QUERIES */

    /* MOBILE */

    @media all and (max-width: 569px) {

      #header-section {

        min-height: 350px;
      }

      video {

        height: 100%;

      }

      h1 {
        font-size: 2rem;
        margin-top: 5rem;
        padding-right: 2rem;;
        padding-left: 2rem;
      }

      h2 {
        font-size: 1rem;
        margin-top: 5rem;
      }

      h3 {

        margin-top: 2rem;
      }

      #accordion {
        padding-top: 3rem;
        padding-bottom: 4rem;
        padding-left: 0;
        padding-right: 0;

      }

      article {

        margin: 0;
      }
      
      .questions-box {

        display: flex;
        flex-direction: column;
        min-Width: 90%;
        align-self: center;
      }

      .question {

        padding-top: 1rem;
        padding-bottom: 1rem;
      }

      .answer {

        padding: 0;
      }

      #form-section {
        font-size: 1rem;
        padding: 0;
      }

      .form-box {

        margin-top: 1rem;
        margin-bottom: 2rem;
        padding: 1rem;
        width: 95%;
        gap: 1rem;
      }

      .signup {

        margin-top: 1rem;
      }
        
      .right {

        flex: 1;
        max-width: 100%;
        min-width: 90%;
      }

      .left {
        flex: 1;
        max-width: 100%;

      }

      .right input {
        margin-top: 2;
        margin-bottom: 1rem;

      }

      .left input {
        width: 100%;
        height: 50px;
        margin-top: 1;
        margin-bottom: 1;
      }

      textarea {
        width: 100%;
        padding-top: 2rem;
      }

      input[type="submit"] {
        padding: 0;
        height: 70px;
      }

    }

        /* SMALL FORMAT */

        @media all and (min-width: 570px) and (max-width: 1240px) {


          h1 {

            font-size: 3.3rem;
            margin-top: 8rem;
            padding-right: 2rem;;
            padding-left: 2rem;
          }

          h2 {

            font-size: 1.5rem;
            margin-top: 10rem;
          }


          .questions-box {

            display: flex;
            flex-direction: column;
            min-Width: 90%;
            align-self: center;
          }
    
          .question {
    
            padding-top: 1rem;
            padding-bottom: 1rem;
          }
    
          .answer {
    
            padding: 0;
          }

          .form-box {

            width: 100%;
          }


          
        }