
* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  margin: auto;
  display: flex;
  flex-wrap: wrap;

} 

section {

  flex: 1;
  width: 100%

}

/* HEADER */

nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: snow;
  position: fixed; 
  font-family: 'Kumbh Sans', sans-serif;
  z-index: 1;
 
}

nav a {
  padding: 1rem;
  color:lightsalmon;
}

nav > * {

} */


#header-section {

  flex: 1;
  /* align-self: center; */
  width: 100%;
  /* height: 60%; */
  min-height: 500px;
  max-height: 900px; 
  /* position: relative; */
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center; 
  justify-content: center;
  overflow: hidden;
}

.heading-text {
  /* padding-top: 15%; */
  /* position: absolute; */
  z-index: 2;
  
}

.header-section video {

  background-size: contain;
  background-repeat: no-repeat;
  width: 100vw;
  z-index: 0;
}

/* FAQ */

article {
  margin: 0.3rem;
}

#accordion {
  flex: 1;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(102, 12, 62);
  padding: 5rem;

}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
    /* some styling here */
    display: block;
    /* background-color: seashell; */

}

.question {

  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  color: #c23bce;
}


.answer {
  padding: 2rem;
  color: #fd99d7;
  display: none;
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 1rem;
}

button {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

button:active {

  color: red;
}




/* TEXT STYLING */



h1 {
flex: 1;
font-family: 'Kumbh Sans', sans-serif;
margin: auto;
width: 100%;  
text-align: center;
font-size: 3.5rem;
font-weight: 600;
color: snow;
position: absolute;
margin-top: 10rem;


}

h2 {

  margin: auto;
  width: 100%;
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  font-weight: 300;
  color: snow;
  position: absolute;
  padding: 5rem;
  margin-top: 13rem;

}

h3 {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 2rem;
  color: rgb(252, 208, 252);
  padding-bottom: 1.5rem;
}
.p-footer {
  font-family: 'Kumbh Sans', sans-serif;
  text-align: end;
  padding-right: 3rem;
  color: rgb(68, 117, 117);
  padding-top: 2rem;
}

/* FORM */

#form-section {
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.3rem;
  font-weight: 300;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("./images/guitar-rainbow.jpg");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 5rem;
  color: #fd99d7;

}

.form-box {
  padding: 3rem;
  width: 80%;
  background-color: rgba(27, 28, 77, 0.666);
  display: flex;
  flex-wrap: wrap;
  gap: 4rem;
  
}
.signup {

  flex: 1;
  min-width: 100%;
}

.right {

  flex: 1;
  max-width: 400px;
  min-width: 310px;
  
}

.left {
  flex: 1;
  max-width: 400px;

}

label {

  padding: 0.1rem;
}

.right input[type="radio"] {

  padding: 1.2rem;
  
}

.right input {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  padding: 3rem;

}

.left input {
  width: 100%;
  height: 50px;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

textarea {

  padding-top: 2rem;
}

/* Styling for the submit-button */

input[type="submit"] {
  margin-top: 0.7rem;
  font-size: 1.2rem;
	background-color: #fd99d794;
	border: none;
	padding: 1rem;
	font: inherit;
	cursor: pointer;
	outline: inherit;
  width: 100%;

}

.form-box button {

  width: 100%;
}

/* FOOTER */


footer {
  width: 100%;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 150px;
  background-color: black;
}






/* 
h1 {
  text-align: center;
  position: absolute;
  margin-top: 5%;
  max-width: 600px;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 3.5rem;
  font-weight: 600;
  color: snow;

}
h2 {
  text-align: center;
  position: absolute;
  margin-bottom: 10%;
  max-width: 60%;
  font-family: 'Kumbh Sans', sans-serif;
  text-align: center;
  font-weight: 500;
  color: snow;

} */


/* 

.header-section {

  width: 100%;
  min-height: 350px;
  max-height: 400px;
  background-color: chartreuse;
  display: flex;
  justify-content: center;

}


nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: black;
  color: snow;
  position: fixed;
  z-index: 1;
  
}

nav a {
  padding: 1rem;
  color:lightsalmon;
}

nav > * {

} */

/* .header-video {
  min-height: 350px;
  max-height: 400px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
} */
/* 
.overlay {

  position: absolute;
  top: 0;
  z-index: 1;
} */