@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;600&display=swap');

/* CSS below is to reset default values such as margin, padding and box-sizing
    and increase the resolution of the text */
    
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* General styling */

body {
  background-color: #f4d1d5;
  margin: 0;
  border: solid #212121 15px;
  width: 100%;
}

main {
  padding: 0 1rem;
  overflow:hidden;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'poppins'; 
  font-size: 1rem;
}

h2 {
  color: black;
  font-family: 'Playfair Display';
  font-size: 3vw;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: 4rem 2rem;
  border-top: 1px solid black;
  border-bottom: 0.25px solid black;
  padding: 20px 0;
}

h3 {
  font-family: 'Poppins';
  text-transform: uppercase;
}

h4 {
  text-align: center;
  font-size: 15px;
  font-family: 'poppins';
  font-weight: normal;
  padding-bottom: 2rem;
}

h5 {
  text-align: center;
  font-size: 15px;
  font-family: 'poppins';
  font-weight: normal;
  font-size: 20px;
}

/* Styling of header starts here */

.video-bg {
  position:absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

.header {
  height: 75vh;
  color: #f5f3f2;
  align-items: center;
  position: relative;
  overflow: hidden;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem;
    }
  
  nav a:hover {
    color: black;
    text-decoration: underline white;
    transition: all 1s ease;
  }
  
  .logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color:white;
  }

  /* Mobile nav */

.hamburger-menu {
  display: flex;
  flex-direction: column;
}

/* Hamburger menu */

.menu-line {
  width: 1.5rem;
  height: 1px;
  margin-bottom: 0.5rem;
  fill: white;
  background-color: white;
}

/* Desktop nav */

.desktop-menu {
  display: none;
  text-transform: uppercase;
}

.desktop-menu a {
  margin-left: 1.5rem;
}

.hero-title-wrapper {
  color: black;
  margin-top: 150px;
  position: relative;
}

.hero-title {
  font-size: 5vw;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
  text-align: center;
}

.hero-title-wrapper p {
  text-align: center;
}

p {
  font-family: 'poppins';
  font-size: 1rem;
  font-weight: normal;
}

/* Animated text */

.rolling-text-header {
  font-family: 'Playfair Display';
  font-size: 4vw;
  font-style: normal;
  font-weight: normal;
  margin-top: 1rem;
  animation-name: scroll;
  animation-duration: 10s;
  position: relative;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes scroll {
  from { left: 100%; }
  to { left: -80%; }
}

/* Styling of accordion starts here */

.project-header {
  border-bottom: 3px solid black;
}

.active + .project-content {
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
  margin-bottom: 1rem;
}

.project-title {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'poppins';
  font-size: 10px;
  padding:10px;
  height: 70px;
}

.project-title p {
  font-size: 10px;
}

.project-title:hover {
  background-color: black;
  color: #EED2D5;
  transition: all 1.5s ease;
}

.project-title::before {
  content: "+";
  position: absolute;
  right: 7rem;
}

.project-title.active::before {
  content: "-";
}

.accordion {
  border-bottom: 1px solid black;
}

.content-text {
  display: flex;
  flex-direction: column;
}

.content-text p { 
  width: 100%;
  margin-bottom: 1rem;
}

.project-content {
  display: none;
}

/* Styling of the form starts here */

.form-wrapper {
  width: 90%;
  margin:auto;
}

.form {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'poppins';
  font-size: 1rem;
  text-transform: uppercase;
}

form label {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  width: calc(50% - 2rem);
  margin: 1rem;
}

input, select, option {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  cursor: pointer;
  outline: none;
  box-shadow : none; 
  -webkit-apperance: none;
  -moz-appearance: none;
  appearance: none;
  color: #212121;
}

input:focus {
  outline: none;
}

.items-of-interest {
  width: 100%;
  color: #212121;
}

#items-of-interest {
  color: #212121;
}

select:focus {
  outline: none;
  border: 1px solid black;
}

.text-area {
  width: 100%;
  margin: 0 15%;
  text-align: center;
}

textarea {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  height: 100px;
  margin: 1rem 0;
  -webkit-apperance: none;
  -moz-appearance: none;
  appearance: none;
}

.text-area-text { 
  font-family: 'poppins';
  font-size: 10px;   
  color: black;
  padding: 5px 0 0 5px;
}

textarea:focus {
  outline: none;
  border: 1px solid #BE9499;
}

.newsletter-checkbox {
  display: inline-flex;
  align-items:center;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
  width: 100%;
}

.newsletter-input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.newsletter-input:checked ~ .new-checkbox {
  background-color: #3a3939;
}

.new-checkbox {
  position: relative;
  top: 4;
  left: 10;
  height: 18px;
  width: 18px;
  border: 1px solid #212121;
  border-radius: 5px;
  cursor: pointer;
}

.new-checkbox:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 6px;
  border: .2px solid #EED2D5;
  border-width: 0 3px 3px 0;
  top: 3px;
  left: 5px;
  transform: rotate(45deg);

}

button {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px 17px;
  margin: auto;
  margin-bottom: 2rem;
  margin-top: 1rem;
  text-align: center;
  -webkit-apperance: none;
  -moz-appearance: none;
  appearance: none;
}

button:hover {
  background-color: black;
  color: #EED2D5;
  transition: all 1.5s ease;
}

/* Rolling text */

.rolling-text-bottom {
  font-family: 'Playfair Display';
  font-size: 6vw;
  font-style: normal;
  font-weight: normal;
  margin-top: 4rem;
  animation-name: scroll;
  animation-duration: 10s;
  position: relative;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes scroll {
  from { left: 100%; }
  to { left: -80%; }
}

/* Styling of footer*/

footer {
  padding: 3rem 0 1rem 0;
  border-top: 15px solid #212121;
  margin-top: 1rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

ul a {
  color: black;
}

li:hover {
  background-color: black;
  color: #EED2D5;
  transition: all 1.5s ease;  
  padding: 4px 4px;
  border-radius: 5px;
}

.footer-text {
  font-size: 12px;
  font-family: 'poppins';
  font-weight: normal;
  text-align: center;
  margin: 2rem 0 1rem 0;
  color: black;
}

/* On screens that are 768px or more (tablet) */

@media screen and (min-width: 768px) {
  
  body {
    border: solid #212121 34px;
  }

  .hero-title-wrapper {
    margin-top: 120px;
  }

  .hamburger-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

  .rolling-brand-text {
    font-size: 1.5rem;
    margin-top:2rem;
    font-weight: normal;
    animation-duration: 10s;
  }

  h2 {
    margin: 12rem 10rem;
    padding: 50px;
    font-size: 2.5vw;
  }

  h4 {
    font-size: 1.5rem;
    padding-bottom: 3rem;
  }

  h5 {
    font-size: 3rem;
  }

  p {
    font-size: 1rem;
  }

  .active + .project-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .project-title::before {
    right: 10rem;
  }

  .project-title {
    height: 140px;
    font-size: 20px;
  }

  .project-title h4 {
    font-size: 2.5rem;
  }

  .project-image {
    width: 50%;
    margin-right: 1rem;
  }

  .content-text {
    margin-top: 1rem;
  }

  .form-wrapper {
    width: 50%;
  }

  button {
   margin-top: 2rem;
   margin-bottom: 2rem;
  }

  footer {
    margin-top: 3rem;
    border-top: 34px solid #212121;
  }

  li{
    font-size: 1.5rem;
    margin:0.5rem;
  }

}

/* On screens that are 992px or more (desktop) */

@media screen and (min-width: 992px) {  
 
}
