/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/*** Mobile first***/
/*** Heror section ***/
.hero {
position: relative;
}

.hero-image {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
/*** Form section ***/
.form {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.input-type {
  margin-bottom: 20px;
  width: 200px;
}

.label-text {
  display: block;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}
.input-text {
  width: inherit;
  height: 30px;
  background-color: #EEEEEE;
  border: none;
  border-radius: 5px;
  padding: 0px 0px 0px 10px;
}

.radiobutton {
  display: flex;
  flex-direction: row;
  align-items: end;
  margin-bottom: 20px;
  margin-top: 0;
}
.input-box {
  margin: 0px 15px 0px 0px;
}

.label-box {
  font-size: 12px;
  margin-top: 0;
}

.submit {
  width: 200px;
}

.input-submit {
  color: white;
  font-weight: bold;
  background-color: blueviolet;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  width: inherit;
}

.input-submit:hover {
  background-color:darkslateblue;
}

/*** Accordion ***/
.accordion {
  margin-top: 50px;
}





