* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background: #3E3E3E;
  color: #ffffff;
}


/* ----------- TYPOGRAPHY ----------- */

h1, 
h2 {
  font-family: 'Dancing Script', cursive;
  margin: 0;
  padding-bottom: 1em;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2em;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.7px;
}

.small-text {
  font-size: 0.825rem;
  font-weight: 500;
}

button,
.modal-btn {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.6px;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}

.infotext p {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.125em;
  text-align: center;
  line-height: 1.6em;
  letter-spacing: 1.5px;
}

.accordion h3,
.accordion p {
  color: #222222;
}

@media (min-width: 992px) {
  html {
    font-size: 1.75rem;
  }
  
  h1 {
    font-size: 5rem;
  }
  
  .small-text {
    font-size: 0.625rem;
  }

  .small-text:hover,
  .small-text:focus {
    transform: scale(1.1);
  }
  
  form input {
    font-size: 1rem;
  }
}


/* ----------- BUTTONS AND LINKS ----------- */

a, 
button {
  display: block;
  position: relative;
  padding: 0.2em 0;
  margin-top: 1em;
  color: #e9e9e9;
  text-decoration: none;
  overflow: hidden;
  width: 15em;
  align-self: center;
}

button,
.modal-btn {
  background-image: linear-gradient(to right, #2C2A2A 0%, #312f30 51%, #555253 100%);
  background-size: 200% auto;
  margin-top: 10px;
  padding: 12px 32px;
  transition: 0.5s;
  color: #e9e9e9;
  border: none;
  border-radius: 5px;
  display: block;
}

.btn-gradient:hover {
  background-position: right center; /* change the direction of the change here */
}

@media (min-width:992px) {
  button,
  .modal-btn {
    font-size: 1.2em;
  } 
  
  a::after,
  button::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 0.2em;
    align-self: center;
    background-color: #b88495;
    opacity: 1; 
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(150%, 0, 0);
  }
  
  button::after {
    bottom: 0.4em;
    width: 70%;
    left: 2.2em;
  }

  a::after {
    bottom: 0.6em;
    left: 1.45em;
  }

  a:hover::after,
  a:focus::after,
  button:hover::after {
    transform: translate3d(0, 0, 0);
  }
}


/* ----------- HEADER ----------- */

header {
  background-image: url("./images/hero-image2.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  max-width: 100vw;
  min-height: 75vh; /*change viewheight??*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* ----------- MODAL ----------- */

.info-modal {
  background: rgba(0, 0, 0, 0.6);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 70vw;
}

.info-modal p {
  text-align: left;
}

.small-text {
  color: #B0B0B0;
  cursor: pointer; 
}

.login-details  {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1em;
}


/* ----------- LAYOUT MAIN ----------- */
.infotext,
.signup,
.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}


/* ----------- INTRO SECTION ----------- */

.infotext {
  background: #2D2D2D;
  height: 25vh;
}


/* ----------- SIGN-UP SECTION ----------- */
.signup-form {
  max-width: 95%;
  display: flex;
  flex-direction: column;
}

label,
input,
textarea {
  display: inline-block;
}

input, 
textarea,
fieldset {
  position: relative;
  background: #3E3E3E;
  color: #e9e9e9;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  padding: 0.75em 0.5em 0.5em 1.5em;
  margin: 3;  
}

textarea {
  resize: none;
}

.label-radio { 
  margin: 0.25em;
  padding-block: 0.25em;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: start;
}


/*Styling for radio buttons*/
input[type="radio"] {
  margin-right: 0.8em;
}

input[type="radio"]:checked {
  box-shadow: inset 0 0 0 8px #b88495;
}

.label-top {
  position: relative;
  z-index: 1;
  top: 0.5em;
  left: 1.525em;
  background: #3E3E3E;
  color: #e9e9e9;
  max-width: fit-content;
  max-width: -moz-fit-content;
}

.signup button {
  margin-inline: 2em;
  cursor: pointer;
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #e9e9e9;
  -webkit-text-fill-color: #e9e9e9;
  -webkit-box-shadow: 0 0 0px 1000px #3e3e3e inset;
  transition: background-color 5000s ease-in-out 0s;
}

.output {
  margin: 0;
  padding: 0;
  background: #3E3E3E;
  color: #e9e9e9;
}


/* ----------- ACCORDION/FAQ SECTION ----------- */

.accordion {
  background: #929292;
}

.accordion-container {
/*  min-width: clamp(20em, 1.5vw, 80em);*/
  border-inline: 0.125em solid #222222;
  border-bottom: 0.125em solid #222222;
  width: 90%;
  max-width: 22em;
}

.question {
  background: #A8A8A8;
  border-top: 0.125em solid #222222;
  padding: 1em;
  cursor: pointer;
}

.answer {
  background: #E2E2E2; 
  display: none;
  overflow: hidden;
}

.answer p {
  padding: 1em 1em 1em;
  max-width: 40ch;
}

/*after qlick submit, show a pink border or something*/

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* ---------- CODE FOR ACCORDION FUNCTIONALITY ---------- */

.active, 
.question:hover {
  background: #4e4d4e;
}


.active + .answer {
  /* some styling here */
  display: block;
  border-top: none;
} 

.active * .fas {
  transform: rotate(0.25turn);
  transition: 200ms ease-out;
  margin-right: 0.25em;
}


/* ----------- GALLERY SECTION ----------- */

.gallery {
  background: #333333;
  padding-block: 2.5em;
}

.gallery-images {
  display: grid;
  display: -ms-grid;
  justify-items: center;
  grid-gap: 0.75em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  -ms-grid-columns: repeat(auto-fit, minmax(10em, 1fr));
}

img {
  height: 10em;
  width: 10em;
  object-fit: cover;
  opacity: 0.5;
} 


/* ----------- MEDIA QUERIES ----------- */

@media (min-width: 992px) {
  .infotext-container:hover {
    transform: scale(1.1);
  }
}

img:hover {
  opacity: 1.0;
} 

@media (min-width: 1100px) {
    
  .desktop-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .signup,
  .accordion {
    max-height: 100vh;
    justify-content: flex-start;
  }

  .signup {
    min-width: 45vw;
  }

  .accordion h2 {
    padding-bottom: 1.525em;
  }

  .gallery-images {
    grid-gap: 0.75em;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    -ms-grid-columns: repeat(auto-fit, minmax(20em, 1fr));
  }

  img {
    height: 20em;
    width: 20em;
  }
}