body {
  margin: 0px;
  background:rgb(211, 226, 251);
  color: navy;
  

}
/********** HERO-IMAGE  ************/

.hero {
  position: relative;
}
.hero-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  top:0px;
  left: 50px;
  font-size: 60px;
  color: rgb(212, 11, 212);
}

/****************** SIGN UP FORM  ************************/
input, textarea, button {
  border-radius: 5px;

}
.itext {
  box-shadow: 2px 3px 2px 2px rgba(7, 74, 100, 0.4);
  height: 22px;
  padding: 2px;

}

textarea {
  box-shadow: 2px 3px 2px 2px rgba(7, 74, 100, 0.4);
  background:rgb(220, 223, 245)

}
/*input, textarea, select, button {
  width: 200px;
  padding: 0px;
  margin: 0px; 
  box-sizing: border-box; 

} */

.info-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  justify-content: center;
  width: 100%;
  
}

form {
  border: solid 2px black;
  border-radius: 5px;
  box-shadow: 2px 5px 2px 2px rgba(7, 74, 100, 0.4);
  background: rgb(202, 216, 246);
  padding: 10px;
  margin: 10px;
 
  display: flex;
  flex-direction: column;
  
  
} 

input:valid {
  background-color: rgb(188, 240, 188);
}

input:invalid {
  background-color: rgb(255, 227, 244);
}

.box {
  border: 2px solid rgb(78, 77, 77);
  font-size: 14px;
  color: #0c7cc2;
  background-color: rgb(226, 226, 246);
  border-radius: 5px;
  box-shadow: 2px 3px 2px 2px rgba(7, 74, 100, 0.4);

}


.accordion-container {
  border: solid 2px black;
  border-radius: 5px;
  box-shadow: 2px 5px 2px 2px rgba(7, 74, 100, 0.4);
  background:rgb(210, 210, 243);
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  
}

.accordion:nth-of-type(2n+1) {
  background-color: rgb(191, 191, 250);
}


a {

  text-decoration: none;
}

.name-subform {
  display: flex;
  justify-content: center;
}

.accordion-text {
  display: flex;
  width:100%;
  background: rgb(225, 218, 241);
}

/**************************  Checkbox styling  *****************/
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 10px 5px;
  font-size: 16px;
  user-select: none;
}


.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: rgb(234, 240, 245);
  border-radius: 4px;
  box-shadow: 1px 2px 1px 1px rgba(7, 74, 100, 0.4);

  cursor: pointer;
}

.checkbox-container:hover input ~ .custom-checkbox {
  background-color: rgb(162, 179, 209);

}

.checkbox-container input:check ~ .custom-checkbox {
  background-color: #444444;
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 8px;
  border: solid rgb(180, 122, 246);
  border-width: 0 3px 3px 0;
  

  top: 3px;
  left: 7px;
  transform: rotate(45deg);
  display: none; 

}

.checkbox-container input:checked ~ .custom-checkbox:after {
  display: block;
} 

.checkbox-container input:focus + .custom-checkbox {
  outline: #333 auto 4px;
}

/***************************  BUTTON STYLE ******************/
.button {
  display: flex;
  justify-content: center;
}
.btn {
  background: rgb(248, 133, 133);
  width: 100px;
  border:solid 1px rgb(246, 42, 42);
  color: navy;
  font-weight: bold;
  /*box-shadow: 2px 5px 2px 2px rgba(10, 0, 0, 0.4); */
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  transition: all 0.1s;


  -webkit-box-shadow: 0px 6px 0px  rgb(246, 42, 42);
  -moz-box-shadow: 0px 6px 0px  rgb(246, 42, 42);
  box-shadow: 0px 6px 0px  rgb(246, 42, 42);
}

.btn:hover {
  background: rgb(155, 149, 246);
  border: solid 2px rgb(2, 2, 66);
  -webkit-box-shadow: 0px 6px 0px  rgb(120, 127, 179);
  -moz-box-shadow: 0px 6px 0px  rgb(123, 131, 187);
  box-shadow: 0px 6px 0px  rgb(126, 130, 160);
  transition: all 1s ease;
    
}



.btn:active {
  

  -webkit-box-shadow: 0px 2px 0px rgba(68, 4, 4, 0.4);
  -moz-box-shadow: 0px 2px 0px rgba(68, 4, 4, 0.4);
  box-shadow: 0px 2px 0px rgba(68, 4, 4, 0.4);
  position:relative;
  top:3px;
  background: rgb(4, 248, 4);
  border:solid 1px rgb(4, 138, 4);
   

  }











/* 1. Accordion */

.accordion {
  border: 3px solid rgb(171, 161, 199);
  border-radius: 7px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
}

.accordion-header {
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  display: flex;
  overflow: hidden;
  height: 0;
  transition: height .6s ease;
  /* Thanks to "transition" property we achieve smooth animation effect */

}

.accordion-selected {
  height: 70px;
}


.accordion-text {
  margin: 0;
  padding: 10px;
  border-top: 1px solid #999;

}  







/********************* FOOTER **********************/
.footer {
  display: flex;
  background:rgb(153, 199, 200);
  height: 30px;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: 1px solid rgb(1, 30, 44);
  box-shadow: 2px 5px 2px 2px rgba(2, 58, 80, 0.4);
  margin: 5px;
  

}

/*********** MEDIA QUERIES  *************/

@media(min-width: 768px) {


  .info-container {
    flex-direction: row;
    
  }



  form {
    width: 35%;
    max-width: 250px;
  }

  .accordion-container {
    width:45%;
    max-width: 330px;
  }

  
}
