html, body {
  margin: 0;
  height: 100%;
  font-family: nobel-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

/*** NAV-BAR MENU ***/

.navbar-container {
  width: 100%;
  height: 100px;

}

.navbar {
  background: rgba(0, 0, 0, 0.425);
  height: 80px;
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.navbar .logo {
  width: 20%;
  margin-left: 3rem;
  margin-top: 1.5rem;
}

.navbar .logo img {
  height: 60px; 
}

.hamburger {
  display: none;
}

.navbar .menu-container {
  width: 80%;
  margin-left: 16px;
}

.menu-container nav {
  margin: 0;
  padding: 0;
  font-size: 25px;
  width: 100%;
}

.nav-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
 }

li a {
  text-decoration: none;
  color: #fff;
 }

 /*mouse over nav link*/

 a:hover {
   color: #009e71;
 }



/*** HERO Section ***/

.hero-header {
  width: 100%;
  margin-top: 10rem;
  font-family: nobel-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 50px;
  color: rgba(255, 255, 255, 0.603);
  display: flex;
  justify-content: center;
  text-align: center;
}

#hero {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
 }

 #hero video {
   width: 100%;
   height: auto;
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   object-fit: cover;
 }

 .hero-img {
   display: none;
 }

 /*** SIGN UP FORM ***/
.the-big-container {
  width: 100vw;
  margin: 16px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}


form {  
  width: 400px;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.6);
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.form-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0;
  
}

.form-info li {
  margin-top: 1em;
  list-style: none;
}

.form-infor label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

.form-info input, .form-info label {
  display: block;
  text-align: left;
  margin-right: 16px;
  
}

.dogsize-container {
  display: block;
  align-self: center;
  margin-right: 50px;
  }

  .dogsize-container label {
    margin-bottom: -10px;
    padding: 0;
  }

 .checkbox {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 0;
  margin: 0;  
 }

.checkbox input {
  align-self: center;
  width: 10%;
}

.checkbox label {
  width: 60%;
  text-align: left;
  font-size: 12px;
  font-style: italic;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
   
}

button {
  width: 150px;
  align-self: center;
  margin: 4px;
  }

button:hover {
  background-color: #009e71;
}

button:active {
  transform: translateY(4px);
}

/***FAQ DROP MENU***/

.accordion {
  display: block;
  margin-left: 30px;
  width: 600px;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.6);
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}
  
.question {
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.answer {
  overflow: hidden;
  height: 0;
  
}

.answer-selected {
  height: 40px;
}

/***FOOTER***/

footer {
  background: rgba(0, 0, 0, 0.425);
  display: flex;
  justify-content: center;
}

.fa {
  padding: 10px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-youtube {
  color: white;
}


/***MEDIA QUERIES***/

@media (max-width: 991px) {

  .navbar-container {
    
  }

  .logo {
    display: none;
  }

  .hamburger-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  
  }

  .hamburger-wrapper .hamburger {
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;  
    background: #000000;
    border-radius: 10px;
    padding: 10px 10px;  
  }

  .hamburger-wrapper .hamburger div {
    width: 30px;
    height: 5px;
    border-radius: 30px;
    background: #fff;
  }

  nav {
    display: none;
  }



  #hero {
    width: 100vw;
    height: 100vh;
  }

  

  
  
  
}


@media (max-width: 600px) {
  
  #hero video {
    display:  none;
  }

  #hero .hero-img {
    display: flex;
    object-fit: cover;
  }
  
  
  /***NAV BAR***/
/*
 
.tablet-img {
    display: block;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    object-fit: cover;
  }

*/



/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}




