/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */


body {
  background-color: rgb(245, 240, 231);
  width: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  background-color:rgba(222, 223, 215, 0.924);
  position: relative;
  text-align: center;
}

#hero {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
  z-index: 0;
}

.header-text {
  font-family: 'Alegreya Sans SC', sans-serif;
  position: absolute;
  top: 10%;
  left: 12%;
  z-index: 1;
  
}

.header-text h1 {
  font-size: 45px;
  margin: 0;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: black solid 1px;
  border-top: black solid 1px;
}

.nav-bar a {
  color: black;
  text-decoration: none;
  align-self: center;
  padding: 30px;
}

.nav-bar a:hover {
  color: white;
  background-color: slategray;
}

.b-container {
  width: 100%;
  margin: 0;
}

.business-text {

  margin: 0 auto 0 auto;
  padding-top: 50px;
  width: 80%;
  font-style: italic;
  text-align: center;
  font-size: 20px;
  line-height: 1.8;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  align-items: stretch;
  justify-items: stretch;
  gap: 10px;
  padding: 5%;
}


.form {
  display: flex;
  flex-direction: column;
  background-color:rgba(222, 223, 215, 0.924);
  border: black solid 1px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  font-size: 20px;
}

.form h1 {
  text-align: center;
  font-size: 26px;
  padding: 20px;
}

.form-labels {
  margin: 0 20px 20px 20px;
}

.fieldset {
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
  
}

.input {
  display: block;
}

input:valid {
  background-color: green;
}

input:invalid {
  background-color: red;
}

select {
  display: block;
}

.radio-buttons {
  padding: 10px;
}

.radio-buttons > input {
  display: inline;
}

#submit-button {
  font-family: 'Poppins', sans-serif;
  width: 50%;
  margin: 20px auto;
  border-radius: 5px;
  height: 50px;
}

#submit-button:hover {
  color: white;
  background-color: slategray;
}

#submit-confirmation {
  display: none;
}

.accordion {
  background-color:rgba(222, 223, 215, 0.924);
  border: solid black 1px;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.accordion h1 {
  text-align: center;
  font-size: 26px;
}

.question {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  margin-top: 30px;
  padding: 0 30px;
  background-color: rgb(244, 245, 238);
  border: black solid 1px;
}

.question:hover {
  color: white;
  background-color: slategray;
}

.coffee-name {
  padding-top: 10px;
  margin: 0;
}

.plus {
  font-size: 30px;
  margin: 0;
}

.answer {
  display:none;
}

.active + .answer {
  display: block;
}

/* .right-aside {

}

.picture {

}
 */
.footer-nav {
  display: grid;
  grid-template-columns: 1fr;
  text-decoration: none;
  background-color: burlywood;
  text-align: center;
}

.footer-nav a {
  color: black;
  text-decoration: none;
  align-self: center;
  padding: 30px;
}

.footer-nav a:hover {
  color: white;
  background-color: slategray;
}

.small-print {
  position: absolute;
  width: 100%;
  background-color: blanchedalmond;
  font-size: xx-small;
  text-align: center;  
}

@media screen and (min-width: 667px) {

  .header-text {
      top: 23%;
      left: 12%;
  }

  .nav-bar {
    grid-template-columns: repeat(6,1fr);
  }

  .main-content {
    grid-template-columns: 1fr 1fr;
  }

  .footer-nav {
    grid-template-columns: 1fr 1fr;
  }
  
}

@media screen and (min-width: 991px) {

  .header-text {
    top: 30%;
    left: 18%;
  }

  .footer-nav {
    grid-template-columns:repeat(6, 1fr);
  }
  
}