body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}
header {
	position: relative;
}
.header-text-center {
	position: absolute;
	top: 30vh;
	color: #ffc942;
	font-weight: 500;
	font-size: 10vw;
	text-shadow: 3px 3px 5px #5c5c5c;
}
.hero-img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
	box-shadow: 0px 5px 50px 5px slategray;
}
.scroll-down-icon {
	position: absolute;
	width: 40px;
	top: 85%;
}
main {
	padding-top: 20px;
	margin-top: -20px;
}

/* Defining flex-box elements */
.flex-container,
.form {
	display: flex;
	flex-direction: column;
}
.form {
	gap: 5px;
}
.flex-container {
	gap: 20px;
	margin: 20px;
	justify-content: center;
}
.form-container,
.accordion-container,
.radio-container,
.greeting-container,
header {
	display: flex;
	justify-content: center;
}
.form,
.accordion,
.greeting {
	justify-content: flex-start;
	padding: 10px 20px 20px 20px;
	width: min(80%, 320px);
	border: 1px solid #ffd25d;
	border-radius: 5px;
	background-color: #ffd25d;
	box-shadow: 0px 5px 50px 5px slategray;
}

/* form styling */
.form {
	align-items: center;
}
.radio-container {
	flex-wrap: wrap;
	flex-direction: column;
}
.checkbox-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.text-field,
button[type='submit'] {
	box-sizing: border-box;
	width: 95%;
	border-radius: 4px;
	border: 1px solid #f9b44c;
	height: 1.8rem;
	padding: 1px 10px;
	font-size: 0.9rem;
}
/* input[type='text'] {
	background: url(images/user.png) no-repeat scroll 7px 7px;
	padding-left: 30px;
} */
.text-field:focus {
	outline-width: 0px;
	box-sizing: border-box;
	box-shadow: inset 0 0 4px #000000;
}
input[type='radio'] {
	width: 10%;
}
.radio {
	width: 50vw;
}

/* styling of accordion */
.accordion h1 {
	text-align: center;
}
.question {
	margin-top: 3px;
	padding: 5px 5px 5px 20px;
	border-radius: 4px;
	background-color: #e7e7e7;
	border: 1px solid #f9b44c;
}
.answer {
	display: none;
}
.icon-arrow-right {
	position: absolute;
	margin: 3px 0px 0px -17px;
	height: 0.9rem;
}
.active > .icon-arrow-right {
	transform: rotate(90deg);
	margin: 5px 0px 0px -16px;
	/* animation: rotate 1s; */
}
.answer p {
	margin: 0 0 2px 0;
	padding: 10px 10px;
	border-radius: 0px 0px 4px 4px;
	background-color: #ffffff;
	font-size: 0.9rem;
	box-shadow: inset 0 0 4px #5c5c5c;
	border-bottom: 1px solid #f9b44c;
	border-right: 1px solid #f9b44c;
	border-left: 1px solid #f9b44c;
}
.active + .answer {
	display: inherit;
	animation: growDown 500ms ease-in-out forwards;
	transform-origin: top center;
}
.question.active {
	border-radius: 4px 4px 0px 0px;
	border-top: 1px solid #f9b44c;
	border-right: 1px solid #f9b44c;
	border-left: 1px solid #f9b44c;
	border-bottom: 0px;
}
.greeting-container {
	display: none;
	text-align: center;
}

/* @keyframes rotate {
	50% {
		transform: rotate(90deg);
	}
} */

@keyframes growDown {
	0% {
		transform: scaleY(0);
	}
	80% {
		transform: scaleY(1.1);
	}
	100% {
		transform: scaleY(1);
	}
}

@media (min-width: 460px) {
	.radio-container {
		flex-direction: row;
	}
	.radio {
		width: 50%;
	}
}

@media (min-width: 768px) {
	.flex-container {
		flex-direction: row;
	}
	.form,
	.accordion,
	.greeting {
		width: 320px;
	}
}
