/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp *

.active + .answer {
  /* some styling here */



  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
   
  }

  .hero{
    height:60vh;
    width:100%;
    align-items: center;
    justify-content: center;
    color: rgba(245, 245, 220, 0.774);
    font-style: italic;
    background-color: rgba(15, 2, 2, 0.753);
  }

  .hero .hero-content{ 
    position: relative;
     z-index: 3;
   
  }

  .hero .fullscreen{
    width:100%;
    height:60vh;
        position: absolute;
    top: 20;
    left:0;
    z-index: -1;
    object-fit: cover;
   
    
  }
  

  h1{
    font-size: 40px;
    padding:  20px;
    font-family: 'Neonderthaw';
    opacity: 90%;
    letter-spacing: 2px;
    padding: 20px 20px;
    letter-spacing: 2px;
    justify-content: space-around;
    }

    .h1-sub{
      padding: 0 30px;
      }
      
   .navbar{
     float: right;
     font-size: 40px;
     padding: 20px;
     color: rgba(245, 245, 220, 0.897);
   } 

  .text{
    background-color: #705c5c83;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: rgba(0, 0, 0, 0.747);
  }
   .main-text{
     
     font-size: 50px;
    padding : 30px;
   text-align: left;
    font-style: italic;
    
   }
   .signup h2 {
    text-align: center;
   }
   .signup{
    flex:1;
    padding: 20px;
     margin: 30px;
     font-size:15px;
     border: 2px solid black;
     border-radius: 20px;
     box-shadow: 10px 5px 5px 5px rgba(22, 19, 19, 0.404);
    ;

   }
.accordion{
  flex:2;
  padding: 20px;
   margin: 30px;
   font-size:15px;
   border: 2px solid black;
   border-radius: 20px;
   box-shadow: 10px 5px 5px 5px rgba(22, 19, 19, 0.404);
}
   
#submit{
  padding:10px;
  font-size: 20px;
   background-color: rgba(0, 0, 0, 0.178);
   border-radius: 10px;
   color:rgba(12, 12, 12, 0.76);
   font-weight: bold;


}


@media (min-width:768px){

  .text{
    
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
  
  }

}
@media (min-width:1024px){

  .hero{
    height: 110vh;
    width:100%;
    align-items: center;
    justify-content: center;
    font-style: italic;

  }
  .hero .fullscreen{
    width:100%;
    height:110vh;
   
  }
  h1{
    font-size: 60px;
    font-family: 'Neonderthaw';
    padding: 200px 20px;
    position: relative;
    letter-spacing: 3px;
    justify-content: space-around;
   
  }
  .h1-sub{
    
    padding: 0 100px;
    }
    
    .navbar{
      float: right;
      font-size: 40px;
      padding: 20px;
     
    } 
    .text{
      background-color: #6b4f4f8c;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }






