 
 
/* Fonts used is imported */

  @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 
  @import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
 
 
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'sans-serif';
  }

.header{
    display: flex;
    background-color: rgba(126, 125, 125, 0.61); 
  }

.hero{ 
    height:45vh;
    width:100%;
    align-items: center;
    justify-content: center;
    color: rgba(245, 245, 220, 0.774);  
}
  
/* hero video vw-viewwidth */
  .hero .fullscreen{
    width:100vw;
    height:150vh;
    position: fixed;
    z-index: -5;
    object-fit: cover;  
    top: 0;
  left: 0;
  }
  

  h1{
    font-size: 55px;
    padding:  20px;
    opacity: 90%;
    letter-spacing: 2px;
    padding: 20px 30px;
    letter-spacing: 2px;
    color: rgb(58, 32, 32);
    font-family: 'Dancing Script';
    opacity: 50%;
    margin: .5rem 6rem;
    justify-content: safe;
     }

    .h1-sub{
      font-family: 'Dancing Script';
      padding: 0 30px;
      color: rgb(58, 32, 32);
      } 

      .navbar{
        position: absolute;
        overflow: auto;
        background-color: rgba(126, 125, 125, 0.61); 
    
        border-radius: 5px;
    }

      .fa-bars{
        color: rgb(77, 43, 43);
        margin:10px;
        position: relative;
      }
     /* display is hidden for li items */
      .navbar #nav-contents{
        display: none;
      }

      .navbar a.icon {
         opacity: 90%;
        
      }

      .navbar a:hover {
        opacity: 80%;
       cursor: pointer;
       transform: scale(0.9);
      background-color:  rgb(214, 214, 214);
      }

      .nav-li{
        color: rgb(65, 54, 54);;
        padding: 10px 10px;
        text-decoration: none;
        font-size: 10px;
        display: block;
        list-style-type: none;
        font-weight: bolder;
        margin:  5px 20px;
       font-style: italic;
       border-radius:10px 10px 0 10px ;
       text-align: center;
       
      }


  .navbar li:hover{
    cursor: pointer;
    transform: scale(0.9);
    opacity: 60%;
      }

   .button{
    font-family: 'Neonderthaw' ;
    display: inline-block;
    padding: 20px;
    border-radius: 10rem;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
    box-shadow: 3px 2px 2px 2px rgba(22, 19, 19, 0.404);
    margin-top: 30px;
    background-color:  #d9ddd0;
  }

  .button:hover{
    transform: scale(0.9);
    cursor: pointer;
    background-color: rgb(106, 116, 106);
  }
  

  .text{
    display:flex;
    flex-wrap: wrap;
    color: rgb(3, 34, 3);
    padding:20px; 
  }

  

   .main-text {
    font-size: 20px; 
    z-index: 2;
    justify-content: safe;
    text-align: start;
    font-size: 40px;
    opacity: 70%;
    font-style: italic;
    margin: 20px;
   }

   .signup h2 {
    text-align: center;
   }

   .signup{  
    flex:1;
    padding: 25px;
    margin: 20px 10px;
    font-size:15px;
    border: 2px solid black;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 5px rgba(22, 19, 19, 0.404);
    justify-content: safe;
    background-color: rgba(94, 94, 94, 0.61);
    color: rgb(3, 34, 3);
     }
    /* The CSS justify-content property defines how the browser distributes space between and around content items along the main-axis of a flex container, and the inline axis of a grid container*/

    .accordion{
      flex:1;
     padding: 25px;
     margin: 20px 10px;
     font-size:15px;
     border: 2px solid black;
     border-radius: 5px;
     box-shadow: 5px 5px 5px 5px rgba(22, 19, 19, 0.404);
     justify-content: safe;
     background-color: rgba(94, 94, 94, 0.61);
     color: rgb(3, 34, 3);
  }
  
     #submit{
       padding:10px;
       font-size: 12px;
       background-color: #ffff;
       color: rgb(3, 34, 3);
       border-radius: 10px;
       color:rgba(12, 12, 12, 0.76);
        font-weight: bold;
        font-family: 'Neonderthaw'  'sans-serif';
   }

     #submit:hover{
         background-color: rgb(106, 116, 106);
         cursor: pointer;
        transform: scale(0.9);
}

  .question{
    padding: .5rem .5rem; 
     font-size: 15px;
     letter-spacing: 1px;
     transition: all .3s;
     background-color: #ffff;
     font-family:  'sans-serif';
     width:100%;
     text-align: left;  
     border-bottom: black;
}

.question:hover{
  transform: scale(0.95);
  cursor: pointer;
  background-color: rgb(106, 116, 106);
  transition: all 1 ease;
  color: whitesmoke;
}

hr{
  height: 1px;
  background-color: rgb(88, 88, 88);
  border: none;
}
footer{
  color: rgba(13, 14, 13, 0.959);
  background-color: rgba(94, 94, 94, 0.945);
  letter-spacing: 1px;
  display: flex; 
  text-align: center;
  justify-content: center;
  
}
.footer{
  margin: 10px;
  font-size: 10px;
letter-spacing: 1px;
font-weight: bolder;
}

  
h3{
  padding:0 2px;
}

.fa-facebook-square{
  padding: 2px;
  cursor: pointer;
  
}
.fa-envelope{
  cursor: pointer;
padding: 2px;
}
.fa-instagram{
  cursor: pointer;
  padding: 2px;
}


.answer{
  display: none;
  overflow: auto;
  color: rgb(3, 34, 3);
  font-size: 15px;
  letter-spacing: 1px;
  transition: all .3s;
  font-family:  'sans-serif';
  width:100%;
  text-align: center; 
  background-color: rgb(173, 173, 173);
}
/* Responsive for Tablets*/
@media (min-width:768px){ 
  .text{
  display:flex;
  flex-direction: column;
  flex-wrap: wrap; 
}

.main-text {
  margin:10px 30px;
 }

.footer{
  font-size: 15px;
letter-spacing: 1px;
flex :1;
}

h1{
   font-size: 70px;
   margin: .5rem 15rem;
   }

  
 .navbar{
 float: right;
 font-size: 30px;
padding: 20px;
  }

  .navbar li{
    padding: 10px 15px;
    font-size: 15px;
  }
}

 /* Responsive for laptop*/

@media  (min-width:1024px){
  
h1{
  margin: .5rem 40rem;
  font-size: 80px;
}
    
.navbar li{
  padding:10px 20px;
  font-size: 20px;
  margin: 5px;
}

 .button{
      font-size: 1rem;
      font-family: 'Neonderthaw' ;
      display: inline-block;
      padding: 10px;
      margin: 10px;
    }

 .main-text {
  margin:40px 30px 10px 10px;
      padding:20px;
     }
    
    
 .text{ 
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;   
    }

    .fa-facebook-square:hover{
      transform: scale(0.8);
      cursor: pointer;
      opacity: 70%;
    }

    .fa-envelope:hover{
      transform: scale(0.8);
      cursor: pointer;
      opacity: 70%;
    }
     
    .fa-instagram:hover{
      transform: scale(0.8);
      cursor: pointer;
      opacity: 70%;
    }

    .footer{
      padding: 20px 0;
     flex: 1;
      font-size: 13px;
    letter-spacing: 1px;
    }
   
 }

 
    
  





