@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*** HERO SECTION ***/

.hero {
  margin: 0;
  position: relative;
  align-items: center;
  width: 100%;
  height: 100%;
    
}


.hero-image {
  width:100vw;
  height: 100vh;
  object-fit: cover;
  position:relative;
  filter: brightness(50%);
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: white;
  text-shadow: grey;
  font-size: 40px;
  font-weight: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Pacifico', cursive;
}

.hero-button {
  background: #FED001;
  font-weight: 100%;
  color: #F50480;
  text-align: center;
  display: inline-block;
  font-size: 20px;
  padding: 12px 28px;
  padding-top: 16px;
  border: whitesmoke;
  border-radius: 8px;
  transition-duration: 0.5s;
  cursor: pointer;
}

.hero-button:hover {
  background-color:#F50480;
  color: #F50480;
}
  

/*** FORMS LAYOUT ***/

.forms-container {
 display: flex;
 flex-direction: column;
 justify-content: center;
}

/*FORM*/

form {
  align-items: center;
  justify-content: center;
  padding: 1em;
  border: 5px solid #F50480;
  border-radius: 10%;
  background: whitesmoke;
  color:black;
  font-family: 'Pacifico', cursive;
  color: black;
  font-size: 16px;
}

input {
  font-size: 20px;
}

input:valid {
  background-color: whitesmoke;
}

input:invalid {
  background-color: #F50480;
}

label {
  display: block;
  margin-bottom: 20px;
}

button[type=submit] {
  padding:5px 15px; 
  background:#F50480; 
  border:0 none;
  cursor:pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: whitesmoke;  
}

button[type=submit]:hover {
background: thistle;
transition-duration: 0.5s;
cursor: pointer;
}

/* ACCORDION */

.accordion-container {
align-items: center;
justify-content: center;
width: 100%;
}

.accordion-title {
  align-items: center;
  justify-content: center;
  font-family: 'Pacifico', cursive;
  color: #F50480;
}

.accordion {
  border: 3px solid #CCC;
  border-radius: 7px;
  background:#F50480;
}

.accordion-header {
  margin: 0;
  padding: 10px;
  color: whitesmoke;
  font-family: 'Pacifico', cursive;
}

.accordion-content {
  display: none;
  margin: 0;
  padding: 10px;
  border-top: 3px solid #CCC;
  font-family: 'Pacifico', cursive;
  color:#F50480;
  font-size: 20px;
}

.accordion-selected {
 display: block;
}


  @media (min-width: 768px) {
    .forms-container {
      flex-direction: row;
    }
  }

  @media (min-width: 940px) {
    .forms-container {
      flex-direction: row;
    }
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    font-size: 20px;
    font-weight: 50%;   
    background-color: #F50480;
    height:50px;
    margin-top: 16px;
  }