body {
  margin: 0;
}

/*** HEADER ***/

header {
  display: flex;
  align-items: center;
}

video {
  width: 100%;
}

h1 {
  margin: 0;
  position: absolute;
  width: 100%;
  color: white;
  font-size: 22.4vw;
}

/*** CONTENT ***/
.content-container {
  display: flex;
  justify-content: space-around;

  margin: 50px;
  font-family: 'Open Sans', sans-serif;
}

/*** SIGNUP FORM ***/

form {
 padding: 20px 40px 20px 40px;
 border-radius: 20px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h2 {
  text-align: center;
  font-family: 'Permanent Marker', cursive;
  font-size: 40px;
  color: rgb(134, 125, 125);
}

input[type=text]  {
  color: black;
  border: none;
  /*color: rgb(175, 170, 170);*/
  background-color: rgb(240, 238, 238);
  border-radius: 20px;
  padding: 8px;
  margin: 4px 0 8px 0;
  width: 100%;
}

input[type=text]:focus, input[type=e-mail]:focus {
  outline: none;
  color: black;
}

p {
  margin: 8px 0 4px 0;
}

.checkbox {
  margin-top: 16px;
}

span {
  font-weight: 700;
}

span:hover {
  cursor: pointer;
  text-decoration-line: underline;
}

.submit {
  background-color:rgb(134, 125, 125);
  color: white;
  font-weight: 700;
  padding: 10px;
  border-radius: 20px;
  display: block;
  margin: 20px auto;
  border-width: 0;
  font-size: 16px;
}

.submit:hover {
  cursor: pointer;
  background-color: black;
}

/*** FAQ ***/



/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}
