/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat Alternates', sans-serif;

}

html {
  background-color: #F5DC5A;
}

header {
  position: relative;
  display: flex;
  color: #F5DC5A;
  margin: 0;
  justify-content: center;
  font-weight: bolder;
  overflow: hidden;
}

video {
  width: 100vw !important;
  height: 80% !important;
  z-index: -1;
  pointer-events: none;
}

nav {
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 15%;
  top: 5%;
  width: 70vw;
  height: 180px;
  padding: 20px;
  background-color: rgba(139, 99, 163, 0.911);
  box-shadow: 0 0 10px rgb(184, 120, 197), 0 0 20px #fff, 0 0 30px #8c78c4, 0 0 40px #7f38cf, 0 0 70px #e600e6, 0 0 60px #b800e6, 0 0 70px #00e60c;
  border-radius: 0.5rem;
}

nav {
  display: none;
}

.navbar-links ul {
  display: flex;
  flex-direction: column;
}

.navbar-links li {
  list-style: none;
  font-size: 1em;
  text-align: center;
  }

.navbar-links li a {
  display: block;
  color: #f5db5ade;
  padding: 1rem;
}


.navbar-links.active {
  display: flex;
}

.toggle-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 20px;
}

.toggle-btn .bar {
  height: 4px;
  width: 80%;
  background-color: #2528b9a4;
  box-shadow: 0 0 10px rgb(184, 120, 197), 0 0 20px #fff, 0 0 30px #8c78c4, 0 0 40px #7f38cf, 0 0 70px #e600e6, 0 0 60px #b800e6, 0 0 70px #00e60c;
  border-radius: 10px;
}


.navbar-links li a:hover {
  color: burlywood;
  text-shadow: 0 0 10px rgb(197, 179, 120), 0 0 20px #fff, 0 0 30px #e2a600, 0 0 40px #38b8cf, 0 0 70px #e600e6, 0 0 60px #b800e6, 0 0 70px #00e60c;
}

a:link {
  text-decoration: none;
  color: #1fa1708e;
}

a:visited {
  color: #1fa1708e;
}

.hero-text {
  width: fit-content;
  position: absolute;
  font-size: 300%;
  text-align: center;
  /* text-align: center; */
  top: 20%;
  /* animation: 1s ease-in-out infinite alternate;  */
  text-shadow: 0 0 10px rgb(197, 179, 120), 0 0 20px #fff, 0 0 30px #e2a600, 0 0 40px #38b8cf, 0 0 70px #e600e6, 0 0 60px #b800e6, 0 0 70px #00e60c;
}

/* @keyframes hero-text {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
} */

.site-info {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 25px;
  padding: 0 30px 0 30px;
  background-color: #f0f1a3fd;
  border-radius: 1em;
}

img {
  filter:opacity(90%);
  width: 10em;
  align-self: center;
  margin: 20px 0 5px 0;
}

.hello-kids {
  font-size: 150%;
  font-weight: bolder;
  margin: 20px 0 20px 0;
}

.hello-text {
  font-size: 100%;
}

.remember {
  font-size: 100%;
  color: rgb(180, 7, 128);
}

h2 {
  font-size: 100%;
  margin: 20px 0 10px 0;
  padding: 15px;
  color: #a58daa;
  
}


.forms-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 60px;
  
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95vw;
  height: 500px;
  margin: 20px 0 20px 0;
  padding: 10px 20px 20px 20px;
  background-color: #489268;
  border: 5px solid black;
  border-radius: 5%;
  filter: drop-shadow(5px 5px rgb(6, 40, 59));

}

label {
  color: antiquewhite;
  margin: 5px;
  font-size: 15px;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 95vw;
  height: 500px;
  margin: 20px 0 20px 0;
  padding: 10px 20px 20px 20px;
  background-color: #CFB3D3;
  border: 5px solid black;
  border-radius: 5%;
  filter: drop-shadow(5px 5px rgb(6, 40, 59));
  overflow: hidden;
}

h1 {
  margin: 10px 0 0 0;
  padding: 8px 0 8px 8px;
  color: blue;

}

h3 {
  margin: 10px 0 0 0;
  padding: 8px 8px 8px 8px;
}

p {
  display: none;
}

.open + p {
  display: block;
  font-size: 15px;
  padding: 8px 8px 8px 8px;
  background-color: #fbdcff;
  border-radius: 0 0 0.5em 0.5em;
}

.open {
  background-color: rgb(163, 79, 184);
  border-radius: 0.5em 0.5em 0 0;
  
}

.sign-up {
  font-family: 'Monofett', cursive;
  position:sticky;
  font-size: 40px;
  margin: 0 0 20px 0;
  text-align: center;
  color: #8413a0;
}

.say-what {
  margin-top: 10px;
  color: #489268;
}

button {
  width: 150px;
  height: 50px;
  background-color: #8413a0;
  align-self: center;
  border: 2px solid black;
  border-radius: 1em;
  filter: drop-shadow(5px 5px rgb(29, 106, 150));
  
}

button:hover {
  box-shadow: 5px 5px  #F5DC5A,
  -0px -0px  #ffffff;
  filter: none;
  
}

input { 
  border-radius: 0.5em;
}

select {
  border-radius: 0.5em;
}

.footer-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: brown;
  margin: 20px 0 50px 0;
  padding-top: 20px;
  list-style-type: none;
}

.footer-list li a {
  color: #8413a0c0;
}




/* -------tablet sizing --------- */


@media (min-width: 769px) and (max-width: 1024px) {


.hero-text {
  font-size: 8em;
}

nav {
  position: absolute;
  display: flex;
  background-color: transparent;
  align-items: center;
  top: 82%;
  box-shadow: none;
}

.navbar-links {
  display: flex;
}

.navbar-links ul {
  flex-direction: row;
  text-decoration: none;
}

.navbar-links li {
  /* border: 2px solid red; */
  list-style-type: none;
  text-decoration: none;
  font-size: 1.5em;
  padding: 0 40px 0 40px;
}

.navbar-links li a {
  color: #8413a0c0;
}

.toggle-btn {
  display: none;
}

.site-info {
  font-size: 150%;
}

.forms-container {
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 20px 70px 20px;
}

form {
  border-radius: 15%;
  margin: 10px;
}

.accordion {
  border-radius: 15%;
  margin: 10px;
}

.footer-list {
  font-size: 22px;
  padding-top: 20px;
}

}

/* -----desktop sizing------ */


@media (min-width: 1025px) {

  header {
    color: #F5DC5A;
  }

  nav {
    background-color: transparent;
    position: absolute;
    display: flex;
    padding: 20px;
    top: 82%;
    box-shadow: none;
  }

  .navbar-links {
    display: flex;    
}
  
  .navbar-links ul {
    text-decoration: none;
    flex-direction: row;
    justify-content: center;
  }
  
  .navbar-links li {
    list-style-type: none;
    text-decoration: none;
    font-size: 2em;
    padding: 0 80px 0 80px;
    }

  .navbar-links li a {
    color: #8413a0c0;
    }

  .toggle-btn {
    display: none;
    }

  .hero-text {
    font-size: 1300%;
    top:10%;
  }

  .site-info {
    font-size: 40px;
  }


  .forms-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 100px 0 20px 0;
  }

  form {
    width: 500px;
    height: 700px;
  }

  .accordion {
    width: 500px;
    height: 700px;
  }

  h1 {
    font-size: 40px;
  }

  h3 {
    font-size: 25px;
  }

}
