/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* .active + .info {
}
  /* some styling here */

body {
  margin: 0;
  background-color: rgb(183, 216, 216);
  
}

/*** HERO IMAGE ***/

.hero {
  position: relative;
}
.hero-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  top:40%;
  left:10%;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content:left;
  align-items: center;
  margin: 0;
}

h1 {
  color: rgb(183, 216, 216);
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.h2 {
  color: #a8163a;
  font-family: 'Permanent Marker', cursive;
  text-align: center;
  font-size: 40px;
}

.p-header {
  position: absolute;
  top: 60%;
  left:10%;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  color: rgb(183, 216, 216);
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 50%;
}

.big-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

/*** ACCORDION ***/

/* .accordion-container {
  display: flex;
  width: 100%;
  margin-bottom: 50px;
}  */

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F2F0DF;
  width: 80%;
  padding: 20px;
  border-style: double solid 1px #a8163a;
  border-radius: 20px;
  margin: auto;
}

.info-content {
  display: none;
  width: 61%;
  background-color: #F2F0DF;
  padding: 18px;
  margin: auto;
  /* border: solid 0.5px black; */
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

.info-selected {
  display: block;
}


.acc-button {
  background-color: #E8CAA4;
  color: #404749;
  cursor: pointer;
  padding: 18px;
  width: 70%;
  border: solid 0.5px #404749;
  text-align: left;
  outline: none;
  font-size: 15px;
} 

/*** FORM ***/

.form-container { 
  width: 80%;
  border-radius: 20px;
  background-color: #F2F0DF;
  padding: 20px;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 60px;
  color:#404749;
  justify-content: center;
  align-items: center;
}

.colum25 {
  /* float: left; */
  width: 25%;
  margin-top: 6px;
}

.colum75 {
  /* float: left; */
  width: 75%;
  margin-top: 6px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.row:after {
  content: "";
  display: table; 
  clear: both;
}
input [type=text], select {
  border: 1px solid #404749;
  color: #404749;
  resize: vertical;
  width: 50%;
  height: 30px;
  cursor: pointer;
} 

/* input [type=radio] {
  cursor: pointer;
} */

.text-field {
  width: 70%;
  height: 25px;
}

.btn {
  background-color: #a8163a;
  color: rgb(183, 216, 216);
  padding: 5px 15px;
  border: none;
  border-radius: 10px;
  margin-top: 15px;
  cursor: pointer;
  font-family: Georgia, 'Times New Roman', Times, serif;
}  


label {
  width: 80%;
  /* padding: 12px 12px 12px 0; */
  display: inline-block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.footer {
  background: #a8163a;
  height: 80px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-around;
} 


/*** MEDIA TABLET ***/

@media (min-width:768px){
  .form-container {
    width: 600px;
  }

  .accordion {
    width: 500px;
  }
  .colum25 {
    width: 45%;
  }

  .colum75 {
    width: 65%;
  }
  
  .hero-title {
    position: absolute;
    top:50%;
    left:5%;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content:left;
    align-items: center;
    margin: 0;
    font-size: 70px;
  }

  .p-header {
    position: absolute;
    top: 70%;
    left:5%;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    font-size: 20px;
  }
}

/*** MEDIA DESKTOP ***/

@media (min-with:1025px) {
 
  .big-container {
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    align-items: center;
    width: 100%
  }
 
  .form-container {
    width: 30%;
    
  }

  .accordion {
    width: 30%;
    
  }

  .hero-title {
    position: absolute;
    top:20%;
    left:10%;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content:left;
    align-items: center;
    margin: 0;
    font-size: 90px;
  }

  .p-header {
    position: absolute;
    top: 70%;
    left:5%;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 50%;
    font-size: 20px;
  }



  
}