/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/*
.active + .answer {
  some styling here 
}*/


body {
  margin: 0;
}

.hero-section {
  position: relative;
  font-family: fantasy;
  color: white;
  letter-spacing: 3px;
  margin: 0;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.hero-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  font-size: 40px;
  margin: 10px;
}

.navbar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  height: 50px;
}

.nav-menu{
  margin: 20px 20px;
  font-size: 20px;
  color: white;
  
}

a:link {
  text-decoration: none;
}

a:hover {
  text-decoration:underline;
}

.user-sections {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.form-section {
  width: 100%;
 
}

.form {
  border: solid grey 1px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 5%;
  width: 40%;
}

.form h4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  font-size: 20px;
}

input:valid {
  background-color: rgb(108, 172, 108);
}


ul {
  list-style: none;
}

label {
  display: inline-block;
  padding: 20px;
  margin: 10px 20px;
  width: 300px;
  text-align: right;
}

.user-info {
  font: 1em sans-serif;
}

.user-recieve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

.button-submit {
  display: flex;
  justify-content: center;
}

.accordion {
  background: rgba(206, 207, 205, 0.7);
  border-bottom: black solid 1px;
  padding: 50px;
  margin-top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 450px;
}

.accordion-header {
  width: 80%;
}

.question-container {
  border-bottom: solid black 1px;
  width: 80%;
  cursor: pointer;
}

.answer {
  display: none;
}

.accordion-selected {
  display: block;
}


@media screen and (max-width:767px) {
  .navbar {
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
  }
}




@media screen and (min-width:768px)and (max-width:1168px) {
  .navbar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-start;
  }
}


@media screen and (min-width:1169px) {
  .navbar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
  }
  .nav-menu { 
    font-size: 25px;
    cursor: pointer;
  }

  .hero-title {
    font-size: 25px;
    margin-left: 20px;
  }

}
