

* {
  box-sizing: border-box;
  }



.body {
  margin: 0 auto;
  background: rgb(170, 197, 197);
  color: dimgrey;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.header {
  position: relative;
  text-align: center;
}

.header-menue {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  width: 100%;
  margin: 0 auto;
  background: cornsilk;
  color: darkgray; 
  opacity: 0.6;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.logo {
  margin: 8px;
  width: 60px;
  color: darkgray;
}

.nav-container {
  display: none;
}

/* Hamburger */

.hamburger {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 40px;
}

.hamburger div {
  width: 30px;
  height: 6px;
  border-radius: 5px;
  margin-right: 30px;
  margin-left: 20px;
  background: #000000;
}

/* Hero image and H1 text */

.hero-image {
  width: 100vw;
  height: 80vh;
  object-fit: cover;
  margin: 0 auto;
}

.headline {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: cornsilk;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
}

/* Section info and pictures*/

.wrapper {
  
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 0;
  padding: 5px;
  width: 100%;
  max-width: 1100px;
}

.insta-img-container {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.insta-img {
  width: 22%;
  margin: 3px;
  margin-top: 10px;
  border: darkgrey solid 2px;
  border-radius: 15px;
}

.h2, h3{
  margin-bottom: 0;
  margin-left: 5px;
}

h3 {
  border-top: darkgrey 2px solid;
  padding-top: 10px;
  width: 80%;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 5px;
}

/* Form and accordion*/

.accordion-form-wrapper {
  display: flex;  
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;

}

.accordion-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  padding-top: 20px;
}


/* Accordion */

.accordion {
  width: 100%;
}

.accordion-question {
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.accordion-answer {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease;
}

.accordion-selected {
  height: 38px;
}

.active, .accordion:hover {
  background-color:rgb(148, 184, 184);
}

.accordion-question::after {
  content: "\002B";
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.accordion-selected::after {
  content: "\2212";
} 

.accordion-text {
  margin: 0;
  padding: 10px;
  padding-bottom: 0;
  border-top: 1px solid #999;
}

.accordion-question + div {
  background:cornsilk;
  opacity: 0.6;
} 

/* Input Form */

.form-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-top: 50px;
}
  


select, option {
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  border: darkgrey solid 2px;
  opacity: 0.;
  cursor: pointer;
}

.form, input {
  padding: 12px;
  border-radius: 10px;
  width: 100%;
  margin-top: 5px;
  border: darkgrey solid 2px;
  opacity: 0.9;
  cursor: pointer;
}


.button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  width: 30%;
  background-color: rgb(250, 211, 161);
  border: darkgrey solid 2px;
  cursor: pointer;
}

  


/* Media Queries */

/* Tablet */
@media (min-width: 768px) {

  .body {
    font-size: 18px;
  }

  .header-menue {
    position: absolute;
  }

  .header-menue .hamburger {
    display: none;
  }

  .nav-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-right: 0;
    padding: 5px;
    width: 40%;
    color: #000000;
  }

  .headline {
    font-size: 30px;
  }

  .insta-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }
  
  .insta-img {
    width: 24%;
  }

  .accordion-section {
    width: 40%;
    padding-top: 30px;
  }

  .form-container {
    width: 90%;
    padding-top: 30px;
  }

}

/* Desktop */
@media (min-width: 992px) {

  .headline {
    font-size: 45px;
  }

  .accordion-section {
    width: 50%;
    padding-top: 30px;
  }

  .form-container {
    width: 90%;
    padding-top: 30px;
  }


}