body {
  background: #FD805D;
  margin: 0;
  font-family: 'Lora', serif;
}


/*** HEADER ***/

.header {
  position: relative;
}

.header div {
  width: 100%;
}

.header-image {
  width: 100vw;
  height: 70vh;
  object-fit: cover;
  /* filter: grayscale(50%); */
}

.header-text {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  color: #FCD9C8;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  margin-top: 20px;
  z-index: 1;
  /* width: 30px;
  height: 30px;
  margin-right: 20px; */
}

.navigation {
  display: none;
}

.navigation.open-menu {
  position: absolute;
  width: 100%;
  height: 30%;
  top: 70px;
  left: 0;
  background: #FCD9C8;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
  align-items: center;
  animation-name: menu-animation;
  animation-duration: 0.5s;
}

@keyframes menu-animation {   /* If there's time, adjust it so that it comes from the top */
  0% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}

.navigation a {
  color: #000;
  text-decoration: none;
  margin-left: 16px;
}

.navigation a:hover, .navigation a:focus {
  color: rgb(189, 189, 189);
}

.ham {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-left: auto;
  margin-right: 20px;
  margin-top: 20px;
  background-color: transparent;
  border: none;
  z-index: 1;
}

.hamburger {       /* ADD ANIMATION TO HAMBURGER */
  width: 30px;
  height: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
}

.hamburger span {
  width: 30px;
  height: 4px;
  background: #fff;
  border-radius: 25%;
}

.close-menu span:nth-child(1) {
  transform: rotate(135deg);
  position: absolute;
  top: 10px;
  left: 0px;
}

.close-menu span:nth-child(2) {
  display: none;
}

.close-menu span:nth-child(3) {
  transform: rotate(-135deg);
  position: absolute;
  top: 10px;
  left: 0px;
}


/*** GENERAL CONTAINER ***/

/*Set width for both sections + set the flexbow to column (mobile view)*/


/*** FORM - SIGN UP ***/

.form-signup-container {
  border: solid #fff;
  border-radius: 25px;
  padding: 16px;
  margin: 30px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center; /* set a width 50%?*/
}

.form-signup div {
  padding: 20px;
}

input {
  font-size: 20px;
}

input:valid {
  background: green;
}

/* input:invalid {
  background: red; 
} */

input:hover {
  cursor: pointer;
}

label {
  display: block;
  margin-bottom: 20px;
}


/*** ACCORDION ***/

.accordion {               
  border: solid #fff;
  border-radius: 25px;
  padding: 16px;
  margin: 30px;
  background: #fff; /* set a width 50%?*/
}

.accordion h1 {
  margin-left: 30px;
}

.accordion .container {
  margin: 15px;
}

.question {
  margin: 0;
  padding: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.question h2 {
  font-size: 16px;
}

.question .question-plus, .question .question-minus {
  font-size: 30px;
}

.answer {
  overflow: hidden;
  display: none;
  transition: height .3s ease;
}

.answer-content {
  margin: 0;
  padding: 10px;
  /* border-top: 1px solid #FD805D; */
}


/*** ACCORDION ACTIVE ***/

.active + .answer {
  display: block;
  color: #000;
  height: 50px;
  background: #FCD9C8;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.active {
background: #FCD9C8;
border-top-left-radius: 10px;
border-top-right-radius: 10px;
}


/*** ACCORDION HIDE "+" AND "-" ICONS ***/

.hide {
  display: none;
}


/*** FOOOTER ***/

footer {                   
  background: #FCD9C8;
  height: 150px;
  width: 100%;
  margin: 0px;
  padding-top: 20px;
}

footer a {
  color: #000;
  text-decoration: none;
}

.container-footer {            
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 12px 16px;
}

.container-contact-info {
  display: flex;
  flex-direction: column;
  height: 25%;
}

.container-contact-info a {
  margin: 3px;
}

.container-contact-info a:hover, .container-contact-info a:focus {
  color: rgb(189, 189, 189);
}

.container-social-media {
  display: flex;
  flex-direction: column;
  height: 25%;
}

.container-social-media svg {
  margin-right: 3px;
}

.container-social-media a:hover, .container-social-media a:focus {
  color: rgb(189, 189, 189);
}

.copyright {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 16px;
  margin-bottom: 10px;
}


/*** MEDIA QUERY ***/

/* Tablet */
@media (min-width: 768px) {
  
  
  .ham {
    display: none;
  }

  .hamburger {
    display: none; 
  }

}



/* Small desktop */
@media (min-width: 992px) { 

}


/* Big desktop */
@media (min-width: 1200px) { 

}