/* ––– Global styles ––– */

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Avenir', 'Helvetica', sans-serif;
}

body {
  height: 100%;
  margin: 0;
}

h1,
h2,
h3 {
  line-height: 1;
}

h1 {
  font-size: 3rem;
  font-weight: 900;
}

a {
  color: inherit;
  text-decoration: none;
}

/* ––– Header + Nav ––– */

header {
  position: absolute;
}


/* ––– Hero ––– */

.hero {
  position: relative;
  height: 100vh;
  background: url(https://images.unsplash.com/photo-1546895418-20ff32efa2ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1503&q=80);
  background-size: cover;
  background-position: 50% 50%;
}

.hero video {
  display: none;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.hero .hero-content {
  position: absolute;
  z-index: 10;
  top: 20%;
}

.hero::after {
  position: absolute;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  ;
}


/* ––– FAQ ––– */

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active+.answer {
  /* some styling here */
}


/* ––– Form ––– */


/* ––– Media queries ––– */
/* ––– Tablet styles ––– */

@media screen and (min-width: 668px) {}

/* ––– Desktop styles ––– */

@media screen and (min-width: 1024px) {
  .hero {
    background: none;
  }

  .hero video {
    display: inline;
  }
}