body {
  font-family: 'Ahiti', Arial, Helvetica, sans-serif;
  font-size: 15px;
  margin: 0;
  background: #ffffff;
}

h3 {
  margin: 20px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
  background: #c6c5b9;
  height: 75px;
  margin: -5px 0 0 0;
  z-index: 2;
}

/* Class to use for sticky navbar in JavaScript */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.nav-left {
  display: flex;
  align-items: center;
}

.header-logo {
  width: 60px;
  margin: 10px;
}

.header-name {
  font-family: 'Indie Flower';
  font-size: 25px;
  margin: 10px;
}

.nav-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hamburger {
  display: none;
}

.hamburger div {
  width: 30px;
  height: 5px;
  background: #000000;
  border-radius: 5px;
}

.header-link {
  text-decoration: none;
  color: #000000;
  margin: 10px;
}

.header-title {
  position: relative;
}

.header-video {
  width: 100%;
  opacity: .8;
  z-index: 0;
  position: relative;
}

.overlay {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: max-content;
}

.header-big-logo {
  width: 15vw;
}

.header-text {
  font-family: 'Indie Flower';
  font-size: 5vw;
  margin: 10px;
}

/* INTRO */

.intro {
  margin: 0 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro h2 {
  text-align: center;
}

.intro p {
  margin: 0;
}

/* CONTENT */

.content {
  display: flex;
  justify-content: center;
  margin: 20px 30px 40px 30px;
}

.form-container {
  margin-right: 50px;
  padding: 30px;
  border: 1px solid #546a7b;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgba(122,122,122,1);
  width: 350px;
  display: flex;
  flex-direction: column;
  background: #e0e1dd;
}

.form-title {
  margin: 0 0 16px 0;
}

form {
  display: flex;
  flex-direction: column;
}

.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 16px 0;
}

.form-group-service {
  display: flex;
  justify-content: center;
  margin: 0 0 16px 0;
}

.form-group:last-child {
  margin: 0;
}

input {
  width: 140px;
}

select {
  width: 148px;
  height: 22px;
}

label {
  width: 120px;
}

.form-group p, .form-group-service p {
  width: 120px;
  margin: 0;
}

.gender {
  display: flex;
  justify-content: space-between;
  margin: 0;
  width: 148px;
}

.gender label, .services label {
  width: fit-content;
}

.gender input, .services input {
  width: fit-content;
  margin: 0;
  background: #e0e1dd;
}

.services {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 148px;
}

.service {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.form-submit {
  width: 200px;
  height: 40px;
  border-radius: 15px;
  font-weight: bold;
  background: #62929e;
}

/* ACCORDION */

.accordion {
  padding: 30px;
  border: 1px solid #546a7b;
  border-radius: 10px;
  width: 350px;
  box-shadow: 10px 10px 10px rgba(122,122,122,1);
  background: #e0e1dd;  
}

.accordion-title {
  margin: 0 0 16px 0;
}

.answer {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.active {
  height: 100px;
  overflow: auto;
}

.answer-text {
  margin: 0;
}

.accordion-element {
  border-bottom: 1px solid #546a7b;
}

/* FOOTER */

footer {
  background: #c6c5b9;
  padding: 16px;
  display: grid;
  grid: 1fr / 1fr 70px 1fr;
  align-items: center;
}

footer p {
  margin: 5px 0;
}

footer img {
  width: 50px;
  margin: 0 10px;
}

.footer-right {
  text-align: right;
}

/* MEDIA QUERIES */

@media (max-width: 1023px) {
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    margin-bottom: 20px;
    margin-right: 0;
  }

}

@media (max-width: 767px) {
  body {
    font-size: 13px;
  }
  
  .nav {
    height: 50px;
  }

  .header-logo {
    width: 35px;
  }

  .header-name {
    font-size: 15px;
  }

  .nav-right {
    display: none;
  }

  .hamburger {
    display: flex;
    width: 30px;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 10px;
    padding: 5px;
  }

  .form-container {
    width: 208px;
  }

  input {
    width: 100px;
  }
  
  select {
    width: 108px;
  }
  
  label {
    width: 100px;
  }
  
  .form-group p, .form-group-service p {
    width: 100px;
  }
  
  .gender {
    width: 108px;
  }
  
  .services {
    width: 108px;
  }

  .accordion {
    width: 208px;
  }

  footer p {
  font-size: 8px;
  }

}