body {
  font-size: 12px;
  margin: 0;
  background: #f78154;
  color: #292e1e;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
header {
  margin: 0;
  width: 100%;
  z-index: 2;
}

.hero-video {
  width: 100%;
  position: relative;
  object-fit: cover;
}

.hero-text {
  width: 150px;
  text-align: center;
  position: absolute;
  top: 6rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}
/* Navbar */

.navbar {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  color: #f2f2f2;
  padding: 14px;
  text-decoration: none;
}

.navbar a:hover {
  transition: 0.5s ease-in-out;
  color: rgb(148, 67, 67);
}

.content {
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}

/* Signup form */
.main-box {
  margin: 10px auto;
  padding: 10px;
  display: flex;
  justify-content: center;
  background-color: #f2c14e;
  width: 85%;
  border-radius: 10px;
}

.small-box {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.button {
  border-radius: 10px;
  border: 0.1px solid #4d9078;
  padding: 5px 10px 5px 10px;
  background-color: #5fad56;
}

.window {
  margin-left: 10px;
  right: 20px;
  border-radius: 4px;
  border: 0.5px dotted #4d9078;
}

/* Radio buttons */
.radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
} */

/* checkbox */
.checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
} */

/* ACCORDION */
.accordion {
  display: block;
  margin: 10px auto;
  text-align: center;
  background-color: #5fad56;
  width: 85%;
  border: 2px solid #4d9078;
  border-radius: 5px;
  height: auto;
}

.accordion-box {
  margin: 10px auto;
  text-align: center;
  background-color: #5fad56;
  width: 85%;
  border: 2px solid #4d9078;
  border-radius: 5px;
}

.accordion-box.open .contentbox {
  margin: 0 auto;
  text-align: center;
  padding: 15px 0;
}

.label {
  line-height: 40px;
  margin: 0 auto;
  padding: 5px;
  background-color: #4d9078;
  color: whitesmoke;
  cursor: pointer;
  position: relative;
}

.label::before {
  content: "\25be";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.open .label::before {
  content: "\25b4";
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.contentbox {
  margin: 0 auto;
  height: fit-content;
  background: whitesmoke;
  display: none;
  position: relative;
}

.open {
  background: whitesmoke;
  height: 150px;
  margin: 0 auto;
  text-align: center;
  padding: 2px;
  overflow-y: auto;
  overflow: hidden;
  transition: 0.5s ease-in-out;
}

.open .contentbox {
  display: block;
  margin: 0 auto;
  text-align: center;
}

footer {
  display: flex;
  position: relative;
  bottom: 0;
  left: 0;
  justify-content: space-evenly;
  background-color: #b4436c;
  padding: 10px 0;
}

footer a {
  color: #f2f2f2;
  text-decoration: none;
}

footer a:hover {
  color: rgb(148, 67, 67);
  text-decoration: dotted;
  transition: 0.5s ease-in;
}

/* tablet */
@media (min-width: 768px) {
  body {
    font-size: 15px;
  }

  .hero-text {
    top: 10rem;
    width: 200px;
  }

  .navbar {
    justify-content: space-evenly;
  }

  .media-row {
    display: flex;
    flex-flow: row;
    margin: 10px auto;
    padding: 10px;
  }

  .window {
    font-size: 20px;
    height: 35px;
  }

  .button {
    width: 100px;
  }

  footer {
    font-size: 15px;
  }
}

/* Desktop */
@media (min-width: 992px) {
  .hero-text {
    top: 16rem;
    width: 300px;
  }
}
