/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* General styling */

body {
  margin: 0;
  padding: 0;
  background: rgb(190, 178, 145);
  color: rgb(34, 46, 46);
  font-family: 'Inter', sans-serif;
}

/** Hero section style **/

.hero-section {
  position:relative;
  margin: 0;
  padding: 0;
}

/** Hero section style: image **/
.hero-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}
/** Hero section style: welcome text **/
.welcome-text {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(238, 238, 245);
}
.welcome-text-inner {
  background-color: rgba(128, 128, 128, 0.418);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.hero-title, .hero-subtitle {
  text-align: center;
}
.hero-title {
  font-size: 30px;
  font-family: 'Cabin', sans-serif;
}
.welcome-buttons-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  padding: 10px;
  width: 100%;
}

.button-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(139, 138, 138, 0.658);
  border-radius: 10px;
  background-color: rgb(166, 148, 102);
  padding: 10px;
  margin: 10px;
  width: 50%;
}

.welcome-button {
  text-decoration: none;
  color: rgb(233, 233, 237);
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
}

/* Styling form and accordion wrapper */

.form-accordion-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 1200px;
  margin: 0 auto;
}

/* Form styling */

.form-wrapper {
  padding: 5px;
  background: rgb(172, 137, 101);
  margin: 10px 10px;
  border-radius: 5px;
}
.owner-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.form-item {
  padding: 3px;
}

.text-input {
  background-color: rgba(206, 186, 165, 0.788);
  color: rgb(40, 52, 64);
  padding: 2px;
  border-radius: 5px;
  margin: 5px;
}
::placeholder {
  color: rgb(243, 240, 236);
  font-size: 14px;
}

.cat-information {
  display: flex;
  justify-content: space-around;
}
.selector {
  display: block;
  background-color: rgba(206, 186, 165, 0.788);;
  font-size: 14px;
  color: rgb(243, 240, 236);
  border-radius: 5px;
}
.number-input {
  display: block;
  background-color: rgba(206, 186, 165, 0.788);
  color: rgb(40, 52, 64);
  border-radius: 5px;
}

.label {
  margin-bottom: 5px;
}

.fieldset-competition-classes {
  margin: 10px 0;
}
.radio-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.inner-radio {
  width: 45%;
  padding: 3px;
}
.checkbox {
  margin-bottom: 10px;
} 
.submit-wrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}
.submit-button {
  margin-bottom: 10px;
  background-color: rgb(66, 37, 11);
  color: rgb(243, 240, 236);
  padding: 3px;
  border: 2px solid  rgba(66, 37, 11, 0.705);
}

/* Accordion styling */
.accordion-wrapper {
  padding: 5px;
  background: rgb(165, 127, 86);
  margin: 10px 10px;
  border-radius: 5px;
}



/* Footer styling */
.footer-general {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgb(51, 45, 30);
  margin-top: 20px;
  width: 100%;

}

.footer-link:hover, .footer-link:focus {
  background: rgba(59, 81, 128, 0.774);
}

.footer-column {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  align-items: center;
}
.footer-image {
  width: 100px;
  border-radius: 50%;
}
.footer-headline {
  color: #fff;
}

/*** FOOTER: Subscribe button ***/
.subscribe-button {
  background: rgb(143, 125, 61);
  border: none;
  padding: 8px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  margin-top: 10px;
  border-radius: 5px;
  box-shadow: 0 5px rgba(218, 204, 156, 0.404);
  border-style: none;
}

.subscribe-button:hover, .subscribe-button:focus {
  background: rgb(177, 164, 117);
}
.subscribe-button:active {
  box-shadow: 0 3px rgba(180, 170, 134, 0.404);
  transform: translateY(2px);
}
/*** FOOTER: Social media icons ***/
.fa {
  padding: 10px;
  font-size: 30px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook, .fa-twitter, .fa-linkedin, .fa-instagram {
  color: #fff;
  text-decoration: none;
  background:rgb(105, 144, 180);
}
/* Media Queries */
@media (max-width: 370px) {
  .hero-title {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .form-accordion-wrapper {
    flex-direction: row;
    justify-content: center;
  }
  .hero-title {
    font-size: 50px;
  }
  .welcome-buttons-wrapper {
    flex-direction: row;
    justify-content: center;
  }
  .button-wrapper {
    width: 45%;
    max-width: 250px;
  }
  .welcome-button {
    font-size: 20px;
  }
  .form-wrapper {
    width: 45%;
    max-width: 450px;
  }
  .accordion-wrapper {
    width: 45%;
    max-width: 450px;
  }
  .footer-general {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-list {
    align-items: flex-start;
  }
  .footer-column {
    align-items: flex-start;
  }
}

@media (min-width: 950px) {
  .hero-title {
    font-size: 70px;
  }
  .form-accordion-wrapper {
    flex-direction: row;
    justify-content: center;
  }
}
/* 
.active + .answer {
  background-color: red;
} */


