/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active+.answer {
    /* some styling here */
}

body {
    /* background: gold; */
    margin: 0;
}

.hero {
    position: relative;
}

.hero-image {
    width: 100vw;
    height: 100vw;
    object-fit: cover;
}

.hero-title {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.accordion {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid pink;
    border-radius: 7px;
    margin-top: 10px;
}

.accordion-header {
    margin: 0;
    padding: 10px;
}


/* Sign up form */

.header-join {
    color: purple;
}

input {
    font-size: 20px;
    margin-top: 10px;
}

input:valid {
    background-color: rgb(200, 244, 200);
}

input:invalid {
    /* background-color: red; */
}

label {
    display: block;
    margin-bottom: 20px;
}


/* THERI IS TWO ACCORDION IN THE HTML - THE ONE WISH  S CO CODING AND THE ONE WE CGOT WITH THE PROJECT
SO CHANGES LATER ON */

.answer {
    margin: 0;
    padding: 10px;
    display: none;
    border-top: 3px solid pink;
}


/*THE SOLID PING MADE THE BORDER BETWEEN HEAD AND TEXT WHEN CLICKING" */

.accordion-selected {
    display: block;
}