@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap');

body {
  background: #060606;
  color: #fff;
  font-family: "Montserrat";
  font-weight: 400;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: #FF33F6;
}

h1 {
  font-size: 60px;
  margin: 0;
  padding: 0;
}

h2 {
  text-align: center;
  font-size: 40px;
  margin: 0;
}

h3 {
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

.italic {
  font-style: italic;
  font-size: 11px;
}

.uc {
  text-transform: uppercase;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

/* ------------------------- HEADER ------------------------- */
header {
  height: 15vh;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 80vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  margin-right: 30px;
}

header img {
  width: 500px;
}

header nav a {
  font-size: 12px;
  letter-spacing: 10px;
  margin-left: 30px;
  padding-bottom: 5px;  
}


/* ------------------------- HERO ------------------------- */
.hero {
  text-align: center;
  height: 65vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero p {
  font-size: 18px;
  max-width: 45vw;
}

.hero-arrow-down {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-top: 20px;
}

.hero-arrow-down:hover {
  border: 1px solid #FF33F6;
}

.hero-arrow-down p {
font-size: 30px;
}


/* ------------------------- MARQUEE ------------------------- */
.marquee {
  margin-top: 20px;
}


/* ------------------------- SECRETFORM ------------------------- */
.secret-form {
  width: 80vw;
  margin: 50px auto;
  text-align: center;
  border: 1px solid #fff;
  padding: 40px;
}

label {
  display: block;
  margin: 20px 0 5px 0;
}

textarea, input {
  border: 0;
  outline: none;
  border: 1px solid #fff;
  font-family: monospace;
}

textarea {
  min-height: 150px;
  width: 65vw;
}

input {
  height: 30px;
  width: 250px;
}

input:focus, textarea:focus {
  border: 2px #FF33F6 solid;
}

.checkboxes-all-wrapper {
  margin: 30px 0;
}
.checkbox-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.checkbox-wrapper label {
  padding: 0;
  margin: 0;
}

.checkbox {
  height: auto;
  width: auto;
  margin-left: 10px;
}

button {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: block;
  margin: 40px auto 20px auto;
  border: 1px solid #fff;
  color: #fff;
  background: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
}

button:hover {
  border: 1px solid #FF33F6;
  color: #FF33F6;
}

form a {
border-bottom: 1px solid #fff;
}

form a:hover {
  border-bottom: 1px solid #FF33F6;
}

/* ------------------------- FAQ ------------------------- */

.accordion {
  width:80vw;
  max-width: 1000px;
  margin: 30px auto;
}

.accordion-item {
  background: #252525;
  margin: 20px 0;
}

.accordion-item-header {
  margin: 20px 30px 0 20px;
  min-height: 56px;
  line-height: 24px;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\25B8";
  position: absolute;
  right: 0px;
  transition: transform .2s ease-in-out;
}

.accordion-item-header.active::after {
  transform: rotate(90deg);
}

.accordion-item-body {
  max-height: 0;
  overflow:hidden;
  transition: max-height .2s ease-out;
}

.accordion-item-body-content {
  padding: 20px;
  line-height: 24px;
  border-top: 1px solid #060606;
}


/* ------------------------- FOOTER ------------------------- */
.know-more {
  width: 80vw;
  margin: 100px auto 100px auto;
  text-align: center;
}

.know-more a {
  border-bottom: 1px solid #fff;
}

.know-more a:hover {
  border-bottom: 1px solid #FF33F6;
}

footer {
  font-size: 14px;
  text-align: center;
  margin: 0 0 50px 0;
}

footer img {
  max-width: 340px;
  margin: 0 0 20px 0;
}


/* ------------------------- MEDIA QUERIES ------------------------- */
@media (max-width:768px) {
  h1 {
    font-size: 48px;
  }
  
  header img {
    width: 350px;
  }
}


@media (max-width:550px) {
  header nav div {
    display: none;
  }

  h1 {
    font-size: 38px;
  }

  .hero p {
    max-width: 75vw;
  }
}
