/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

* {
  margin: 0;
  font-family: 'Sniglet', cursive;
font-family: 'Roboto Condensed', sans-serif;
font-size: 16px;
}

h1{
  font-family: 'Sniglet', cursive;
  font-size: 60px;
  color: #cc0000;
}

body{
  background:#cc0000;
}

/* TOP THINGS */
  header{
    background: #fedfdd;
    position: fixed;
    width: 100%;
  }
  .menu {
    display: flex;
    justify-content: center;
  }
  nav a {
    color: #cc0000;
    text-decoration: underline;
    margin: 16px;
  }

  .hero-content {
    background-image: url(images/header-img.png);
    object-fit: cover;
    height: 548px;
    display: flex;
    justify-content: center;
    }

  .hero-text {
    margin: auto;
    width: 90%;
    align-items: center;
    text-align: center;
  }

  button{
    background: #cc0000;
    color: #fedfdd;
    margin-top: 16px;
    padding: 10px 26px;
    border-radius: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  /********** FORM ************/

  .main-content{
    margin-top: 46px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
  }

  .order-form{
    width: 80%;
    flex-grow: 1;
    border-color: #cc0000;
    border-style: solid;
    border-width: 5px;
    border-radius: 20px;
    padding: 20px;
  }

  .order-form h1{
    font-size: 40px;
    color: #fedfdd;
    text-align: center;
    margin-bottom: 20px;
  }

label{
  display: block;
  margin-bottom: 20px;
  background: #fedfdd;
  padding: 10px;
  padding-left: 20px;
  border-radius: 20px;
  font-size: 16px;  
}

.order-button{
  background: #fedfdd;
  margin: 0px;
  color: #cc0000;
}
  

/********** FAQ ************/

.accordion{
  width: 80%;
  flex-grow: 1;
  padding: 20px;
}

.accordion h1{
  font-size: 40px;
  color: #fedfdd;
  text-align: center;
  margin-bottom: 20px;
}

.faq-content {
  display: block;
  margin-bottom: 20px;
  background: #fedfdd;
  padding: 10px;
  padding-left: 20px;
  border-radius: 20px;
}

.question{
  cursor: pointer;

}

.answer {
  display: none;
  margin: 20px 0 20px 0;
  font-style: italic;

}  

.active + .answer {
display: block;
}

footer{
  background-image: url(images/footer-img.png);
  height: 138px;
  display: flex;
justify-content: center;
align-items: center;
}


/***** MEDIA QUERIES ******/


@media (min-width: 1025px) {
  
  .main-content{
    flex-direction: row;
    align-items: flex-start;
  }


}