
body{
  font-family: 'Courier Prime', monospace;
  margin: 0;
  width: 100%;
}

/* -- Header -- */

.hero-image {
  background-image: url("camera.jpg");
  height: 400px;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  transform: translate(-50%, -50%);  
  top: 60%;
  left: 50%;
  color: #ddded8;
  font-family: 'Special Elite', cursive;
  font-size: 30px;
}

.upper-nav {
  display: none;
}

/* hover effect nav bar */

a:link {
  color: #f5f5f4;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #b9bbaf;
}

/* mouse over link */
a:hover {
  color: #b9bbaf;
}

/* selected link */
a:active {
  color: #e9e9e7;
} 

/* -- Photo grid -- */

.black-white-container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  object-fit: cover;
  grid-gap: 5px;
}

.bw-pic{
  height: 200px;
  width: 100%;
}

.main-box {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 15px;
  margin: 15px 0;
}

/* -- Form -- */

.order-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ddded8;
  border-radius: 1rem;
  justify-content: center;
  height: 560px;
}

label{
  display: block;
  margin-bottom: 10px;
  justify-content: center;
}

.form-question {
  border-radius: 0.5rem;
  border: 1px solid #ababab;
}

/* -- Radio button -- */

.wrapper-col {
  display: flex;
  flex-direction: column;
}

.wrapper-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radiobutton-container{
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 5px;
  font-size: 16px;
  user-select: none;
}

.radiobutton-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
  cursor: pointer;
  border-radius: 50%;
}

.radiobutton-container:hover input ~ .custom-radio {
  background-color: #ccc;
}

.radiobutton-container input:checked ~ .custom-radio {
  background-color: #444444;
}

.custom-radio:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 7px;
  height: 7px;
  background-color: #fff;
  border-radius: 50%;
  display: none;
}

.radiobutton-container input:checked ~ .custom-radio::after {
  display: block;
}

.radiobutton-container input:focus + .custom-radio {
  outline: #333 auto 4px;
}

/* -- Checkbox -- */

.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 10px 5px;
  font-size: 16px;
  user-select: none;
}

.checkbox-container input{
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-container:hover input ~ .custom-checkbox {
  background-color: #ccc;
}

.checkbox-container input:checked ~ .custom-checkbox {
  background-color: #444444;
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 6px;
  border: solid white;
  border-width: 0 3px 3px 0;
  top: 5px;
  left: 7px;
  transform: rotate(45deg);
  display: none;
}

.checkbox-container input:checked ~ .custom-checkbox:after {
  display: block;
}

.checkbox-container input:focus + .custom-checkbox {
  outline: #333 auto 4px;
}

.order-now {
  border-radius: 1rem;
  box-shadow: none;
  padding: 5px 10px;
  margin-left: 35%;
}

/* -- Accordion -- */

.accordion {
  text-align: center;
  padding: 5px 20px;
  background-color: #ddded8;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 1rem;
  height: 600px;
}

.question { 
  background-color: #c3c3c3;
  color: #5b5f62;
  cursor: pointer;
  text-align: left;
  border: 0.5px solid #939393;
  outline: none;
  transition: 0.4s;
  width: 58%;
  padding: 16px;
  border-radius: 1rem;
}

.active{
  background-color: #ababab ;
}

.active + .answer {
  display: block;
}

.answer {
  padding: 0 18px;
  background-color: #ddded8;
  display: none;
  overflow: hidden;
  width: 55%;
}

.question:after {
  content: '\002B'; /* Unicode character for "plus" sign (+) */
  font-size: 20px;
  color: #5b5f62;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212"; /* Unicode character for "minus" sign (-) */
}

/* -- Footer -- */

footer {
  background-color: black;
  color: #ddded8;
  height: 100px;
  text-align: center;
  font-size: x-large;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
  padding-left: 10%;
  padding-top: 2%;
}

.social-media {
  height: 70px;
  width: 200px;
  margin-top: 0;
}

.logo {
  height: 70px;
  width: 80px;
  padding-top: 3px;

}

@media (min-width: 600px) and (max-width: 991px){

.hero-text {
  top: 35%;
}

.bw-pic{
  height: 250px;
  width: 100%;
}
  
.main-box {
  grid-template-columns: 1fr 1fr;
} 
  
.order-box {
  span: 1;
  height: 710px;
}

.accordion {
  height: 700px;;
}
}


@media (min-width: 992px) {

.hero-image{
  /* background-position: 50%; */
}

.hero-text {
  top: 35%;
}

.upper-nav {
  left:5%;
  top: 20px;
  z-index: -100%; 
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: absolute;
  font-size: 20px; 
  width: 90%;

}

.black-white-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  margin-left: 0;
  width: 100%;
 
}

.bw-pic{
  height: 300px;
  width: 100%;
  
}

 .main-box {
   grid-template-columns: 1fr 1fr;
 } 

 .order-box {
   span: 1;
   height: 560px;
 }

 .accordion {
  height: 550px;

 }

}