* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: helvetica;
  color: rgb(48, 47, 47);
}

body,
html {
  height: 100%;
  background-color: #f69847;
}

header {
  height: 61%;
}

main {
  margin: 20px 0 0 0;
}

/* @media (min-width: 668px) and (max-width: 1023px); 
@media (min-width: 1024px); 
@media (min-width: 1300px); */
