/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* .active + .answer {
  /* some styling here} */

/* Universal selector: removes default stylings of all html tags */
* { 
  box-sizing: border-box;
  padding: 0;
  margin:0;
}

/* HEADER */
header {
  background-color:black; /* This is a back up for the background-image, in case doesn't load or if some browsers don't support the image, this color will show */
  background-image: url(./Images/Gymnastics-picture.jpg.crdownload);
  height: 250px; 
  width: 100%;
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: contain;
  /* background-size: cover; /*Resize the background image to cover the entire container */
  border: 2px solid;
}

div.header {
  display: flex;
}

p.logo-text {
  align-self: center;
  font-size: 1.4rem;
  margin-top:1rem;
  color:rgb(235, 100, 100);
}
span { 
  color:rgb(238, 185, 194);
  font-weight: bold;
}

.logo {
  width: 50px;
  height: 50px;
  margin: 8px;
  border-radius: 50%;
  border: 1px solid rgb(235, 100, 100);
}

nav {
 display: flex;
 flex-direction: column;
 align-items: center;
 background-image: linear-gradient(black, rgb(197, 17, 17));
 color: blanchedalmond;
}

a {
  padding: 1rem;
  font-size: 1.1rem;
}
a:hover {
  transform:scale(1.2,1.2);
}
/************* */
/* div.space {
  height: 100px;
  background-color:black;
} */
section.form {
  background-color:blanchedalmond;
  border: 2px solid;
  margin: 30px 20px;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  html {
    font-size: 18px;
  }
  
  header {
    height: 350px ;
  }
  nav {
    flex-direction: row;
    justify-content: center;
    height: 100px;
  }
}
@media (min-width: 920px) {
  header {
    height:450px ;
  }

}
