/* Remove Existing Styling (Stolen from Karin) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-decoration: none;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

/* Blocks */
.brand {}

.logo {}

.button {}

.text {}

/* Header Block */
.header {
  height: 75vh;
  background: url(images/joanna-kosinska-uGcDWKN91Fs-unsplash_2.jpg);
  background-size: 1024px;
  background-position-x: center;
  background-position-y: center;
}

/* Menu */
.menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 15px 0;
  color: #0b0b0b;
}

.menu__logo--hidden {
  display: none;
}

.menu__brand {
  display: none;
}

.menu__link {
  font-family: 'Roboto', sans-serif;
  color: #0b0b0b;
}

.menu__logo {
  height: 45px;
  width: 45px;
}

/* Brand Container */
.brand-container {
  width: 285px;
  padding-left: 25px;
  padding-top: 25px;
}

.brand-container__brand {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 94px;
  text-align: left;
  color: #0b0b0b;
}

.brand-container__tagline {
  display: none;
}

/* Page */
.page {
  display: grid;
  grid-template-columns: 1fr;
  padding: 25px 25px;
  gap: 25px;
}

.title {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.title--large {
  font-size: 40px;
}

.subtitle {
  font-family: 'Roboto Mono', monospace;
  font-size: 19px;
  font-weight: 500;
}

.block-container {
  border-radius: 5px;
  padding: 25px 25px 15px;
  grid-column: span 1;
}

/* Introduction */
.intro {
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
}

.intro__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: #2D2E2F;
}

/* FAQ Accordion Section */
.faq {
  background-color: #2D2E2F;
  border-radius: 5px;
  overflow: hidden;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.faq__title {
  padding: 15px 0 20px;
  color: white;
}

.faq__text {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  padding: 10px 0;
}

.faq__text--center {
  text-align: center;
}

/* Styling the Accordion Button for Closing/Opening */
  .faq__question {
    text-align: left;
    font-size: 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
    padding: 10px 25px;
    color: #2d2e2f;
    background-color: #DCD8DC;
  }

/* Adding background color to button when clicked on and when moused over */
/* Add .active in JS */
  .faq__question--active, .faq__question:hover {
    background-color: #726a6a;
    color: #DCD8DC;
    cursor: pointer;
  }

/* Styling the accordion panel / answer (hidden by default */
  .faq__answer {
    display: none;
    padding: 0 25px;
    color: #2d2e2f;
    background-color: #bfb8b9;
  }

/* Adding + / - symbols to the FAQ question */

/* Plus / Minus Option */
/* .faq__question:after {
  content: "\271A";
  float: right;
}

.active:after {
  content: "\2212";
  color: #DCD8DC;
} */

/* Emoji Option */
.faq__question:after {
  content: "\1F607";
  float: right;
}

.faq__question--active:after {
  content: "\1F608";
  color: #DCD8DC;
}



/* Sign-up Form */
.signup {
  background-color: #2D2E2F;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.signup__form {
  display: flex;
  flex-direction: column;
}

/* Sign-up Form Title */
.signup__image {
  height: 60px;
  width: 60px;
  margin-left: auto;
  margin-right: auto;
}

.signup__title {
  color: white;
  padding: 10px 0;
}

/* Sign-up Form Input Fields */

/* Placeholder Text Styling */
::placeholder {
  color: #2D2E2F;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
}

/* Input Fields Styling */
input[type=text], input[type=tel], input[type=email] {
  width: 100%;
  height: 40px;
  padding: 0 15px;
  border-radius: 5px;
  border: none;
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 16px;
}

/* Options Text */
.signup__options {
  color: #dcd8dc;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 16px;
}


/* Radio Buttons */
/* Remove Styling from Radio Buttons */
.radio--remove {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  position: relative;
}

.radio--remove input {
  position: absolute;
  opacity: 0;
}

/* Custom Radio Button */
.radio--custom {
  position: absolute;
  top: 1px;
  height: 17px;
  width: 17px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
}

/* On radio button hover, add background-color */
.radio--remove:hover input~.radio--custom {
  background-color: #dcd8dc;
}

/* On radio button select, add background-color */
.radio--remove input:checked~.radio--custom {
  background-color: #bdabae;
}

/* Categories Subtitle */
.signup__subtitle {
  text-align: center;
  color: white;
  margin-top: 10px;
  margin-bottom: 15px;
}

/* Checkbox Container */
.checkbox-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 20px;
}

/* Categories - Custom Checkboxes */
/* Removing styling from checkboxes */
.checkbox--remove {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  display: block;
  position: relative;
  /* margin-bottom: 5px; !!think i can delete!!*/
}

.checkbox--remove input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

/* Custom checkbox */
.checkbox--custom {
  position: absolute;
  top: 1px;
  left: 0;
  height: 17px;
  width: 17px;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 5px;
  cursor: pointer;
}

/* On checkbox hover, add background-color */
.checkbox--remove:hover input~.checkbox--custom {
  background-color: #dcd8dc;
}

/* On checkbox select, add background-color */
.checkbox--remove input:checked~.checkbox--custom {
  background-color: #bdabae;
}

/* Large Checkbox for Term Agreement */
.checkbox--custom--lg {
  position: absolute;
  height: 27px;
  width: 27px;
  background-color: transparent;
  border: 3px solid white;
  border-radius: 5px;
  cursor: pointer;
}

/* On large checkbox hover, add background-color */
.checkbox--remove:hover input~.checkbox--custom--lg {
  background-color: #dcd8dc;
}

/* On large checkbox select, add background-color */
.checkbox--remove input:checked~.checkbox--custom--lg {
  background-color: #bdabae;
}

/* Create checkmark for large checkbox (hidden while unchecked) */
.checkbox--custom--lg:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show large checkmark when checked */
.checkbox--remove input:checked~.checkbox--custom--lg:after {
  display: block;
}

.checkbox--remove .checkbox--custom--lg:after {
  content: "тип";
  width: 25px;
  height: 25px;
  color: white;
  position: absolute;
  left: -5%;
  top: -130%;
  font-size: 50px;
}

/* Select Radio/Check Container (to stop text and checkbox from overlapping) */
.select-container {
  display: flex;
  margin-bottom: 10px;
}

.select-container__object {
  height: 19px;
  width: 19px;
  padding-right: 10px;
}

.select-container__text {
  margin: 0 5px;
}

/* Accept Terms Container (to stop text and checkbox from overlapping) */
.accept-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.accept-container__checkbox {
  height: 28px;
  width: 28px;
  padding-right: 10px;
}

.accept-container__text {
  margin-left: 20px;
}

/* Submit Button */
.btn {
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 20px;
  background: transparent;
  width: 190px;
  height: 43px;
  align-self: center;
  border: 3px solid white;
  border-radius: 10px;
  margin-bottom: 10px;
  padding-bottom: 3px;
}

.btn:hover {
  background-color: white;
  color: #2D2E2F;
  cursor: pointer;
}

.btn:active {
  transform: translateY(4px);
}

/* Footer */
.footer {
  text-align: center;
  background-color: #DCD8DC;
  padding: 10px 0;
  line-height: 1.25;
}

.footer__text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0b0b0b;
}

.footer__link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #0b0b0b;
}

.footer__link:hover {
  text-decoration: underline;
}

/* Black Screen of Death (hidden by default) */
.black-screen {
  /* background-color: #2D2E2F; */
  background-color: #0b0b0b;
  color: white;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  position: fixed;
  top: 0;
  opacity: 0%;
  visibility: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition-duration: 2.5s;
  transition-delay: 0.5s;
}

.black-screen__container {
  display: grid;
  margin: 25px;
}

.black-screen__icon {
  max-width: 350px;
  max-height: 350px;
  grid-row: 1;
  justify-self: center;
  transition-delay: 4.5s;
  opacity: 0%;
  transition-duration: 4.5s;
  visibility: hidden;
}

.black-screen__text {
  grid-row: 2;
  margin-top: -50px;
  white-space: pre-line;
  transition-delay: 5.5s;
  opacity: 0%;
  transition-duration: 4.5s;
  visibility: hidden;
}

.black-screen__button {
  grid-row: 3;
  color: white;
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  font-size: 20px;
  background: transparent;
  width: 190px;
  height: 43px;
  align-self: center;
  border: 3px solid white;
  border-radius: 10px;
  margin: 15px 0;
  padding-bottom: 3px;
  justify-self: center;
  opacity: 0%;
  visibility: hidden;
  transition-duration: 4.5s;
  transition-delay: 7s;
}

.black-screen__button:hover {
  background-color: white;
  color: #2D2E2F;
  cursor: pointer;
}

.black-screen__button:active {
  transform: translateY(4px);
}

/* Media Queries */

/* Media Query Tablet */
@media (min-width: 668px) and (max-width: 1024px) {

    /* Header Section */
    .header {
      height: 75vh;
      background-size: 1050px;
    }
  
    .brand-container {
      padding-top: 0px;
      padding-left: 30px;
    }
  
    .brand-container__brand {
      font-size: 120px;
    }
  
    /* Page */
    .page {
      grid-template-columns: 1fr 1fr;
      padding: 30px 25px;
    }
  
    /* Centering and Positioning Grid Items */
    .intro {
      display: table;
      grid-row: 1 / span 1;
      grid-column: 1 / span 2;
      max-width: 700px;
    }
  
    .intro__text {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      font-size: 18px;
    }
  
    .faq {
      grid-column: 1 / span 1;
      grid-row: 2 / span 1;
    }
  
    .signup {
      margin-left: auto;
      margin-right: auto;
      grid-column: 2 / span 1;
      grid-row: 2 / span 1;
      max-height: 700px;
    }

}

/* Media Query Desktop */

@media (min-width: 1025px) {

  /* Header Section */
  .header {
    height: 100vh;
    background-size: 2600px;
  }

  .brand-container {
    padding-top: 0px;
    padding-left: 75px;
  }

  .brand-container__brand {
    font-size: 170px;
  }

  /* Page */
  .page {
    grid-template-columns: 1fr 1fr;
    padding: 50px 25px;
  }

  /* Centering and Positioning Grid Items */
  .intro {
    display: table;
  }

  .intro__text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
  }

  .faq {
    grid-column: 1 / span 1;
  }

  .signup {
    margin-left: auto;
    margin-right: auto;
    grid-column: 2 / span 1;
    grid-row: 1 / span 2;
    max-height: 600px;
  }

  .black-screen__icon {
    max-width: 450px;
    max-height: 450px;
  } 
}

/* Media Query Mobile Landscape */

@media (max-device-width: 930px) and (orientation: landscape) {
  /* Header Section */
  .header {
    height: 100vh;
  }

  .brand-container {
    padding-top: 0px;
    padding-left: 30px;
  }

  .brand-container__brand {
    font-size: 70px;
  }

  /* Page */
  .page {
    grid-template-columns: 1fr;
    padding: 30px 25px;
  }

  /* Centering and Positioning Grid Items */
  .intro {
    display: table;
    grid-row: 1;
    max-width: 600px;
  }

  .intro__text {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-size: 18px;
  }

  .faq {
    grid-column: span 2;
    grid-row: 2;
  }

  .signup {
    grid-column: span 2;
    grid-row: 3;
  }

  .black-screen__container {
    height: 100vh;
  }

  .black-screen__icon {
    max-width: 225px;
    max-height: 225px;
  } 

  .black-screen__text {
    margin-top: -30px;
  }

  .title--large {
    font-size: 28px;
  }
}