* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Readex Pro', sans-serif;
  background-color: rgb(191, 196, 198);
  color: #234567;
}
h3 {
  font-size: 18px;
}

h2 {
  padding-bottom: 10px;
}
.inner-container {
  /* border: solid 2px royalblue; */
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  margin-left: 15px;
}
.header-container {
  /* border: solid 2px whitesmoke; */
  background-image: url(./photos/House-large.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  background-position: -50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  z-index: -1;
}

.header-text {
  text-align: center;
  margin-bottom: 16rem;
  font-size: 2.5rem;
  /* text-shadow: 1px 1px 3px rgb(198, 198, 198); */
  background-color: whitesmoke;
  border-radius: 50%;
  padding: 30px;
}
/* Copied from XXX */
.cta {
  position: relative;
  margin: auto;
  padding: 12px 18px;
  transition: all 0.2s ease;
  border: none;
  background: none;
}

.cta:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 50px;
  background: #b1dae7;
  width: 45px;
  height: 45px;
  transition: all 0.3s ease;
}

.cta span {
  position: relative;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.05em;
  color: #234567;
}

.cta svg {
  position: relative;
  top: 0;
  margin-left: 10px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #234567;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
}

/* .cta:hover:before {
  width: 100%;
  background: #b1dae7;
}

.cta:hover svg {
  transform: translateX(0);
}

.cta:active {
  transform: scale(0.95);
} */

.sign-up-container {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding: 30px;
  justify-content: space-evenly;
}

.sign-up-card {
  background-color: white;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  padding: 30px;
  min-height: 50vh;
}

label {
  display: block;
  justify-content: space-evenly;
  padding: 5px;
  font-size: 20px;
}

.accordion-container {
  padding: 30px;
}
.accordion-inner-container {
  background-color: white;
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1);
  border-radius: 5%;
  padding: 30px;
  min-height: 50vh;
}

input[type='text'],
[type='email'],
select {
  width: 100%;
  padding: 6px 10px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  color: #234567;
  font-family: 'Readex Pro', sans-serif;
  font-size: 14px;
}

.checkbox-box {
  display: flex;
  flex-direction: row;
  padding: 0;
}
.submit-button {
  display: flex;
  align-items: center;
  padding: 10px;
}
.accordion-item {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  justify-content: center;
  display: flex;
  flex-direction: column;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.accordion-item:hover {
  background-color: #ccc;
}

.accordion-item-body-content {
  padding-top: 15px;
}

.accordion-item-body {
  display: none;
}

.active + .accordion-item-body {
  display: block;
}

.accordion-item-header:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: '\2796'; /* Unicode character for "minus" sign (-) */
}

@media (min-width: 768px) {
  .signup-accordion-container {
    display: flex;
    flex-direction: row;
  }
  nav {
    display: none;
  }
}
