@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

html {

}

body {
  margin: 0; 
}
/* HEADER ---> clean header CSS*/
header {
  width: 100vw;
  height: 20vh; 
  background-color:/*	#d1cac7; */ black;
  color: #fff;
}

  .header {
    font-family: 'Major Mono Display', monospace;
    font-weight: 900px;
  }

  .container {
    width: 100vw;
    margin: 3px; 
    border: 3px solid black;
    display: flex;
    justify-content: space-between;
}

  .header-l {
    margin-top: 45px; 
    margin-left: 10px; 
    border: 2px solid black;
}

  .header-r {
    margin: 3px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
  }

  .hamburger {
    margin: 0 10px; 
    border: 1px solid black;
    font-size: 40px;
  }

  .contact {
    margin-right: 10px; 
  }

  button {
		border: 3px solid red;
		margin: 2px 2px;
		padding: 2px 2px;
		color: #000;
    font-family: 'Major Mono Display', monospace;
    font-weight: 700;
		font-size: 12px;
		text-align: center;
		text-decoration: none;
/*    display: inline-block; */
		cursor: wait;
	}

/* HErO VIDEO */
.hero-video1 {
  width: 100vw;
  height: 90vh;
  object-fit: cover;
}

  /* MID SECTION */
  .mid {
  display: flex;
  justify-content: space-between;
}

.form-survey {
  width: 100vw;
  height: 50vh;
}

/* ACCORDION */
  .accordion {
    width: 100vw;
    height: 50vh;
    border: 3px solid #999;
    border-radius: 7px;
    margin-bottom: 5px;
  }

  .accordion-header {
    margin: 0;
    padding: 10px;
    border: 3px solid purple;
    cursor: pointer;
  }

  .answer {
    margin: 0;
    padding: 0px; 
    border: 3px solid black;
    display: none;
  }

  .accordion-selected {
    display: block;
    height: 50px;
  }
  
  .active + .answer {
  background-color: red; 
}

/* FOOTER */

footer { /*or should i target header and footer the same way? */
  margin-left: 10px; /*take away later*/
  width: 100vw; 
  height: 15vh;
  border: 3px solid green;
}


  .form-survey { 
    width: 100vw;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 0;
    padding-right: 10px;
    border: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form-survey-low {
  cursor: wait;
}
