/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

:root {
  --prime-font: 'Alata', sans-serif; /*  */
  --second-font: ; /*  */
  --prime-color: #fff; /*  */
  --second-color: #42692F; /*  */
}

.active + .answer {
  /* some styling here */
  display:  block;
}

.hero {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  /* add hero img */
  background-image: url(img/social-media-4.jfif);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-inner {
}

.hero h1 {
  font-family: var(--prime-font);
  color: #fff;
  font-size: 6vw;
}

.hero p {
  font-family: var(--prime-font);
  color: #fff;
  font-size: 4vw;
}

.hero button {
  font-family: var(--prime-font);
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
  border: 2px solid var(--second-color);
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.hero button:hover {
  background-color: var(--second-color);
}

.accordion {
  height: 40vh;
}

.question {
  width: 70vw;
  background-color: darkgoldenrod;
}

.answer {
  display: none;
  text-align: left;
}

.sign-up {
  height: 40vh;
}

footer {
  height: 10vh;
}

a:link {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
  color: #fff;
}

a:active {
  color: #000;
  text-decoration: none;
}

/* 
font-family: 'Alata', sans-serif; */

@media only screen and (min-width: 300px)  and (max-width: 640px) {
  body {
  }

  .flex-conatiner-small {
    display: flex;
    flex-direction: column;
  }
  
  .accordion {
    background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .accordion > * {
    overflow-y: hidden;
    font-family: var(--prime-font);
  }

  .accordion > h1 {
    padding: 3vw;
    color: var(--prime-color);
  }

  .question {
    width: 70vw;
    background-color: darkgoldenrod;
  }

  article p {
    font-size: 4vw;
    padding: 8px;
  }

  .answer {
    width: 70vw;
    background-color: darkorchid;
  }

  .sign-up {
    background: linear-gradient(to right,#2c5364, #203a43, #0f2027);
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .sign-up h1 {
    font-family: var(--prime-font);
    color: var(--prime-color);
  }

  form {
    display: flex;
    width: 70vw;
    flex-direction: column;
    font-family: var(--prime-font);
  }

  .form-field {
    font-family: var(--prime-font);
    margin: 10px;
    padding: 5px;
  }

  .form-check {
    margin: 10px;
    padding: 5px;
  }

  form label {
    color: var(--prime-color);
  }

  form > button {
    font-family: var(--prime-font);
    margin: 10px;
    padding: 5px;
  }

  input {

  }

  .display-block {
    display: block;
    text-align: center;
  }

  footer {
    display: flex;
    height: 10vh;
    color: #000;
    font-family: var(--prime-font);
    justify-content: center;
    align-items: center;
  }

  .exclude-small {
    display: none;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
 

}

@media only screen and (min-width: 641px)  and (max-width: 1024px) {
  body {
    background-color: chartreuse;
  }

  .exclude-medium {
    display: none;
  }

}


/* Might not need this */
@media only screen and (min-width: 1025px) {
  body {
    background-color: darkblue;
  }

  .exclude-large {
    display: none;
  }

}