/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
body {
  background-color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0px;
  padding: 0px;
  color: #012F2C;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10px;
  height:320px;
}

.hero-video {
  width: 100%;
  height: 320px;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  overflow: none;
  margin-bottom: 20px;
}


ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  padding-inline-start: 0;
}

li {
  padding: 10px;
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color:white;
}

.logo {
  width: 200px;
  display: flex;
  align-content: center; 
}

h2 {
  text-transform: uppercase;
  color:#012F2C;
}

.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  background-color: #24FFF2;
  flex-direction: column;
  align-items: center;
  color: #012F2C;
  margin: 20px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

.question {
  background-color: white;
  width: 250px;
  margin: 5px 0;
  padding: 5px 5px;
  font-size: 12px;
}

.answer {
  display: none;
  width: 250px;
  font-size: 12px;
  color:#012F2C;
  text-align: left;
}

.active + .answer {
  display: block;
}


.join-us {
  background-color: #e4ccff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 20px;
}

form {
  display:flex;
  flex-direction: column;
}

label {
  display: block;
  margin: 5px;
  font-size: 12px;
  text-align: right;
}

.radio-buttons {
  display: flex;
  justify-content: space-between;
  width: 240px;
}

#beginner {
  accent-color: #24FFF2;
}

#advanced {
  accent-color: #24fff2;
}

.terms {
  display: flex;
  justify-content: center;
}

.button {
  background-color: #ebff00;
  width: 150px;
  align-self: center;
  text-transform: uppercase;
  border: none;
  margin-top: 10px;
  padding: 5px;
  border-radius: 10px;
}

.foot-logo {
  width: 30px;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

footer {
  display: flex;
  justify-content: center;
  height: 50px;
}

@media (min-width: 668px) {
  .hero-video {
    height: 450px;
    overflow: none;
  }

  header {
    margin-bottom: 150px;
    height:320px;
  }

  .logo {
    width: 300px;
    display: flex;
    align-content: center; 
  }

  .join-us {
    box-shadow: 12px 12px 2px 1px #24FFF2;
  }

  .accordion {
    box-shadow: 12px 12px 2px 1px #e4ccff;
  }

}
