/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 1000px;
  background-color: teal;
  font-family: "Oswald", "PT Sans", sans-serif;
}

nav {
  z-index: 10;
}
/* HERO VIDEO */

.video-container {
  position: relative;
  height: 900px;
  overflow: hidden;
}

#hero {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
}

#hero video {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  object-fit: cover;
}

#hero .caption {
  position: relative;
  z-index: 25;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

Animated body {
  font: 400 1em/1.5 "Neuton";
  background: #090d00;
  color: rgba(255, 255, 255, 0.25);
  text-align: center;
  margin: 0;
}

p {
  text-transform: uppercase;
  letter-spacing: 0.5em;
  display: inline-block;
  border: 4px double blue;
  border-width: 4px 0;
  padding: 1.5em 0em;
  position: absolute;
  top: 18%;
  left: 50%;
  width: 40em;
  margin: 0 0 0 -20em;
}

span {
  font: 700 6em/1 "Oswald", sans-serif;
  letter-spacing: 0;
  padding: 0.25em 0 0.325em;
  display: block;
  margin: 0 auto;
  text-shadow: 0 0 80px rgba(255, 255, 255, 0.5);

  /* Clip Background Image */
  background: url(http://f.cl.ly/items/010q3E1u3p2Q0j1L1S1o/animated_text_fill.png)
    repeat-y;
  -webkit-background-clip: text;
  background-clip: text;

  /* Animate Background Image */

  -webkit-text-fill-color: transparent;
  -webkit-animation: aitf 80s linear infinite;

  /* Activate hardware acceleration for smoother animations */

  -webkit-transform: translate3d(0, 0, 0);
  -webkit-backface-visibility: hidden;
}

/* FORM */

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  background-color: #69757d;
  padding: 15px;
}

#form2 {
  display: none;
}
#sign-in-tab:checked ~ #form2,
#sign-up-tab:checked ~ #form1 {
  display: block;
}
#sign-in-tab:checked ~ #form1,
#sign-up-tab:checked ~ #form2 {
  display: none;
}
.tab:not(:checked) + label {
  opacity: 0.8;
}
.login-form {
  position: absolute;
  top: 20%;
  left: 7%;
  width: 400px;
}
.tab {
  display: none;
}
.tab-header {
  width: 48%;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  cursor: pointer;
}
.tab-header:after {
  display: block;
  content: "";
  height: 20px;
  border-bottom: 2px solid rgb(173, 56, 120);
  transform: scaleX(0);
  transition: transform 250ms ease-in-out;
}
.tab:checked + label:after {
  transform: scaleX(1);
}
.header {
  margin: 10px 0 10px 0;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.8);
}
.form-input input {
  border-radius: 10px;
  height: 35px;
  margin: 10px 0;
  width: 100%;
  border-width: 0;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  color: #fff;
}
input::placeholder,
#check {
  color: rgba(255, 255, 255, 0.8);
}
input:focus {
  outline: none;
}

#check {
  font-family: "PT Sans", sans-serif;
  font-size: 2rem;
}
.submit-button {
  margin: 20px 0;
  width: 100%;
  height: 35px;
  border-radius: 10px;
  border-width: 0;
  text-align: center;
  background-color: rgb(173, 56, 120);
  color: #fff;
}

/* MEDIA QUERIES */

/* MOBILE */

@media screen and (min-width: 768px) {
  #hero .caption h1 {
    font-size: 2.5rem;
  }
  #hero .caption h2 {
    font-size: 1.75rem;
  }
}

/* IPAD PRO */
@media screen and (min-width: 992px) {
  #hero .caption h1 {
    font-size: 3rem;
  }
  #hero .caption h2 {
    font-size: 2rem;
  }
}

/* DESKTOP */
@media screen and (min-width: 1200) {
  #hero .caption h1 {
    font-size: 4rem;
  }
  #hero .caption h2 {
    font-size: 2.5rem;
  }
}
