/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* .active + .answer {
  /* some styling here 
 */

* {
  margin: 0;
}

body {
  background #fff;
  margin:0; 
  
}

/**** HEADER ****/

header {
background-color: #fff;
text-align: center;

}

header img {
  height: 100px;
  padding: 10px;  
}



h1 {
  display: flex;
  justify-content: center;
}

/**** PARALAX

.hero-image {
  height: 380px;
  background-image: url('balloons.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  position: relative;
}

.hero-image-text {
  font-size: 20px;
} ****/
 

/* .hero-image-text {
  text-align:center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  Font-Family: Helvetica;
  Font-Size: 50px;
  color:  #0b6ba8;
  background: rgb(225,225,225, 0.9);
  border: 1px solid  #0b6ba8;
  padding: 5px;
} */

h1 {
  font-family: 'Lobster', cursive;
  Font-Size: 32px;
  margin-top: 40px;
  color:#48463c;   
}

h2 {
  font-family: 'Lobster', cursive;
  Font-Size: 32px;
  margin: 10px;
  color:#48463c;
}

label {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
}
/**** FLEX PARENT ****/

.flex-parent {
  display: flex;
  height: 800px;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin: 15px;
  
}

.flex-child {
  width: 345px;
  border: 5px solid #0b6ba8;
  border-radius: 5px;
  
}

/**** ACCORDION ****/

.accordion {
  background: lightblue;
  
}

.accordion-element {
  border-top: 1px solid #0b6ba8;
  padding:0px
}


.accordion-header {
  background: #fff;
  font-family: 'Roboto Condensed', sans-serif;
  Font-Size: 22px;
  margin: 0;
  padding: 20px;
}


.accordion-text-container {
  height: 0;
  overflow: hidden;
  transition: height .3s ease;
}

.accordion-text-container.active {
  height: 150px;
}

.accordion-text {
  font-family: 'Roboto Condensed', sans-serif;
  Font-Size: 16px;
  margin: 0;
  padding:15px;
}

.active {
  height: auto;
}


/**** FORM ****/

.form-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
}


.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items:center;
  height: 25px;
}

.form-group label {
  width: 50%;

}
.form-group input {
  width: 200px;
  height: 30px;
}




/**** FOOTER ***/


.footer {
  display: flex;
  background: #0b6ba8;
  height: 60px;
  margin: 0px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  position: absolute;
}

.footer-text {
  Font-Family: Helvetica;
  Font-Size: 10px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 20px;  
} 


/**** MEDIA QUERIES ****/

@media (max-width: 600px) {
  .image3 {
      width: 100%;
  }
}

@media (min-width: 601px) {
  .image3 {
      width: 100%;
  }
}