* {
  margin: 0;
  font-family: 'Quicksand', sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background: #3E3E3E;
  color: #ffffff;
}


/* ----------- TYPOGRAPHY ----------- */

h1, 
h2 {
  font-family: 'Dancing Script', cursive;
  margin: 0;
  padding-bottom: 1em;
  text-align: center;
}

h1 {
  font-size: 3.5rem;
}

h2 {
  font-size: 2em;
}

h3 {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.7px;
}

.small-text {
  font-size: 0.825rem;
  font-weight: 500;
}

button,
.modal-btn {
  font-family: 'Bebas Neue', cursive;
  letter-spacing: 1.6px;
  font-size: 1em;
  text-align: center;
  text-transform: uppercase;
}

.infotext p {
  font-family: 'Bebas Neue', cursive;
  font-size: clamp(1.125em, 1.5vw, 1.4em);
  text-align: center;
  line-height: 1.6em;
  letter-spacing: 1.5px;
}

.accordion h3,
.accordion p {
  color: #222222;
}

/* ----------- BUTTONS AND LINKS ----------- */

.btn, 
button {
  display: block;
  position: relative;
  padding: 0;
  margin-top: 1em;
  color: #e9e9e9;
  text-decoration: none;
  overflow: hidden;
  width: 15em;
}


.btn-gradient,
a {
  background-image: linear-gradient(to right, #2C2A2A 0%, #312f30 51%, #555253 100%);
  background-size: 200% auto;
  padding: 12px 32px;
  transition: 0.5s;
  color: #e9e9e9;
  border: none;
  border-radius: 5px;
  display: block;
  overflow: hidden;
}

.btn-gradient:hover {
  background-position: right center; /* change the direction of the change here */
}

@media (min-width:992px) {
  button,
  .btn {
    font-size: 1.2em;
  } 
  
  .btn::after,
  button::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 0.2em;
    align-self: center;
    background-color: #ab8292;
    opacity: 1; 
    transition: opacity 300ms, transform 300ms;
    transform: translate3d(150%, 0, 0);
  }
  
  button::after {
    bottom: 0.4em;
    width: 70%;
    left: 2.2em;
  }
  
  .btn::after {
    bottom: 0.6em;
    left: 1.45em;
  }
  
  .btn:hover::after,
  .btn:focus::after,
  button:hover::after {
    transform: translate3d(0, 0, 0);
  }
}


/* ----------- HEADER ----------- */

header {
  background-image: url("./images/hero-image2.png");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: contain;
  max-width: 100vw;
  min-height: 75vh; /*change viewheight??*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* ----------- NAVBAR ----------- */

ul {
  display: none;
}

.nav-hamburger {
  display: block;
  font-size: 1.5rem;
  color: #e9e9e9;
  position: fixed;
  right: 0.15em;
  top: 0.15em;
  cursor: pointer;
}

@media (min-width:667px) {
  .nav-hamburger {
    display: block;
    font-size: 2.5rem;
    color: #222222;
    position: fixed;
    right: 0.25em;
    top: 0.25em;
    width: 1em;
  }
  
}

@media (min-width:992px) {
  
  .nav-hamburger {
    display: none;
  }

  ul {
    display: block;
  }

  nav {
    display: block;
    background: rgba(0, 0, 0, 0.5);
    position: fixed; 
    right: 0;
    top: 0;
    width: 6em;
  }

  nav ul {
    margin: 0;
    padding: 0.5em 0;
    list-style: none;
    }
    
  nav ul li a {
    padding-right: 0.4em;
    text-decoration: none;
    margin-top: 0.5em;
    }
  } 
 
  nav ul li a:hover,
  nav ul li a:focus {
    transition: all 500 cubic-bezier(0.19, 1, 0.22, 1);
    transform: scale(1.2);
  } 

  
/* ----------- MODAL ----------- */

.info-modal {
  background: rgba(0, 0, 0, 0.6);
  padding: 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 50vw;
}

.info-modal p {
  text-align: left;
}

.small-text {
  color: #B0B0B0;
  cursor: pointer; 
}

.login-details  {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0 1em;
}


/* ----------- LAYOUT MAIN ----------- */
.infotext,
.signup,
.accordion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}

/* ----------- INTRO SECTION ----------- */

.infotext {
  background: #2D2D2D;
  height: 25vh;
}


/* ----------- SIGN-UP SECTION ----------- */

#submit-message {
  display: none;
  padding: 1em 1em 1em;
  text-align: center;
}

.submit-message h2 {
padding-top: 2em;
}

.submit-message h3 {
  padding-bottom: 2em;
}

.submit-message p {
  text-align: center;
}


.signup-form {
  max-width: 95%;
  display: flex;
  flex-direction: column;
}

label,
input,
textarea {
  display: inline-block;
}

input, 
textarea,
fieldset {
  position: relative;
  background: #3E3E3E;
  color: #e9e9e9;
  border: 1px solid #e9e9e9;
  border-radius: 5px;
  padding: 0.75em 0.5em 0.5em 1.5em;
  margin: 3;  
}

textarea {
  resize: none;
}

.label-radio { 
  margin: 0.25em;
  padding-block: 0.25em;
  display: flex;
  flex-direction: row-reverse;
  align-items: baseline;
  justify-content: start;
}


/*Styling for radio buttons*/
input[type="radio"] {
  margin-right: 0.8em;
  display: flex;
  justify-content: flex-start;

}

input[type="radio"]:checked {
  box-shadow: inset 0 0 0 15px #ab8292;
}

.label-top {
  position: relative;
  z-index: 1;
  top: 0.5em;
  left: 1.525em;
  background: #3E3E3E;
  color: #e9e9e9;
  max-width: fit-content;
  max-width: -moz-fit-content;
}

.signup button {
  margin-inline: 2em;
  cursor: pointer;
  align-self: center;
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid #e9e9e9;
  -webkit-text-fill-color: #e9e9e9;
  -webkit-box-shadow: 0 0 0px 1000px #3e3e3e inset;
  transition: background-color 5000s ease-in-out 0s;
}

.output {
  margin: 0;
  padding: 0;
  background: #3E3E3E;
  color: #e9e9e9;
}


/* ----------- ACCORDION/FAQ SECTION ----------- */

.accordion {
  background: #929292;
}

.accordion-container {
  border-inline: 0.125em solid #222222;
  border-bottom: 0.125em solid #222222;
  width: 90%;
  max-width: 22em;
}

.question {
  background: #A8A8A8;
  border-top: 0.125em solid #222222;
  padding: 1em;
  cursor: pointer;
}

.answer {
  background: #E2E2E2; 
  height: 0;
  opacity: 0;
  overflow: hidden;
}

.answer p {
  padding: 1em 1em 1em;
  max-width: 40ch;
}


/* ---------- CODE FOR ACCORDION FUNCTIONALITY ---------- */

.active, 
.question:hover {
  background: #4e4d4e;
}

.active * .fa-chevron-right {
  transform: rotate(0.25turn);
  transition: 200ms ease-in-out;
  margin-right: 0.25em;
}

.active + .answer {
  transition: height 500ms ease-out;
  height: 6em;
  opacity: 1;
  border-top: none;
} 



/* ----------- GALLERY SECTION ----------- */

.gallery {
  background: #333333;
  padding-block: 2.5em;
}

img {
  height: 10em;
  width: 10em;
  object-fit: cover;
  opacity: 0.5;
} 

.gallery-images {
  display: grid;
  display: -ms-grid;
  justify-items: center;
  grid-gap: 0.75em;
  grid-template-columns: repeat(auto-fit, minmax(10em, 1fr));
  -ms-grid-columns: repeat(auto-fit, minmax(10em, 1fr));
}


/* ----------- FOOTER -----------*/
.footer-items {
  display: flex;
}

footer {
  background: #222222;
  padding: 1.5em 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

footer .fab { /*this is styling for the icon I used inside a button*/
  padding-inline: 0.25em;
  color: #e9e9e9;
  font-size: 1.5em;
}

footer .fab:hover {
  transform: scale(1.3);
  color: #ab8292;
  cursor: pointer;
}

footer a {
  background-image: none;
}


/* ----------- MEDIA QUERIES ----------- */

@media (min-width: 992px) {
  h1 {
    font-size: 5rem;
  }
  
  .infotext-container:hover {
    transform: scale(1.1);
  }
  
  img:hover {
    opacity: 1.0;
  }

  .accordion-container {
    max-width: 28em;
  }
} 


@media (min-width: 1100px) {
    
  .desktop-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
  }

  .signup,
  .accordion {
    justify-content: flex-start;
    align-items: center;
  }

  .accordion h2 {
    padding-bottom: 1.525em;
  }

  .gallery-images {
    grid-template-columns: repeat(auto-fit, minmax(15em, 1fr));
    -ms-grid-columns: repeat(auto-fit, minmax(15em, 1fr));
  }

  img {
    height: 15em;
    width: 15em;
  }
}