/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */


body {
  background-color: rgba(222, 223, 215, 0.924);
  width: 100%;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.header {
  position: relative;
  width: 100%;
  text-align: center;
  
}

.video-container {
  position: relative;
  
}

#hero {
  position: relative;
  width: 100%;
  height: 500px;
  object-fit: cover;
  overflow: hidden;
  z-index: 0;
}

.header-text {
  font-family: 'Alegreya Sans SC', sans-serif;
  position: absolute;
  top: 10%;
  left: 12%;
  z-index: 1;
  
}

.header-text h1 {
  font-size: 45px;
  margin: 0;
}

.nav-bar {
  display: grid;
  grid-template-columns: 1fr;
  border-bottom: black solid 1px;
  border-top: black solid 1px;
}

.nav-bar a {
  color: black;
  text-decoration: none;
  align-self: center;
  padding: 30px;
}

.business-text {
  margin: 50px auto 0 auto;
  width: 80%;
  font-style: italic;
  text-align: center;
  font-size: 20px;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: minmax(200px, auto);
  align-items: stretch;
  justify-items: stretch;
  gap: 10px;
  padding: 5%;
  
}


.form {
  display: inline-flex;
  flex-direction: column;
  border: black solid 1px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.form-labels {
  margin-bottom: 20px;
}

input:valid {
  background-color: green;
}

input:invalid {
  background-color: red;
}

#submit-confirmation {
  display: none;
}

.accordion {
  border: solid black 1px;
  border-radius: 5px;
  padding: 20px;
  margin: 10px;
}

.accordion h1 {
  text-align: center;
}

.question {
  font-weight: bold;
  font-size: 18px;
  margin-top: 50px;
}

/* .answer {
  display:none;
} */

.active + .answer {
  color: beige;
}

/* .right-aside {

}

.picture {

}
 */
.footer-nav {
  display: grid;
  grid-template-columns: 1fr;
  text-decoration: none;
  background-color: burlywood;
  text-align: center;
}

.footer-nav a {
  color: black;
  text-decoration: none;
  align-self: center;
  padding: 30px;
}

.small-print {
  position: absolute;
  width: 100%;
  background-color: blanchedalmond;
  font-size: xx-small;
  text-align: center;
  
}

@media screen and (min-width: 667px) {

  .header-text {
      top: 23%;
      left: 12%;
  }

  .nav-bar {
    grid-template-columns: repeat(6,1fr);
  }

  .main-content {
    grid-template-columns: 1fr 1fr;
  }

  .footer-nav {
    grid-template-columns: 1fr 1fr;
  }
  
}

@media screen and (min-width: 991px) {

  .header-text {
    top: 30%;
    left: 18%;
  }


  .footer-nav {
    grid-template-columns:repeat(6, 1fr);
  }
  
}