@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
body {
  margin: 0;
  background-color: white;
  color: white;
  font-family: 'Noto Sans', sans-serif;
}

.hero-image {
  width: 100vw;
}

header {
  position: relative;
}

h1 {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.about {
  color: pink;
}

.grid-container {
  border: 2px solid green;
  display: grid;
  grid-template-rows: 500px 400px;
}

.grid-item {
  border: 1px solid black;
  color: black;
  background-color: white;
  padding: 20px;
  margin: 20px;
} 

.user-information {
  display: grid;
}

.accordion {
  border: 2px solid pink;
}

.question {
  border: 2px solid turquoise;
}

.answer {
  display: none;
  border: 2px solid red;
} 

.answer-clicked {
  display: block;
}

footer {
  background-color: teal;
  padding: 20px;
}

@media (min-width: 601px) {
  h1 {
    font-size: 45px;
  }

  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 901px) {
  h1 {
    font-size: 60px;
  }

  .grid-item {
    width: 350px;
  }
}