/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */


*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Montserrat', sans-serif;
}

/* =================
header
==================== */
body, html {
  height: 100%;
}

h1 {

font-family: 'Rock Salt', cursive;
}

h2 {
font-family: 'Comforter', cursive;
font-size: 30px;
}

.hero-image {
height: 50vh;
background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero-img.jpg");
height: 50%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: white;
}

.section{
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 6rem, 2rem;
	background: #D3DEDC;
}

/* =================
sign up
==================== */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.registration_form{
	background: #4B6587;
	padding: 30px;
	border-radius: 5px;
	width: 400px;
  height: 457px;
  align-items: center;
  margin-right: 20px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.registration_form .title{
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	color: #30475E;
	letter-spacing: 5px;
	font-weight: 700;
}

.form_wrap{
	margin-top: 35px;
}

.form_wrap .input_wrap{
	margin-bottom: 15px;
}

.form_wrap .input_wrap:last-child{
	margin-bottom: 0;
}

.form_wrap .input_wrap label{
	display: block;
	margin-bottom: 3px;
	color: #9597a6;
}

.form_wrap .input_grp{
	display: flex;
	justify-content: space-between;
}

.form_wrap .input_grp  input[type="text"]{
	width: 165px;
}

.form_wrap  input[type="text"]{
	width: 100%;
	border-radius: 3px;
	border: 1px solid #9597a6;
	padding: 10px;
	outline: none;
}

.form_wrap  input[type="text"]:focus{
	border-color: #ebd0ce;
}

.form_wrap ul{
	background: #fff;
	padding: 8px 10px;
	border-radius: 3px;
	display: flex;
	justify-content: center;
}

.form_wrap ul li:first-child{
	margin-right: 15px;
}

.form_wrap ul .radio_wrap{
	position: relative;
	margin-bottom: 0;
}

.form_wrap ul .radio_wrap .input_radio{
	position: absolute;
	top: 0;
	right: 0;
	opacity: 0;
}

.form_wrap ul .radio_wrap span{
	display: inline-block;
	font-size: 14px;
	padding: 3px 20px;
	border-radius: 3px;
	color: black;
}

.form_wrap .input_radio:checked ~ span{
	background: #7E8A97;
}

.form_wrap .submit_btn{
	width: 100%;
	background: #8E806A;
	padding: 10px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	letter-spacing: 3px;
	cursor: pointer;
}

.form_wrap .submit_btn:hover{
	background: #FFE6BC;
}

.input_wrap {
  color:#9597a6;
  margin-bottom: 15px;
}

/* ==================
accordion
===================== */

  .accordion .title{
   text-align: center;
   font-size: 20px;
   text-transform: uppercase;
   color: #30475E;
   letter-spacing: 5px;
   font-weight: 700;
  }

  .accordion {
    background: #4B6587;
    padding: 25px;
    border-radius: 5px;
    width: 400px;
    height: 457px;
    margin-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .label {
    border-radius: 3px;
  }
  .accordion .contentbox_1 {
    position: relative;
    margin: 10px 20px;
  }
  .accordion .contentbox_1 .label {
    position: relative;
    padding: 10px;
    background: #2694af;
    color: #fff;
    cursor: pointer;
  }

  .accordion .contentbox_1 .label::before {
    content: '+';
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
    font-size: 1.5em;
  }
  
  .accordion .contentbox_1.active .label::before{
    content: '-';
  }
  
  .accordion .contentbox_1 .content {
    position: relative;
    background: #FFEFEF;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    overflow-y: auto;
  }
  .accordion .contentbox_1.active .content{
    height: auto;
    padding: 10px;
  }

 /* =====================
 footer
 ======================== */
  footer {
    padding: 3rem;
    background-color:#6998AB;
    text-align: center;
    color: #fff;
    font-size: large;
  }
  
    @media screen and (min-width: 651px) and (max-width: 768px) {
     
    .registration_form {
      margin-left:  15px;
      margin-right: 10px;
    }

    .accordion {
      margin-right: 15px;
      margin-left: 10px;
      }
    }

    @media screen and (max-width: 650px) {
    .section {
     display: flex;
     flex-wrap: wrap;
    }

    .registration_form {
     margin-right:  0;
     margin-bottom: 0;
    }  

    .accordion {
     margin-left: 0;
    }
    }
    
    @media screen and (max-width: 400px) {
    .section {
      width: auto;
      }

    .input_grp {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 10px;
      }

     .input_wrap {
       padding-top: 0;
     }

     .form_wrap .submit_btn {
       padding: 5px;
     }

    }
    
     