body {
  font-family: 'Hina Mincho', serif;
  margin: 0;
}

.hero-video {
  position: absolute;             /* stays as a background when header-title has position relative and higher z-index */
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.header-title {
  position: relative;
  z-index: 1;                     /* the header title stays one layer on top of the video */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px;
  font-size: 25px;
  animation: fadeIn linear 3s;
}

@keyframes fadeIn {
  from {opacity:0;}               /* from, is the same as 0% */
  to {opacity:1;}                 /* to, is the same as 100% */
}

h1, h2 {
  background-color: white;
  padding: 5px;
}

nav {
  background-color: rgb(252, 252, 231);
  padding: 4px 0;  
  margin: 4px 0;    
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: sticky;               /* navbar that stays at the top of the page when scrolling down */
  top: 0;
  z-index: 1;
}

.nav-icon, .book-online-btn, .readmore-btn, audio  {
  border: 2px solid gray;
  border-radius: 10%;             /* rounded corners */
  padding: 5px;                   /* space between text and the border */
  height: 50px;
  width: 100px;
  display: flex;
  align-items: center;            /* center the content, vertically */
  justify-content: center;   
  text-transform: uppercase;
  font-family: 'Hina Mincho', serif;  /* the font dosen't apply here from the body, it has been overwritten by the button tag default styles */
  cursor: pointer;
  margin: 0 auto;                 /* center the buttons */
}

.nav-icon:hover, .book-online-btn:hover, .readmore-btn:hover {
  background-color: rgba(241, 106, 27, 0.703);
  color: white;
}

audio {
  border: 2px solid rgba(241, 106, 27, 0.703);
  width: 10%;
}

/* The Modal (background) */
.modal-form, .modal-accordion {
  display: none;                        /* Hidden by default */
  position: fixed;                      /* Stay in place */
  z-index: 1;                           /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;                          /* Full width */
  height: 100%;                         /* Full height */
  overflow: auto;                       /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.3);  /* Black with opacity 0.3*/
  
}

/* Modal Content/Pane for the form and accordion */
.modal-content-form, .modal-content-accordion {
  background-color: white;
  margin: 5% auto;                      /* 5% from the top and centered */
  padding: 50px;
  border: 2px solid;
  width: 50%;                           /* Could be more or less, depending on screen size, almost 100% for mobile? */
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-image: url("./favicon_copy.png");
}

.modal-book {
  grid-column: span 1;
  background-color: white;
  padding: 20px;
}

.modal-img {                  /* hide the img in mobile?? .modal-book take span 2, and center the content? */
  grid-column: span 1;
  width: 100%;
                              /* object-fit: contain; doesn't need object-fit because of grid? */
  transform: rotate(90deg);   /* rotate the img 90deg */
  align-self: center;         /* center the img */
}

.inputs {
  display: flex;
  flex-direction: column;
}

.inputs label {
  margin-top: 15px;
}

/* The Close Button */
.close-btn {
  color: rgba(241, 106, 27, 0.703);
  font-size: 32px;
  font-weight: bolder;
  position: absolute;
  top: 0;
  right: 25px;
}

.close-btn:hover, .close-btn:focus {       /* when hovering and focusing on the close button */
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.check-mark {                              /* hidden check-mark before validation */
  visibility: hidden;
  color: green;
}

input:valid + .check-mark {               /* display check-mark when input are valid */
  visibility: visible;
}

/* want a red border when validation say invalid and when it is not a placeholder and on focus */
input:not(:placeholder-shown):not(:focus):invalid {
  border: 0.5px solid red;
}

.accordion-title {
  grid-column: span 2;
  justify-self: center;
}

.question {
  background: white;
  grid-column: span 2;
  display: flex;
  justify-content: space-between;         /* want space between the question and the arrow */
  align-items: center;
  padding: 0 12px;
  cursor: pointer;                        /* the whole question is clickable therefore added pointer-cursor */
}

.arrow {
  font-size: 24px;
  cursor: pointer;
}

.answer {                               
  display: none;                          /* the answers are hidden by default */
  background-color: rgb(252, 252, 231);
  grid-column: span 2;
  padding: 0 18px;
}

.active + .answer {                        /*when clicking/activating the function toggle -> display the answer*/
  display: block;
}

.active .arrow {                          /*when activating the function toggle, rotate the arrow 180deg */
  transform: rotate(180deg);
}

.main-content {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 50px; 
  width: 90%;
  margin: 20px auto;
  padding: 50px;
  background-color: #eaeaea; 
}

.content-text {
  grid-column: span 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  /* position: relative;*/
}

.content-text a {
  text-decoration: none;
}

.content-text img {
  width: 70%;
  height: 200px;
  object-fit: cover;
}

footer {
  background-color: rgb(252, 252, 231);
  padding: 50px;
  font-size: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

footer p {                          /*zero margin between the paragraphs in the footer*/
  margin: 0;
}

.copyright {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.logo-technigo {
  width: 100%;
  max-height: 25px;
  margin-top: 5px;                /*put some space betwwen the logo and the paragraph*/
}

@media (min-width: 768px) and (max-width: 991px) {        /*for tablet*/
  .hero-video {
    height: 200px;
  }
  .content-text {
      grid-column: span 2;                      /*change it to one column*/
  }

  button, .header-title, footer, .copyright {
    font-size: 80%;
  }

  .nav-icon, .book-online-btn, .readmore-btn {
    width: 80px;
    height: 40px;
  }

  .modal-content {                              /* want the form and FAQ-accordion to take almost all the screen size */
    width: 60%;
  }

}

@media (max-width: 767px) {                     /*for mobile*/
  .hero-video {
    height: 180px;
  }
  .content-text {
      grid-column: span 2;                      /*change it to one column*/
  }
  button, .header-title, footer, .copyright {
    font-size: 60%;
  }
  .nav-icon, .book-online-btn, .readmore-btn {
    width: 60px;
    height: 30px;
  }

  .modal-img {                                  /* make the img disappear so there's more space for the form */
    display: none;
  }         

  .modal-book {
    grid-column: span 2;
  }

  .modal-content-form {                              /* want the form and FAQ-accordion to take almost all the screen size */
    width: 75%;
    justify-items: center;                       
  }

  .modal-content-accordion {
    width: 75%;
  }
  
}