  
 body {
  background-color: rgb(214, 214, 214);
  font-size: 15px;
  margin: 0;
 }

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('./Images/surfboardcopy.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 400px;
  max-width: 100%;
  text-align: center;
  color: rgb(255, 255, 255);
  box-shadow: 5px 8px 12px rgba(117, 117, 117, 0.678);
}

.hero-text {
display: flex;
flex-direction: column;
position: absolute;
color: rgb(35, 141, 190);
border: double 10px rgba(255, 255, 255, 0.945);
background-color: rgba(255, 255, 255, 0.404);
padding: 15px;
margin: 10px;
}

.hero-text h1 {
  font-size: 40px;
  margin-bottom: 2px;
}

h2 {
  font-size: 20px;
  margin-top: 0px;
}

.cards {
  display: flex;
  flex-direction: column;
}
.request, .FAQ {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: auto;
  padding: 10px;
  margin: 30px;
  background-color: rgb(221, 221, 221);
  border: solid 5px rgb(255, 255, 255);
  box-shadow: 5px 10px 18px rgba(117, 117, 117, 0.678);
  cursor: pointer;
}

.request {
display: flex;
flex-direction: column;
justify-content: center;
}

.request-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

input {
  width: 290px;
}

.FAQ-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  border: solid 2px rgb(255, 255, 255);
  box-shadow: 5px 6px 12px rgba(117, 117, 117, 0.678);
  width: 80%;
}

.FAQ-header {
  margin: 0;
  padding: 15px;
}

.FAQ-answer-container {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.FAQ-answer {
  margin: 0;
  padding: 15px;
  border-top: solid 2px rgb(255, 255, 255);
}

.active {
  height: auto;
}

footer {
  font-size: 15px;
  text-align: center;
  color: rgba(117, 117, 117, 0.678);
  background-color: rgb(255, 255, 255);
  height: auto;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 5px;
}

#logo {
  height: 25px;
  width: 30px;
}

@media screen and (min-width: 668px) {
  
  h1 {
    font-size: 25px;
  }
  .cards {
   flex-direction: row;
   justify-content: center;
  }

  .request, .FAQ {
    margin: 25px;
  }

  footer {
  position: bottom;
  }

}

@media screen and (min-width: 1025px) {

  .hero-text h1 {
    font-size: 60px;
  }

  .cards {
  display: flex;
  justify-content: center;
  }

  footer {
    position: bottom;
  }

}