@font-face {
  font-family: "Sana Sans";
  src:
    url("/assets/Fonts/SanaSans-RegularDisplay.woff2") format("woff2"),
    url("/assets/Fonts/SanaSans-RegularDisplay.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --primary-color: #0f3c18;
  --secondary-color: #449f6a;
  --background-color: #565b60; 
  --text-color: #ffffff;
  --input-background: rgba(
    255,
    255,
    255,
    0.5
  );
  --container-background: #1c4124ec;
  --blur-effect: blur(10px);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Sana Sans", sans-serif;
  backdrop-filter: var(--blur-effect);
}

header {
  width: 100%;
  height: 100%;
}

.nav-bar {
  width: 100%;
  padding: 0 20px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  font-size: 1.5rem;
  padding: 20px;
  list-style: none;
}

a {
  color: var(--text-color);
  text-decoration: none;
  font-family: sans-serif;
  font-size: 1rem;
}

a:hover {
  color: var(--primary-color);
}

p {
  font-weight: 300;
  border-radius: 30px;
  padding: 13px;
  background-color: var(--input-background)
}

.container {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  border-radius: 20px 150px 20px 150px;
  overflow: hidden;
  margin: auto;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2); 
  justify-content: center;
  align-items: center;
  background-color: var(--container-background);
}

.sign-up {
  background-position: center;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  padding: 55px;
  display: flex;
  margin: 0;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sign-up::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(2px);
  z-index: -1;
  /* background-image: url(/visualelectric-1725003862393.jpeg); */
  background-size: cover;
  background-position: 500%;
}

/*Form Input styles*/

form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-top: 10px;
  padding-bottom: 20px;
  font-weight: 400;
  color: rgb(255, 253, 253);
}

h1 {
  margin-left: -260px;
  margin-top: -48px;
  margin-bottom: 0px;
  font-weight: 500;
  color: rgb(129, 171, 158);
}

select,
input {
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--input-background);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  color: var(--text-color);
  padding: 1rem;
  transition: all 0.3s ease;
}

input::placeholder,
select {
  color: rgb(58, 57, 68);
}

input:focus,
select:focus {
  outline: none;
  box-shadow: 0 0 0 2px var(--secondary-color);
  transform: translateY(-2px);
}

/* button*/ 

input[type="submit"] {
  background: var(--secondary-color);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
}

input[type="submit"]:hover {
  transform: translateY(-2px);
  color: #3a86ff;
}

/* Responsive design*/
@media (max-width: 768px) {
  .container {
    width: 65%;
  }

  h1 {
    margin-left: -230px;
  }
  .sign-up {
    width: 100%;
  }
  a {
    display: none;
  }
}

/* Subtle animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.sign-up {
  animation: fadeIn 1s ease-out;
}

/* Hero image styling */
.hero-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100%;
  z-index: -2;
  opacity: 0.7;
  /* filter: blur(4px); */
}

/* #hero-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 100%;
  z-index: -2;
  opacity: 0.7;
} */


/* footer */ 
footer {
  width: 100%;
  height: 100%;
}

.footer-bar {
  width: 100%;
  background-color: #6b2121;
  position: sticky;
  top: 0;
  padding: 0 20px;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  padding: 20px;
  list-style: none;
}
