* { 
  outline: 1px solid red;
  outline-offset: -1px;
  }
/* ---MOBILE FIRST--- */

/* ---NAV BAR--- */
nav {
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: space-evenly;
}

nav a {
  font-size: smaller;
  color:#646464;
  opacity: 0.5;
} 

nav a:hover {
  cursor: pointer;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
}

/* ---HEADER--- */
header {
  max-height: 300px;
}

/* Adding hero-image as a background in header */
.hero-parent-mobile-desktop {
  width: 100%;
  height: 45vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-bottom: 8%;
  background-image:url('./images/llama.jpg');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hero-parent-mobile-desktop img {
  width: auto;
}

.hero-child {
  display: block;
  width: 70%;
}

h1 {
  font-size: 3em;
  color: #FFFCFC;
  margin-bottom: 0;
  margin-top: 15%;
}

h2 {
  color: #FFFCFC;
  margin-top: 0;
}

section.hero-parent-tablet {
  display: none;
}

main {
  margin-top: 0;
}

/* ---MAIN---*/
/*styled usiong flexbox*/
.main-boxes {
  display: flex;
  align-items: center;
  background-color: rgba(198, 193, 193, 0.8);;
  margin: 20%;
  padding: 10%;
}

/* ---FORM--- */
label {
  display: block;
  margin: 20px 0 0;
  color: #262223;
}

.checkbox {
  display:flex;
  align-items: flex-end;
  font-size:smaller;
  margin-bottom: 15px;
}

::placeholder {
  opacity: 0.4;
}

button {
  color: #262223;
  border: 0.5px solid black;
  padding: 10px 15px;
  text-transform: uppercase;
  transition-duration: 0.4s;
}

button:hover {
  cursor: pointer;
  background-color: #FFFCFC
}
/* ---ACCORDION---- */
/* Display the accordion when its active */
.active + .description {
  display: block;
}

/* Hiding the accordion when its not active */
.description {
  display: none;
}

.menu {
  border: 1px solid black;
  padding: 10px;
  background-color: #FFFCFC;
}

.menu:hover {
  cursor: pointer;
}

/* ---STYLING FOR TABLETS---*/
/* hiding mobile header and adding backgound image in body */
@media (min-width: 668px) and (max-width: 1024px) {
  
  section.hero-parent-mobile-desktop {
    display: none;
  }

  body {
    background-image: url(./images//llama-tablet.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: right;
    z-index: 99;
    position: relative;
}
  header {
    max-height: 350px;
    width: 100%;
  }

  h1 {
    font-size: 4em;
    margin-top: 100px;

  }
  section.hero-parent-tablet {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .main-boxes {
    background-color: rgba(198, 193, 193, 0.4);
    margin: 0 0 10%;
  }
}

/*---STYLING FOR DESKTOP---*/
 @media (min-width: 1025px){

  nav a {
    font-size: x-large;
  }
  header {
    max-height: 60vh;
  }

  section.hero-parent-mobile-desktop {
    /* width: 100%; */
    height: 60vh;
    /* display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center; */
    padding: 0;
    background-image:url('./images/llama.jpg');
    background-position: bottom;
    background-size: cover;
    /* background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    background-attachment: fixed; */
  }

  section.hero-parent-tablet {
    display: none;
  }

  h1 {
    font-size: 6em;
  }

  h2 {
    font-size: 2em;
  }

  main {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .main-boxes {
    /* display: flex; */
    justify-content: space-around;
    align-items: baseline;
    width: 100%;
    margin: 2%;
    /* padding: 5px; */
    
  }

  form{
    width:100%;
  }

  .accordion {
    width: 100%
  }
}
