body {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 5px;
  margin: 0px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: rgb(247, 217, 216);
  color: rgb(238, 208, 209);
}

header {
  grid-column: span 6;
}

.header {
  background-image: url("https://images.unsplash.com/photo-1445140463371-d8036feedc2f?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8aGVhZGVyJTIwaW1hZ2UlMjBiZWVyfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60");
  height: 250px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* Dont know what this one does?
  position: relative;*/
}

h1 {
  margin: 0px;
  text-align: center;
  padding-top: 75px;
  font-size: 60px;
  font-weight: 200;
 
}

h2 {
  text-align: center;
  margin: 0px;
  font-size: 30px;
  font-weight: 200;
}

.navigator-top {
  grid-column: span 6;
  display: grid;
  grid-template-columns: 5;
  height: 50px;
  padding: 10px;
  display: none;
  background-color: rgb(247, 217, 216);
  position: sticky;
  top: 0;
  z-index: 99; /*makes it appear above all other elements*/
}

.nav1, .nav2, .nav3, .nav4, .nav5 {
  color: brown;
  font-size: 15px;
  margin: 10px 0 0 0;
  text-align: center;
  padding: 10px 0px;
}

.nav1 {
  grid-column: 1;
}

.nav2 {
  grid-column: 2;
}

.nav3 {
  grid-column: 3;
  font-size: 30px;
  margin-top: 4px;
  transform: rotate(10deg);
}

.nav4 {
  grid-column: 4;
}

.nav5 {
  grid-column: 5;
}

.sign-up-form {
  text-align: center;
  background-color: rgb(245, 142, 117);
  margin: 10px;
  grid-column: span 6;
  padding-bottom: 30px;
}

h3 {
  font-size: 27px;
  margin: 30px 10px 0px 10px;
  font-weight: 200;
  line-height: 40px;
}

.arrow {
  margin-top: 10px;
  margin-bottom: 40px;
  font-size: 30px;
}

form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.item-name-email {
  width: 100%;
  margin-bottom: 20px;
}

.input-container {
  font-size: 20px;
}

.textbox {
  border: 1px solid brown;
  height: 20px;
  width: 190px;
  background-color: rgb(247, 217, 216);
}

::placeholder {
  color: brown;
  opacity: 1; /* Firefox */
}

h4 {
  font-size: 25px;
  padding: 0px 10px;
  font-size: 22px;
}

.favourite-beer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.checkbox-item {
  text-align: left;
  width: 90px;
  margin-left: 40%;
  font-weight: 200;
  padding-bottom: 3px;
}

.brewing-knowledge {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.radio-item {
  text-align: left;
  width: 150px;
  margin-left: 34%;
  font-weight: 200;
}

button {
  width: 110px;
  height: 50px;
  padding: 10px;
  border-radius: 35px;
  background-color: rgb(247, 217, 216);
  margin-top: 30px;

  color: rgba(138, 56, 19, 0.911);
  border: 2px solid rgba(138, 56, 19, 0.911);
  font-size: 19px;
}

.faq {
  text-align: center;
  background-color: rgb(245, 142, 117);
  margin: 10px;
  grid-column: span 6;
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}

.faq-header {
    font-size: 50px;
    padding: 50px;
  }

.question {
  width: 80%;
  margin: 20px auto 0px;
  height: 70px;
  background-color: rgb(241, 226, 226);
  color: brown;
  padding-left: 15px;
  border-radius: 20px 20px 0px 0px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

/*original look of faq question with plus to the right*/
.question::after {
  content: "\002B";
  font-size: 30px;
  position: absolute;
  right: 30px;
}

/*makes plus change so minus when active*/
.question.active::after {
  content: "\2212";
}
  
.answer1, .answer2, .answer3, .answer4  {
  width: 80%;
  margin: 0px auto 10px;
  height: 70px;
  background-color: rgb(241, 226, 226);
  color: brown;
  padding-top: 5px;
  padding-left: 15px;
  border-radius: 0px 0px 20px 20px;
  text-align: left;
  font-weight: bold; /*why doenst it get bolder?*/
  display: flex;
  align-items: center;
  position: relative;
  display: none;
}

p {
  margin: 2px;
  font-size: 15px;
}

/* javascript rules */
.active + .answer1 {
  display: block;
}

.active + .answer2 {
  display: block;
}

.active + .answer3 {
  display: block;
}

.active + .answer4 {
  display: block;
}
/* end of javascript rules */

footer {
  grid-column: 1 / 7;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  background-image: url("https://images.unsplash.com/photo-1505075106905-fb052892c116?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MzF8fGhlYWRlciUyMGltYWdlJTIwYmVlcnxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=60");
  height: 150px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navigation-bottom {
  grid-column: 3 / 4;
  background-color: black;
  color: white;
  text-align: center;
  font-size: 16px;
  padding: 5px 0px;
}

/*tablet version*/
@media (min-width: 668px) and (max-width: 1023px) {
  h1, h2, h3 {
    font-weight: 400;
  }

  .navigator-top {
    display: grid;
  }

  .sign-up-form {
    grid-column: span 3;
    margin-right: 5px;
  }
  
  .faq {
    grid-column: span 3;
    margin-left: 5px;
  }

  .question {
    width: 70%;
    margin: 25px auto 0px;
    height: 80px;
  }

  .answer1, .answer2, .answer3, .answer4  {
    width: 70%;
    height: 80px;
  }
  .navigation-bottom {
    display: none;
  }
}

/*desktop version*/
@media (min-width: 1024px) {
  h1, h2, h3 {
    font-weight: 400;
  }

  .navigator-top {
    display: grid;
  }
  
  .sign-up-form, .faq {
    grid-column: span 3;
  }

  .favourite-beer {
    width: 50%;
  }

  .brewing-knowledge {
    width: 50%;
  }

  .checkbox-item {
    margin-left: 10%;
    padding-left: 25%;
    font-size: 17px;
  }

  .radio-item {
    margin-left: 10%;
    padding-left: 17%;
    font-size: 17px;
  }

  .navigation-bottom {
    display: none;
  }
}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* 
.active + .answer {
  some styling here */

