
body {
  margin: 0;
  height: 100%;
  font-family: nobel-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  /* box-sizing: border-box; */
  
}

/*** NAV-BAR MENU ***/



.navbar {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.425);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1px;
}

.navbar .logo {
  width: 20%;
  display: flex;
  justify-content: center;
}

.navbar .logo img {
  height: 60px; 
  
}

.hamburger {
  display: none;
}

.navbar .menu-container {
  width: 80%;
  margin-left: 16px;
}



.nav-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0;
  padding: 0;
  font-size: 25px;
  width: 100%;
 }

.nav-menu a {
  text-decoration: none;
  color: #fff;
 }

 /*mouse over nav link*/

 a:hover {
   color: #009e71;
 }



/*** HERO Section ***/

.hero-header {
  width: 100%;
  margin-top: 250px;
  font-family: nobel-condensed, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 80px;
  color: rgba(255, 255, 255, 0.603);
  display: flex;
  justify-content: center;
  text-align: center;
}



#hero {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  }

 #hero video {
   width: 100%;
   height: auto;
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   object-fit: cover;
 }

 .hero-img {
   display: none;
 }

 /*** SIGN UP FORM ***/

.the-big-container {
  width: 100%;
  margin: 16px;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}


form {  
  width: 400px;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.6);
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.form-title {
  text-align: center;
  color: #009e71;
}

.form-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px;
  margin: 0;
}

.form-info li {
  margin-top: 1em;
  list-style: none;
}

.form-infor label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

.form-info input, .form-info label {
  display: block;
  text-align: left;
  margin-right: 16px;
}

.dogsize-container {
  display: block;
  align-self: center;
  margin-right: 60px;
  }

.dogsize-container label {
  margin-bottom: -10px;
  padding: 0;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 0;
  margin: 0;  
}

.checkbox input {
  align-self: center;
  width: 10%;
}

.checkbox label {
  width: 60%;
  text-align: left;
  font-size: 12px;
  font-style: italic;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 8px;   
}

button {
  width: 150px;
  align-self: center;
  margin: 4px;
  }

button:hover {
  background-color: #009e71;
}

button:active {
  transform: translateY(4px);
}

/***FAQ DROP MENU***/

.accordion {
  margin-left: 30px;
  width: 600px;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.6);
  /* Form outline */
  padding: 1em;
  border: 1px solid #CCC;
  border-radius: 1em;
}

.accordion h1 {
  color: #009e71;
  margin-bottom: 1rem;
  text-align: center;
  border: 1px solid #CCC;
  border-radius: 14px;
}
  
.question {
  margin-bottom: 1rem;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #CCC;
  border-radius: 14px;
}

.answer {
  overflow: hidden;
  height: 0;
}

.answer-selected {
  height: 100px;
  padding: 10px;
}

.answer-text {
  margin: 0;
  color: #009e71;
  text-align: justify;
}

/* this is for link text */
.answer-text a {
  color: #fff;
}
  

/***FOOTER***/

footer {
  height: 100px;
  background: rgba(0, 0, 0, 0.425);
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.icon-container {
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.fa {
  padding: 10px;
  width: 100px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-youtube {
  color: white;
}


/***MEDIA QUERIES***/

@media (max-width: 990px) {
  
  .navbar {
    display: flex;
    justify-content: center;
    align-self: center;
    flex-direction: row;
    }

  .hamburger-wrapper {
    display: flex;
    width: 80%;
    justify-content: flex-start;
    align-items: center;  
  }

  .hamburger-wrapper .hamburger {
    display: flex;
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: space-between;  
    background: #fff;
    border-radius: 10px;
    margin-left: 2em;
    padding: 10px 10px;  
  }

  .hamburger-wrapper .hamburger div {
    width: 30px;
    height: 5px;
    border-radius: 30px;
    background: #000;
  }
  
  .nav-menu {
    display: none;
  }

  .hero-header {
    font-size: 60px;
    margin-top: 200px;
    margin-bottom: 0;
  }

  #hero {
    align-self: center;
  }

  #hero video {
    height: 100%;    
  }

  .the-big-container {
    width: 40%;
    margin: 0 50px;
    padding: 0;
    display: flex;
    flex-wrap: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  form {      
    margin-bottom: 30px;   
    margin-right: 20px;
  }

  /* .button-container {
    width: 80%;
    font-size: 20px;
  } */

  .accordion {      
    margin-left: 0;
    margin-right: 20px;
  } 

  .icon-container {
    width: 80%;
  }
}


  

@media (max-width: 600px) {
  
  .navbar-container {
    height: 80px;
  }

  .hamburger-wrapper {
    margin-left: -20px;
  }

  .hero-header {
    display: none;
  }
  
  #hero {
    width: 600px;
    height: 100vh;
  }

  #hero video {
    display: none;
  }

  #hero .hero-img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    object-fit: cover;
  }  
  }


  

  
  
  
