/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/*
.active + .answer {
  /* some styling here */
/*}*/

body {
 margin: 0;
 font-family: Quicksand, Arial, Helvetica, sans-serif;
 background: black;
}
.header{
  display: flex; 
  position: relative;
  margin: 0;
  padding: 0;
}
.hero-image {
  width: 100vw;
  height: 30vh;
  object-fit: cover;
}
.hero-title {
  position: absolute;
  color: #ffff;
  font-size: 40px; 
  left: 20px;
  top: 20px
}
.container-menu {
   display: flex;
  align-items: center;
  flex-direction: column;
  color: #fff;
  font-size: 20px;
}
.menu{
text-align: center;  
border-bottom: 1px solid whitesmoke;
width: 100%;
}
.menu:hover {
  background: linear-gradient(to left, #29323c, #485563, #2b5876);
}
.container-hero {
  position: relative;
}
.container-forms {
  background: white; 
  color: black;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  margin: 20px;
  width: 350px;
}
.form {
  display: flex;
  background: black;
  color: white;
  }
/* yoga level dropdown */
input [type=text], select { 
  padding: 5px;
  border-radius: 5px;
  font-size: 14px;
  width: 200px;
}
.container-faq{
  display: flex;
  border-radius: 20px;
  padding:10px;
}
.input {
  width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: none;
  border-bottom: 2px solid rgb(11, 10, 10);
  transition: border-color 0.4s ease;
  font-size: 14px;
  padding: 10px 0;
  }
.input:focus {
  outline: none;
  border-color:#377198;
}
.input:valid {
  color: rgb(12, 151, 12);
}

.submit-button {
  background: #173252;
  color: whitesmoke;
  font-size: 14px;
  box-sizing: border-box;
  border-radius: 20px;  
  box-shadow: 0 4px #999;
  }
.submit-button:active{
  background-color: #29323c;
  box-shadow: 0 1px rgb(80, 79, 79);
  transform: translateY(5px);
}
.accordion {
  margin: 0px;
  display: flex;
  flex-direction: column;
  background: whitesmoke; 
  color: black;
  border-radius: 5px;
  cursor: pointer;
  width: 300px;
  background:#173252;
}
.accordion-question:hover {
  transition: all .9s ease-in-out;
  background: linear-gradient(to left, #29323c, #485563, #2b5876);
 }
.accordion-faq {
  font-size: 20px;
  font-weight: 600;
  padding: 20px;
  border: 2px solid black;
  /* width: 300px; */
  width: 50%;
  border-radius: 5px;
  margin: 20px;
  font-size: 20px;
 
  }
.accordion-question {
  margin: 0;
  padding: 10px;
  font-weight: 200;
  border-radius: 5px;
  font-size: 19px;
  border: 2px solid black;
  transition: all 0.4s ease-in-out;
  color: whitesmoke;
}
.accordion-answer {
  font-size: 15px;
  font-weight: 200;
  display: none;
  margin: 0;
  padding: 10px;
  background: #ffff;
  border-radius: 0 0 5px 5px;
}
.accordion-selected {
  display:block;
 }
 .footer{
  text-align: center;
  color: whitesmoke;
  margin: 20px;
  }

 /* mobile */
@media (max-width: 767px) {
  .form {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
} 
/* tablet */
  @media (min-width: 768px) {
    .form {
      flex-direction: row;
    }
    .hero-image {
      width: 100vw;
      height: 50vh;
      object-fit: cover;
    }
    .hero-title {
      font-size: 80px; 
      top: 280px;
    }
    .footer {
      height: 20px;
      text-align: center;
    }
    .container-menu {
     flex-direction: row;
     justify-content: space-between;
     color: #fff;
     font-size: 20px;
     text-transform: uppercase;
   }
  }  
    /* laptop */
  @media (min-width: 1200px) {
    .form {
       flex-direction: row;
       justify-content: space-between;
    }
    .hero-image {
      width: 100vw;
      height: 70vh;
      object-fit: cover;
    }
    .hero-title {
       position: absolute;
       font-size: 80px; 
       top: 100px;
       left: 10px;
    }
    .form{
      justify-content: center;
    }
    .container-menu {
      font-size: 25px;
      border-bottom: 2px solid whitesmoke;
    }
  }