body {
	margin: 0;
}
header {
	position: relative;
}
.header-text-center {
	position: absolute;
	top: 20%;
}
.hero-img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

/* Defining flex-box elements */
.flex-container,
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-container {
	gap: 20px;
	margin: 20px;
}

.form-container,
.accordion-container,
.radio-container,
.greeting-container,
header {
	display: flex;
	justify-content: center;
}

.form,
.accordion,
.greeting {
	width: min(80%, 320px);
	border: 1px solid black;
	padding: 10px 20px 20px 20px;
}
.form {
	align-items: center;
}

.radio-container {
	flex-wrap: wrap;
	flex-direction: column;
}

.checkbox-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.text-field,
button[type='submit'] {
	width: 100%;
	margin: 5px;
}

input[type='radio'] {
	width: 10%;
}
.radio {
	width: 50vw;
}
.question {
	border: 1px solid black;
}
.answer {
	display: none;
}
.answer p {
	border: 1px solid black;
	margin: 0;
	padding: 10px 0px;
}
.active + .answer {
	display: initial;
	/* border: 1px solid red; */
}
.greeting-container {
	display: none;
	text-align: center;
}
@media (min-width: 460px) {
	.radio-container {
		flex-direction: row;
	}
	.radio {
		width: 40%;
	}
}

@media (min-width: 768px) {
	.flex-container {
		flex-direction: row;
	}
	.form,
	.accordion {
		width: 320px;
	}
}
