@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body {
  margin: 0; 
}

  .header-wrapper {
    margin: 3px; 
    width: 100vw;
    height: 15vh; 
    background-color:#000;
    color: #fff;
    display: flex;
    justify-content: space-between;
    font-family: 'Major Mono Display', monospace;
    font-weight: 900;
}

  .pap {
    margin-top: 25px; 
    margin-left: 10px; 
    margin-bottom: 10px; 
    font-size: 40px;
}

  .header-r {
    position: relative;
    margin: 3px;
    display: flex;
    flex-direction: row;
  }

  .hamburger {
    position: relative;
    margin-top:15px;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0; 
    font-size: 60px;
    cursor: progress;
  }

  .contact {
    margin-right: 10px;
    border-radius: 30%;
		margin: 2px 2px;
		padding: 2px 2px;
		color: #000;
    font-family: 'Major Mono Display', monospace;
    font-weight: 900;
		font-size: 16px;
		text-align: center;
		text-decoration: none;
    cursor: pointer;
  }

/* HERO VIDEO */
  .hero-video {
    position: relative;
  }

  .hero-video1 {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
}

/* ACCORDION */
.accordion {
  position: absolute;
  top: 0;
  right: 10px;
  bottom: 0;
  left: 10px;
  display: flex;
  justify-content: center; 
  align-items: center; 
  margin: 0;
  border-radius: 7px;
  font-family: 'Major Mono Display', monospace;
  color: #fff; 
}

.header2 {
  color: #fff;
  transition: color 2s ease;
  }

.header2:hover {
  color: #FDE7D6 ;
  cursor: pointer; 
  }

.accordion-header {
  margin: 0;
  padding: 10px;
  cursor: pointer;
}

.answer {
  margin: 0;
  padding: 0px; 
  display: none;
}

.accordion-selected {
  display: block;
  height: 50px;
}

.active + .answer {
  background: #6b7686;
  padding-top: 2px;
  padding-left: 2px;
  height: 10vh;
}

.big-container {
  display: none;
}

.open + .big-container {
  display: block;
}
/* MID */
  .mid, .container {
    font-family: 'Space Mono', monospace;
    color: #fff;
    background: #000;
}

a {
    position: relative;
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    color: #fff;
    text-decoration: none;
    letter-spacing: 1.9px;
    font-weight: 700;
    font-size: 35px;
    border-bottom:5px solid #fff;
    transition: #fff 2s ease;
    }

a:hover {
    color: #FDE7D6 ;
    cursor: pointer; 
}

/* MID */

  .about {
    margin-left: 10px;
    margin-right: 10px;
  }

  .about-text {
    position: relative; 
    top: 10px;
    left: 10px;
    bottom: 10px;
    right: 10px;
    line-height: 200%;
    display: flex;
    justify-content: center;
    align-items: center; 
    }

/*  Form-survey */
  .form-survey {  
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    background: linear-gradient(to right, #000, #6b7686);
  }

  .form-survey-start {
    position: static;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .fname {
    position: relative;
    margin-top: 0;
    margin-left: 2px;
    margin-bottom: 0;
    margin-right: 2px;

  }

  .lname {
    position: relative;
    margin-top: 0;
    margin-left: 2px;
    margin-bottom: 0;
    margin-right: 2px;
  }

  .form-survey-end {
    display: flex;
    flex-direction: row;
  }

  .submit {
      cursor: pointer;
  }

@media (min-width: 768px) {
    .mid, .container {
      width: 100vw;
      display: flex;
      flex-direction: column;
      align-items: stretch; 
  }

  .about {
    width: 100vw;
  }
  
  .about-text {
  flex-wrap: wrap;
  }

  .form-survey {
    flex-wrap: wrap;
  }
}  

@media (min-width: 992px) {
      .mid, .container {
        width: 100vw;
        display: flex;
        justify-content: space-between;
        flex-direction: row; 
  }

  .about {
    width: 45%;
  }

  .form-survey {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
  }
}

