/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

body, html {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  max-width: 1300px;
  margin: auto;
}

header {
  width: 100%;
  height: 35vh;
  position:relative
}

#header-video {
  width: 100%;
  height: 35vh;
  object-fit: cover;
}

.header-content {
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
}

.question {
  background-color: burlywood;
}

.accordion div:nth-child(4n){
  background-color: aqua;
}

.question:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.question:hover {
  cursor: help;
}

.answer {
  display: none;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.8s ease-out;
}

.active + .answer {
  display: block;
}

.active:hover {
  cursor: auto;
}

/* hero-image info here: https://www.w3schools.com/howto/howto_css_hero_image.asp*/
/* .hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/happy-dog-small.jpg");
  height: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
} */