/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

* {
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: #faf2e7e5;
}

.active + .answer {
  /* some styling here */
}

/* video {
  height: 80vw;
  width: 100%;
  z-index: 1;
  position: relative;
  object-fit: cover;
} */

/* STYLING VIDEO */
#hero video {
  height: 80vw;
  width: 100%;
  z-index: 5;
  position: relative;
  object-fit: cover;
}

.logotype {
  z-index: 5;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: absolute;
  top: 10px;
  right: 10px;
}

.filter {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #e0d4d4dc;
  z-index: -1;
}

.main-content {
  margin: 1.5rem;
}

.selling-copy {
  margin-bottom: 50px;
}

.order-form {
  margin-top: 15px;
  padding: 20px 0 10px 0;
}

.input {
  border-radius: 10px;
}

form {
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  border: solid 1px #a36666;
  border-radius: 15px;
  padding: 15px;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: solid 0.5px #a36666;
  box-shadow: 0 0 1 0;
}

.question,
.answer,
p,
input,
label {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #a36666;
}

.extra-big-header {
  font-family: Lobster, cursive;
  color: #a36666;
  font-size: 38px;
  line-height: 50px;
  margin-bottom: 10px;
}

.big-header {
  font-family: Lobster, cursive;
  color: #a36666;
  font-size: 34px;
  margin-bottom: 10px;
}

.medium-size-header {
  font-family: Lobster, cursive;
  color: #a36666;
  font-size: 18px;
  margin-bottom: 10px;
}

#size-boquet {
  width: 12rem;
}

select {
  display: inline;
}

/* MEDIA QUERIES */

/* TABLET SIZE */
@media (min-width: 667px) and (max-width: 1024px) {
}

/* DESKTOP SIZE */
@media (min-width: 1024px) {
  .first-heading {
    font-family: Lobster, cursive;
    color: #a36666;
    font-size: 48px;
  }
}
