/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  background-color: #F9F9F3;
}

.hero-image {
  width: 100vw;
  height: 40vh;
  background-image: url(./images/hero-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-rows: 0 1rem 0;
  justify-content: space-evenly;
}

.logo-place {
  padding-top: 5%;
  padding-left: 10px;
}

.logo-mobil {
  font-size: 35px;
  font-weight: 600;
  color:white;
}

.hero-image h1 {
    color: white;
    text-transform: uppercase;
    font-size: 3vh;
    padding-top: 13%;
    padding-left: 10px;
  }
  
.navbar {
  display: none;
}

.navbar ul li {
  list-style: none;
}

/* Mobil layout -- Signup form*/

.form-wrapper {
  display: flex; 
  flex-direction: column;
  justify-content: top;
  height: fit-content;
  border-radius: 15px;
  background-color: #E2E5DE;
  padding: 30px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}

.form-wrapper h2 {
  text-transform: uppercase;
  font-size: 1rem;
}

.form-inputs {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  font-size: 1.5vh;
  text-transform: uppercase;
} 

.form-inputs .textarea {
  display: flex;
  flex-direction: column;
}

.form-inputs .textarea input {
  padding: 3px 8px;
  border-radius: 5px;
  border: solid 1px #808080;

}

.form-inputs .textarea label {
  padding-top: 3px
}

.form-inputs .radiobutton {
  padding-top: 3px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.form-inputs .checkbox {
  padding-top: 3px;
  padding-bottom: 3px;
}

.form-inputs button {
  border: solid 1px #808080;
  border-radius: 5px;
  padding: 3px 8px;
}

/*---End of form-styling */

/* Mobil layout -- Accordion*/

.accordion-container {
  display: flex; 
  flex-direction: column;
  justify-content: top;
  height: auto;
  border-radius: 15px;
  background-color: #E2E5DE;
  padding: 30px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 10px;
}

.accordion-container h1 {
  padding-bottom: 3px;
  text-transform: uppercase;
  font-size: 1rem;
}

.question {
  height: fit-content;
  background-color: #B2BEB5;
  border: solid 1px #808080;
  border-radius: 10px;
  cursor: pointer;
  font-weight: normal;
  padding: 3px 8px;
}

.question::after {  /*this adds an upside-down triangle to each section*/
  content: '\25be';
  float: right;
  transform: scale(1); 
}

.answer {
  display: none;
}

.active + .answer {
  display: block;
  background-color: #F5F5F5;
  color: black;
  padding: 3px 8px;
  border-radius: 10px;
  
}

/*------TABLET STYLING------*/

@media (min-width: 667px) and (max-width: 1024px) {

  .main-container{
    display:grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 100%;
    grid-gap: 2%;
    padding: 2%;
  }

  .hero-image {
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-position: bottom;
    display: grid;
    grid-template-rows: 10vh;
  }

  .inner-hero-header { /*detta är ett grid-item till header som är parent container*/
    width: 100vw;
    height: 10vh;
    background-color: gray;
    color: #fff;
    opacity: .7;
    margin-top: 0;
  }
    
  .logo-place {
    display: none;
  }

  .logo-mobil {
    display: none;
  }

  .hero-image h1 {
    justify-self: center;
    padding: 30px;
    opacity: .85;
    font-size: 5vh;
    text-shadow: 1vh 1vh 2vh gray;
  }

  .navbar {  /* <nav> taggen är placerad i ett grid-item som i det här fallet är 'inner-hero-header'. Flexbox aktiveras i detta element och inte i 'inner-hero-header'*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  } 

  .nav-menu {  /* Flexbox skapar utrymmer mellan länkarna */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-item {
    margin-left: 20px;
  }
    
  .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }

  .nav-link:hover {
    color: #dabf94;
  }
    
  .logo {
    font-size: 30px;
    font-weight: 600;
    color:white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
  
}

/*------DESKTOP STYLING-----*/ 
@media (min-width: 1024px) {

  .main-container{
    display:grid;
    grid-template-columns: 49% 49%;
    grid-template-rows: 100%;
    grid-gap: 2%;
    padding: 2%;
  }

  .hero-image {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: bottom;
    display: grid;
    grid-template-rows: 10vh;
    }
  
  .inner-hero-header { /*detta är ett grid-item till header som är parent container*/
    width: 100vw;
    height: 10vh;
    background-color: gray;
    color: #fff;
    opacity: .7;
    margin-top: 0;
    }

  .logo-place{
    display: none;
    }

  .logo-mobil {
    display: none;
    }

  .hero-image h1 {
    justify-self: center;
    padding: 30px;
    font-size: 5vw;
    text-shadow: 1vh 1vh 2vh gray;
  }

  .navbar {  /* <nav> taggen är placerad i ett grid-item som i det här fallet är 'inner-hero-header'. Flexbox aktiveras i detta element och inte i 'inner-hero-header'*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  } 

  .nav-menu {  /* Flexbox skapar utrymmer mellan länkarna */
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  .nav-item {
    margin-left: 20px;

  }

  .nav-link {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    text-decoration: none;
  }
  .nav-link:hover {
    color: #dabf94;
  
  }

  .logo {
    font-size: 30px;
    font-weight: 600;
    color:white;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
  }
}
