* {
  margin: 0;
}
/*The heading session*/
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.bg-video {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  min-width: 100%;
  z-index: 0;
  min-height: 100%;
  max-height: 100vh;

}

.navbar{  
  display: inline-block;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 10px;
}

.navbar a {
  color: white;
  font-size: 20px;
  padding: 20px;
  text-decoration: none;
}

h1 {
  position: absolute;
  top: 30vh;
  z-index: 1;
  font-size: 10rem;
  font-family: 'Ma Shan Zheng', cursive;
}

img {
  position: absolute;
  z-index: 2;
  left: 20px;
  /* margin-top: 20vh;
  width: 170px;
  height: auto; */
}
/* Form and FAQ section*/
.form-and-faq-container {
  display: flex;
  flex-direction: column;
  background-color: teal;
}
/*The Form*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  border-radius: 5px;
  height: 900px;
  margin: 10px;
}
.contact-details {
  margin-bottom: 30px;
}

label { 
  display: block;
  margin: 15px
 
}

input {
  display: block;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(56, 43, 82,0.5)
}
.guest-input {
  display: block;
  border: none;
  border-radius: 5px;
}

select {
  font-size: 20px;
  margin: 5px;
}
.radio[type=radio] {
  box-shadow: none;
  width: 100%;
  height: 15px;
  background-color: pink;
}

input:focus {
  background-color: #c5e4f0;
}

.form-header {
  text-align: center;
  margin: 60px auto 40px auto;
  text-transform: uppercase;
}
.form-title {
  text-align: center;
}

.radio-buttons {
  display: flex;
  margin-bottom: 10px;
}

.checkbox {
  display: flex;
  font-size: 20px;
  color: green;
}

.submit {
  display: block;
  margin: 30px;
  right: 20px;
  padding: 20px 30px;
  background-color: white;
  border-radius: 10px;
  border: none;
  box-shadow: 5px 5px 10px rgb(110, 119, 96);
}

.accordion-collumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lavender;
  margin: 10px;
  border-radius: 5px;
  height: 900px;
}

.accordion-header {
  margin: 30px auto;
  font-size: 2.5rem;
}

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: white;
  color: black;
  margin: 15px 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgba(56, 43, 82,0.5)
}

.accordion-item-header {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 8px 48px 8px 16px;
  min-height: 50px;
  line-height: 1.25rem;
  font-weight: bold;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 30px;
  position: absolute;
  right: 16px;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  padding: 20px;
  line-height: 25px;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #747982, transparent)1;
}

.answer {
  display: none;
}

.active + .answer {
  display: block;
}

/*Tablet View*/

@media(min-width: 768px) {
.form-and-faq-container {
  flex-direction: row;
}

.form {
  width: 50%;
  margin: 10px 5px 10px 10px;
}

input {
  font-size: 25px;
}

.accordion-collumn {
  width: 50%;
  margin: 10px 10px 10px 5px;
}
}

/*Desktop View*/

@media(min-width: 992px) {
  .contact-booking {
    display: flex;
    flex-wrap: wrap;

  }

  .radio-condition {
    margin-right: 110px;
  }

  input {
    font-size: 20px;
  }

  .submit {
    margin-right: 400px;;
  }

  .form {
    padding-left: 70px;
  }
}


/* font-family: 'Courgette', cursive;
font-family: 'Ma Shan Zheng', cursive; */