/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

html {
  font-family: 'Krona One', sans-serif;
  background: #FFFCF4;
}

/*Hero header*/
.video-header {
  height: 50vh;
  /* width: 100vw;  */
  position: relative;
  /* text-align: center; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

video {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}


h1 {
  position: absolute;
}


h2 {
  margin: 0;
  height: 50px;
  width: 130px;
} 


h3 {
  color: white;
  padding: 10px;
}




/*main content*/

main {
  display: grid;
  gap: 10px; /*change later*/
}


.info-box {
  background:#001356;
  margin: 10px;
  height: 120px;
}


.cat-img {
  width: 300px;
  margin: 2rem;
}


/*Accordion*/
.question {
  background: #D3DFE3;
  color: #001356;
  padding: 1em;
}


.answer {
  background: #001356;
  color: #D3DFE3;
  padding: 1em;
  display: none;
}


.active + .answer {
  display: block;
}


footer {
  display: flex;
  justify-content: center;
  background: black;
}


.cat-img5 {
  width: 450px;
}


/* media qieries for tablet & desktop*/
@media (min-width: 1024) {
  .video-header {
    width: 50vw;
  }
}

