/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;600&display=swap');

/* CSS below is to reset default values such as margin, padding and box-sizing
    and increase the resolution of the text */
    
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #EED2D5;
  margin: 0;
  border: solid #212121 34px;
}

main {
  padding: 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  height: 10%;
  }

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:white;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
}

.menu-line {
  width: 1.5rem;
  height: 1px;
  margin-bottom: 0.5rem;
  fill: white;
  background-color: white;
}

.desktop-menu {
  display: none;
  text-transform: uppercase;
}

.desktop-menu a {
  margin-left: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'poppins'; 
  font-size: 1rem;
}

.hero {
  height: 75vh;
  background: url(/code/images/mike-walter-Zb_flICEe0w-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f5f3f2;
  align-items: center;
  }

.hero-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.hero-title {
  font-size: 8vw;
  color: black;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
}

h2 {
  color: black;
  font-family: 'Playfair Display';
  font-size: 3vw;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: 5rem 3rem;
  border-top: 1px solid black;
  border-bottom: 0.25px solid black;
  padding: 20px 0;
}

h4{
  text-align: center;
  font-size: 20px;
  font-family: 'poppins';
  font-weight: normal;
  padding-bottom: 1rem;
}

.active + .project-content {
  display: flex;
  flex-direction: column-reverse;
  margin: 1rem 0 2rem 0;
}

.all-projects:first-child {
  border-top: 1px solid red;
}

.project-image {
  width: 150px;
}

.project-title {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
}

.project-title h3 {
  width: 200px;
}

.accordion {
  border-bottom: 1px solid black;
}

.content-text {
  display: flex;
  flex-direction: column;
}

.content-text p{
  width: 75%;
  margin-bottom: 1rem;
}

.project-content {
  display: none;
}

.form-image-wrapper{
  width: 90%;
  margin:auto;
}

.form {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'poppins';
  font-size: 1rem;
  text-transform: uppercase;
}

form label {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  width: calc(50% - 2rem);
  margin: 1rem;
}

input, select, option {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
}

.items-of-interest {
  width: 100%;
}

.text-area {
  width: 100%;
  margin: 0 15%;
  text-align: center;
}

textarea {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  height: 100px;
}

.newsletter{

}

button{
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
}

footer {
  padding: 5rem 1.5rem;
}

ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

ul a {
  color: #212121;
}
/* On screens that are 768px or more (tablet) */

@media screen and (min-width: 768px) {
  
  body {
    border: solid #212121 34px;
  }

  h2{
    margin: 12rem 10rem;
    padding: 50px;
    font-size: 2.5vw;
  }

  .active + .project-content {
    display: flex;
    flex-direction: row;
    margin: 1rem 0 2rem 0;
  }

  .project-image {
    width: 300px;
    margin-right: 1rem;
  }

  .form-image-wrapper{
    width:50%;
  }
  
  .hero {
    height: 75vh;
  } 

  .hamburger-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

}

/* On screens that are 992px or more (desktop) */
@media screen and (min-width: 992px) {
 

}
