/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

html {
  font-family: 'Notable', sans-serif;
  background: #FFFCF4;
}

/*Hero header*/
.video-header {
  height: 50vh;
  width: 100vw; 
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

video {
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
  border-radius: 4px;
}


/*header text*/
h1 {
  position: relative;
  margin: 0;
  font-size: 81px;
  color: #EEA47F;
}


  /*sign up form & FAQ*/
h2 {
  color: #EEA47F;
  margin: 10px;
  text-align: center;
  font-size: 40px;
} 


/*sign up form & FAQ*/
h3 {
  color: #EEA47F;
  padding: 10px;
  font-size: 00.90rem;
}


/*main content*/
main {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center; 
}


/*Accordion*/
.accordion-container {
  display: flex;
  justify-content: center;
}


.accordion {
  background: #00539C;
  margin-top: 1rem;
  margin-bottom: 9rem;
  height: 480px;
  max-width: 450px;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 255, .2);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}


.question {
  background: #00539C;
  color: #EEA47F;
  padding: 1em;
}


.answer {
  background: #FFFCF4;
  padding: 1em;
  display: none;
}


.answer p {
  padding: 1em 1em 1em;
  max-width: 23ch;
  color: #00539C;;
}


.active + .answer {
  display: block;
  border-style: groove;
}


/*Sign up form*/
.signup-container {
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 255, .2);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
  background: #00539C;
  margin: 2rem 1rem 7rem 0;
}


.form-list-item {
  position: relative;
  padding: 4rem;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.form-input {
  border: 1px solid #ddd;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  padding: 0.90rem 1rem;
  font-family: Georgia, 'Times New Roman', Times, serif; 
  box-shadow: 0.3em 0.3em 0.7em #00000015;
  transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: rgb(250, 250, 250) 0.2em solid;
}


.form-input:hover {
  border: #EEA47F 0.2em solid;
 }


.form-label {
  font-size: .75rem;
  padding: 5px;
  color: #EEA47F;
}


.form-footer {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
}


/*button on sign up form*/
.sub-button {
  text-decoration: none;
  position: absolute;
  border: none;
  font-size: 14px;
  font-family: inherit;
  color: #fff;
  width: 9em;
  height: 3em;
  line-height: 2em;
  text-align: center;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 300%;
  border-radius: 30px;
  z-index: 1;
 }
 
 .sub-button:hover {
  animation: ani 8s linear infinite;
  border: none;
 }
 
 @keyframes ani {
  0% {
   background-position: 0%;
  }
 
  100% {
   background-position: 400%;
  }
 }
 
 .sub-button:before {
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: -1;
  background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
  background-size: 400%;
  border-radius: 35px;
  transition: 1s;
 }
 
 .sub-button:hover::before {
  filter: blur(20px);
 }
 
 .sub-button:active {
  background: linear-gradient(32deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
 }


/*cat img in the bottom*/
.cat-img-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}  

.cat-img {
  width: 300px;
  margin: 2rem;
  border-radius: 8px;
  border: 1px solid rgba(0, 0, 255, .2);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}


.main-footer {
  margin: 100px 0 0 0;
  display: flex;
  justify-content: center;
  background: black;
}

/*image in footer*/
.cat-img5 {
  width: 450px;
}


                                            /* media qieries*/




/* media qieries for mobile*/
@media (max-width: 667px){
.cat-img4 {
  display: none;
  }
}  


/*tablet*/
@media (min-width: 668px) {
  .cat-img4 {
    width: 20rem;
    border: 1px solid rgba(0, 0, 255, .2);
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
    margin-top: 1rem;
  } 

  .signup-container {
    max-width: 600px;
  }

  .accordion-container {
    margin: 15px;
  }
}


/* media qieries for tablet & desktop*/
@media (min-width: 1024px) {
  .video-header {
    height: 50vw;
    align-items: flex-start;
  }

  h1 {
    font-size: 135px;
   }

  .accordion-box {
    grid-area: acc;
  }
  .form-box {
    grid-area: form;
  }

  .img-box {
    grid-area: img;
  }

  main {
    max-width: 100vw;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(autofill, minmax(325px, 1fr));
    grid-template-rows: auto;
    grid-template-areas: 
    "acc acc form"
    "img img form"
    ;
  }
}



