/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

body {
  margin: 0;
  padding: 0;
  background-color: #270604;
}

/* Hero */

.header {
  position: relative;
}

.hero-video {
  /* width: 100%;
  height: 100%;
  object-fit: cover; */
  width: 100vw;
  height: 50vh;
  object-fit: cover;
}

.hero-image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  width: 100%;

}

img {
  width: 40%;
}

/* Form */


main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 100px;
  margin-bottom: 50px;
  padding: 30px;
}

form {
  border-radius: 5px;
  background-color: #4F0C07;
  width: 40%;
}

.form-content {
  padding: 40px;
}

h2 {
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 35px;
  text-align: center;
  margin: 0;
}

.form-header {
  background-color: #830E07;
  width: 100%;
  margin: 0;
  border-radius: 5px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

input[type=text] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #830E07;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

input[type=email] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #830E07;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 30px;
}

input[type=tel] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #830E07;
  border-radius: 4px;
  box-sizing: border-box;
}

.radio-style {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.checkboxes-style-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkboxes-style-2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkboxes-style-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 10px;
}

.checkboxes-style-4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

/* input:valid {
  border: 2px solid green;
} */

input:invalid {
  border: 2px solid red;
}

  .form-text-input {
    border-bottom: solid 2px #830E07;
    padding-bottom: 50px;
  }

  .form-checkboxes-tablet {
    display: none;
  }

  .form-checkboxes-mobile {
    display: none;
  }

  .form-radio-buttons, .form-checkboxes-desktop {
  margin-top: 50px;
  border-bottom: solid 2px #830E07;
  padding-bottom: 50px;
}

.form-time-select {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: solid 2px #830E07;
  padding-bottom: 50px;
}

select {
  display: block;
  font-family: 'Dosis', sans-serif;
  font-size: 100%;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 12px 20px;
  height: 50px;
  border-radius: 4px;
  margin-top: 7px;  
}

.other-text {
  margin-top: 50px;
}

input[type=textarea] {
  width: 100%;
  height: 150px;
  padding: 12px 12px;
  box-sizing: border-box;
  border: 1px solid #830E07;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-family: 'Dosis', sans-serif;
  font-size: 16px;
  resize: none;
  margin-top: 10px;
}

label {
  display: block;
  color: white;
  font-family: 'Dosis', sans-serif;
  font-size: 18px;
  font-weight: 300;
}

p {
  color: white;
  font-family: 'Dosis', sans-serif;
  text-align: center;
  font-weight: 500;
  font-size: 23px;
}

input[type=submit] {
  width: 100%;
  background-color: #830E07;
  color: white;
  padding: 14px 20px;
  margin: 50px 0px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Dosis', sans-serif;
}

/* Accordion */

.faq-header {
  background-color: #830E07;
  height: 100px;
  border: 2px solid #830E07;
  border-radius: 5px;
}

h3 {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  color: white;
  font-size: 35px;
  background-color: #830E07;
  height: 70px;
  margin-top: 35px;
}

h1 {
  font-family: 'Dosis', sans-serif;
  text-align: center;
  color: white;
  font-size: 25px;
  font-weight: 500;
}

.faq {
  width: 40%; 
}

.accordion {
  border: 3px solid #830E07;
  border-radius: 5px;
  background-color: #4F0C07;
}

.accordion-header {
  margin-top: 30px;
  padding: 10px;
  cursor: pointer;
}

.accordion-content {
  display: flex;
  overflow: hidden;
  height: 0;
  transition: height .3s ease;
  background-color: #830E07;
  align-items: center;
  justify-content: center;
  font-weight: 100;
}

.accordion-selected {
  height: 100px;
  background-color: #830E07;
}

@media (min-width: 768px) and (max-width: 1024px) {

.form-checkboxes-desktop {
  display: none;
}

.form-checkboxes-mobile {
  display: none;
}

.form-checkboxes-tablet {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-bottom: solid 2px #830E07;
  padding-bottom: 50px;
}

main {
  margin-top: 100px;
}

img{
  width: 70%;
}

}

@media (max-width: 767px) {

.form-checkboxes-desktop {
  display: none;
}

.form-checkboxes-tablet {
  display: none;
}

.form-checkboxes-mobile {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  border-bottom: solid 2px #830E07;
  padding-bottom: 50px;
}

.hero-image-1 {
justify-content: center;
align-content: center;
margin: 0;
}

img {
  width: 80%;
}

main {
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
  margin-top: 20px;
  padding: 30px;
}

form {
  width: 100%;
  align-content: center;
}

.faq {
  margin-top: 30px;
  align-content: center;
  width: 100%;
}

}