body {
  margin: 0;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #056676;
  background: #a3d2ca;
  font-size: 14px;
}

/*** HEADER ***/
header {
  background: #056676;
  color: #e8ded2;
  display: flex;
  flex-direction: row-reverse; /* Logo to left and hamburger-menu to right */
  justify-content: space-between;
  align-items: center;
  padding: 8px;
}

.hamburger-menu {
  display: flex;
  width: 30px;
  height: 20px;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 24px;
}

.hamburger-menu div {
  width: 35px;
  height: 3px;
  background: #e8ded2;
}

.logo {
  width: 70px;
  height: 70px;
}

nav {
  display: none; /* Not display navbar menu */
}

/*** HERO IMAGE ***/
.hero-img {
  background: url(./images/hero-img-boat.jpg) no-repeat bottom left;
  background-size: cover;
  height: 50vh;
  color: #e8ded2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/*** MAIN ***/
main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 40px;
}

section {
  width: 80%;
  background: #e8ded2;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-bottom: 40px;
  padding: 20px;
}

section h1 {
  align-self: center;
}

/*** SIGNUP FORM ***/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  display: flex;
  margin-bottom: 10px;
}

.form-group-name label,
.form-group-email label,
.form-group-phone-no label {
  width: 80px;
}

.form-group-name input,
.form-group-email input,
.form-group-phone-no input {
  width: 200px;
}

/*** ACCORDION ***/
.question {
  font-weight: bold;
  position: relative;
}

.question::after {
  content: "\002B";
  font-size: 30px;
  position: absolute;
  right: 0px;
}

.question.active::after {
  content: "\2212";
}

.answer {
  display: none;
}

.active + .answer {
  display: block;
}

/*** MEDIA QUERIES ***/
@media (min-width: 768px) {
  /* Add styling specific for screen-size from 768px to 1023px */
  body {
    font-size: 18px;
  }

  header {
    flex-direction: row; /* Logo to left and navbar menu to right */
  }

  .hamburger-menu {
    display: none; /* Not display hamburger-menu */
  }

  nav {
    display: flex;
  }

  nav a {
    color: #e8ded2;
    text-decoration: none;
    margin-right: 16px;
  }

  .hero-img {
    height: 60vh;
  }

  main {
    justify-content: space-evenly;
  }

  section {
    width: 40%;
  }
}

@media (min-width: 1024px) {
  /* Add styling specific for screen-size from 1024px and above */
  .logo {
    width: 90px; /* Want the logo to be bigger */
    height: 90px;
  }

  a::after {
    display: block;
    content: "";
    width: 0px;
    height: 2px;
    background: #e8ded2;
  }

  a.home:hover::after {
    width: 56px;
    transition: width 0.5s;
  }

  a.about:hover::after {
    width: 65px;
    transition: width 0.5s;
  }

  a.contact:hover::after {
    width: 88px;
    transition: width 0.5s;
  }

  a.four:hover::after {
    width: 50px;
    transition: width 0.5s;
  }

  .hero-img {
    height: 70vh;
  }
}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
