/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Poppins:wght@400;600&display=swap');

/* CSS below is to reset default values such as margin, padding and box-sizing
    and increase the resolution of the text */
    
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  background-color: #EED2D5;
  margin: 0;
  border: solid #212121 15px;
}

main {
  padding: 0 1rem;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1rem;
  height: 10%;
  }

.logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color:white;
}

.hamburger-menu {
  display: flex;
  flex-direction: column;
}

.menu-line {
  width: 1.5rem;
  height: 1px;
  margin-bottom: 0.5rem;
  fill: white;
  background-color: white;
}

.desktop-menu {
  display: none;
  text-transform: uppercase;
}

.desktop-menu a {
  margin-left: 1.5rem;
}

a {
  text-decoration: none;
  color: white;
  font-family: 'poppins'; 
  font-size: 1rem;
}

p{
  font-family: 'poppins';
  font-size: 20px;
  font-weight: normal;
}

.hero {
  height: 75vh;
  background: url(/code/images/adrianna-geo-1rBg5YSi00c-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  color: #f5f3f2;
  align-items: center;
  }

.hero-title-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}

.hero-title {
  font-size: 8vw;
  color: white;
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: normal;
}

h2 {
  color: black;
  font-family: 'Playfair Display';
  font-size: 3vw;
  font-style: normal;
  font-weight: normal;
  text-align: center;
  margin: 4rem 2rem;
  border-top: 1px solid black;
  border-bottom: 0.25px solid black;
  padding: 20px 0;
}

h3{
  font-family: 'Poppins';
  text-transform: uppercase;
}

h4{
  text-align: center;
  font-size: 15px;
  font-family: 'poppins';
  font-weight: normal;
  padding-bottom: 2rem;
}

h5 {
  text-align: center;
  font-size: 15px;
  font-family: 'poppins';
  font-weight: normal;
  font-size: 20px;
}

.project-header{
  border-bottom: 3px solid black;
}

.active + .project-content {
  display: flex;
  flex-direction: column;
}

.project-image {
  width: 100%;
  margin-bottom: 1rem;
}

.project-title {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: 'poppins';
  font-size: 10px;
  padding:10px;
  height: 70px;
}

.project-title p{
  font-size: 10px;
}

.project-title:hover {
  background-color: black;
  color: #EED2D5;
  transition: all 1s ease;
}

.accordion {
  border-bottom: 1px solid black;
}

.content-text {
  display: flex;
  flex-direction: column;
}

.content-text p{
  width: 100%;
  margin-bottom: 1rem;
}

.project-content {
  display: none;
}

.form-image-wrapper{
  width: 90%;
  margin:auto;
}

.form {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: 'poppins';
  font-size: 1rem;
  text-transform: uppercase;
}

form label {
  font-size: 10px;
  display: flex;
  flex-direction: column;
  width: calc(50% - 2rem);
  margin: 1rem;
}

input, select, option {
  border: none;
  background-color: transparent;
  border-bottom: 1px solid black;
  background-image: none;
}

input:focus{
  border: none;
}

.items-of-interest {
  width: 100%;
}

.text-area {
  width: 100%;
  margin: 0 15%;
  text-align: center;
}

textarea {
  background-color: transparent;
  border: 1px solid black;
  border-radius: 10px;
  height: 100px;
  margin: 1rem 0;
}

select:focus {
  outline: none;
  border: 1px solid black;
}

input:focus {
  outline: none;
  border-bottom: 1px solid #BE9499;
}

textarea:focus {
  outline: none;
  border: 1px solid #BE9499;
}

.newsletter {
  display: flex;
  align-items:center;
  width: 100%;
}

.check-box {
  background-color: transparent;
  border: 1px solid black;
}

button{
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  padding: 7px 17px;
  display: block;
  margin-top: 20px;
}

button:hover {
  background-color: black;
  color: #EED2D5;
  transition: all 1.5s ease;
}

footer {
  padding: 3rem;
  border-top: 1px solid black;
  margin-top: 4rem;
}

li:hover{
  background-color: black;
  color: #EED2D5;
  transition: all 1.5s ease;  
}

ul {
  list-style-type: none;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: center;
}

ul a {
  color: #212121;
}

/* On screens that are 768px or more (tablet) */

@media screen and (min-width: 768px) {
  
  body {
    border: solid #212121 34px;
  }

  .hero {
    height: 75vh;
  } 

  .hamburger-menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }

  h2{
    margin: 12rem 10rem;
    padding: 50px;
    font-size: 2.5vw;
  }

  h4 {
    font-size: 1.5rem;
  }

  .active + .project-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .project-title {
    height: 100px;
    font-size: 20px;
  }

  .project-title h4 {
    font-size: 2.5rem;
  }

  .project-image {
    width: 50%;
    margin-right: 1rem;
  }

  .content-text {
    margin-top: 1rem;
  }

  .form-image-wrapper{
    width:50%;
  }

  .footer {
    margin-top: 12rem;
  }

}

/* On screens that are 992px or more (desktop) */

@media screen and (min-width: 992px) {  

}
