* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source sans 3", sans-serif;
}

body {
  background-color: rgb(63, 77, 102);
  color: white;
}

.hero {
  display: flex;
  align-items: flex-start;
  position: relative;
  max-height: 100vh;
  width: 100vw;
  text-align: center;
}

/* Video styling */
.hero-video {
  position: relative;
  height: auto;
  width: 100vw;
  max-height: 100vh;
  filter: brightness(65%);
  object-fit: cover;
  z-index: -1;
}

.hero-text {
  box-sizing: border-box;
  display: block;
  position: absolute;
  top: 70%;
  left: 60%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  padding: 0 15px;
  /* Padding for better readability on small screens */
}

header div h1 {
  font-size: 50px;
}

header div h2 {
  font-size: 30px;
}

h3 {
  font-size: 20px;
}

/* Form section  */

.signup {
  padding: 20px;
  text-align: center;
  background-color: rgb(63, 77, 102);
  margin-top: 10px;
}

.signup form {
  max-width: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 10px;
}

.signup label {
  display: flex;
  align-items: center;
  text-align: left;
  width: 100%;
  margin: 10px 0;
  font-size: 1rem;
}

fieldset {
  color: white;
  margin: 0;
  padding: 10px 30px;
  border: none;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  background-color: rgb(91, 107, 135);
}

.signup input[type="name"],
.signup input[type="company"] .signup input[type="email"] {

  padding: 12px;
  margin: auto;
  border-radius: 20px;
  border: 1px solid rgb(160, 176, 203);
  width: 100%;
}

.signup input[type="checkbox"] {
  accent-color: rgb(160, 176, 203);
  border-radius: 20px;
  width: 20px;
  height: 20px;
  padding: 12px;
  margin: auto;
  font-size: 0.8rem;
  text-decoration: none;
  color: white;

}

.signup button {
  padding: 12px 24px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1rem;
  width: 80%;
  height: auto;
  margin-top: 10px;
}

.signup button:hover {
  animation: bubble 0.4s ease-out;
}

@keyframes bubble {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}


input {

  width: 100%;
  font-size: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 20px;
}


button {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: white;
  background-color: #333;
  appearance: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.footer {
  display: block;
  background-color: rgb(63, 77, 102);
  text-align: center;
  /* padding: 10px 0; */
  position: absolute;
  width: auto;
  margin-bottom: 10px;
}

.footer-logo img {
  display: block;
  max-width: 100%;
  width: 150px;
  height: auto;
}


/* Media Queries */
/* Header font-size for different screen sizes */

@media (min-width: 1024px) {

  header div h1 {
    font-size: 4.5rem;
  }

  header div h2 {
    font-size: 2.5rem;

  }

}

@media (max-width: 768px) {
  header div h1 {
    font-size: 3.5rem;
  }

  header div h2 {
    font-size: 1.5rem;
  }

}

@media (max-width: 500px) {
  header div h1 {
    font-size: 2.5rem;
  }

  header div h2 {
    font-size: 1.5rem;
  }

}

@media (max-width: 480px) {
  header div h1 {
    font-size: 1.5rem;
  }

  header div h2 {
    font-size: 1rem;
  }
}