/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

html {
  color: rgba(31, 49, 33, 0.603);
  font-family: 'Nanum Myeongjo', serif;
  background-color: rgb(253, 243, 227);
  /* border: 20px solid white; */
  margin: 0;
}

body {
  margin: 0;
}

/* header {
  width: 100%;
  margin: 0;
  display: flex;
} */

img {
  width: 100%;
}

.title {
  text-align: center;
  display: flex;
  position: relative;
}

.title-text {
  position: absolute;
  text-align: center;
  width: 100%;
}

.title img {
  position: absolute;
  left: 0;
  top: 0;
}

.title-text h1 {
  text-align: center;
  align-content: center;
  padding: 20px;
  width: 100%;
  font-family: 'Bowlby One SC', cursive;
  color: white;
  font-size: 100px;
  font-weight: bold; 
}

.main {
  display: flex;
  flex-direction: row;
  width: auto;
  justify-content: space-evenly;
  margin: 30px 20px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: rgb(214, 191, 160);
  border-radius: 20px;
  padding: 20px;
}

/* .form input {
  width: 150px;
  height: 25px;
  border: 2px solid beige;
  margin: 5px;
  border-radius: 20px;
} */

.form input:hover {
  /* opacity: 0.6; */
}

.form ::placeholder{
  opacity: 0.4;
  color: gray;
}

input.submit {
  border-radius: 30px;
}

input:focus {
  background-color: rgb(146, 166, 170);
}

/* input:invalid {
  text-decoration: underline;
} */

label {
  display: block;
  cursor: cell;
  padding: 10px;
}

.textArea input {
  width: 150px;
  height: 20px;
  margin: 5px;
}

.choice input {
  margin: 5px;
  margin: 8px
}

.checkBox input {
  padding: 5px;
  margin: 8px;
}

.button {
  width: 100px;
  border-radius: 20px;
  font-size: 12px;
  opacity: 0.7;
  margin: 10px;
}

.button:hover {
  opacity: 1;
  box-shadow: 2px 3px 5px grey;
}

.info {
  font-size: 12px;
  font-style: italic;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 40%;
  background-color: rgb(212, 204, 190);
  border-radius: 20px;
  padding: 20px;
}

.main .accordion {
  justify-content: center;
}

.main .form {
  justify-content: center;
}

.accordion h1 {
  text-align: center;
  font-size: 30px;
}

.question {
  background-color: #eee;
  color: rgb(150, 147, 156);
  cursor: pointer;
  padding: 18px;
  margin: 15px 15px 0px 15px;
  width: auto;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.question:hover {
  cursor: context-menu;
  text-shadow: 1px 1px 5px grey;
}

.answer {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  margin: 0px 15px 15px 15px
}

footer {
  border-top: 3px solid rgb(255, 255, 255);
  font-size: 12px;
  padding: 10px;
}

footer a {
  text-decoration: underline;
  color: grey;
}

footer img {
  width: 25px;
  opacity: 0.6;
  float: left;
  margin: 10px 20px;
}

@media (max-width: 668px) {
  .main {
    display: flex;
    flex-direction: column;
    width: auto;
    justify-content: space-around;
    align-items: baseline;
  }

  .title-text h1 {
    font-size: 70px;
  }

  .form {
    width: 80%;
    margin: 20px 10px;
  }

  .accordion {
    width: 80%;
    margin: 20px 10px;
  }
}