body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #75cfb8;
  } 

/* Header */
.header {
    position: relative;
  }
  
  .hero-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }
  
  .hero-text {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  } 

  /* Header ends here */

  

    .flex-parent {
        height: 1200px;
        margin: 5px;
    }
    
    .flex-child {
        width: 100%;
        height: 100%;
        border-radius: 10%;
    }
    
    .one{
        background:#bbdfc8;
        text-align: center;
    }
    
    .two {
        background: #bbdfc8;
        margin-top: 5px;
        text-align: center;
    }

    h1 {
      font-size: 32px;
    }

  



    /* Accordion */

    .accordion {
        border-radius: 7px;
      }
      
      .accordion-header {
        margin: 0;
        padding: 10px;
        font-size: 28px;
      }
      
      .accordion-content {
        display: none;
        margin: 0;
        padding: 10px;
        border-top: 3px solid#ffc478;
      }
      
      .accordion-selected /* This one is not in out html anywhere, how come it recognizes it or connects it? */{
        display: block;
      }
      
      .active, .accordion-content, .accordion:hover { /* Color of the table after clicking */
        background-color: #f0e5d8; 
      }
      
      .accordion-header:after { /* Plus sign, default */
        content: "\002B"; /* Plus sign */
        color: #ffc478;
        font-weight: bold;
        float: right;
        margin-left: 5px;
      }
      
      
      .active:after {
        content: "\2212"; /* Minus sign */
      } /* Minus sign after clicking to the question */
      



    /* Accordion */






    /* Form */
      form p {
          margin-bottom: 5px;
          font-size: 28px;
      }

      form input {
          font-size: 28px;
      }

      input:valid {
        background-color: #ffc478;
      }
      
      input:invalid {
        background-color: #75cfb8;
      }

   
      /* Checkbox */

      .gender {
        font-size: 28px;
        margin: 5px;
        margin-top: 40px;
      }

      .checkbox {
        display: block;
        /*text-align: center; */
        font-size: 36px;
      }
      .checkbox input {
        width: 30px;
        height: 30px;
      }

      .checkbox1 {
        display: block;
      }

      .checkbox1 p {
        margin: 0px;
        margin-bottom: 40px;
      }

      

      /* Checkbox ends */




      /* Terms & Conditions */

      .terms1 {
        /*display: block; */
        align-items: center;
        width: 30px;
        height: 30px;
        margin-top: 30px;
      }

      .terms p{
        font-size: 24px;
        margin-bottom: 30px;
      }

      /*Terms & Conditions */

      /* Submit button */ 

      .button {
        font-size: 24px;
      }

      /* Submit button */ 
      /* Form */







@media (min-width: 768px) {
    .flex-parent {
        display: flex;
        justify-content: center;
    }

    .flex-child {
        margin: 5px;
    }

    .checkbox {
      display: flex;
      justify-content: space-evenly;
      font-size: 18px;
    }

    .checkbox1 {
      margin-top: 30px;
    }
}

@media (min-width: 1024px) {
  .flex-parent {
    display: flex;
    justify-content: center;
    margin: 50px;


}


.flex-child {
    margin: 25px;
  }
}



@media (min-width: 1300px) {

.flex-child {
    margin: 75px;
  }
}


