/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */


html {
font-family: didot;
width: 100%;
}


body  {
  width: 100%;
  background-color: #FAF0E6;
  margin: 0;


}


video {
  width: 100%;
  height: 100%;
}


.herovideo {
  position: relative;
  width: 667px;
 
}
.herovideo h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  font-family:“didot”;
  color: #FFFFFF;
  margin:0px;
}


  /***  Media Quaries   ***/

@media screen and (min-width: 667px) and (max-width:1024px) {
  .herovideo {
    width: 100%;
    height: 100%;
  }

  .herovideo h1 {
    font-size: 50px;


  }
} 

@media screen and (min-width: 1025px) {
  .herovideo {
    width: 100%;
    height: 100%;
  }

  .herovideo h1 {
    font-size: 80px;


    
  }
} 


.sign-up {
  margin-top:30px;
  display: flex;
  justify-content: center;
  width:650px
  
}


/*Form */


form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 40px;
  margin: 20px;
  margin-left: 100px;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);
  font-size: 20px;
  
 
  }
  
.form-group {
 display: flex;
  justify-content: center;
    
}

.form-group label {
 justify-content: center;
 padding:10px;
  border-radius:10px;
}

.form-group-button {
  display: flex;
  justify-content: center;

}


h3 {
  display: flex;
  justify-content: center;
}

button {
  width: 120px;
  height: 50px;
 border-radius: 15px;
 border-style: hidden;

}

input {
  font-size: 20px;
}

label {
    display: block;
    margin-bottom: 30px;

}
 

 /* Accordion */

.answer {
  display: none;
}


.active + .answer {
  display: inline-block;
  /* some styling here */
}

 /* Accordion  box styling and placement*/


.accordion {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 300px;
  margin-left: 140px;
  margin-top: 100px;
  margin-bottom:90px ;
  border-radius: 8px;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.15);

}

.accordion h1 {
  display: flex;
  justify-content: center;

}

 .question {
   font-size: 20px;
   margin:12px;
 }


/*Footer*/ 


footer{
  width: 664px;
  height: 100px;
  background-color:black;
  color:white;
  margin-top: 30px;
}

.footer {
  display: flex;
  justify-content: center;
}

  /***  Media Quaries   ***/

  @media screen and (min-width: 667px) and (max-width:1024px) {
    footer {
      width: 100%;
      height: 100%;
    }
  }    
  @media screen and (min-width:1024px) {
    footer {
      width: 100%;
      height: 100%;
    }
  }    

  