/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

* {
  margin: 0;
  padding: 0;
}
/*** Body ***/
body {
  box-sizing: border-box;
}

/*** Fonts ***/
h1{
  color: white;
  font-family: 'Ubuntu';
  font-size: 40px;
  align-content: center;
  letter-spacing: 5px;
  
}

h2 {
  color: white;
  font-family: 'Nunito';
  font-size: 20px;
}

h3{
  font-family: 'Nunito';
  justify-content: center;
}
/*** Header ***/


header{
  display: flex;
  height: 300px;
  /*align-items: center;*/
  background-image: url("./images/header-monstera.jpg");
  background-size: cover;
  width: 100%;
  justify-content: space-between;
}
.Hero-text {
  text-align: center;
  margin-top: 65px;
  
}

nav {
    
    font-family: 'Nunito';
    margin: 0 5px;
    font-size: 16px;
    color: white;
    align-items: flex-end;
    display: none;
    
}

nav a {
  display: inline-block;
  padding: 1px;
  text-decoration: none;
  border-radius: 5px;
  color: white;

}
.hamburger {
  display: flex;
  height: 30px;
  width: 30px;
  flex-direction: column;
  justify-content: space-between;
  

}

.hamburger div {
  width: 30px;
    height: 5px;
    background:white;
    display: flex;
   margin-left: 50px;  
}
/*** Form ***/


.formaccordian-container {
  display: flex;
  flex-direction: column;
}
form {
  justify-content: center;
  border: 1px solid black;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;


  
}
form:hover {
  border: solid 2px #60A9A6;
}

fieldset {
  border-radius: 10px;
  box-shadow: 0 1px 3px 0;
  border: none;
  margin-bottom: 20px;
  margin-top: 20px;
  /*padding: 20px;*/
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  
}

label {
  
  padding: 10px;
  margin: 5px;
  align-items: center;
  font-family: 'Ubuntu';
  display: flex;
  
  
}

input{
 /*justify-content: space-evenly;*/
  border: none;
  padding: 10px;
  font-family: 'Nunito';
  font-weight: bold; 
  font-size: 15px;
  background-color: hotpink;
  margin: 10px;
   
}

span{
  width: 40%;
  font-weight: bold;
}

.button-submit{ 
  background-color: tomato;
  width: 100%;
}