body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: white;
  color: #005580;
}

header {
  background-image: url("./08-business_1233587863.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 300px;
}

header > h1 {
  left: 2rem;
  top: 4rem;
  position: absolute;
  color: rgba(233, 234, 240, 0.993);
  animation-name: header;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes header {
  0%   {color: white; font-size: 2.5vw;}
  25%  {color: #334753; font-size: 3.7vw; }
  50%  {color: #9eebeb; font-size: 3.2vw;}
  100% {color: white; font-size: 2.5vw;}
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  font-family: 'IBM Plex Mono', monospace;
}

.sign-up {
  border: 3px solid #005580;
  width: 300px;
  margin: 50px auto;
  padding: 10px;
}

 label, button {
  display: block;
  padding: 5px; 
  margin-top: 20px; 
} 


.container {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}


input {
  line-height: 1.5rem;
  background-color: #b3ffff;
}
 /* Styling validation forms */

input.valid + span::before {
  content: "✓";
  color: green;
} 

/* input:invalid {
  background-color: red;
} */

input:invalid + span::before {
  content: '✖';
  color: red;
}


button {
  border-radius: 4px;
  background-color: #005580;
  color: white;
  border: 1px solid #b3ffff;
  width: 60%;
  height: 40px;
  margin: 20px auto;
}
 
/* Here starts styling of the accordion */

.accordion {
  border: 1px solid #005580;
  border-radius: 4%;
  width: 300px;
  margin: 30px auto;
}

.accordion > h1 {
  margin-bottom: 1.5rem;
  margin-left: 2rem; 
  font-family: 'Abel' sans-serif;
}

.accordion-question {
  margin: 1rem 2rem;
  box-shadow: 9px 4px 5px #005580;
  padding: 0.2rem;
  border: 1px solid #005580; 
}

.accordion-question:hover {
  transform: scale(1.1);
  margin-bottom: 2rem;
  margin-top: 2rem;
  transition: ease-in-out 0.8s;
}

.question {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  padding: 0.3rem;
  font-family: 'Abel', sans-serif;;
}

.question::after {
  content: "\25BC";
  position: absolute;
  right: 0.4rem;
  font-size: 0.7rem;
}

.question.active::after {
  content: "\25B2";
}
 .answer {
  display: none; 
  line-height: 1.3rem;
  border-top: 2px solid;
  border-image: linear-gradient(to right, #005580, transparent) 1;
  padding: 0.5rem;
}
/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  color: black;
  display: block;
}

footer {
  font-size: 1.5rem;
  height: 100px;
  text-align: center;
  margin-top: 40px;
}

@media (min-width: 668px) {
  
  header {
    height: 500px;
  }

  .main-content {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
 
  .accordion {
    width: 350px;
    margin-left: 2rem;
  }
}

  

@media (min-width: 992px) {

  header {
    height: 650px;
  }

  .accordion {
    width: 450px;
  }
}