* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h2 {
  text-transform: uppercase;
  color: #403A3B;
}

h3 {
  margin-left: 3vw;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 20px;
  color: #403A3B;
  font-weight: 200;
}

h4 {
  text-transform: uppercase;
  font-size: 16px;
  color: #403A3B;
  font-weight: 200;
}

p {
  font-size: 18px;
  color: #403A3B;
  font-weight: 200;;
}


.header-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:#373B3E;  
}

.nav-bar {
  overflow: hidden;  
  display:none;
}

.nav-bar a {
  padding: 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
}

.nav-bar a:hover {
  border: 1px solid white;
}


.menu-btn:checked ~ .nav-bar {
  opacity: .5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  font-size: 28px;
  background: #272727;
  z-index: 1;
}

.nav-link a:hover {
  background-color: #ddd;
  color: black;
}

.menu-icon {
  position: relative;
  padding: 26px 10px;
  right: 20px;
  cursor: pointer;
}

.menu-icon__line {
  display:block;
  position: relative;
  background: #fff;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  margin: 5px;
}

.menu-btn {
  display: none;
}

.logo img {
  height: 80px;
}

/***HERO PICTURE***/

.hero {
  height: 70vh;
  background: url(./unsplash-hero.jpg) no-repeat bottom center;
  background-size: cover;
  display: flex;
  align-items: center;
  padding: 0 10vw; 
  color: #fff;
  position: relative;
}

.hero-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 3vw;
}

.hero-text p {
  width: 50%;
  color: white;
}

  

/****BAKERY and FOOD CONTAINER****/

.bakery-container, .food-container {
  max-width: 90%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bakeryText, .foodText {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;

}

.bakery-container img, .food-container img {
  max-width: 80%;
  object-fit: contain;
  box-shadow: 0 0 20px lightgrey;
}

/****ACCORDION****/

.accordion {
  width: 100%;
  margin: 3vw auto;
  background-color: mintcream;
  padding-top: 15px;
  padding-bottom: 15px;
}

.accordion-element {
  background-color: mintcream;
  margin-left: 3vw;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
  width: 60%;
  /*position: relative;*/
}

.accordion-header:after {
  content: "\002b";
  position: absolute;
  right: 20px;
}

.accordion-header:after + .active{
  content: '\002D';
  position: absolute;
  right: 20px;
  top: 15px;
}

.accordion-header {
  padding: 20px;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  position: relative; 
  cursor: pointer; 
}

.accordion-header:hover {
  background-color: rgba(0,0,0,0.2);
}


.accordion-text-container {
  height: 0;
  overflow: hidden;
  transition: height .5s ease;
}

.accordion-text img {
  width: 200px;
  object-fit: cover;
  border-radius: 2px;
  margin-right: 10px;
}

.accordion-text {
  padding: 20px;
  border-top: 1px solid;
  border-image: linear-gradient(to right, #cceedd, transparent) 1;
  display: flex;
  align-items: center;
  background-color: #ffff;
}


.active {
  height: 175px;
}

/***HOW DO I MAKE THIS WORK?***/
.active + #accordion-header-1:after {
  content: '\002D';
  position: absolute;
  right: 20px;
  top: 15px;
}



/***TECHNIGO NOTES ****/
/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}


/*****INPUT FORM****/

.form {
  display: flex;
  flex-direction: column;
  margin-left: 3vw;
  margin-bottom: 3vh;
}

.form-group {
  margin-bottom: 15px;
  display:flex;
  align-items: center;
}

.form-group label {
  width: 100px;
  margin-right: 15px;
}

/***HOW DO I STYLE THEM IN A ROW=***/
#time, #findUs {
  display: block;
  width: 300px;
}

input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(100, 0, 0, .1); 
}

.form h3 {
  margin-left: 0;
}

label p {
  font-size: 14px;
}

::placeholder {
  font-size: 12px;
  font-family: inherit;
}

button {
  width: 130px;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px 15px;
  margin: 20px 20px;
  font-family: inherit;

}

button::before, button::after {
  content:'';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid lightgrey;
  transition: all .6s ease;
  border-radius: 2px;
}

button::after {
  bottom: 0;
  right: 0px;
  border-top-color: transparent;
  border-left-color: transparent;
}

button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

button:hover:after, button:hover:before {
  width:100%;
  height: 100%;
}


/****FOOTER****/

footer {
  background-color: mintcream;
  display: grid;
  align-content: center;
  gap: 15px;
}

.copyright {
  background-color: #d2ebde;
  padding: 2vw;
}

.copyright img {
  height: 70px;
  margin-top: 10px;
}

.contacts {
  padding: 2vw;
}

.contacts span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-left: 10px;
  font-size: 18px;
}

#address, #phone {
  margin-bottom: 15px;
}

.social {
  background-color:#d2ebde; 
  padding: 2vw;
}

.social i {
  color:black;
  margin: 5px;
}

/***TABLET MEDIA QUERIES****/
@media (min-width: 767px) {
  .nav-bar {
    all: unset;
    display: flex;
    list-style: none;
    align-self: center;
  }

  .nav-bar a {
    font-size: 18px;
    margin-right: 3vw;
  }

  .menu-icon {
    display: none;
  }

  .hero {
    flex-direction: column;
    justify-content: center;
  }

  .bakery-container {
   flex-direction: row;
  }

  .food-container {
    flex-direction: row-reverse;
  }

  .bakery-container img, .food-container img {
    width: 50%;
  }

  .bakeryText, .foodText {
    width: 40%;
    margin-left: 10px;
  }

  /*FOOTER*/
  footer {
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    padding: 3vw;
  }
  .copyright {
    background-color: mintcream;
  }
  .social {
  background-color: mintcream;
  }
  
}

/****DESKTOP MEDIA QUERIES****/

@media (min-width: 1024px) {
  .nav-bar {
    display: flex;
  }

  .nav-bar a {
    font-size: 22px;
  }

  .menu-icon {
    display: none;
  }

  .hero {
    flex-direction: column;
    justify-content: center;
  }


  .hero-text {

  }

  .bakery-container {
    flex-direction: row;
  }
 
   .food-container {
     flex-direction: row-reverse;
  }
 
   .bakery-container img, .food-container img {
     width: 35%;
  }
 
   .bakeryText, .foodText {
     width: 40%;
     margin-left: 10px;
  }

  /***FOOTER***/

  footer {
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    padding: 3vw;
  }
  .copyright {
    background-color: mintcream;
  }
  .social {
  background-color: mintcream;
  }
}

