body {
  margin: 0;
  height: 100%;
  font-family: nobel-condensed, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
  background-color: black;
}

/*MOBILE VIEW*/

.navbar {
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, 0.425);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
  z-index: 1;
}

.navbar .logo {
  display: flex;
  justify-content: center;
}

.navbar .logo img {
  height: 60px;
}
.hamburger-wrapper {
  display: flex;
  width: 15%;
  justify-content: flex-start;
  align-items: center;
}

.hamburger-wrapper .hamburger {
  display: flex;
  width: 30px;
  height: 30px;
  flex-direction: column;
  justify-content: space-between;
  background: #fff;
  border-radius: 10px;
  margin-left: 2em;
  padding: 10px 10px;
}

.hamburger-wrapper .hamburger div {
  width: 30px;
  height: 5px;
  border-radius: 30px;
  background: #000;
}

.nav-menu {
  display: none;
}

/***HERO SECTION***/

.hero-container {
  height: 100vh;
  width: auto;
  overflow: hidden;
}

.hero-header {
  width: 100%;
  font-family: nobel-condensed, sans-serif;
  font-weight: bold;
  font-style: normal;
  font-size: 50px;
  color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5em 0 0 0;
  position: relative;
}

.video-container {
  display: none;
}

.hero-container .hero-img {
  height: 100%;
  width: 100vw;
  display: block;
  object-fit: cover;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}

/*FORM*/

.the-big-container {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

form {
  width: 300px;
  font-size: 25px;
  background: rgba(0, 0, 0, 0.6);
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.form-title {
  text-align: center;
  color: #009e71;
  margin: 0;
}

.form-info {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
  margin: 0;
}

.form-info li {
  margin-top: 1em;
  list-style: none;
}

.form-infor label {
  display: inline-block;
  width: 90px;
  text-align: right;
}

.form-info input,
.form-info label {
  display: block;
  text-align: left;
  margin-right: 16px;
}

.dogsize-container {
  display: block;
  margin-right: 60px;
}

.dogsize-container label {
  margin-bottom: -10px;
  padding: 0;
}

.checkbox {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 0;
  margin: 0;
}

.checkbox input {
  align-self: center;
  width: 10%;
}

.checkbox label {
  width: 100%;
  text-align: left;
  font-size: 12px;
  font-style: italic;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 8px;
}

button {
  width: 100%;
  align-self: center;
  margin: 4px;
}

button:hover {
  background-color: #009e71;
}

button:active {
  transform: translateY(4px);
}

/***FAQ DROP MENU***/

.accordion {
  margin-top: 4em;
  width: 320px;
  font-size: 18px;
  background: rgba(0, 0, 0, 0.6);
  /* Form outline */
  padding: 1em;
  border: 1px solid #ccc;
  border-radius: 1em;
}

.accordion h1 {
  color: #009e71;
  margin-bottom: 1rem;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 14px;
}

.question {
  margin-bottom: 1rem;
  padding: 10px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 14px;
}

.answer {
  overflow: hidden;
  height: 0;
}

.answer-selected {
  height: 100px;
  padding: 10px;
}

.answer-text {
  margin: 0;
  color: #009e71;
  text-align: justify;
}

/* this is for link text */
.answer-text a {
  color: #fff;
}

/*FOOTER*/

footer {
  height: 100px;
  background: rgba(0, 0, 0, 0.425);
  display: flex;
  justify-content: center;
  margin-top: 100px;
}

.icon-container {
  width: 100%;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*SOCIAL MEDIA ICONS*/

.fa {
  padding: 10px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-facebook {
  color: white;
}

.fa-twitter {
  color: white;
}

.fa-instagram {
  color: white;
}

.fa-youtube {
  color: white;
}

/***MEDIA QUERIES***/

@media (min-width: 601px) {
  .navbar .logo {
    margin-right: 18%;
  }

  .hero-header {
    font-size: 80px;
    color: rgba(255, 255, 255, 0.603);
    margin-top: 30%;
  }

  .hero-container .hero-img {
    display: none;
  }

  .hero-container .video-container {
    display: block;
    min-height: 100%;
    min-width: 100%;
    object-fit: cover;
    position: fixed;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

  .hero-container .video-container .video {
    height: 100vh;
  }

  form {
    width: 400px;
    font-size: 24px;
  }

  .accordion {
    width: 400px;
    font-size: 24px;
  }

  .icon-container {
    font-size: 45px;
    display: flex;
    justify-content: space-around;
  }
}

/*DESKTOP*/

@media (min-width: 991px) {
  /*** NAV-BAR MENU ***/

  .navbar {
    width: 100%;
    height: 100px;
    background: rgba(0, 0, 0, 0.425);
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 1px;
  }

  .navbar .logo {
    width: 20%;
    display: flex;
    justify-content: center;
  }

  .navbar .logo img {
    height: 60px;
  }

  .hamburger-wrapper {
    display: none;
  }

  .navbar .menu-container {
    width: 70%;
    margin-left: 16px;
  }

  .nav-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    font-size: 25px;
    width: 100%;
  }

  .nav-menu a {
    text-decoration: none;
    color: #fff;
  }

  /*mouse over nav link*/

  a:hover {
    color: #009e71;
  }

  /*** HERO Section ***/

  .hero-header {
    margin-top: 3em;
    font-size: 80px;
  }

  .hero-container .video-container .video {
    width: 100vw;
    object-fit: cover;
  }

  /*** SIGN UP FORM ***/

  .the-big-container {
    margin: 16px;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .form-info {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .dogsize-container {
    display: block;
    align-self: center;
    margin-right: 60px;
  }

  .dogsize-container label {
    margin-bottom: -10px;
    padding: 0;
  }

  .checkbox label {
    font-size: 16px;
  }

  button {
    width: 150px;
  }

  /***FAQ DROP MENU***/

  .accordion {
    margin-left: 30px;
    margin-top: 0;
    width: 600px;
  }
}
