/* STYLING FOR PROJECT BUSINESS SITE - WEEK 3 */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}


body {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  position: absolute;
  background-image: url(./pictures/background-pattern-3.jpg);
  color: #1c1c1c;
  background-repeat: no-repeat;
}

/* HEADER - HERO CONTENT */
.headerText, .navbar {
  position: relative;
}

.flexParentHeader {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

.headerText {
  display: flex;
  width: 100%;
  margin: auto;
  justify-content: center;
  font-size: 8vw;
  font-weight: 700;
  color: #fafafa;
  text-transform: uppercase;
}

/* NAVBAR */

.navbar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin: auto;
  justify-content: center;
  align-items: center;
  /* margin-bottom: 15px; */
}

ul {
  width: 100vw;
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding-block-start: 0;
}

li {
  padding: 3%;
  justify-content: center;
}

li a {
  color: #fafafa;
  font-size: 18px;
  font-weight: 600;
  text-decoration: none;
}



/* MAIN CONTENT */

/* FORMS CONTAINER */
.formWrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#form {
  margin-bottom: 30px;
  padding: 10px 40px;
  /* height: 60vh;
  max-height: 60vh; */
  width: 100%;
  font-size: 12px;
  background-color: #fafafa;
  opacity: 0.90;
  /* position: relative; */
  border-radius: 5%;
}

h2 {
  font-size: 6vw;
  font-weight: 700;
  color: #13233d;
  text-transform: uppercase;
  text-align: start;
  padding-top: 1vh;
}

label {
  margin-bottom: 2%;
  margin-top: 5%;
}

.blockLabel, .blockInput {
  display: block;
}

.blockInput {
  width: auto;
  margin-left: 0%;
}

select {
  display: block;
  padding: 2%;
  margin-top: 2%;
  margin-bottom: 2%;
}

textarea {
  display: block;
  padding: 2%;
  margin-top: 4%;
  margin-bottom: 2%;
}

#button {
  display: flex;
  background-color: #13233d;
  color: #fafafa;
  text-transform: uppercase;
  font-weight: 700;
  padding: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
  border: solid;
  border-color: #13233d;
  border-radius: 7%;
}

/* ACCORDION CONTAINER */
.accordionWrapper {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
}

#accordion {
  font-size: 12px;
  margin-bottom: 10px;
  padding: 10px 40px 30px 40px;
  background-color: #fafafa;
  opacity: 0.95;
  position: relative;
  border-radius: 5%;
  width: 100%;
}

.question {
  background-color: #13233d;
  color: #fafafa;
  font-weight: 600;
  font-size: 14px;
  padding: 8%;
  border: solid;
  border-width: 2px;
  border-color: #f3e8dd;
  font-weight: 600;
}

.answer {
  line-height: 1.5;
  font-size: 13px;
  font-weight: 600;
  background-color: #f3e8dd;
  border: solid;
  border-color: #f3e8dd;
  padding: 8%;
}

#questionBox {
  margin: 0;
  min-width: 100%;
}

/* FOOTER */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 5%;
  position: relative;
}

.footerText {
  font-size: 14px;
  font-weight: 600;
  color: #fafafa;
  margin: 2px;
  margin-bottom: 3%;
}

.footerCred {
  font-size: 10px;
  margin: 2px;
  color: #fafafa;
}

.footerCred a {
  text-decoration: none;
  color: #fafafa;
  font-weight: 600;
}


/* MEDIA QUERY TABLET */
@media (min-width: 667px) and (max-width: 1023px) {

  /* HEADER - HERO CONTENT */
  .flexParentHeader {
    margin-bottom: 2%;
  }

  
  .headerText {
    margin-top: 3%;
  }

  /* NAVBAR */
  li {
    padding: 4%;
  }
  
  li a {
    font-size: 26px;
  }

  /* MAIN CONTENT */
  .mainWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0% 5%;
  }

  /* CONTACT FORM */
  .formWrapper {
    width: 100%;
    margin-top: 3%;
    margin-right: 3%;
  }

  h2 {
    font-size: 4vw;
  }

  /* ACCORDION CONTAINER */
  .accordionWrapper {
    width: 70%;
    margin-top: 3%;
    margin-left: 3%;
  }

  .accordion h2 {
    margin-bottom: 2vh;
  }

  /* FOOTER */
  .footer {
    margin-top: 2%;
  }

  .footerText {
    font-size: 18px;
    font-weight: 600;
    margin: 2%;
  }

  .footerCred {
    font-size: 14px;
    margin-bottom: 2%;
  }
  
}


/* MEDIA QUERY DESKTOP */

@media (min-width: 1024px) {
/* HEADER - HERO CONTENT */

.headerText {
  font-size: 6vw;
  margin-top: 0;
}

/* NAVBAR */
li a {
  font-size: 24px;
}

li a:hover {
  text-decoration: underline;
}

h2 {
  font-size: 4vw;
  margin-top: 2%;
}

/* MAIN CONTENT */
.mainWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0% 5%;
}

/* CONTACT FORM */
.formWrapper {
  width: 100%;
  /* margin-top: 3%; */
  /* margin-right: 3%; */
  flex: 1;
  margin-top: 0;
} 

#form {
  font-size: 14px;
  margin: 0%;
  max-width: 80%;
}

.blockLabel {
  margin-bottom: 3%;
  margin-top: 3%;
}

#services {
  width: 149px;
}

#button {
  padding: 4%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/* ACCORDION CONTAINER */
.accordionWrapper {
  margin-top: 0%;
  /* margin-left: 3%; */
  width: 70%;
  flex: 1;
}

#accordion {
  font-size: 14px;
  max-width: 80%;
}

.accordion h2 {
  margin-bottom: 2vh;
}

.question, .answer {
  padding: 7%;
}

#question1, #question2, #question3 {
  margin: 0;
  min-width: 50%;
}

/* FOOTER */
.footer {
  padding-top: 10%;
}

.footerText {
  font-size: 20px;
  margin-bottom: 1%;
  font-weight: 600;
}

.footerCred {
  font-size: 14px;
}

a:hover {
  text-decoration: underline;
}

}

/* JAVASCRIPT */

.answer {
  display: none;
} 

.active + .answer {
  display: block;
} 


