@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Noto+Serif:wght@400;700&family=Open+Sans&display=swap");

/*** MAIN STYLING ***/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open sans", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  background: #0e337d;
  color: #cfe6ad;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 15px;
}

h2 {
  font-size: 2.5rem;
}

/*** HEADER ***/

.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-video video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.hero-video:after {
  content: "";
  z-index: 1;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}

.hero-text {
  z-index: 2;
}

.hero-text h1 {
  font-family: "East Sea Dokdo", cursive, sans-serif;
  font-size: 7rem;
  margin: -10px;
}

.hero-text h2 {
  letter-spacing: 2px;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: rgba(17, 121, 217);
  color: #fff;
  border-radius: 5px;
  border: solid #fff 2px;
  margin-top: 25px;
  opacity: 0.7;
}

.btn:hover {
  transform: scale(0.98);
}

#intro {
  padding: 40px;
  text-align: center;
}

#intro p {
  font-size: 1.2rem;
  max-width: 600px;
  margin: auto;
}

#intro h2 {
  margin: 30px 0;
}

/**** FLEX PARENT ****/

.flex-parent {
  display: flex;
  height: 1200px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.flex-child {
  width: 345px;
  border: 5px solid #0b6ba8;
  border-radius: 10px;
  margin: 30px;
}

/**** FORM ****/

.form-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  height: 275px;
  background: #cfe6ad;
  color: #0e337d;
  border-radius: 5px;
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  height: 25px;
}

.form-group label {
  width: 50%;
}
.form-group input {
  width: 200px;
  height: 30px;
  background: #0e337d;
  color: #cfe6ad;
  border-radius: 5px;
  padding: 5px;
}

input::placeholder {
  color: #cfe6ad;
}

/**** ACCORDION ****/

.accordion {
  background: lightblue;
}

.accordion-element {
  border-top: 1px solid #0b6ba8;
  padding: 0px;
}

.accordion-header {
  background: #fff;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  margin: 0;
  padding: 20px;
}

.accordion-text-container {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.accordion-text-container.active {
  height: 150px;
}

.accordion-text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 15px;
}

.active {
  height: auto;
}

/**** FOOTER ***/

.footer {
  display: flex;
  background: #0b6ba8;
  height: 60px;
  margin: 0px;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  margin-top: 20px;
}

.footer-text {
  font-family: Helvetica;
  font-size: 10px;
  color: #fff;
  text-align: center;
  font-size: 15px;
  padding: 20px;
}
