body {
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #F9F3F3;
  margin: 0;
}

/* ------HEADER SECTION STYLING ----- */

header {
  overflow: hidden;
  font-size: 1rem;
}

.logo {
  position: fixed;
  top: 6%;
  left: 4%;
  transform: translate(-50%, -50%);
  width: 50px;
}

.hero-slide {
  position: relative;
}

.hero-slide p {
  font-family: 'Dancing Script', cursive;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: #ffffff;
  margin: 0px;
}

/* 
.image-text{
  bottom: 30%;
  width: 36px;
  height: 36px;
  padding: 8px;
  border: 1px solid white;
  border-radius: 50%;
} */


.contact-link {
  position: absolute;
  display: inline;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: #ffffff;
  margin: 10px;
  text-decoration: none;
}

.contact-link:hover  {
  color: black;
}



.slider {
  -moz-perspective: 1300px;
  -ms-perspective: 1300px;
  -webkit-perspective: 1300px;
  perspective: 1300px;
  display: inline-block;
  text-align: left;
  position: relative;
  margin-bottom: 22px;
}

.slider > input {
  display: none;
}
.slider > input:nth-of-type(3):checked ~ ul li:first-of-type {
  margin-left: -200%;
}
.slider > input:nth-of-type(2):checked ~ ul li:first-of-type {
  margin-left: -100%;
}
.slider > input:nth-of-type(1):checked ~ ul li:first-of-type {
  margin-left: 0%;
}

.slider > ul {
  position: relative;
  width: auto;
 
  z-index: 1;
  font-size: 0;
  line-height: 0;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  white-space: nowrap;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.slider > ul > li {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-size: 15px;
}

.slider > ul > li video {
  width: 100%;
}

.dance-image {
  width: 100%;
  height: auto;

}
.slider > .dots {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 10;
}

.slider > .dots label {
  position: relative;
  display: inline-block;
  cursor: pointer;
  border-radius: 50%;
  margin: 0 4px;
  padding: 6px;
  background: white;
}

.slider > .dots label:hover:after {
  opacity: 1;
}
.slider > .dots label:after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -6px;
  margin-top: -6px;
  background: pink;
  border-radius: 50%;
  padding: 6px;
  opacity: 0;
}



/* ------SIGN-UP FORM STYLING ----- */
form { 
  font-family: 'Open Sans Condensed', sans-serif;
  margin: 10px;
  font-size: 22px;
  display: flex;
  flex-direction: column;
}

.form-input {
  /* display: inline-block; */
  width:85%;
  padding: 10px;
  margin: 5px 20px 5px 20px;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
}

.text-title {
  font-family: 'Dancing Script', cursive;
  font-size: 32px;
}

.message {
  padding-bottom: 60px;
}

.radio-age {
  display: flex;
  /* flex-direction: row;
  width: 100%; */
  margin-left: 20px;
}

.sign-up{
  width: 60%;
  max-width: 700px;
  min-width: 400px;
  margin: auto;
   padding: 20px;
}

.radio-button {
    display: block;
    /* position: relative; */
    margin-right: 20px;
    font-size: 16px;
    user-select: none;
  
}

.checkbox {
  margin-left: 20px;
}
.form-text {
  padding: 0 20px;
}

fieldset {
  border-radius: 3%;
  border-color: #000000c4;
}


.send-button {
  font-size: 32px;
  font-family: 'Dancing Script', cursive;
  width: 100%;
  height: 50px;
  margin: auto;
  background-color: rgb(237, 215, 215);
  border: 1px solid transparent;
  border-radius: 15px;
}
.send-button:hover {
  background-color: #F4DFD0;
}


/* ------FAQ SECTION STYLING ----- */

.accordion {
  width: 60%;
  max-width: 700px;
  min-width: 400px;
  margin: auto;
  /* border: 1px solid white; */
  padding: 20px;
}

.question {
font-size: 18px;
font-weight: bold;
background-color: rgb(237, 215, 215);
/* border: 1px solid white; */
margin: 10px 10px 0 10px;
padding: 20px;
border-radius: 10px;
}

.question:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: rgb(167, 163, 163);
  float: right;
  margin-left: 5px;
  margin: auto;
}

.active, .question:hover {
  background-color: #F4DFD0;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.answer {
  /* overflow: hidden; */
  display: none;
  font-size: 16px;
  background-color: white;
  margin: 0 10px 10px 10px;
  padding: 10px;
  border-radius: 12px;
}

.active + .answer {
  display: block;
}  

.form-input:valid {
  border: 0.8px solid rgb(46, 181, 51);  
}
.form-input:invalid {
  border: 0.6px solid red;  
}

/* ------FOOTER SECTION STYLING ----- */

.footer-content {
  text-align: center;
  background-color: #e4c1c1;
  font-size: 12px;
  padding: 20px;
  margin-top: 20px;
}

.footer-bottom {
  text-align: center;
  background-color: black;
  font-size: 18px;
  padding-bottom: 15px;
  color: rgb(213, 212, 212);
}

.social-icons {
  padding: 0px
}
.footer-content p {
  text-align: center;
}
.footer-content h3 {
font-family: 'Dancing Script', cursive;
font-size: 36px;
color: black;
margin: 0 0 30px 0;
}

/* .footer-content h3:hover {
  color: rgb(133, 85, 120);
} */

.fa {
  padding: 5px;
  width: 40px;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-twitter {
  color: #55ACEE;
  filter: brightness(0) invert(1);
}

.fa-github {
  color: white;
}

.fa-linkedin {
  color: #007bb5;
  filter: brightness(0) invert(1);
}

.fa-youtube {
  color: #bb0000;
  filter: brightness(0) invert(1);
}

.fa-instagram {
  color: orange;
  filter: brightness(0) invert(1);
}

.fa:hover {
  transform: scale(1.3);
  filter: none;
}

.footer-logo{
  width: 100px;
  margin: 0;
  filter: brightness(0%);
 }

.footer-info {
padding: 0;
margin: 0;
}

 .technigo {
  text-decoration: none;
  color: orange;
}

.technigo:hover {
  color: blue;
}



/* ------MEDIA QUERY STYLING ----- */
@media (min-width: 768px) {

}

@media (min-width: 1200px) {

  .logo {
    position: fixed;
    top: 6%;
    left: 4%;
    transform: translate(-50%, -50%);
    width: 80px;
  }

  fieldset {
    height: 800px;
  }

  .container {
display: flex;
  };
}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */


