/*GENERAL*/

body{
  margin: 0px;
}

a:link, a:visited{
  text-decoration: none;
  color: black;
}

/*FONTS*/
p{
  font-family: open sans;
  margin: 0px;
  padding-bottom: 10px;
  font-size: 18px;
  text-align: justify;

}

h2{
  font-family: abril fatface;
  font-size: 35px;
  margin-bottom: 10px;
  text-align: center;
}

h3{
  font-family: abril fatface;
  font-size: 35px;
  margin: 0px;
}


/*HEADER*/
.hero{ 
  position: relative;
}

.hero-img{
  width: 100vw;
  }

.hero-title{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  font-family: abril fatface;
  font-size: 40px;
  margin-top: 0px;
  padding-right: 10px;
  padding-left: 10px;
  color: pink;
  
}

nav{
  display: flex;
  justify-content: space-evenly;
  padding-top: 10px;
  padding-bottom: 15px;
  font-family: abril fatface;
  font-size: 17px;
  margin-bottom: 50px;
}

section{
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 70px;
}

/*section SERVICES*/

.service-header{
  font-size: 20px;
  padding-bottom: 8px;
  text-align: center;
  border-bottom: 0.4px solid #94A5A4;
}

.service-content{
  margin: 0px;
  padding-bottom: 15px;
  margin-right: 10%;
  margin-left: 10%;
  font-size: 15px;
  text-align: justify;
  display: none;
}

.service-selected{
  display: block;
  color: grey;
  font-size: 15px;
}

/*section FORM*/

.formbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form{
  font-family: open sans;
  font-size: 15px;
  margin: 15px;
  border: 3px solid pink;
  border-radius: 5px;
  padding: 15px;
  padding-right: 20px;
  align-items: center;
}
.formtext{
  font-size: 15px;;
}

.formelement-submit{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.personal-information{
  padding-bottom: 9px;
}
.label{
  min-width: 40px;
}
.formelement-interest{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}
.interest-options{
  display: flex;
  justify-content: center;
}

.interest{
  font-family: abril fatface;
  font-size: 20px;
  padding bottom: 10px;
  border: none;
}

.information-type{
  font-family: abril fatface;
  font-size: 20px;
}

.formelement-personal{
  margin-bottom: 20px;
  margin-top: 10px;
}
.labelbox{
  width: 100%;
  height: 25px;
  margin-top: 5px;
  margin-bottom: 20px;
  font-size: 15px;
}

.formelement-agreement{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

.checkbox-box{
  text-align: center;
  font-family: abril fatface;
  font-size: 20px;
}

.submit{
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  font-family: abril fatface;
  background: white;
  border: 3px solid whitesmoke;
  font-size: 20px;
  box-shadow: 5px 5px 2px whitesmoke;
}

@media (min-width: 668px){
.hero-title{
  color: #DBA87A;
  font-size: 70px;
  justify-content: flex-start;
  padding-left: 30px;
}

nav{
font-size: 25px;
}

.maincontent-page{
display: flex;
flex-wrap: wrap;
justify-content: space-around;
}

section{
 width: 400px;
 margin: 10px; 
}

form{
  border: 3px solid #DBA87A;
}
@media (min-width:1200px){
.hero-title{
  color: #BDECD5;
  font-size:100px;
  justify-content: flex-end;
}
nav{
  font-size: 40px;
}
p{
  font-size: 25px;
}
h2{
  font-size: 60px;
}
.service-header{
  font-size: 25px;
}
section{
  width: 500;
  }
.service-content{
  font-size: 20px;
}
.service-selected{
  font-size: 20px;
}
form{
  border: 3px solid #BDECD5;
}
.formtext{
  font-size: 18px
}
.information-type{
  font-size: 25px;
}
.interest{
  font-size: 25px;
}
.checkbox-box{
  font-size: 25px;
}
.submit{
  font-size: 25px;
}
}