/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  min-height: 100vh;
}

.thank-you-container {
  text-align: center;
  background: blue;
}

header {
  background: url("./umbrellas.jpg");
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  color: white;
  font-size: max(3rem, 6vw);
}

.find-out-button {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}

.find-out-button:hover {
  transition: 800ms;
  transform: scale(1.5);
}

.active + .answer {
  max-height: 700px;
}

.green-background {
  background-color: #95B86A;
}

.form-header,
.accordion-header {
  text-align: center;
  color: white;
  font-family: "Montserrat";
  font-size: max(1.6rem, 1.6vw);
  margin: 1rem;
}

.pink-background { 
  background-color: #CEC0CB;;
}

.dark-green-background {
  background-color: #687a51;
}

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

form,
.accordion {
  display: flex;
  flex-direction: column;
  letter-spacing: 1.2px;
  padding: max(1rem, 2vw);
  min-height: 400px;
  height: fit-content;
  width: min(350px, calc(100vw - 8em));
  margin: 2em;
}

.q-and-a {
  background-color: #879b6f;
  color: #20221d;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.question {
  text-align: center;
  font-size: min(1rem, 5vw) ;
  font-weight: 500;
  width: calc(100% - 10px);
  padding: 5px;
  transition: background 0.2s;
}

.question:hover {
  cursor: pointer;
  background: #535f45;
  color: white;
}

.question::after {
  content: '\25be';
  float: right;
  transform: scale(1.5);
}


.active {background: #535f45; color: white;}
.active::after {content: '\25b4'}

.margin-zero {
  margin: 0;
  padding: 1rem 0.5rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s;
  padding: 0 1rem;
}

.form-item {
  margin: 1rem 2rem;
}

label {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  border: 2px solid white;
  outline: none;
  border-radius: 15px;
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
}

input:focus {
  border-color: #879b6f;
}

.form-item.checkbox {
  display: flex;
  flex-direction: row-reverse;
}

.checkbox-box {
  margin: 1rem 1rem 1rem 0;
  filter: grayscale(100%);
}

.send-button {
  align-self: center;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  margin: 1rem;
  border-radius: 30px;
  font-weight: 200;
  border: none;
}

.box-shadow {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4);
}

.box-shadow-inset {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.4) inset;
}

footer {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: 300px;
  padding: 2rem;
  letter-spacing: 1.2px;
}

li {
  list-style: none;
  margin: 0.5rem 0;
}

footer a {
  color: black;
  text-decoration: none;
}

.credits a {
  font-weight: 500;
}


@media (min-width: 668px) and (max-width: 1024px) {
  .logo-text{
    display: inline;
  }
  
  .content {
    display: flex;
    justify-content: center;
    gap: 4vw;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 2rem 5vw;
  }

  .credits {
    grid-column: span 3;
    display: flex;
  }
}

@media (min-width: 1025px) {
  .logo-text{
    display: inline;
  }

  footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 4fr 1fr;
    padding: 2rem 12rem;
  }

  .my-tag {
    grid-column: 2;
  }

  .credits {
    grid-column: span 3;
    display: flex;
    justify-content: space-around;
  }
}