/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */


* {
  margin: 0% 0%;
  padding: 0% 0%;
  overflow-x: hidden;
}

.container{
  display: grid;
  height: 130rem;
}


header {
  grid-area: header;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

audio {
  position: absolute;
  width: 25vw;
  margin-left: 75vw;
  align-self: baseline;
  border: solid 0.1px rgb(237, 243, 243);
  background-color: rgb(237, 243, 243);
}

#video-hero {
  position: fixed;
  z-index: -10;
}

#hero-text-div {
  position: fixed;
  z-index: -9;
}

#hero-text {
  color: rgb(255, 255, 255);
  font-size: 20vw;
  text-shadow: 0 0 20px rgb(98, 143, 135);
  
}

#hero-text-p{
  text-decoration:line-through 2px;
  color: rgb(255, 255, 255);
  font-size: 5vw;
  text-shadow: 0 0 20px rgb(98, 143, 135);
  margin: -4% 0 0 40%;
  letter-spacing: 20px;

}


fieldset{

margin: 1% 0% 0 1%;
border: none;

}


.form-div {
  
  background-color: rgba(255, 255, 255, 0.39);
  grid-area: form;
  color: rgb(20, 58, 52);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.signup-form {
  display: block;
  overflow: hidden;
  margin: 1vw 10vw;

  backdrop-filter: blur(10px);
  background-color: rgba(201, 221, 217, 0.219);
}



.form-text {
  font-weight: bold;
  font-family: "Lato", sans-serif;

  
}

.space-form {
  margin: 0.1% 0 0% 2%;
}

.contact-information {
  margin: 2% 0% 0% 2%;
  
}

input[type="text"],[type="email"],[type="tel"],[type="password"] {
  align-content: center;
  width: 30%;
  display: block;
  padding: 1%;
  color: rgb(20, 58, 52);
  font-weight: bold;
  border: 1.5px solid rgb(36, 116, 102);
 
}



input[type="submit"] {
  background-color: rgb(25, 85, 75);
  border: none;
  color: white;
  padding: 10px 32px;
  text-decoration: none;
  margin: 2% 2%;
  cursor: pointer;
  transition: 0.2s ease-in;
}

input[type="submit"]:hover {
  background-color: rgb(17, 58, 51);
  transform: scale(95%);
}

.accordion-div {
 
  background-color: rgba(255, 255, 255, 0.39);
  grid-area: accordion;
  color: rgb(232, 241, 240);
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
 

}

.accordion-form {
  backdrop-filter: blur(10px);
  background-color: rgba(219, 235, 231, 0.219);
  display: block;
  overflow: hidden;
  margin: 1vw 10vw;
  font-weight: bold;
  font-family: "Lato", sans-serif;
 
  
 
}

.top-according {
 
  border-bottom: 0.5px solid rgba(11, 37, 33, 0.657);
  text-shadow: 0 0 1px rgba(38, 63, 58, 0.781);
  position: relative;
  display: flex;
  justify-content: center;
  color: rgb(25, 85, 75);
  
  
 
}

.question{

  color:  rgb(25, 85, 75);
   text-shadow: 0 0 0.1px rgba(250, 250, 250, 0.781);
   line-height: 170%;
   background-color:#ffffff44;
   text-shadow: 0 0 1px rgb(25, 85, 75);
  position: relative;
  border-bottom: 0.5px solid rgba(11, 37, 33, 0.418);
  cursor: pointer;
 }
 






.question::before{

content: "+";
position: absolute;
left:93%;
padding-top: 2.5%;
transform: translateY(-50%);
}

.question + .answer{

height: 0;
visibility: hidden;
transition:  0.2s;
transition: ease-out;
margin-top: -4%;
}

.question:active::before{

  content: "-";
  
  }

  .question:active + .answer{

  height: 100%;
  visibility:visible;
  color:  rgb(6, 83, 72);
  background-color:rgba(25, 85, 75, 0.13);
  text-shadow: 0 0 0.1px black;
  margin-top: 0%;
  line-height: 170%;
  
}






footer {
  grid-area:footer;
  backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.26);
 text-align: center;
 

}

footer p{
margin: 0.5%;
  color:  rgb(255, 255, 255);
  text-shadow: 0 0 1px rgb(2, 34, 26), 
  0 0 2px rgb(200, 255, 242),
  0 0 3px rgb(25, 85, 75), 
  0 0 5px rgb(25, 85, 75);
  font-family: "Lato", sans-serif;
  font-weight: bold;
  overflow: hidden;
  transition: 0.2s ease-in-out;
}
footer p:hover{
  
  transform: scale(93%); }

i{
  overflow: hidden;

 
}
footer span{
padding: 1%;
text-shadow: 0 0 2px rgb(2, 34, 26);
}

footer a{
text-decoration: none;
color: rgb(255, 255, 255);


}





}


/*  Phone  */

@media (min-width: 0) and (max-width: 767px) {
  .container {
    height: 100rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2fr 2.5fr 1.5fr 0.1fr;
    grid-template-areas:
    "header header header header"
    "form form form form"
    "accordion accordion accordion accordion"
    "footer footer footer footer";
  }
 

  


  

  .signup-form {
    margin: 1vw 10vw 0vw 10vw;
    width: 90%;
  }

  .form-text {
    font-size: 1.9vw;
  }

  .accordion-div{
    align-items: flex-start;
  }

  .accordion-form {
    margin: 1vw 10vw 0vw 10vw;
    
    width: 90%;
    
  }


  .top-according{

    padding: 2%;
    font-size: 2vw;
  }
  
  .question{
  
  font-size: 2.3vw;
  padding: 2%;
  
  
  }
  

  .answer{
  
    font-size: 2vw;
    padding: 2%;
    font-weight: bold;
  }

  .question:active + .answer{

    height: auto;
    overflow: hidden;
    
  }

}





/*  Tablett  */

@media (min-width: 767px) and (max-width: 991px) {
  .container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 2.3fr 2.1fr 1.3fr 0.1fr;
    grid-template-areas:
      "header header header header"
      "form form form form"
    "accordion accordion accordion accordion"
      "footer footer footer footer";
  }


  


  .signup-form {
    margin: 1vw 10vw 0vw 15vw;
    width: 90%;
  }

  .accordion-div{
    align-items: flex-start;
  }

  .accordion-form {
    margin: 1vw 10vw 0vw 15vw;
    width: 90%;
    
  }

  .form-text {
    font-size: 1.5vw;
  }

  input[type="text"],
  [type="email"],
  [type="tel"],
  [type="password"] {
    padding: 0%;
  }


  .top-according{

    padding: 2%;
    font-size: 1.8vw;
  }
  
  .question{
  
  font-size: 2.1vw;
  padding: 2%;
  
  
  }
  

  .answer{
  
    font-size: 1.8vw;
    padding: 2%;
  }
  
  .question:active + .answer{

    height: auto;
    overflow: hidden;
    
  }




}

/*  Desktop  */

@media (min-width: 992px) {
  
.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2.5fr 2.5fr 0.1fr;
  grid-template-areas:
    "header header header header"
    "form form accordion accordion"
    "footer footer footer footer";
}

  audio {
    width: 20vw;
    margin-left: 80vw;
  }


 

  

.form-div{
grid-area: form;
  align-items: flex-start;
padding-top: 10%;
}

  .signup-form {
    margin: 1vw 5vw 0vw 5vw;
    width: 80%;
  }



  

  .accordion-div {
      grid-area: accordion;
    align-items: flex-start;
    padding-top: 10%;
  
  }


  .accordion-form {
    margin: 1vw 5vw 0vw 5vw;
    width: 80%;
  }

  .form-text {
    font-size: 0.9vw;
  }

  .top-according{
    padding: 2%;
    font-size: 0.9vw;
    
  }
  
  .question{
  font-size: 1vw;
  padding: 2%;
  
  
  }
  
  
  .answer{
    font-size: 1vw;
    padding: 2%;
  }
 
  
}
