/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
@media (min-width: 600px) {
  .body {
    background: #B7BED8;
    display: flex;
    width: 100%;
    align-items: center;
    flex-direction: column;
  }
}

header {
  height: 200px;
  background-image: url(drops.jpg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
}

flex-child {
  border: 2px solid black;
  height: 400px auto;
  width: 300px;
  margin: 30px;
  padding: 20px;
  background: #B7BED8;
  color: #6A79A6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 70px 70px rgba(0, 0, 0, .2);
}

form {
  background: white;
  border: 0 none;
  font-size: 12px;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  height: 340px;
  width: 80%;
  margin: 0 10%;
  position: relative;
}

.form input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  width: 100%;
  border: 2px solid black;
  margin: 0 0 15px;
  padding: 25px;
  box-sizing: border-box;
  font-size: 14px;
}

input {
  text-rendering: auto;
  color: -internal-light-dark-color(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-appearance: textfield;
  background-color: -internal-light-dark-color(white, black);
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 4px;
  font: 400 11px system-ui;
  padding: 4px;
  border-width: 1px;
  border-style: inset;
  border-color: initial;
  border-image: initial;
}

.accordation {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  height: 340px;
  width: 80%;
  margin: 0 10%;
  position: relative;
}

.question {
  background: rgb(224, 224, 224);
  border: 2px solid;
  border-radius: 4px;
  padding: 4px;
  margin: 10px;
  font-size: 12px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.question::after {
  content: '+';
  margin-left: auto;
}

.question.active::after {
  content: '-';
}

.active+.answer {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: auto;
  text-align: left;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: 0.4s;
  display: flex;
}

.answer {
  background: white;
  max-width: auto;
  margin: 10px;
  display: none;
  font-size: 10px;
}

h1 {
  color: black;
  font-family: 'Exo 2', sans-serif;
  font-size: 60px;
}

h2 {
  font-size: 15px;
  text-transform: uppercase;
  color: #2C3E50;
  margin-bottom: 10px;
}