/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */


/* standard settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'PT Sans', sans-serif;
}



a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* styling the navbar */

.container {
  display: flex;
  justify-content: space-evenly;
}

.navbar {
  width: 100vw;
  height: 15vh;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.411); /* creates opacity for the whole navbar excluding links */
  padding: 2em;
}

.navbar a:hover {
  font-weight: bold;
  transform: scale(1.10); 
}

.logo {
font-weight: bold;
font-size: 25px;
margin-left: .5em;
color: black;
}

nav {
  position: fixed;
  z-index: 999;
  width: 40vw;
  right: 0;
  top: 0;
  height: 100vh;
  padding: 1em;
  background: rgb(150, 106, 106);
  display: none;
}

ul.nav-links-OK {
  margin-top: 6em;
}

li.nav-link a {
  color: white;
  display: block;
  padding: 1em;
  font-size: 20px;
  text-align: right;
}


.nav-links {
  display: block;
}

.close-menu {
  height: 2em;
  width: 2em;
  float: right;
  margin: 1em;
  cursor: pointer;
}

.hamburger {
  height: 2.5em;
  width: 2.5em;
  cursor: pointer;
  float: right;
}

.header-image {
  background: url("./images/hero-image-mobile.jpg");
  width: 100vw;
  height: 100vh;
  position: relative;
  background-repeat: no-repeat;
  z-index: -1;
  background-size: cover;
  margin-right: 1em;
  overflow: hidden;
  margin-bottom: 1em;
}




/* styling the welcome and description-part */

.welcome {
  margin: 3em 3em 4em 3em;
  /* text-align: center; */
}

h2 {
  margin-bottom: 1em;
  font-size: 30px;
  text-align: center;
}

p {
  /* max-width: 70vw; */
  text-align: center;
  font-size: 16px;
}



/* styling the rentals section */

.rentals-container {
  position: relative;
  text-align: center;
  color: white;
}

.rentals-image {
  width: 90vw;
  height: 85vh;
  filter: brightness(.4);
  margin: 1em 1.5em 3em  1.5em;
  cursor: pointer;
  border-radius: .5em;
}

.rentals-header {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: .2em;
  cursor: pointer;
}

.rentals-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  cursor: pointer;
}


/* styling the event section */
.event-container {
  position: relative;
  text-align: center;
  color: white;
}

.event-image {
  width: 90vw;
  height: 85vh;
  filter: brightness(.45);
  margin: 1em 1.5em 3em  1.5em;
  cursor: pointer;
  border-radius: .5em;
}

.event-header {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: .2em;
  cursor: pointer;
}

.event-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  cursor: pointer;
}



/* styling the portfolio section */
.portfolio-container {
  position: relative;
  text-align: center;
  color: white;
}

.portfolio-image {
  width: 90vw;
  height: 85vh;
  filter: brightness(.45);
  margin: 1em 1.5em 3em  1.5em;
  cursor: pointer;
  border-radius: .5em;
}

.portfolio-header {
  position: absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: .2em;
  cursor: pointer;
}

.portfolio-text {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  cursor: pointer;
}



/* styling the about-us section */
.about-container {
  position: relative;
  text-align: center;
  color: white;
}

.about-image {
  width: 90vw;
  height: 85vh;
  filter: brightness(.6);
  margin: 1em 1.5em 3em  1.5em;
  cursor: pointer;
  border-radius: .5em;
}

.about-header {
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 55px;
  text-transform: uppercase;
  letter-spacing: .2em;
  cursor: pointer;
}




/* styling the FAQ/Accordion */

.accordion-background {
  position: relative;
  text-align: center;
  color: white;
}

.accordion-image {
  width: 100vw;
  height: 100vh;
  filter: brightness(.60);
  margin: 1em 0em 0em 0em;
  cursor: pointer;
  border-radius: .5em;
}

.accordion-container {
  position: absolute;
  width: 90vw;
  top: 49%;
  left: 47%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2.5em .4em;
  background-color: rgba(143, 132, 132, 0.473);
  border-radius: 1em;
  margin: 1em 1em 5em 1em;
  max-height: 100vh;
  /* border: solid rgb(150, 106, 106); */
}

.accordion-header {
  font-size: 40px;
  margin-bottom: 1em;
  color: white;
  text-align: center;
}

.panel {
  /* width: 70vw; */
  max-height: 0;
  /* padding: 0em 2em; */
  /* background-color: rgb(182, 136, 136); */
  color: white;
  overflow: hidden;
  text-align: center;
  transition: max-heigth 1s ease-out;
  font-size: 17px;
}

.accordion {
  background-color: rgba(126, 111, 111, 0);
  color: white;
  cursor: pointer;
  padding: .75em;
  width: 60vw;
  text-align: center;
  border: none;
  outline: none;
  transition: 1s;
  font-size: 20px;
  border-radius: .5em;
  
  /* border: solid rgb(150, 106, 106); */
}

.accordion1, .accordion3 {
  background-color: rgba(126, 111, 111, 0);
  color: white;
  cursor: pointer;
  padding: .75em;
  width: 60vw;
  text-align: center;
  border: none;
  outline: none;
  transition: 1s;
  font-size: 20px;
  margin: .2em;
  border-radius: .5em;
}


.accordion:hover {
  background-color: #965f5f;
  font-weight: bold;
}

.accordion1:hover {
  background-color: #965f5f;
  font-weight: bold;
}

.accordion3:hover {
  background-color: #965f5f;
    font-weight: bold;
}

.active + .panel {
  display: block;
  transition: 1s;
  margin: 1em 0;
}

.active {
  background-color: #b37a7a;
  font-weight: bold;
}




/* styling the sign up form */



.get-in-touch-1 {
  font-size: 30px;
  margin: 0;
  padding-top: 4em;
}
.get-in-touch-2 {
  padding-bottom: 1.5em;
  font-size: 30px;
  margin: 0;
}

.form-container {
display: flex;
justify-content: center;
}

.form {
  width: 75vw;
  margin: 2em 4em 4em 4em;
  border: solid rgb(173, 113, 113);
  padding: 2em;
  font-size: 18px;
  border-radius: .5em;
  
}

input, textarea {
  display: block;
  font-size: 18px;
  color: #965f5f;
  font-family: 'PT Sans', sans-serif;
  min-width: 55vw;
  /* margin: 1em */
  padding: .5em;
  border: none;
  outline: none;
}

textarea {
  margin: 0 0 1em 0.8em;
  border: 1px solid rgb(173, 113, 113);
  height: 7em;
  border-radius: .5em;
  resize: none;
}

.input {
  margin-top: .8em;
  padding: .5em;
  border-bottom: 1px solid rgb(173, 113, 113);
}

label {
  display: block;
  padding: 1em;
}

label a:hover {
  font-weight: bold;
}


.terms-container {
font-size: 15px;
}

.newsletter-container {
font-size: 15px;
}

.check-box {
  margin-right: 1em;
  display: inline-block;
  min-width: 1em; 
}

.submit-btn {
  padding: .5em;
  margin: 1.5em 0 2em 1em;
  cursor: pointer;
  font-size: 15px;
  letter-spacing: .05em;
  text-transform: uppercase;
  border-radius: .5em;
} 






/* TABLET */

@media screen and (min-width: 667px) and (max-width: 1024px) {

  .header-image {
    background: url("./images/hero-image.jpg");
    background-size: cover;
  }

  .container {
    background-color: rgba(255,255,255,0.4);
  }
}







/* DESKTOP */

@media (min-width: 1024px) {

  .header-image {
    background: url("./images/hero-image.jpg");
    background-size: cover;
  }

  .container {
    background-color: rgba(255,255,255,0.4);
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  nav {
    background: none;
    width: 100vw;
    display: block;
    flex-direction: row;
    flex-wrap: wrap;
  }

  /* .navbar {
    flex-direction: row;
    justify-content: center;
  } */
  
  .nav-links-OK ul {
    display: flex;
    margin-top: 0;
   } 
  
  .nav-links li a{
    padding: 2.5rem;
    display: none;
    margin: 0;
    font-size: 18px;
  }

  .hamburger {
    display: none;
  }

  .close-menu {
    display: none;
  }

  .rentals-image, .event-image, .portfolio-image, .about-image {
    width: 40vw;
    height: 50vh;
    margin-left: 4em;
  
  }

  .rentals-container, .event-container, .portfolio-container, .about-container {
    display: inline-block;
    
  }

  .section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  

/* .desktop-container {
  display: flex; 
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */




























  /* styling the accordion */
  /* .accordion-container {
    position: absolute;
    width: 75vw;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em 1em 4em 1em;
    background-color: rgba(182, 136, 136, 0.144);
    border-radius: 1em;
    margin: 4em 4em 5em 4em;
    /* border: solid rgb(150, 106, 106);
  } */
/*   
  .accordion-header {
    font-size: 40px;
    margin-bottom: 1em;
    color: white;
    text-align: center;
  }
  
  .panel {
    /* width: 70vw;
    max-height: 0;
    /* padding: 0em 2em;
    /* background-color: rgb(182, 136, 136);
    color: white;
    overflow: hidden;
    text-align: center;
    transition: max-heigth 1s ease-out;
    font-size: 17px;
  }
  
  .accordion {
    background-color: rgb(173, 113, 113);
    color: rgb(252, 252, 252);
    cursor: pointer;
    padding: .75em;
    width: 60vw;
    text-align: center;
    border: none;
    outline: none;
    transition: 1s;
    font-size: 20px;
    border-radius: .5em;
    
    border: solid rgb(150, 106, 106);
  }
  
  .accordion1, .accordion3 {
    background-color: rgb(173, 113, 113);
    color: rgb(247, 244, 244);
    cursor: pointer;
    padding: .75em;
    width: 60vw;
    text-align: center;
    border: none;
    outline: none;
    transition: 1s;
    font-size: 20px;
    border: solid rgb(150, 106, 106);
    margin: .2em;
    border-radius: .5em;
  }
  
  
  .active, .accordion:hover {
    background-color: rgb(182, 136, 136);
    font-weight: bold;
  }
  
  .active, .accordion1:hover {
    background-color: rgb(182, 136, 136);
    font-weight: bold;
  }
  
  .active, .accordion3:hover {
    background-color: rgb(182, 136, 136);
    font-weight: bold;
  }
  
  .active + .panel {
    display: block;
    transition: 1s;
    margin: 1em 0;
  } */
} 