/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

body {
	margin: 0;
}

header {
	position: relative;
}

.header-text-center {
	position: absolute;
	top: 20%;
	left: 45%;
}

.hero-img {
	width: 100%;
	height: 100vh;
	object-fit: cover;
}

/* Defining flex-box elements */
.flex-container,
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.flex-container {
	gap: 20px;
	margin: 20px;
}

.form-container,
.accordion-container,
.radio-container {
	display: flex;
	justify-content: center;
}

.form,
.accordion {
	width: min(80%, 320px);
	border: 1px solid black;
	padding: 10px 20px 20px 20px;
}
.form {
	align-items: center;
}

.radio-container {
	flex-wrap: wrap;
	flex-direction: column;
}

.checkbox-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.text-field,
button[type='submit'] {
	width: 100%;
	margin: 5px;
}

input[type='radio'] {
	width: 10%;
}
.radio {
	width: 50vw;
}
.question {
	border: 1px solid black;
}
.answer {
	display: none;
}
.answer p {
	border: 1px solid black;
	margin: 0;
	padding: 10px 0px;
}
.active + .answer {
	display: initial;
	/* border: 1px solid red; */
}
@media (min-width: 460px) {
	.radio-container {
		flex-direction: row;
	}
	.radio {
		width: 40%;
	}
}

@media (min-width: 768px) {
	.flex-container {
		flex-direction: row;
	}
	.form,
	.accordion {
		width: 320px;
	}
}
