@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cairo&family=Merriweather+Sans&family=Montserrat:wght@100&family=Open+Sans+Condensed:wght@300;700&family=Poiret+One&family=Roboto+Mono:wght@300&family=Source+Code+Pro&display=swap');@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Cairo&family=Merriweather+Sans&family=Montserrat:wght@100&family=Open+Sans+Condensed:wght@300;700&family=Roboto+Mono:wght@300&family=Source+Code+Pro&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

body {
  font-family: 'Merriweather Sans', sans-serif;
}

.hero {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: url(./Images/pic3.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
  background-attachment:initial;
  text-transform: uppercase;
  background-position:center;
  position: relative;
  justify-content: center;
} 

.headertext{
  display: flex;
  justify-content: center;
  flex-direction: column; 
  width: 80%;
  align-items: center;

}


.hero-text1{
  color: white;
  justify-content: center;
  font-size: 1em;
}

.hero-text2{
  font-size: 2em;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

 /* <!-- Here is a small text-section -->  */

 .needle{
  height: 30px;
  width: 30px;
  margin-top: 80px;
  margin-bottom: 40px;
  }

h2 {
  font-size: 30px;
  text-transform: uppercase;
}

.textbox{
  Justify-content: center;
  text-align: center;
  color: #646464;
  width: 100%;
  line-height: 1.2em;
  letter-spacing: 0.1em;
}

.coffeetext {
  width:30em;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
  width: 100%;
  max-width: 30em;
}

/* <!-- Sigup form -->  */

.form-image-wrapper {
  background: url(./Images/cake.jpeg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-sizing: border-box;
  color: white;
  justify-content: center;
  padding-bottom: 20px;
  }

.form-wrapper{
  padding: 10px; 
  border-radius: 4px;
  border: white solid 3px;
  max-width: 25rem;
  box-sizing: border-box;  
  margin-top: 20px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.title {
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;

  }

form {
    flex-direction: column;
}

form label {
  display: flex;
  flex-direction: column;
 }

input[type=text], input[type=password]  {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 4px;
    color: #393535;
  font-size: 12px;
}

a {
  font-size: 12px;
  color: white;
}

input[type=radio]{
   margin: 15px;
   }

input[type=checkbox]{
  margin:5px
}

input[type=submit] {
  width: 100%;
  color: #393535;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: grey;
}

.text{
  font-size: 10px;
  color:#393535 ;
}

/* <!-- Accordion --> */

.accordion{
  padding: 10px;
  border-radius: 4px;
  box-sizing: border-box;
  max-width: 23rem;
  width: 100%;
  margin-top: 20px;
  border: white solid 3px;
  margin-right: 1rem;
  margin-left: 1rem;
}

.accordion-name{
  display: flex;
  max-width: 45rem;
  width: 100%;
  justify-content: center;
  font-weight: normal;
 }

.accordion .contentBx {
  position: relative;
}

.accordion .contentBx .label {
  position: relative;
  cursor: pointer;
}

.label{
  padding-top:3rem;
  padding: bottom 3rem;
  padding-right: 3rem;
  text-align: left;
  outline: none;
  transition: 0.4s;
  color:white;
   text-align: center;
  }

.accordion .contentBx .label::before{
  content: "+";
  position: absolute;
  right: 4px;
}

.accordion .contentBx.active .label::before{
  content: "-";
}

.accordion .contentBx .content {
  position: relative;
  background: #fff;
  height: 0;
  overflow: hidden;
  transition: 0.5s;
  overflow-y: auto;
}

.accordion .contentBx.active .content {
  height: 110px;
  padding: 10px;
  background-color: grey;
  font-size: 14px;
  text-align: center;
}

footer{
  display: flex;
  font-size: 12px;
  justify-content: center;
  background-color: #646464;
  height: 40px;
  align-items: center;
  color:grey;
  text-transform: uppercase;
}


/* <!-- DESKTOP STYLING --> */

@media (min-widh: 1024px) {
  
  h1 {
     font-size: 160px;
 }

  h2 {
    font-size: 68px;
     }

 .hero{
    height: 80%;
 }

 
 }