body {
  background-color: white;
}

/* OBS! STRUKTURERA, CLEAN UP & SE MÅSTEN MM INFO LÄNGST NER HÄR, TEX STYLA ELEMENTEN SOM KLASSER, SÅ ÄNDRA DETTTA! */

h1 {
  position: absolute;
  bottom: 80%;
  color: white;
  font-family: sans-serif;
  font-weight: bold;

}

nav {
  position: absolute;
  left: 50%;
  margin-top: 20px;
  transform: translate(-50%, -50%)
}

a {
  color: white;
  text-align: center;
  font-family: sans-serif;
  text-decoration: none;
  font-size: 20px;
  width: 120px;
  padding: 1em, 0;
  display: inline-block;
  font-weight: bold;
  transition: all .4s ease-in-out;
}

.line {
  width: 125px;
  height: 5px;
  background-color: white;
  transition: all .4s ease-in-out;
}

a:nth-child(2):hover ~ .line {
  transform: translate(125px);
  transition: all .4s ease-in-out;
  background-color: white;
}

a:nth-child(3):hover ~ .line {
  transform: translate(250px);
  transition: all .4s ease-in-out;
}

a:nth-child(4):hover ~ .line {
  transform: translate(375px);
  transition: all .4s ease-in-out;
  background-color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


header video {
  z-index: -1;
  max-width: 100%;
  max-height: 80%;
}


main {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  justify-content: space-evenly;
}

.form {
  margin: 15px;
  padding: 15px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 300px;
  height: auto;
  text-align: center;
  color: #89507f;
  font-family: monospace;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.accordion {
  margin: 15px;
  padding: 15px;
  background: white;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 300px;
  height: auto;
  text-align: center;
  color: #89507f;
  font-family: monospace;
  margin-bottom: 10px;
  margin-top: 20px;
  border-radius: 10px;
}

.form:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.accordion:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Ändra så det är klasser att styla i CSS istället för element */

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}