* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 28px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

h2 {
  text-transform: uppercase;
  color: #403A3B;
}

h3 {
  margin-left: 3vw;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 20px;
  color: #403A3B;
  font-weight: 200;
}

h4 {
  text-transform: uppercase;
  font-size: 16px;
  color: #403A3B;
  font-weight: 200;
}

p {
  font-size: 18px;
  color: #403A3B;
  font-weight: 200;;
}

.header-bar {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  width: auto;
  display: flex;
  justify-content: space-between;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  background-color:#373B3E; 
  z-index: 1; 
}

.nav-bar {
  overflow: hidden;  
  display:none;
}

.nav-bar a {
  padding: 10px;
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-radius: 5px;
  font-size: 18px;
  border: 1px solid transparent;
}

.nav-bar a:hover {
  border: 1px solid white;
}

.menu-btn:checked ~ .nav-bar {
  opacity: .5;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 70vh;
  font-size: 28px;
  background: #272727;
  z-index: 1;
}

.nav-link a:hover {
  background-color: #ddd;
  color: black;
}

.menu-icon {
  position: relative;
  padding: 26px 10px;
  right: 20px;
  cursor: pointer;
}

.menu-icon__line {
  display:block;
  position: relative;
  background: #fff;
  height: 2px;
  width: 20px;
  border-radius: 4px;
  margin: 5px;
}

.menu-btn {
  display: none;
}

.logo img {
  height: 80px;
}

/***HERO PICTURE***/
.hero {
  height: 70vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)),
  url(./unsplash-hero.jpg) no-repeat bottom center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10vw; 
  color: #fff;
  position: relative;
}

.hero-text {
  display: flex;
  flex-direction: column;
  position: absolute;
  margin: 3vw;
}

.hero-text p {
  width: 50%;
  color: white;
}

/****BAKERY and FOOD CONTAINER****/
.bakery-container, .food-container {
  max-width: 90%;
  margin: 40px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.bakery-text, .food-text {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.bakery-container img, .food-container img {
  max-width: 80%;
  object-fit: contain;
  box-shadow: 0 0 20px lightgrey;
}

/***ACCORDION****/
.accordion h3 {
  margin-left: 0;
  align-self: center;
}

.accordion {
  width: 100%;
  margin: 3vh auto;
  background-color: #f5fffa;
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex; 
  flex-direction: column; 
}

.accordion-element {
  background-color: mintcream;
  margin-bottom: 10px;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.3);
  width: 80%; 
  align-self: center; 
}

.accordion-header {
  padding: 20px; 
  text-transform: uppercase;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer; 
}

.accordion-header:hover {
  background-color: rgba(0,0,0,0.2);
}

.accordion-header:after {
  content: "\002b";
  right: 20px;
}

.accordion-header.active:after {
  content: '\002D';
  right: 20px;
}

.accordion-text-container {
  height: 0;
  overflow: hidden;
  transition: height 0.5s ease-out;
  background-color: white;
}

.accordion-text {
  padding: 20px;
  border-top: 1px solid;
  border-image: linear-gradient(to right, #cceedd, transparent) 1;
  background-color: #ffff;
}

.accordion-text-container.active {
  height: 5vh;
}

/*****INPUT FORM****/
.form-wrapper {
  display:flex;
  justify-content: center;
  margin: 3vh auto;
}

.form {
  border: 1px;
  padding: 5px;
  border-radius: 3px;
  background: radial-gradient(circle, #e0ece4 0%, #EAEAEA 100%);
}

.form-group {
  padding: 15px;
  display:flex;
  align-items: center;
}

form label {
  width: 100px;
}

.form-group label {
  font-family: inherit;
  font-weight: 200;
  font-size: 14px;
  margin-right: 15px;
}

input {
  font-size: 16px;
  border: none;
  border-bottom: 1px solid rgba(100, 0, 0, .1); 
}

.form h3 {
  margin-left: 0;
}

::placeholder {
  font-size: 12px;
  font-family: inherit;
}

.wrapper-radio {
  display: flex;
  flex-direction: row;
  padding: 15px;
}

.radiobtn-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin: 10px 5px;
  font-size: 16px;
  user-select: none;
}

label.radiobtn-container {
  font-family: inherit;
  font-weight: 200;
  font-size: 14px;
}

.radiobtn-container input {
  opacity: 0;
  cursor: 0;
  height: 0;
  width: 0;
}

.custom-radio {
  border-radius: 50%;
  cursor: pointer;
  position: absolute;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #e1d5d5;
}

.radiobtn-container input:checked ~.custom-radio:after {
  display: block;
}

.custom-radio:after {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 7px;
  height: 7px;
  background-color: #373B3E;
  border-radius: 50%;
  display: none;
}

.wrapper-checkbox {
  padding: 15px;
}

.checkbox-container {
  position: relative;
  padding-left: 25px;
  margin: 10px 5px;
  font-size: 16px;
  user-select: none;
}

label.checkbox-container {
  font-family: inherit;
  font-weight: 200;
  font-size: 14px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-checkbox {
  position: absolute;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #e1d5d5;
  border-radius: 4px;
  cursor: pointer;
}

.checkbox-container input:checked ~.custom-checkbox:after {
  display: block;
}

.custom-checkbox:after {
  content: "";
  position: absolute;
  width: 3px;
  height: 6px;
  border: solid #373B3E;
  border-width: 0 3px 3px 0;
  top: 5px;
  left: 7px;
  transform: rotate(45deg);
  display: none;
}

button {
  width: 130px;
  position: relative;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  padding: 20px 15px;
  margin: 20px 20px;
  font-family: inherit;
}

button::before, button::after {
  content:'';
  display: block;
  position: absolute;
  width: 20%;
  height: 20%;
  border: 2px solid lightgrey;
  transition: all .6s ease;
  border-radius: 2px;
}

button::after {
  bottom: 0;
  right: 0px;
  border-top-color: transparent;
  border-left-color: transparent;
}

button::before {
  top: 0;
  left: 0;
  border-bottom-color: transparent;
  border-right-color: transparent;
}

button:hover:after, button:hover:before {
  width:100%;
  height: 100%;
}

/***ACCORDION***/
.accordion-text-container.active {
  height: 10vh;
}

/****FOOTER****/
footer {
  background-color: rgb(208, 211, 209);
  display: grid;
  align-content: center;
  gap: 15px;
}

.copyright, .contacts, .social {
  padding: 2vw;
}

.copyright img {
  height: 70px;
  margin-top: 10px;
}

.contacts span {
  font-family: 'Montserrat', sans-serif;
  font-weight: 200;
  margin-left: 10px;
  font-size: 18px;
}

#address, #phone {
  margin-bottom: 15px;
}

.social i {
  color:black;
  margin: 5px;
}

/***TABLET MEDIA QUERIES****/
@media (min-width: 767px) {
  .nav-bar {
    all: unset;
    display: flex;
    list-style: none;
    align-self: center;
  }

  .nav-bar a {
    font-size: 18px;
    margin-right: 3vw;
  }

  .menu-icon {
    display: none;
  }

  .hero {
    flex-direction: column;
  }

  .bakery-container {
   flex-direction: row;
  }

  .food-container {
    flex-direction: row-reverse;
  }

  .bakery-container img, .food-container img {
    width: 50%;
  }

  .bakery-text, .food-text {
    width: 40%;
    margin-left: 10px;
  }

  /***ACCORDION***/
  .accordion-text-container.active {
    height: 10vh;
  }

  /***FORM***/
  .form-wrapper {
    justify-content: flex-start;
    margin-left: 10vw;
  }

  /*FOOTER*/
  footer {
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    padding: 3vw;
  }
}

/****DESKTOP MEDIA QUERIES****/
@media (min-width: 1024px) {
  .nav-bar {
    display: flex;
  }

  .nav-bar a {
    font-size: 22px;
  }

  .menu-icon {
    display: none;
  }

  .hero {
    flex-direction: column;
    align-items: flex-start;
  }

  .bakery-container {
    flex-direction: row;
  }
 
   .food-container {
     flex-direction: row-reverse;
  }
 
   .bakery-container img, .food-container img {
     width: 35%;
  }
 
   .bakery-text, .food-text {
     width: 40%;
     margin-left: 10px;
  }  

  /***FOOTER***/
  footer {
    grid-template-columns: 30% 30% 30%;
    justify-content: center;
    padding: 3vw;
  } 
}

