/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

body {
margin: 0;
color: #888888;

}



.knapp {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  background-color:transparent;
  padding:20px;
  position: absolute;
  z-index: 1;
  box-shadow: inset 0 0 10px white;
  border:none;
 
}


.knapp:active {
  transform: translateY(4px);
  box-shadow: 5px 5px 10px grey;
}

.knapp:focus {
  outline: none;
}
.active, .knapp:hover {
  background: white;
  opacity: 50%;
}


.submit {
    border: solid white 2px;
    background-color: white;
}


/*style the header*/
.header{
  width: 100%;
  height: 40vh;
  overflow: hidden;

}

.header .header__video{
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}
 
.overlay {
  position: absolute;
  top: 0px;
  left: 45%;
  top:18%;

}

/** Content area **/

.content {
  height: 800px;
  background: linear-gradient(#D8E8FF,#CEAEA5);  
 display: grid;
 grid-template-columns: repeat(2, 1fr);
 font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  font-size: 20px;
  color: black;
}


.content-item1 {
  text-align: center;
  display: flex;
flex-direction: column;
align-items: center;


}

.content-item2{
display: flex;
flex-direction: column;
align-items: center;
 
}

.content-item1 h1 {
  padding-top:30px;
  font-size:50px;

  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  
}

.content-item2 h1 {
  
  font-size:50px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
}





/** All the forms  **/
input:invalid {
  border-bottom: 2px #CEAEA5 solid;
}

textarea:invalid {
  border-bottom: 3px #CEAEA5 solid;
}

.form-group {
  margin-bottom: 15px;
  width: 300px;
  display: flex;
 
}



.form-group label {
  width: 100px;
  margin-right: 5px;
}

.form-group input,
.form-group textarea {
  width: 200px;
  background:transparent;
  

}

.form-submit-one {
  margin-bottom: 90px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(#D8E8FF,#CEAEA5);
  box-shadow: 5px 10px 10px #888888;
  border:none;
  cursor:pointer;

}

.form-submit-one:active {
  transform: translateY(4px);
  box-shadow: 5px 5px 10px;
}

.form-submit-one:focus {
  outline: none;
}
.form-submit-one.active, .form-submit:hover {
  background: linear-gradient(#CEAEA5, #D8E8FF);
}



.form-submit-two {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: linear-gradient(#D8E8FF,#CEAEA5);
  box-shadow: 5px 10px 10px #888888;
  border:none;
  cursor:pointer;
}

.form-submit-two:active {
  transform: translateY(4px);
  box-shadow: 5px 5px 10px;
}

.form-submit-two:focus {
  outline: none;
}
.form-submit-two.active, .form-submit:hover {
  background: linear-gradient(#CEAEA5, #D8E8FF);
}

p {
  font-size: 12px;
}

.radio {
  display: flex;
flex-direction: row;
align-items: center;
margin-left:80px;
padding-bottom:20px;
padding-top:10px;

}


.container{
  padding:10px;
  cursor: pointer;
}

  /** Accordion ***/

  .wrapper {
    margin-top: 40px;
    font-weight:400;
    text-align: center;
  }




button.accordion {
  background: linear-gradient(#D8E8FF,#CEAEA5); 
  color: black;
  cursor:pointer;
  border:0px;
  padding: 10px;
  width: 70%;
  max-width:400px; 
  font-size: 18px;
  transition: .4s;
  box-shadow: 5px 10px 10px #888888;
  display: flex;
  justify-content: space-between;
}

button:focus {
  outline: none;
}

button.accordion.active, button.accordion:hover {
  background: linear-gradient(#CEAEA5, #D8E8FF);
}

.accordion::after {
  content:"\25EF";

}

.accordion.active::after {
  content:"\25C9";
}

div.panel-a {
  padding: 0 18px;
  max-height:0;
  max-width:400px; 
  font-size: 10px;
  overflow: hidden;
  width:70%;

  background:linear-gradient(#CEAEA5, #D8E8FF);
  transition: max-height .2 ease-out ;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  transition: all .5s ease-in-out;
 
}



div.panel-b {
  padding: 0 18px;
  max-height:0;
  max-width:400px; 
  font-size: 10px;
  overflow: hidden;
  width:67.45%;
 
  background:linear-gradient(#D8E8FF,#CEAEA5);
  transition: max-height .2 ease-out ;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Lato', sans-serif;
  transition: all .5s ease-in-out;
 
}





/** footer ***/

.footer{
    width: 100%;
    height: 20vh;
    overflow: hidden;
    text-align: center;
   
  }
  
  .footer .footer__video{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .footer_overlay h1 {
    font-size: 50px;
    color: white;
    padding: 30px;
  
    
  }
   
  
  .footer_overlay {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;

  }

  @media (min-width: 667px) and (max-width: 1024px) {
    p {
      font-size: 13px;
    }

  }

  @media (min-width: 1024px){
    p {
      font-size: 20px;
    }
  }