/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgb(210, 189, 228);
}

/* Hero */
video {
  width: 100%;
}
.overlay-text {
  position: absolute;
  top: 25vw;
  margin-left: 40px;
  z-index: 1;
}
.top-text {
  color: white;
  font-size: 6vw;
  animation: glow 2s ease-in-out infinite;
  animation-direction: alternate-reverse;
}
.top-text-b {
  color: white;
  font-size: 3vw;
  margin: 20px 0 0 50px;
}
/* Glow animation for top-text*/
/* @keyframes glow {
  from {
    text-shadow: 0 0 40px #a968f8;
  }
  to {
    text-shadow: 0 0 60px #f0e7ff, 0 0 20px #edb3ff;
  }
} */

/* Grid for Form+accordian */
.grid {
  display: grid;
  justify-items: center;
}
/* Form */
.form-container {
  /* some same as .accordian, double code atm */
  background-color: rgb(237, 199, 255);
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  padding-bottom: 2rem;
  line-height: 2rem;
}
.form-boxes {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  margin-bottom: 20px;
}
.form-boxes input {
  width: 300px;
  height: 30px;
  border-radius: 8px;
  border: 1px solid blueviolet;
}
.radio-buttons,
.check-boxes {
  margin-bottom: 20px;
}
button {
  text-transform: uppercase;
  color: white;
  min-width: 200px;
  min-height: 64px;
  border: none;
  border-radius: 5px;
  display: inline-block;
  padding: 5px 10px;
  background-color: rgb(191, 125, 245);
}

h1,
h2,
h3 {
  font-family: "Kaushan Script", cursive;
}
h2,
h3 {
  color: blueviolet;
}
h2 {
  text-align: center;
  padding-top: 2rem;
  margin: 2rem 0;
  font-size: 2rem;
}

p {
  color: rgb(74, 19, 126);
}

/* Accordion */
.accordion {
  background-color: rgb(237, 199, 255);
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
  border-radius: 10px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.question {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  background-color: rgb(173, 135, 222);
  color: #111;
  margin: 1rem 0;
}
.question::after {
  content: "\25BC"; /* CSS entity for triangle down */
  font-size: 1.2rem;
  position: absolute;
  right: 1rem;
}
.question.active::after {
  content: "\25B2"; /* CSS entity for triangle up */
}
.answer {
  display: none;
  padding: 1rem;
  line-height: 1.5rem;
  background-color: rgb(238, 217, 250);
  border-top: 2px solid rgb(210, 189, 228);
}
.active {
  background-color: rgb(135, 114, 231);
}
.active + .answer {
  display: block;
}

/* Footer */
footer {
  background-color: rgb(134, 83, 201);
  font-size: 0.8rem;
  color: rgb(237, 199, 255);
  width: 100%;
  padding: 15px;
  text-align: center;
}
.technigo-logo {
  margin: 10px;
  max-width: 50px;
}

/* Media query for grid 2 columns for table+dekstop. And for video source change. */
@media (max-width: 767px) {
  .hero-video-small {
    display: block;
  }
  .hero-video-medium {
    display: none;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .hero-video-medium {
    display: block;
  }
  .hero-video-small {
    display: none;
  }
}
