/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* .active + .answer { */
  /* some styling here */
/* } */

@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');

body {
  background-color:whitesmoke;
  margin: 0;
}

/* Fixa position */
/* .accordion {
  
}*/

.hero-img { 
width: 100vw;
height: 100vh;
object-fit: cover;
}

.show-more {
  background-color: rgb(18, 150, 150);
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
}
.show-more:hover {
  background-color: rgb(44, 247, 247);
}

.test-question {
  border: 2px solid black;
  border-radius: 16px;
}

.fraga {
  background-color: teal;  
  border-radius: 16px; 
  padding:20px; 
  max-width: 450px;
  display: flex;
  justify-content: space-between;
}


.acc-svar {
  display: none;
  max-width: 450px;
}

.acc-svar-klick {
  display: block;
  background-color: rgb(31, 185, 185);
  margin: 0;
  border-radius: 16px;
  padding-left:20px;
}

.sign-up-form {
  background-color: rgb(3,78,78);
  color:whitesmoke;
  font-family: 'Podkova', serif;
  max-width: 450px;
  margin: 5px;
  border: 3px solid black;
  border-radius: 10px;
  padding:10px;
  box-shadow: 10px 10px 16px rgb(44, 247, 247);
}
.sign-up-form a:any-link {
  color: aqua;
}
.sign-up-form label {
  display: block;
  padding: 5px;
}

.sign-up-form input {
  display: block;
  border: 2px solid cyan;  
}
.send-btn {
  background-color: rgb(18, 150, 150);
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px;
  width: auto;
  cursor: pointer;
}

.send-btn:hover {
  background-color: rgb(44, 247, 247);
}




