/*Styling for mobile phone*/
* {
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #ffe6eb;
  background-image: url("./assets/Repeating-Chevrons.svg")
   /* background by SVGBackgrounds.com */
}


.header {
  position: relative;
  display: block;
  width: 100%;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  filter: brightness(75%);
}

.hero-text {
  position: absolute;
  text-align: center;
  color: white;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Parisienne', cursive;
  font-size: 25px;
}

.hero-title {
  margin: 20px;
}

.below-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #660033;
  font-family: 'Noto Sans JP', sans-serif;
}

.form {
  display: flex;
  flex-direction: column;
  width: 250px; 
  margin: 30px 0 15px 0;
  background-color: #ffffb3;
  padding: 10px;
  font-size: 15px; 
  border: 2px solid #739900;
}

.accordion {
  flex-direction: column;
  width: 250px; 
  margin: 15px 0 15px 0;
  background-color: #ffffb3;
  font-size: 15px;
  border: 2px solid #739900;
}

.h3-accordion {
  padding: 10px;
  font-size: 17px;
}

.question {
  margin: 0;
  border-top: 2px solid #739900;
  padding: 10px;
}

.answer {
  padding: 0 10px 0 10px;
}
/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active+.answer {
 height: 80px;
}

.answer {
  height: 0px;
  overflow:hidden;
  transition: height .3s ease;
}

/*Styling for tablet and small desktop*/
@media (min-width:768px) and (max-width: 1200px) {

}



/*Styling for big desktop*/
@media (min-width: 1200px) {

}