@import url("https://fonts.googleapis.com/css2?family=Syne:wght@600&display=swap");

body {
  margin: 0;
  font-family: "Syne", sans-serif;
}

/* HEADER */
.hero-container {
  position: relative;
}

.bootcamp-img {
  width: 100vw;
  height: 60vh;
  object-fit: cover;
}

.text-hero {
  font-size: 20px;
  margin: 0;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
}

/* Sign up form */
.form-container {
  background-image: linear-gradient(rgb(255, 100, 96), rgb(255, 236, 234));
  width: 300px;
  height: 500px;
  font-size: 18px;
  padding: 10px;
  margin: 30px;
  color: white;
}

.input-form {
  background-color: rgb(255, 236, 234);
  color: white;
  border: none;
  outline: none;
}
.form-title-1 {
  padding-left: 35px;
}
.form-title-small-2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.form-title-small-3 {
  margin-top: 15;
  margin-bottom: 20px;
}
.button {
  background-color: rgb(255, 196, 189);
  border: none;
  color: white;
  font-size: 18px;
  padding: 10px;
  border-radius: 4px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin-left: 100px;
  margin-top: 15px;
}
.button:hover {
  color: black;
}

/*Accordion*/
.accordion {
  background-image: linear-gradient(rgb(255, 100, 96), rgb(255, 236, 234));
  width: 300px;
  height: 500px;
  padding: 10px;
  margin: 10px;
  color: white;
}
.accordion-title {
  margin-left: 115px;
}
.accordion-question-title {
  margin-bottom: 40px;
  text-decoration: underline;
  font-size: 20px;
}
.accordion-question-title:hover {
  color: black;
}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
  display: block;
}

.answer {
  display: none;
}

/*Media queries*/

@media (min-width: 768px) and (max-width: 992px) {
  .text-hero {
    font-size: 30px;
  }
  .content-container {
    flex-direction: row;
    background-color: rgb(163, 174, 186);
  }
  .form-container {
    background-image: linear-gradient(rgb(0, 20, 21), rgb(0, 93, 97));
  }
  .input-form {
    background-color: rgb(0, 93, 97);
    color: white;
    border: none;
  }
  .button {
    background-color: rgb(0, 20, 21);
    color: rgb(0, 93, 97);
  }
  .button:hover {
    color: white;
  }

  .accordion {
    background-image: linear-gradient(rgb(0, 20, 21), rgb(0, 93, 97));
    color: white;
  }
  .accordion-question-title:hover {
    color: rgb(5, 151, 156);
  }
}

@media (min-width: 993px) {
  .text-hero {
    font-size: 40px;
  }
  .content-container {
    flex-direction: row;
    background-color: rgb(224, 224, 224);
  }
  .form-container {
    background-image: linear-gradient(rgb(8, 8, 8), rgb(155, 166, 177));
    margin: 50px 70px;
  }

  .button {
    background-color: rgb(15, 15, 15);
    color: white;
  }
  .button:hover {
    color: rgb(0, 204, 255);
  }
  .accordion {
    margin: 50px 70px;
    background-image: linear-gradient(rgb(8, 8, 8), rgb(155, 166, 177));
    color: white;
  }
  .accordion-question-title:hover {
    color: rgb(0, 204, 255);
  }
}
