/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* .active + .answer {
  /* some styling here */
/* } */ 

body {
  background-color: #333533;
  margin: 0;
}

/** Header **/ 

.header {
  position: relative;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.navigation-menu {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; 
  display: flex;
  justify-content: space-evenly; 
  margin: 0;
}

.navigation-menu a {
  text-decoration: none;
  color: #e8eddf;
  font-family: papyrus;
  font-weight: 200;
  font-size: 18px;
}

.company-name {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: papyrus;
  font-size: 30px;
  color: #e8eddf;
  font-weight: 200;
}

/** Signup container**/ 

.input-container {
  background-color: black;
  color: white;
  border: 3px solid #e8eddf;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px auto;
  max-width: 350px;
  min-width: 350px;
}

.signup-container {
  width: 350px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.signup-text {
  font-size: 14px;
}

input[type=text] {
width: 80%;
  padding: 3px 3px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #cad2c5;
  color: black;
}

input[type=text]:focus {
  outline: none;
  background-color: #f1dca7;
}

input[type=email] {
width: 80%;
  padding: 3px 3px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 5px;
  background-color: #cad2c5;
  color: black;
}

input[type=email]:focus {
  outline: none;
  background-color: #f1dca7;
}

input[type=password] {
  width: 80%;
  padding: 3px 3px;
  box-sizing: border-box;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #cad2c5;
  color: black;
}

input[type=password]:focus {
  outline: none;
  background-color: #f1dca7;
}

.checkboxes {
  display: flex;
  flex-direction: column;
}

.terms {
  display: flex;
  font-size: 10px;
  padding-left: 30px;
  padding-bottom: 5px;
  text-align: left;
  line-height: 15px;
}

.terms a {
  text-decoration: none;
  color: #84a98c;
}

.terms input {
  margin-right: 8px;
}

.subscription {
  display: flex;
  font-size: 10px;
  padding-left: 30px;
}

.subscription input {
  margin-right: 8px;
}

.radiobuttons {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}

.radiobuttons-text {
  padding-left: 10px;
}

.radiobutton-options {
  display: flex;
  justify-content: center;
}

input[type=submit] {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: #84a98c;
  outline: none;
  border-radius: 5px;
}

.existing-member {
  font-size: 9px;
  font-style: italic;
}

.existing-member a {
  text-decoration: none;
  color: #f1dca7;
}

/** Styling the accordion **/

.accordion-container {
  background-color: black;
  color: white;
  border: 3px solid #e8eddf;
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  max-width: 350px;
  min-width: 350px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.FAQ {
  margin: 0 auto;
}

.FAQ h3 {
  font-weight: 100;
  padding: 15px;
}

/** Styling the footer **/

footer {
  background: #333533;
  color: white;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  margin-top: 20px;
  border-top: 2px solid black;
}