/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* .active + .answer { */
  /* some styling here */
/* } */

@import url('https://fonts.googleapis.com/css2?family=Podkova&display=swap');

body {
  background-color:rgba(0, 0, 0, 0.856);
  margin: 0;
}

.hero-img { 
  width: 100vw;
  height: auto;
}
.landing-page-header{
  position:relative; 
}

.hero-title {
  position:absolute;
  top:70px;
  left:100px;
  color: black;
  font-size: 28px;
  font-family: 'Podkova', serif;
  font-weight: bold;
}
.site-content {   
  border-radius: 16px; 
  padding:20px 0;
  margin-left:10px; 
  width: 100%;
  display: flex;   
  flex-flow: column;  
  margin-bottom: 10px; 
}
.accordion {  
  background-color: whitesmoke;
  border: 3px solid black;
  border-radius: 16px;
  width: 90%; 
  padding: 20px;
  font-family: 'Podkova', serif;  
  box-shadow: 10px 10px 16px rgb(44, 247, 247);
  margin-top: 20px; 
  
}
.accordion-title {
text-decoration: underline;
}
.fraga {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 0;
}

.acc-svar {
  display: none;
  max-width: 450px; 
}

.acc-svar-klick { 
  display: block;
  background-color: rgb(31, 185, 185);
  margin: 0;
  border-radius: 16px;
  padding-left:20px;   
  margin-bottom: 10px;
}

.show-more {
  background-color: whitesmoke;
  border-radius: 50%;
  cursor: pointer;
  font-weight: bold;
  font-size: 15px;
  outline:rgb(44, 247, 247);    
}

.show-more:hover {
  background-color: rgb(44, 247, 247);
}

.img-start {
  display: block;
}
.img-click {
  display: block;
}

.sign-up-form {
  background-color: rgb(3,78,78);
  color:whitesmoke;
  font-family: 'Podkova', serif;
  width: 90%; 
  border: 3px solid black;
  border-radius: 10px;
  padding:20px;
  box-shadow: 10px 10px 16px rgb(44, 247, 247);
  
}
.sign-up-form a:any-link {
  color: aqua;
}
.sign-up-form label {
  display: block;
  padding: 5px;
}

.sign-up-form input {
  display: block;
  border: 2px solid cyan;  
}

.radio-section-form {
  display: flex;
  flex-direction: row;
}

input[type="radio" i] {
  margin: 8px 3px 0px 3px;
}

.send-btn {
  background-color: rgb(18, 150, 150);
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  margin: 10px;
  width: auto;
  cursor: pointer;
}

.send-btn:hover {
  background-color: rgb(44, 247, 247);
}


@media (min-width:768px) {

.site-content {
  flex-direction: row; 
  justify-content: space-evenly;
  
}

.sign-up-form {
  width: 40%;  
}

.accordion {
  width: 40%;
  margin-top: 0;  
}
.hero-title {
  font-size: 40px;
  
}

}

@media (min-width:1199px) {
  .hero-title {
    font-size: 48px;    
    top: 80px;
  }


}

