
body {
  margin: 0;
}

.hero {
  position: relative;
}

.hero-image {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.hero-title {
  position: absolute;
  top:0 ;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*SIGNUP FORM*/
form .signup-form {
  display: table;
}

div .signup-form {
  display:table-row;
}

label, input {
  display: table-cell;
  margin-bottom: 10px;
}

label {
  padding-right: 10px;
}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/*.active + .answer {
  /* some styling here */
}

