/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.answer{
  display: none;
  padding: 15px;
  font-family: sans-serif;
  font-size: 18px;
}
.active + .answer {
  color: #1A1713;
  display: flex;
}

body, html{
 background-color: #E3E3E3;
 margin: 0;
}

header{
  background-color: black;
}

.make {
  position: relative;
  height: 400px;
  overflow: hidden;
  background-image: url("https://images.unsplash.com/photo-1473496169904-658ba7c44d8a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
  background-size: cover;
  background-position: center;
  border-radius: 2px;
  box-shadow: 7px 7px 2px 0px #030404;
}

h1{
  color: #030404;
  padding: 35px;
  font-family: sans-serif;
  text-align: right;
}

h2{
  color: #030404;
  padding: 15px;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  font-size: 30px;
}

h2:hover{
  font-size: 40px;
}

.flex-parent{
  background-color: #E3E3E3;
  display: flex;
  justify-content: center;
  padding: 10px;
  margin: 10px;

}

input{
  font-size: 17px;
  flex: 0 1 auto;
}

input:valid{
  background-color: #F9F6E7;
}

input:invalid{
  background-color: #F8F7F2;
}

.form{
  width: 40%;
  background-color: #E3E3E3;
  margin: 20px;
  padding: 10px;
  border-radius: 7px;
  border: 4px solid #030404;
  box-shadow: 20px 20px 5px 1px #030404;
}

.accordion{
  width: 40%;
  background-color: #E3E3E3;
  margin: 20px;
  padding: 10px;
  border-radius: 7px;
  border: 4px solid #030404;
  box-shadow: 20px 20px 5px 1px #030404;
}

.question1{
  color: #030404;
  padding: 15px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 20px;
}

.question1:hover{
color: #1A1713;
}

.question2{
  color: #030404;
  padding: 15px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 20px;
}

.question2:hover{
  color: #1A1713;
  }

.question3{
  color: #030404;
  padding: 15px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 20px;
}

.question3:hover{
  color: #1A1713;
  }

label{
  display: flex;
  padding: 20px;
  color: #030404;
  font-family: sans-serif;
  font-size: 18px;
  width: 250px;
  display: flex;
  justify-content: space-between;
}

.label2{
  color: #030404;
  display: block;
}