body {
  background-color: whitesmoke;
  box-sizing: border-box;
  height: 100%;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 3em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2em;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
  color: white;

}

header {
  background-color: whitesmoke;
  height: 600px;

}

/* The hero image */
.hero-image {

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("hero-image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/* MAIN SECTION*/

.main {
  display: flex;
  align-items: row;
  flex-wrap: inherit;
  justify-content: space-around;
  margin-top: 20px;
}

/* FORM*/

.form {
  height: 400px;
  background-color: darkgoldenrod;
  font-family: 'Montserrat', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  width: 46%;
  padding-left: 16px;
  border-radius: 10px;
  line-height: 1.5rem;

}


/* FAQ-SECTION*/


.accordion {
  height: auto;
  background-color: #854f41;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: column;
  justify-content: center;
  width: 46%;
  border-radius: 10px;
}

.faq {
  width: 90%;
}

.question {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 16px;
  transition: 0.4s;


}



.answer {

  padding: 18px;
  width: 100%;
  display: none;
  background-color: white;
  font-size: 15px;
  box-sizing: border-box;
}

.question {
  display: block;
}

.question:hover {
  background-color: #ccc;
  font-size: 16px;
}

/* MEDIA QUERY FOR MOBILE */

@media (max-width: 667px) {
  .main {
    justify-content: center space-evenly;
    flex-direction: column;
    display: flex;
    align-items: center;
  }

  .accordion {
    width: 90%;
  }

  .form {
    width: 90%;
  }
}