/* 
.active + .answer {
  some styling here 
}

the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/***** 1. GENERAL *****/

body {
  box-sizing: border-box;
  margin: 0;
}

.background-img {
  background-image: url("Images/jeans.jpg");
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  z-index: -1;
}

h2,
h3,
p {
  font-family: 'Varela', sans-serif;
  margin: 0px;
}

/***** 2. HEADER AND NAV *****/

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 20px;
}

.hamburger div {
  width: 30px;
  height: 4px;
  background: white;
  border-radius: 10px;
}

.content {
  display: none;
}

.content a {
  font-family: 'Varela', sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: none;
  text-shadow: 2px 2px 3px rgb(98, 93, 110);
}

.content a:hover {
  transform: translateY(2px); 
}

.nav-sign-in {
display: inline;
align-self: flex-start;
}

.nav-sign-in a {
  font-family: 'Varela', sans-serif;
  text-transform: uppercase;
  font-size: 10px;
  text-decoration: none;
  color: rgb(45, 44, 51);
}

/***** 3. LOGO *****/

.logo {
  display: flex;
  justify-content: center;
  align-items: center;

  border: solid 3px black;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background: #ffffff;
  margin: auto;
  margin-top: 80px;
}

.name {
  font-family: 'Lobster', cursive;
  font-size: 80px;
  margin: 0;
}

/***** 4. INFO *****/

.info {
  padding: 10px;
  margin-top: 50px;
  text-align: center;
  backdrop-filter: blur(10px);
}

.info h2 {
  font-family: 'Varela', sans-serif;
  color: #fff;
  font-size: 25px;
  margin: auto;
  width: 90%;
}

.info p {
  font-family: 'Varela', sans-serif;
  color: #fff;
  font-size: 14px;
  margin: auto;
  width: 90%;
}

/***** 5. SIGN UP BUTTON *****/

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 70px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  box-shadow: 0 -2px 5px #3b383f;
  background: #fff;
}

.sign-up {
  display: flex;

  margin: auto;
  width: 80%;
  height: 50px;
  border: solid 1px black;
  border-radius: 30px;
  background: rgb(91, 100, 107);

  background-image: url("Images/fabric.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  text-decoration: none;
  box-shadow: 2px 5px 5px rgb(66, 62, 62);
}

.sign-up:active {
  box-shadow: 0 2px  rgb(192, 164, 184);
  transform: translateY(2px);  
}

.sign-up h2 {
  font-family: 'Quicksand', sans-serif;
  font-size: 22px;
  color: #fff;
  margin: auto;
  text-shadow: 2px 2px 3px rgb(50, 48, 56);
}

/***** 6. ACCORDION *****/

.accordion-container {
  display: none;
}

/***** 7. SIGN UP FORM *****/


.form-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

}
form {
  background-image: url("Images/jeans.jpg");
  background-size: cover;
  border: solid 1px black;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  color: #fff;
  width: 300px;
  height: 400px;
  margin: auto;
  font-family: 'Varela', sans-serif;
}

.back {
  color:#fff;
  align-self: flex-end;
  text-decoration: none;
  margin-top: 5px;
  margin-right: 4px;
}

.textboxes {
  display: flex;
  flex-direction: column;

  width: 80%;
}

input {
  border-radius: 5px;
  padding: 5px;
  margin: 0px;
  outline: none;
}

.form-welcome {
}

.terms {
  font-size: 10px;
}
.terms a {
  color: #fff;
}

.submit {
 width: 150px;
 background-color: cadetblue;
 font-family: 'Varela', sans-serif;
 color: #fff;
 text-transform: uppercase;
 border-radius: 10px;
 outline: none;
 border: solid 1px black;
 cursor: pointer;
}

.already-member {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:flex-end;
  width: 95%;
  margin-bottom: 5px;
}

.already-member a {
  text-transform: uppercase;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}


/***** TABLET RESPONSIVE *****/

@media (min-width: 667px) and (max-width: 1024px) {

/***** 1. GENERAL *****/

.background-img {
  background-image: url("Images/jeans.jpg");
  width: 100vw;
  height: 70vh;
}

/***** 2. HEADER AND NAV *****/

.content {
  display: flex;
  align-self:flex-start;
  justify-content: space-between;
  
  width: 60%;
}

/***** 5. SIGN UP BUTTON *****/

.signup-container {
  width: 40vw;
  height: 30vh;
  border: none;
  border-top-left-radius: none;
  border-top-right-radius: none;
  box-shadow: none;
  display: flex;
  justify-content:center;
  align-items: center;
}

.sign-up {
  width: 90%;
  box-shadow: 2px 5px 5px rgb(66, 62, 62);
  margin-top: 20px;
}

button:hover {
  cursor: pointer;
}

/***** 6. ACCORDION *****/

.accordion-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 60vw;
  height: 30vh;
  position: fixed;
  bottom: 0;
  left: 0;
}

.accordion {
  border: solid 1px black;
  border-radius: 10px;
  width: 90%;
  margin-top: 20px;
  box-shadow: 2px 5px 5px rgb(66, 62, 62);
}

.accordion-title {
  background-image: url("Images/fabric.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px;
  padding: 5px;
}

.accordion-title h2 {
  color: #fff;
  text-shadow: 2px 2px 3px rgb(50, 48, 56);
}

.accordion-question {
  padding: 5px;
  cursor: pointer;
  border-top: dashed 1px rgb(98, 100, 119);
}

.accordion-content {
  display: none;
  padding: 5px;
  font-size: 12px;
}

.accordion-selected {
  display: block;
}

/***** 7. SIGN UP FORM *****/


}

/***** DESKTOP RESPONSIVE *****/

@media (min-width: 1025px) {

/***** 1. GENERAL *****/

.background-img {
  background-image: url("Images/jeans-smaller.jpg");
  width: 70vw;
  height: 100vh;
}

/***** 2. HEADER AND NAV *****/

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 30px;
}
  
.hamburger div {
  width: 40px;
  height: 6px;
  background: white;
  border-radius: 10px;
}

.content {
  display: flex;
  align-self: flex-start;
  justify-content: space-between;

  width: 60%;
}

.content a {
  font-size: 17px;
}

.nav-sign-in a {
  font-size: 17px;
}

/***** 4. INFO *****/

.info h2 {
  font-size: 28px;
}

.info p {
  font-size: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/***** 5. SIGN UP BUTTON *****/

.signup-container {
  width: 30vw;
  border: none;
  border-top-left-radius: none;
  border-top-right-radius: none;
  box-shadow: none;
}

.sign-up {
  box-shadow: 2px 5px 5px rgb(66, 62, 62);
}

/***** 6. ACCORDION *****/

.accordion-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 30vw;
  height: 70vh;
  position: fixed;
  top: 0;
  right: 0;
}

.accordion {
  border: solid 1px black;
  border-radius: 10px;
  width: 80%;
  margin: 40px;
  box-shadow: 2px 5px 5px rgb(66, 62, 62);
}
.accordion-title {
  background-image: url("Images/fabric.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: grayscale(100%);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 0px;
  padding: 10px;
}

.accordion-title h2 {
  color: #fff;
  text-shadow: 2px 2px 3px rgb(50, 48, 56);
}

.accordion-question {
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
  border-top: dashed 1px rgb(98, 100, 119);
}
  
.accordion-content {
  display: none;
  padding: 10px;
  font-size: 12px;
}
    
.accordion-selected {
  display: block;
}

/***** 7. SIGN UP FORM *****/


}