/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */


body {
  display: grid;
  Grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin: 0px;
}

header {
  Grid-column: span 2;
}

h1 {
  font-size: 4em;
  text-align: center;
}

.question-accordion p {
  margin: 5px 0px;
  text-align: center;
}

.answer p {
  margin: 10px;
}

.sign-up {
  Grid-column: span 1;
}

.questions, .cars, .radio-button, .checkbox, .sign-up, .accordion, footer, header, body {
  border: 2px solid black;
}


.accordion {
  Grid-column: span 1;
}

.FAQ {
  border: 2px solid black;
}

.question-accordion {
  background-color: darkolivegreen;
  color: white;
}

.answer {
  display: none;
}

.active + .answer {
  display:block;
}






footer {
  Grid-column: span 2;
  margin: 0px;
  font-size: 4em;
  text-align: center;
}