/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  background-color: white;
}

.hero-wrapper-container {
  display: flex;
  justify-content: center;
  justify-self: stretch;
  align-items: flex-start;
}

.hero-styling {
  width: 100%;
  height: 100%;
  position: relative;
  object-fit: cover;
  overflow: hidden;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  text-align: center;
  background: black;
}

.hero-inner-container {
  display: flex;
  flex: 1;
}

.video {
  flex: 1;
}

.hero-video {
  opacity: 0.8;
}

.title-container {
  position: absolute;
}

.title h1 {
  display: flex;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 9rem;
  color: #fff;
  letter-spacing: 0.2rem;
  margin-bottom: 0;
}

/* Title styles for mobile and tablets */

@media only screen and (max-width: 767px) {
  .title h1 {
    margin-top: 7rem;
    font-size: 2rem;
  }
}

@media only screen and (max-width: 991px) and (min-width: 768px) {
  .title h1 {
    font-size: 2.5rem;
  }
}

.title p {
  width: 400px;
  padding: 2rem;
  margin: auto;
  color: #fff;
  font-size: 2rem;
  font-weight: 500;
}

/* paragrah styles for mobile version */

@media only screen and (max-width: 767px) {
  .title p {
    font-size: 1.5rem;
  }
}

.btn {
  width: 200px;
  border: 3px solid white;
  padding: 1.2rem;
  margin: 20px auto 0;
  font-size: 1.5rem;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.158);
  color: #fff;
}

.btn:hover {
  cursor: url('pointer.png'), pointer;
  transform: scale(1.2);
  transition: 0.1s;
  background-color: rgba(255, 255, 255, 0.336);
}

@media only screen and (max-width: 767px) {
  .btn {
    font-size: 1rem;
    padding: 0.5rem;
    margin: 10px auto 0;
    width: 150px;
  }
}

.info-section-wrapper {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  margin-top: 50px;
}

/* Mobile view for form and acardion / making them jump into a column */

@media only screen and (max-width: 767px) {
  .info-section-wrapper {
    flex-direction: column;
    margin-top: 10px;
  }
}

.wrapper-container {
  flex: 1 1 50%;
  flex-direction: column;
  /* border: 1px solid #e9ecef;*/
  margin: 20px 30px 50px 10px;
  padding: 20px;
  box-sizing: border-box;
}

/* Making space between form and accordion on Mobile view */

@media only screen and (max-width: 767px) {
  .wrapper-container {
    margin-top: 20px;
  }
}

/* form styling  */

.child-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.tip {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  box-sizing: border-box;
  margin-top: 5px;
  color: #333;
  font-size: 0.8rem;
  display: none;
}

.focus .tip {
  display: block;
}

input {
  margin-top: 20px;
  max-width: 200px;
  height: 1.5rem;
}

.submit-button {
  display: flex;
  align-self: center;
  color: #333;
  font-size: 0.9rem;
  max-width: 100px;
  margin-top: 30px;
}

/* accordion styles */

.accordion-inner-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.accordion-button-styling {
  border: none;
  background-color: rgba(255, 255, 255, 0.932);
  color: #333;
  cursor: url('cursor.png'), pointer;
  padding: 18px 10px;
  text-align: left;
  outline: none;
  transition: 0.4s;
}

.accordion h1 {
  display: flex;
  align-self: center;
  justify-content: center;
  color: #333;
  font-weight: 500;
}

.active {
  background-color: #bfedc1c0 !important;
}

.question:hover {
  background-color: #bfedc1c0;
}

.answer {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.question:after {
  content: '\02795';
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

div.section:nth-child(odd) .question {
  background-color: #dee2e6;
}

div.section:nth-child(odd):hover .question {
  background-color: #bfedc1c0;
}

.active:after {
  content: '\2796';
}

.active+.answer {
  display: inline-block;
}