/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
* {
  box-sizing: border-box;
}

body {
  height: 100%;
  margin: 0;
  font-family: Karla, sans-serif;
  background-color: rgb(255, 245, 247);
}

header {
  width: 100%;
  height: 50vh;
  position: relative;
}

/* ---------Hero video styling---------- */

#header-video {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

.header-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ----------Site content styling---------- */

.top-section {
  display: flex;
  flex-direction: column;
  margin: 15px;
}

.content-container {
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
}

/* ----------Form styling---------- */

.input-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

/* ----------Accordion styling---------- */

.accordionParent {
  width: auto;
  margin-top: 10px;
  justify-content: center;
}

.question {
  display: grid;
  background-color: rgb(177, 80, 120);
  cursor: pointer;
  padding: 15px;
  text-align: left;
  border-bottom: 2px solid white;
  outline: none;
  transition: 0.4s;
}

.question:hover {
  background-color: rgb(255, 235, 239);
}

.open {
  background: rgb(255, 235, 239);
}
img {
  padding: 5px;
}

.answer {
  padding: 10px;
  background-color: rgb(255, 235, 239);
  display: none;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}

.open + .answer {
  display: flex;
  flex-direction: column;
}

/* ----------Footer styling---------- */

.footer-logo {
  width: 75px;
}

footer {
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  color: whitesmoke;
  background-color: rgb(177, 80, 120);
  height: auto;
  width: 100%;
}

.fab,
.fas {
  -webkit-filter: invert(100%);
  filter: invert(100%);
  padding: 5px;
}

/* ---------- Media quaries ---------- */

@media screen and (min-width: 992px) {
  .content-container {
    display: flex;
    flex-direction: row;
    margin: 20px;
    justify-content: space-evenly;
  }

  .introduction {
    margin: 0 400px 50px;
  }

  footer {
    padding: 5px 25px;
    justify-content: space-between;
  }
}
