/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */
body {
  margin: 0;
  width: 100%;
  background-color: rgb(2, 2, 2);
}

/* Header and image */

.header {
  position: relative;
  width: 100%;
}

.image {
  width: 100vw;
  height: 100vh;
  object-fit: cover; 
  opacity: 0.7;
}

/* Navigation bar */

.navigation-container {
  position: absolute;
  top: 8px;
  right: 8px;
  cursor: pointer;
  z-index: 1;
}

.navigation-links {
  color: white;
  font-family: "Stardos Stencil", serif;
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
  cursor: pointer;
}

.navigation-links:hover {
  opacity: 0.5;
}

/* Title */

.title-container {
  position: absolute;
  top: 0px;
  left: 0;
  bottom: 0px;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.h1 {
  font-family: "Stardos Stencil", serif;
  font-size: 70px;
  letter-spacing: 3px;
}

.h2 {
  font-family: "Playfair Display", serif;
  font-size: 16px;
  letter-spacing: 1.5px;;
  margin-top: -50px;
  margin-bottom: 100px;
}

.book-now-button {
  width: 120px;
  padding: 15px;
  font-family: "Stardos Stencil", serif;
  font-size: 20px;
  text-align: center;
  border: 2px solid white;
  background:rgba(5, 5, 5, .5);
  border-radius: 30px;
  cursor: pointer;
}

.book-now-button:hover {
  opacity: 0.7;
}


/* Big content (sign-up form and accordion) */

.big-content-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-top: 50px;
  width: 100%;
}

/* Sign-up form */

.form-container {
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  padding: 20px;
  width: 80%;
  margin-bottom: 25px;
  background-color: rgb(247, 244, 244);
}

.header-container {
  margin-top: 0;
  text-align: center;
  font-size: 30px;
  font-variant: small-caps;
  font-family: "Stardos Stencil", serif;
}

.form {
  padding: 15px;
}

.form-question {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  font-size: 15px;
}

.input-text {
  padding: 7px;
  background: rgba(124, 117, 117, 0.1);
  width: 95%;
  font-family: "Playfair Display", serif;
  outline: none;
  border-radius: 5px;
  border: none;
  margin-top: 5px;
}

.date-and-number {
  display: flex;
  margin-bottom: 10px;
}

.form-question input[type=date] {
  width: 130px;
  margin: 5px 60px 0px 1px;
}

.form-number-of-people {
  font-family: "Playfair Display", serif;
  font-size: 12px;
  margin-top: 5px;
}

.form-question input[type=number] {
  width: 80px;
}

.form-radio-buttons {
  margin-top: 7px;
  margin-bottom: 30px;
  font-size: 15px;
}

.form-radio-buttons input[type='radio']:checked:after {
  position: relative;
  width: 11px;
  height: 11px;
  border-radius: 15px;
  background-color: rgb(122, 6, 50);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid black;
}

.form-checkbox {
  font-size: 15px;
}

.form-checkbox input[type='checkbox']:checked:after {
  position: relative;
  width: 12px;
  height: 12px;
  background-color: rgb(122, 6, 50);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 1px solid black;
}

.terms-conditions-link {
  text-decoration: underline;
  color: black;
  cursor: pointer;
}

.terms-conditions-link:hover {
  opacity: 0.7;
}

/* Submit booking button */

.form-submit-button {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.book-button {
  padding: 6px;
  font-size: 26px;
  font-family: "Stardos Stencil";
  width: 150px;
  border: 2px solid white;
  color: white;
  border-radius: 30px;
  background-color: black;
  font-variant: small-caps;
  cursor: pointer;
}

.book-button:hover {
  opacity: 0.7;
}


/* Accordion Container */

.accordion-container {
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display";
  font-size: 15px;
  padding: 20px;
  width: 80%;
  margin-bottom: 25px;
  background-color: rgb(247, 244, 244);
  border-left: 1px solid black;
}

.accordion-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-bottom: 1px solid black;
  height: 70px;
  margin-bottom: 5px;
}

.accordion-question:hover {
  opacity: 0.7;
}

.accordion-icon {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.accordion-answer {
  display: none;
  background-color: rgba(124, 117, 117, 0.1);
  padding: 5px;
  margin-bottom: 5px;
}

.accordion-visible {
  display: block;
}

/* About us and contact us container */

.about-contact-big-container {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  padding-top: 60px;
  width: 100%;
}

.about-us-container, .contact-us-container {
  display: flex;
  flex-direction: column;
  font-family: "Playfair Display";
  padding: 20px;
  width: 80%;
  margin-bottom: 25px;
  background-color: rgb(247, 244, 244);
  border-left: 1px solid black;
  color: black;
}

.about-us-paragraph {
  background-color: rgba(124, 117, 117, 0.1);
  padding: 10px;
  font-size: 15px;
}

.contact-info {
  display: flex;
  align-items: center;
  background-color: rgba(124, 117, 117, 0.1);
  padding-left: 10px;
  margin-top: 13px;
}

.contact-info .fa {
  font-size: 24px;
  margin-right: 20px;
  cursor: pointer;
}

.contact-info-text {
  font-size: 16px;
}

.wine-glasses {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.wine-glasses .fas {
  font-size: 50px;
  margin: 4px;
}

.wine-glass-one {
  animation-name: wineglassone;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes wineglassone {
  from {transform: rotate(-10deg);}
  to {transform: rotate(15deg);}
}

.wine-glass-two {
  animation-name: wineglasstwo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes wineglasstwo {
  from {transform: rotate(10deg);}
  to {transform: rotate(-15deg);}
}


/* Footer */

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  background-color: black;
  width: 100%;
  bottom: 0;
  margin-top: 90px;
}

.footer-text {
  color: white;
  font-family: "Stardos Stencil", serif;
  font-size: 20px;
  padding-left: 10px;
}

.social-media {
  padding-right: 10px;
}

.social-media .fa {
  color: white;
  text-decoration: none;
  padding: 10px 5px 5px 5px;
  font-size: 24px;
}

.social-media .fa:hover {
  opacity: 0.6;
}


@media (min-width: 768px) {
  .title {
    font-size: 85px;
  }

  .form-container, .accordion-container, .about-us-container, .contact-us-container {
    width: 40%;
  }
}

@media (min-width: 1024px){
  .form-container, .accordion-container, .about-us-container, .contact-us-container {
    width: 35%;
  }
  
  .form-question input[type=date] {
    margin-right: 100px;
  }
}

@media (min-width: 1200px) {
  .form-container, .accordion-container, .about-us-container, .contact-us-container {
    width: 25%;
  }
}
