/* THE BODY */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* THE HEADER */

header {
  background-image: url(./summerday_small.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 35px;
  width: auto;
  padding: 20px 50px;
}

header p {
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 20px;
  padding: 10px;
}

@media (min-width: 668px) {

header  {
  height: 600px;
  background-image: url(./summerday_medium.jpg);
  background-size: cover;
}  

header h1 {
  padding: 32px 70px;
  font-size: 50px;
}

header p {
  padding: 30px;
  font-size: 30px;
}
}


/* THE SHORT GREET SECTION */

.greet {
  background-color: rgba(255, 255, 255, 0.5);
}

.greet p {
  text-align: center;
  font-size: 26px;
  color: black;
}

/* THE INFORMATION SECTION */

.info {
  display: flex;
}

.form-container {
  background-color:#C0CEAD;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.accordion-container {
  background-color:#DAC180;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* THE FORM */

h2 {
  margin-top: 50px;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.form-group {
  display: flex;
  margin-bottom: 15px;
  align-items: center;
}

.form-choose {
  display: flex;
  margin-bottom: 15px;
}

.textfield {
  width: 200px;
}

.label-left {
  width: 150px;
}

.label-right {
  width: 100px;
  margin-bottom: 5px;
}

.bringbox {
  display: flex;
  flex-wrap: wrap;
  width: 120px;
}

.memberbox {
  display: flex;
  flex-wrap: wrap;
  width: 130px;
}

.form-submit {
  width: 100px;
  margin-bottom: 25px;
}

/*THE QUESTION ACCORDION*/

.accordion h2 {
  width: 400px;
  box-sizing: border-box;
  text-align: center;
  background-color: white;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;

}

.question {
  width: 400px;
  box-sizing: border-box;
  background-color: #faeed2;
  padding: 10px 15px;
  border: 1px solid lightgray;
}

.answer {
  width: 400px;
  box-sizing: border-box;
  background-color: white;
  height: 0px;
  overflow: hidden;
  transition: height 0.3s ease;
  
}

.answer p {
  padding: 5px 15px;
}

.active {
  height: 100px;
  overflow: auto;
}

.chosen {
  background-color:#C0CEAD;
}

/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  /* some styling here */
}

