/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

body, html {
  min-height: 100vh;
  margin: 0;
  background-color: rgba(138, 172, 182, 0.849);
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./hero-image.jpg");
  height: 50vh;
  max-height: 300px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Righteous';
}

.form-faq {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form, .faq {
  border: rgb(71, 131, 121);
  background-color: rgb(71, 131, 121);
  border-style: solid;
  border-radius: 2%;
  width: 95%;
  margin-top: 10px;
  text-align: center;
  color: white;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.411)
}

.form {
  padding-bottom: 10px;
}

.faq {
  padding-bottom: 30px;
}

h2 {
  font-family: 'Righteous';
  font-size: 24px;
  letter-spacing: 0.5mm;
  padding-bottom: 20px;
}

input {
  padding: 10px;
  border: rgb(71, 131, 121) solid 1px;
  border-radius: 10px;
  background-color: rgba(138, 172, 182, 0.849);
  color: white;
}

input::placeholder {
  color: white;
  font-style: italic;
}

input:focus {
  background-color: rgb(90, 111, 129);
}

.sub-button {
  transition-duration: 0.4s;
  border: rgba(83, 135, 150, 0.945) solid;
  background-color: rgb(71, 131, 121);
  border-radius: 10px;
  padding: 15px;
  color: white;
}

.sub-button:hover {
  border: rgba(138, 172, 182, 0.849) solid;
  background-color: rgba(138, 172, 182, 0.849);
  cursor: pointer;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.411);
}

label.name, .email, .phonenumber, .terms {
  display: block;
  margin: 10px;
}

.question {
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: rgb(77, 106, 131);
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 10px;
}

.question.one, .three {
  background-color: rgba(83, 135, 150, 0.897);
}

.question.two, .four {
  background-color: rgba(138, 172, 182, 0.849);
}

.question:hover {
  background: rgb(90, 111, 129);
}

.question:after {
  content: '\002B';
  /* Unicode character for "plus" sign (+) */
  color: white;
  float: right;
}

.active:after {
  content: "\2212";
  /* Unicode character for "minus" sign (-) */
}

.answer {
  background-color: rgb(71, 131, 121);
  max-height: 0;
  overflow: hidden;
  transition: 0.5s ease-out;
  padding-left: 5px;
  text-align: left;
}

.active+.answer {
  text-align: left;
  display: block;
  max-height: 200px;
}

footer {
  color: white;
  text-align: center;
  font-family: 'Righteous';
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./hero-image.jpg");
  margin-top: 20px;
  padding: 1rem;
  box-sizing: border-box;
  flex-shrink: 0;
}

@media (min-width: 768px) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .hero-image {
    font-size: 28px;
  }
  .form-faq {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    min-height: 60vh;
  }
  .form, .faq {
    flex-basis: 40%;
    align-self: flex-start;
  }
  h2 {
    font-size: 20px;
  }
}

@media (min-width: 992px) {
  .hero-image {
    font-size: 30px;
  }
  .form-faq {
    width: 60%;
    align-self: center;
  }
}