* {
    padding: 0;
    margin: 0;
    font-family: 'Glory', sans-serif;
}

/*Using CSS, simply set your BODY font size to 16px, and then use CSS again to set the INPUT and SELECT field font size to 1em OR 100%. */


body{
    padding: 0;
    margin: 0;
    font-family: 'Glory', sans-serif;
    padding-bottom: 50px;
    font-size: 16px; 
}

input:focus, textarea:focus select:focus {
    outline: none;
    font-size: 100%;
}

.header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column-start: 2;
    grid-column-end: 12;
    padding-top: 10px;
}

/* .active + .answer {
    /* some styling here */

/* } */

/*navigation*/

.menu {
    grid-column: span 12;
}

li.sign-in {
    font-weight: 600;
}

.logo {
    display: grid;
    grid-column-start: 5;
    grid-column-end: 9;
}

.header ul {
    list-style: none;
    width: 100%;
    text-align: center;
    font-weight: 400;
    font-size: 1.2rem;
}

.header ul li {
    display: inline-block;
}

.header li a {
    grid-column-start: 8;
    padding: 10px 10px;
    text-decoration: none;
}

.header a {
    color: black;
}

.menu a:hover {
    color: #d26ca5;
}

/*images*/

img {
    width: 100%;
    object-fit: cover;
    max-height: 100%;
}

.hero-container {
    display: grid;
    margin-top:10px;
    position: relative;
    text-align: center;
    color: white;
    display: grid;
    grid-column: span 12;
  }
  
.centered-text {
    position: absolute;
    color: white;
    font-size: 2rem;
    top: 80%;
    left: 50%;
    display: grid;
    grid-column: span 12;
    transform: translate(-50%, -50%);
    font-family: 'Shadows Into Light', cursive;
  }

/*form*/

.signup-box {
    margin-top: 20px;
    grid-template-columns: repeat(12, 1fr);
    display: grid;
    grid-column: span 12;
    background-color: #f0cee1;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    border-radius: 1em 0em 1em 0em;
    box-shadow: 2px 0px 5px 5px rgba(149, 149, 149, 0.2);
}

.signup {
    grid-column: span 12;
    display: grid;
}

form {
    grid-column: 2 /span 10;
}

.h1-signup {
    color: #d26ca5;
    align-items: center;
    font-size: 1.8rem;
    text-align: left;
    font-family: Shadows+Into+Light+Two;
}

.p-sprinkling {
    color:#d26ca5;
    display: grid;
    align-items: center;
    font-size: 0.9rem;
    text-align: left;
}

.info-box {
    padding-top: 10px;
    justify-content: space-around;
}

input, select {
    width: 100%;
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 4px;
}

input:focus-within {
    background: #cee6f9;
  }


label {
    font-size: 12px;
    text-transform: uppercase;
    color: #d26ca5;
}

/*radiobutton*/

/* .wrapper-row {
    display: flex;
    justify-content: left;
} */

.wrapper-col {
    display: flex;
    flex-direction: column;
}

.radiobutton-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin: 10px 5px;
    user-select: none;
    font-size: 0.8rem;
    margin-bottom: 5px;
}

.radiobutton-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-radio {
  position: absolute;
  top: 0;
  left: 0;
  height: 19px;
  width: 19px;
  background-color: #eee;  
  cursor: pointer;
  border-radius: 50%;
}

.radiobutton-container:hover input ~.custom-radio{
    background-color:#6ca5d2;
}

.radiobutton-container input:checked ~.custom-radio{
    background-color: #6ca5d2;
}

.custom-radio:after {
content: "";
position: absolute;
top: 6px;
left:6px;
width: 7px;
height: 7px;
background-color: white;
border-radius: 50%;
display: none;
}

.radiobutton-container input:checked ~.custom-radio::after{
display: block;
}



/*checkbox*/

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 25px;
    margin: 10px 5px;
    font-size: 0.8rem;
    user-select: none;
}

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


.custom-checkbox {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #eee;
    border-radius: 4px;
    cursor: pointer;
}

.checkbox-container:hover input ~ .custom-checkbox {
    background-color: #6ca5d2;;
}

.checkbox-container input:checked  ~ .custom-checkbox {
    background-color: #6ca5d2;
    }

    .custom-checkbox:after {
        content: "";
        position: absolute;
        width: 3px;
        height: 6px;
        border: solid white;
        border-width: 0 3px 3px 0;
        top: 5px;
        left: 7px;
        transform: rotate(45deg);
        display: none;
    }
        .checkbox-container input:checked ~.custom-checkbox:after {
            display: block;
        }

/*button sign up form*/

.button {
    background-color: #d26ca5;
    border-radius: 0.8rem;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 28px;
    padding: 15px;
    width: 100%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px 0px 10px 0px;
}

.button:hover{
    transform: scale(0.90);
}

/* faq */

.faq-box {
    margin-top: 20px;
    display: grid;
    grid-column: span 12;
    grid-template-columns: repeat(12, 1fr);
    background-color: #a6e4e0;
    border-radius: 10px;
    border-radius: 0em 1em 0em 1em;
    padding: 10px 20px 10px 20px;
    box-shadow: 2px 0px 5px 5px rgba(149, 149, 149, 0.2);
}

.accordion{
    grid-column: span 12;
}

.h1-faq {
    color:#2c918b;
    align-items: center;
    font-size: 1.8rem;
    text-align: left;
}

.p-faq {
    color: #2c918b;
    display: grid;
    align-items: center;
    font-size: 0.9rem;
    text-align: left;
}

.question {
    background-color: white;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    margin-top: 10px;
    text-align: left;
    outline: none;
    border-radius: 1em 1em 0em 0em;
    font-size: 15px;
    transition: 0.4s;
}

.active, .question:hover {
    background-color: #cef0ee;
}

.answer {
    font-size: 0.8em;
    background-color: white;
    cursor: pointer;
    padding: 10px 10px 10px 10px;
    margin-bottom: 10px;
    text-align: left;
    outline: none;
    border-radius: 0px 0px 1em 1em;
    display: none;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.active+.answer {
    display: block;
}

.p-textarea {
    padding-top: 25px;
    color: #2c918b;
    display: grid;
    align-items: center;
    font-size: 0.9em;
    font-weight: 500;
    text-align: left;
}

textarea {
    margin-top: 5px;
    padding: 10px 10px;
    line-height: 1.5;
    border-radius: 1em;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 1px 1px 1px #999;
    outline: none;
    width: 100%;
    box-sizing: border-box;
}

.button-faq {
    background-color: #2c918b;
    border-radius: 0.8rem;
    border: none;
    color: #FFFFFF;
    text-align:center;
    font-weight: 400;
    font-size: 1.2rem;
    padding: 15px;
    width: auto;
    transition: all 0.5s;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

.button-faq:hover{
    transform: scale(0.90);
}


/* tablet */

@media (min-width: 768px) {
    .logo {
        grid-column: 6 / span 2;
    }
    .signup {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 20px;
    }
    .signup-box {
        grid-column: 2 / span 5;
    }
    .faq-box {
        grid-column: 7 / span 5;
    }
    
    .centered-text {
        position: absolute;
        font-size: 4rem;
    }
}

/* desktop */

@media (min-width: 992px) {
    .logo {
        display: grid;
        grid-column-start: 4;
        grid-column-end: 2;
    }
    .hero-image {
        margin-top: 15px;
    }
    .header ul {
        padding-top: 20px;
        float: right;
    }
    .menu {
        grid-column: 8 / span 5;
    }
    .signup {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-column-gap: 30px;
    }
    
    .signup-box {
        grid-column: 3 / span 4;
    }
    
    .faq-box {
        grid-column: 7 / span 4;
    }
    
    .accordion {
        margin-left: 10px;
        margin-right: 10px;
    }
    .header ul li {
        padding-top: 15px;
    }

    .button-faq {
        margin: 10px 0 5px;
    }

    .centered-text {
        font-size: 5rem;
        }


}