/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* ----Color---
#DE8971
#7B6079
#A7D0CD
#FFE9D6 
*/

/* *{
  border: 1px solid red;
} */

body {
  background-color: #DE8971;
  font-family: raleway;
  font-size: 2.5vh;
  margin:0;
}

p {line-height: 1.6;}
/* NAVBAR */
 
.nav-bar{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.nav-links{
  position: absolute;
  top: 0;
  right: 2vw;
  padding: 2vh;
}
a{
    text-decoration: none;
    color: #FFE9D6;; 
    margin: 2vh;
    top: 50%;
  }
  
a:hover{
  background-color: grey;
}

.img-logo{
  height: 6vh;
  width: auto;
  margin: 1vh;
  padding-top: 0;
}

/* HEADER */
.header-container {
  background-color: #7B6079;
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.hero-video-phone {
  position: relative; 
  right: 0;
  min-width: 100%; 
  min-height: 75vh;
  display: block;
  object-fit: cover;

}

.hero-video-tablet {
  display: none;
}

.hero-video-desktop {
  display: none;
}

.content-hero {
  box-sizing: border-box; /*makes padding stay inside box*/
  position: absolute; /* dont forget to have postion:relative on parent when using absolute*/
  background-color: rgba(0, 0, 0, 0.2);
  color: #FFE9D6;
  width: 70%;

}
/* MAIN */
.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  padding: 20px;
  max-width: 150vh;
  margin: auto;
  box-sizing: border-box;
  font-size: 2vh;
}

h1 {                       
  margin-top: 0; 
  text-align: center;
  color: #FFE9D6;
  font-size: 34px;
  line-height: 40px;
  font-weight: 500;
}

p {
  font-weight: 350;
  
}
  /* Sign up  */

.sign-up-content{
  padding: 2vh;
}

label {
  display: block;
}

input {
    margin: 10px 0 20px 0;
}

.input-box{
    display: block;
    padding: 10px 20px;
    font-size: 2vh;
    background-color: #FFE9D6;
    border-radius: 12px;
    
  }

  .input-box:active {
    background-color: #FFE9D6;
    border: black;
  }


input[type="checkbox"]{
  height: 2vh;
  width: 2vh;
  background-color: #FFE9D6;

}

button {
    padding: 2vh;
    border-radius: 10pt;
    background-color: #7B6079;
    color: #FFE9D6;;
    font-size: 2vh;
    width: 100%;
    
    border: none;
  }

/* Img */
img {
   padding-top: 5vh;
    width: 100%;
    object-fit: contain;
    height: auto;
  }

 
/* FAQ */

.faq-content {
padding-top: 10vh;
min-height: 200px;
 }
.question {                         /* question FAQ */
      background-color: #7B6079;
      cursor: pointer;
      width: 100%;
      transition: 0.5s;
      height: 15vh;
      margin:10px 0 0 0;
      box-sizing: border-box;
      padding: 2vh;
      text-align: center;
      font-size: 3vh;
      color:#FFE9D6;
      border-radius: 10pt;

         
  }

  /* before clicking */ 
.answer{                                   
  display: none;
}

/* after clicking */
.active + .answer {                         
  box-sizing: border-box;
  display: block;
  background-color: #FFE9D6;
  margin:0;
  padding: 1vh 2vh;
  height: 20vh;
  border-radius: 10pt;

}

.active{
  background-color: grey;
}
/* Footer */
footer{
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 4vh;
  color: #FFE9D6;
}

.footer-icon {
  width: 15vh;
}
  /* --------------------ABOUT US---------------------------------*/
.nav-bar-other{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}
  
  
  .main-content-about{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  padding: 20px;
  max-width: 150vh;
  margin: auto;
  box-sizing: border-box;
  font-size: 2vh;
}



.contact-info{
  background-color: bisque;
  border-radius: 10pt;
}

.contact-info p {
  margin-left: 30px;
}

/* .main-content-sign-up{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  padding: 20px;
  max-width: 150vh;
  margin: auto;
  box-sizing: border-box;
  font-size: 2vh;
  
} */
  /* --------------------TABLET---------------------------------*/

@media (min-width: 720px){

  .hero-video-phone {
    display: none;
  }
  
  .hero-video-tablet {
    position: relative; 
    right: 0;
    width: 100%; 
    height: 75vh;
    display: block;
    object-fit: cover;
    
  }
  .hero-video-desktop {
    display: none;
  }


  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
    grid-gap: 20px;
    padding: 20px;
    
  }

  .sign-up-content{
    grid-row: 1 / 3;
    grid-column: 1;
    padding: 5vh;
  }

  .faq-content {
   grid-row: 2 / 4;
   grid-column: 2;
  }

  .img-sign-up {
    grid-row: 3;
  }

  .img-faq {
    grid-row: 1;
    grid-column: 2;
  }

  h1{
  font-size: 60px;
  line-height: 68px;
  font-weight: 500;
  }

  }
  

  /* --------------------Desktop---------------------------------*/

@media (min-width: 1280px){
 
  .hero-video-phone {
    display: none;
  }
  
  .hero-video-tablet {
    display: none;
  }
  .hero-video-desktop {
    position: relative; 
    right: 0;
    width: 100%; 
    height: 75vh; 
    display: block;
    object-fit: cover;
  }

  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;

    }

    

    .img {
      object-fit: contain;
    }
}