
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
  font-family: 'Oxygen', sans-serif;
  margin: 0;
}
  /* Hero-image with Header-text*/
.hero-image {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./tvättahåret.jpeg");
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
  height: 500px;
}

.hero-text {
  text-align: center;
  color: antiquewhite;
  font-size: 90px;
}

.hero-header {
  align-self: center;
}

/* Information */
.information{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background-color: rgb(16, 37, 54);
}

h2{
  color: antiquewhite;
}

p {
  display: flex;
  width: 100%;
  font-size: 14px;
  text-align: center;
  margin-bottom: 40px;
  color: white;
}

.information button {
  border: solid antiquewhite;
  color: antiquewhite;
  padding: 20px;
  margin-bottom: 20px;
}


/* Booking-system */

.booking{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
  background-color: antiquewhite;
}

label{
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin: 5px;
  font-size: 12px;
}

input{
  margin-right: 10px;
  border-radius: 15px;
  border: solid rgb(16, 37, 54);
}


button{
  margin-top: 20px;
  padding: 20px;
  border-radius: 15px;
  border: solid rgb(16, 37, 54);
  background-color: rgb(16, 37, 54);
  color: antiquewhite;
}

/* FAQ (Good to know) */
h2 {
  font-size: 48px;
  text-align: center;
}

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 15px;
  color:antiquewhite;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./sjö.jpeg");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  align-self: center;
  background-attachment: fixed;
}

.question {
  display: flex;
  background:rgb(16, 37, 54);
  border-radius: 20px;
  padding: 15px;
  margin: 2px;
  width: 100%;
}

.active + .answer{
  display: block;
}

.answer {
  display: none;
  padding: 15px;
  margin: 2px;
  width: 100%;
}

/* Footer */
footer{
  display: flex;
  align-items: flex-start;
  padding: 50px;
  background-color: antiquewhite;
}

footer p{
  color: rgb(16, 37, 54);
}

/******** Responsive ***********/

/* For tablet: */
@media (min-width:600px) {
  .question {
    padding: 15px;
    margin: 2px;
    width: 60%;
  }
  
  .answer{
  padding: 15px;
  margin: 2px;
  width: 60%;
}

.information p{
  width: 50%;
}

}

/* For desktop: */
@media (min-width:1025px)  {
  
  .accordion {
    padding: 15px;
  }

  .question {
    padding: 15px;
    margin: 2px;
    width: 40%;
  }
  
  .answer{
  padding: 15px;
  margin: 2px;
  width: 40%;
}

.information p{
  width: 30%;

}
}


