body {
  background: #61acb2;
  margin: 0;
  font-family: "Comfortaa", cursive;
  font-size: 2.5vw;
}

h1 {
  font-size: 8vw;
  color: white;
  opacity: 80%;
  margin: 0;
  font-family: "Pacifico", cursive;
}

h2 {
  font-size: 4vw;
  margin: 0;
  color: white;
  opacity: 70%;

  font-weight: lighter;
}

h3 {
  font-family: "Pacifico", cursive;
  margin: 1vw 0;
}

.video-wrapper {
  position: relative;
}

video {
  width: 100%;
  display: none;
  /* object-fit: cover; */
  /* object-fit: scale-down; */
}

.title {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container-signup-and-accordion {
  display: flex;
  justify-content: space-evenly;
  margin: 3vw;
  /* height: 100%; */
  /* overflow-y: scroll; */
}

.sign-up-form {
  background: #457b7f;
  box-shadow: 5px 10px #223d3f;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5vw;
}
form {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
label {
  display: block;
  margin: 0 1vw 1vw 1vw;
  font-size: 1.75vw;
}
input {
  width: 100%;
  height: 3.5vw;
  font-size: 1.75vw;
  padding: 0 10px;
  border: 3px solid #223d3f;
  border-radius: 90px;
  box-sizing: border-box;
}

input:focus {
  outline: none;
}

.submit-btn {
  background: #f2f2f2;
  padding: 2px 5px;
  font-size: 2vw;
  border-radius: 90px;
  border: 3px solid #223d3f;
  cursor: pointer;
  box-shadow: 4px 4px 0px 0px #223d3f;
  transition-duration: 0.3s;
  align-self: center;
}

.submit-btn:hover {
  box-shadow: 0 0 1px 0 #223d3f;
}

.submit-btn:active {
  box-shadow: inset 4px 4px 2px -1px #223d3f;
  outline: none;
}

.submit-btn:focus {
  outline: 0;
}

.accordion {
  background: #457f77;
  border: 2px solid #ffffff;
  padding: 5px;
  width: 30%;
}
@media (max-width: 600px) {
  .v-small {
    display: inline-block;
  }
}

@media (min-width: 601px) {
  .v-medium {
    display: inline-block;
  }
  .v-small {
    display: none;
  }
}

@media (min-width: 900px) {
  .v-large {
    display: inline-block;
  }
  .v-medium {
    display: none;
  }
}
/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp 

 .active + .answer {
  some styling here 
} */
