/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* ----Color---
#DE8971
#7B6079
#A7D0CD
#FFE9D6 
*/

/* *{
  border: 1px solid red;
} */

:root{
  --purple: #7B6079;
  --orange:#DE8971;
  --beige: #FFE9D6;
  --transparent-light:rgba(0, 0, 0, 0.2);
  --transparent-dark: rgba(0, 0, 0, 0.5);

}


body {
  font-family: raleway;
  margin:0;
  box-sizing: border-box;
  background: linear-gradient(to bottom right, var(--orange), #d0753c);  
}


/* NAVBAR */
 
.nav-bar{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: absolute;
  top: 0;
  background: var(--transparent-light);
  width: 100%;
}

.nav-links{
  position: absolute;
  top: 0;
  right: 2vw;
  padding: 2vh;
}
a{
    text-decoration: none;
    color: var(--beige); 
    margin: 1vh;
    top: 50%;
    font-size: 14pt;
    padding: 0.5vh;
  }
  
a:hover{
  background-color: #7B6079;
  
}

.img-logo{
  height: 6vh;
  width: auto;
  margin: 1vh;
  padding-top: 0;
}

/* HEADER */
.header-container {
  background-color: var(--purple);
  display: flex;
  align-items: center;
  justify-content: center;
 
}

.header-container p {
  margin: 0 10pt
}

.hero-video-phone {
  position: relative; 
  right: 0;
  min-width: 100%; 
  min-height: 75vh;
  max-height: 80vh;;
  display: block;
  object-fit: cover;

}



.content-hero {
  box-sizing: border-box; /*makes padding stay inside box*/
  position: absolute; /* dont forget to have postion:relative on parent when using absolute*/
  background-color: rgba(0, 0, 0, 0.2);
  color: var(--beige);
  width: 85%;
  max-width: 150vh;

}
/* MAIN */
.main-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  grid-gap: 10px;
  padding: 3vh;
  max-width: 150vh;
  margin: auto;
  box-sizing: border-box;
  
}

.welcome-content{
  margin: 2vh 0;
}

.your-skill{
  margin: 2vh 0;
}

.image-container{
  display: flex;
  flex-direction: column;
  
}

.image-container img {
  margin: 20pt 0;
}

h1 {                       
  margin-top: 0; 
  text-align: center;
  color: var(--beige);
  font-size: 34px;
  line-height: 40px;
  font-weight: 500;
  margin-block-end:0.4em;
}

h2 {                       
  margin-top: 0; 
  text-align: center;
  color: var(--beige);
  font-size: 34px;
  line-height: 40px;
  font-weight: 500;
}

h2:hover{
  transition: 0.8s;
  font-size: 70px;
  line-height: 80px;
  font-weight: 500;
}


p {
  font-weight: 400;
  line-height: 1.6;
  font-size: 12pt;
}
  /* Sign up  */


label {
  display: block;
}

input {
    margin: 10px 0 20px 0;
}

.input-box{
    display: block;
    padding: 10px 20px;
    font-size: 2vh;
    background-color: var(--beige);
    border-radius: 12px;
    
  }

  .input-box:active {
    background-color: var(--beige);
    border: black;
  }


input[type="checkbox"]{
  height: 2vh;
  width: 2vh;
  background-color: var(--beige);

}

button {
    padding: 2vh;
    border-radius: 10pt;
    background-color: var(--purple);
    color: var(--beige);;
    font-size: 14pt;
    width: 100%;
    border: none;
    cursor: pointer;
    transition: 0.5s;
  }

  button:hover{
    color: var(--orange);
    background-color: blueviolet;
  }

/* Img */
img {
    margin-top: 5vh;
    width: 100%;
    object-fit: contain;
    height: auto;
  }


 
/* FAQ */

.faq-content {


display: flex;
flex-direction: column-reverse;

 }
.question {                         /* question FAQ */
      background-color: var(--purple);
      cursor: pointer;
      width: 100%;
      transition: 0.5s;
      height: 13vh;
      margin:10px 0 0 0;
      box-sizing: border-box;
      padding: 2vh;
      text-align: center;
      font-size: 3vh;
      color:var(--beige);
      border-radius: 10pt;
      font-size: 14pt;   
  }

  .question:hover{
    color: var(--orange);
    background-color: blueviolet;
  }

  /* before clicking */ 
.answer{                                   
  display: none;
}

/* after clicking */
.active + .answer {                         
  box-sizing: border-box;
  display: block;
  background-color: var(--beige);
  margin:0;
  padding: 1vh 2vh;
  height: 20vh;
  border-radius: 10pt;

}

.active{
  background-color: grey;
}
/* Footer */
footer{
  box-sizing: border-box;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  height: auto;
  padding: 4vh;
  color: var(--beige);
}

.footer-icon {
  width: 15vh;
  margin-top: 0;
}

.footer h2 {
  text-align: left;
  font-size: 12pt;
  margin-top: 20pt;
  margin-block-start: 0;
  margin-block-end: 0;
}

.footer p {
  margin-block-start: 0;
  margin-block-end: 0.1em;
  font-weight: 300;
  font-size: 10pt;
}
  /* --------------------ABOUT US---------------------------------*/
.nav-bar-other{
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  top: 0;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
}
  
.contact-header{
  margin-top: 30pt;
  padding: 5vh 5vh 0 5vh;
}

.main-content-about{
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  
  max-width: 150vh;
  margin: auto;
  box-sizing: border-box;
  font-size: 2vh;
}

.main-content-about{
  margin: 5vh;
}
 .main-content-about img {
  margin: 0 ;
  justify-content: start;
  object-fit: cover;
  padding: 0;
  
  
}

.img-contact{
  /* height: 300px; */
  width: 100%
}

.contact-info{
  background-color: var(--purple);
  border-radius: 10pt;
  margin-bottom: 20pt;
  padding-top: 20pt;
}

.contact-info p {
  margin: 0 0 0 30px;
}

.about-content{
  padding: 0 20pt 20pt 20pt;
}



  /* --------------------TABLET---------------------------------*/

@media (min-width: 720px){

  a{
    margin: 1vh;
    font-size: 20pt;
    padding: 1vh;
  }
 
  .main-content{
    margin: 5vh 5vh;
  }

  /* .sign-up-content{
   padding: 2vh}

  .faq-content {

   padding: 2vh;
  } */

  .faq{
    margin-top: 5vh;
  }

  /* img {
    margin-top: 0;
  }

  .img-sign-up{
    margin-top: 5vh;
  } */

  h1{
  font-size: 60px;
  line-height: 68px;
  font-weight: 500;
  }

  h2 {
    font-size: 52px;
    line-height: 60px;
    font-weight: 500;
  }
  p {
    font-size: 20pt;
  }
  
  .question {                         /* question FAQ */
      font-size: 20pt;   
  }

  button {
   
    font-size: 20pt;
    
  }

  .main-content-about{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .img-contact{
    height: 60vh;
  }

 
 footer h2 {
  font-size: 20pt;
}

.footer p {
  font-size: 16pt;
}
  
}

  /* --------------------Desktop---------------------------------*/

@media (min-width: 1280px){
 
  a{
    margin: 2vh;
    font-size: 26pt;
    
  }

  .main-content{
    margin: 5vh 20vh;
  }

  h1{
    font-size: 68px;
    line-height: 76px;
    
    }
  
    h2 {
      font-size: 60px;
      line-height: 68px;
      
    }
    p {
      font-size: 24pt;
    }

    .image-container{
      flex-direction: row;
      justify-content: space-between;
      
    }
    
    .image-container img {
      margin: 20pt 0;
    }

  img {
    object-fit: contain;
    width: 98%;
    padding: 5pt;
    
  }
  
 /* .main-content-about  img  {
    margin-top: 0;
  } */

  .question {                         /* question FAQ */
    font-size: 26pt;   
}

button {
   
  font-size: 26pt;
  
}

footer h2 {
  font-size: 26pt;
}

.footer p {
  font-size: 20pt;
}
}