
body {
  margin: 0;
  background-color: #e5dfd3;
  font-family: Arial, Helvetica, sans-serif;
}

/*** styling of header ***/

header {
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 0;
 position: absolute;
 background-color: transparent;
 width: 100%;
 height: 500px;
}

h1 {
 position: absolute;
 text-align: center;
 font-size: 100px;
 color: #fafafa;
}

video {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  object-fit: cover;
}

.hero-image img { 
  display: none;
}

.intro-text {
  color: #fafafa;
  text-align: center;
  font-size: 50px;
  padding-top: 530px;
  margin: 0 20px;
}

/*** container for form and accordion ***/

.box-container {
  padding-bottom: 70px;
  display: flex;
  justify-content: space-evenly;
}

/*** styling of form ***/

.form {
  margin: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  color: #fafafa;
  background-color: #c0c2bd;
  border-radius: 2%;
  border: #fafafa solid;
  width: 400px;
  height: 550px;
  margin: 20px;
  padding: 10px;
  box-sizing: border-box;
}

.form-group1 {
  margin-top: 30px;
}

.form-part label {
  width: 100px;
  margin: 0 20px;
  font-size: 17px;
}

.form-part {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.form-container h2 {
  color: #657e83;
  font-size: 40px;
  font-weight: lighter;
  text-align: center;
  margin-top: 0px;
}

.input {
  background-color: #fafafa;
  outline: none;
  width: 150px
}

input:hover {
  background-color: #d5dfee;
}

.form-checkbox {
  display: flex;
  flex-direction: column;
  margin: 20px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 17px;
}

.form-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  height: 17px;
  width: 17px;
  background-color: #fafafa;
  margin-left: 10px;
  border-radius: 20%;
}

.form-checkbox input:checked ~ .checkmark {
  background-color: #657e83;
}

.form-checkbox:hover input ~ .checkmark {
  background-color: #86bbc5;
}

.form-text {
 text-align: center;
 font-size: 17px;
 padding-top: 50px;
 margin-bottom: -30px;
}

.button-container {
 margin: 0 100px;
}

.submit-button {
  font-size: 15px;
  width: 100%;
  height: 40px;
  text-decoration: none;
  font-weight: bold;
  background-color: #fafafa;
  color: #657e83;
  border-radius: 5%;
  border-color: #657e83;
  outline: none;
}

.submit-button:hover {
  background-color: #d5dfee;
}

.form-group2 {
  display: flex;
  flex-direction: row;
}

.form-group2 label {
  width: 15px;
  margin-bottom: 20px;
}

.radiobutton-container {
  user-select: none;
  margin: 45px;
  display: flex;
  flex-direction: column;
  align-items: center; 
  justify-content: center;
}

.radiobutton-container input{
  position: absolute; 
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio {
  background-color: #fafafa;
  height: 17px;
  width: 17px;
  margin: 18px;
  cursor: pointer;
  border-radius: 50%; 
}

.radiobutton-container:hover input ~ .custom-radio {
  background-color: #86bbc5;
}

.radiobutton-container input:checked ~ .custom-radio {
  background-color: #657e83;
} 

/*** styling of accordion ***/

.accordion-container {
  display: flex;
  flex-direction: column;
  border: #fafafa solid;
  border-radius: 2%;
  width: 400px;
  height: 550px;
  margin: 20px;
  padding: 10px;
  color: #fafafa;
  background-color: #c0c2bd;
  box-sizing: border-box;
}

.accordion-container h2 {
  text-align: center;
  color: #657e83;
  font-size: 40px;
  margin-top: 20px;
  font-weight: lighter;
}

.accordion-content {
  margin: 10px 30px;
  background-color: #c2c4c1 ;
  box-shadow: 0 0 2px 2px #657e83;
}

.accordion-question {
  cursor: pointer;
  display: flex;
  align-items: center;
  position: relative;
  padding: 1px;
  margin: 10px;
}

.accordion-question::after {
  content: "\002B";
  font-size: 20px;
  position: absolute;
  right: 0;
}

.accordion-question.active::after { 
 content: "\2212";
}

.accordion-answer-content {
  height: 0;
  overflow: hidden;
  transition: height 0.2s ease-out;
}

.accordion-answer-text {
  padding: 10px;
  border-top: solid #fafafa 3px;
}

.accordion-question.active + .accordion-answer-content {
  height: auto;  
}

footer {
  height: 200px;
  background-color: #e5dfd3;
}

/*** for ipad ***/

@media (max-width: 1024px) {
 video {
   display:none;
 }

 h1 {
   font-size: 80px;
 }

 .intro-text {
  font-size: 50px;
  padding-top: 600px;
  padding-bottom: 20px;
 }

 .hero-image img {
   width: 100%; 
   display: block;
   height: 600px;
   object-fit: cover;
   
 }
 .box-container {
   flex-wrap: wrap;
   align-content: center;
 }

}

/*** for mobile ***/

@media (max-width: 667px) {
  h1 {
    font-size: 60px;
  }

  .hero-image img {
    width: 100%; 
    height: 570px;
  }

  .intro-text {
    font-size: 35px;
    padding-top: 550px;
   }

  .box-container {
    flex-wrap: wrap;
    align-content: center;
  }

  .form-container {
    margin: 0;
    padding: 0;
  }

  .accordion-container {
    margin: 10px 0;
  }
}