/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* .active + .answer {
  some styling here 
} */

body,
html {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #03cea4;
  font-family: sans-serif;
  box-sizing: border-box;
}



/* Hero */

#hero{
  height: 55vh;
  width: 100%;
  background: #c4ffb2;
  display: flex;
  flex-shrink: inherit;
}

#hero::after {

  width: 100%;
  height: 55%;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);

}

#hero video {
  width: 100%;
  height: 55%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  object-fit: cover;
}

.container {
  position: absolute;
  color: whitesmoke;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  z-index: 20;
}

.container h1 {
  font-size: 72px;
  letter-spacing: 0.2em;
}

.container h1 span {
  border: 10px solid whitesmoke;
  padding: 6px 14px;
  display: inline-block;
}

.des {
  margin: 20px;
  display: block;
  font-size: 26px;
  text-shadow: 0 0 10px black;
}

.btn {
  color: white;
  padding: 10px 24px;
  font-size: 20px;
  text-decoration: none;
  background: #d36135;
  border-radius: 8px;
  transition: 0.3s all;
}

.btn:hover {
  opacity: 0.8;
}

/* Main */

.main {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  box-sizing: border-box;
}

/* Form */

.member {
  widows: 20px;
  background: #a1cdf4;
  padding: 5px;
  margin:50px;
  width: 500px;
  border: 8px solid #7b4b94;
  border-radius: 20px;
}

.signup {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  
}

.member h2{
  text-align: center;
  color: black;
  padding: 20px;
  border: 10px solid black;
  border-radius: 30px;
}

input{
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: none;
}

input[type=text], 
input[type=email],
input[type=password]{
  width:90%;
} 

input[type=radio],
input[type=checkbox]
{
  margin-top: 20px;
} 

input[type=submit]{
  margin-top: 30px;
  width:99%;
  background: #001d4a;
  color: antiquewhite;
  font-size: 18px;
  font-weight: bold;
  cursor: grab;
} 


/* Accordian */

.accordion{
  widows: 20px;
  background: #a1cdf4;
  padding: 5px;
  margin:50px;
  width: 500px;
  border: 10px solid #7b4b94;
  border-radius: 20px;
  
}


.accordion h1 {
  text-align: center;
  color: black;
  padding: 20px;
  border: 10px solid black;
  border-radius: 10px;
}

.accordion-container {
  border: 2px solid #999;
  border-radius: 5px;
  margin-bottom: 15px;
  width: 400px;
  margin: 50px;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #001d4a;
  color: whitesmoke;
  margin: 0;
  padding: 15px;
  cursor: pointer;
}


.accordion-text {
  border-top: 2px solid #999;
  text: 12px;
  margin: 0;
  padding: 15px;
}

.accordion-text-container {
  height: 0;
  overflow: hidden;
  transition: height .3s ease;
}

.accordion-text-container.active {
  height: 158px;
}

/* 2. Sticky navbar 

body {
  margin: 0;
  height: 2000px;
}

.header {
  padding: 20px;
  background: #999;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.header.sticky + .accordion {
  margin-top: 58px;
}

3. Responsive images */

@media (max-width: 900px) {
  .rwd-image {
      width: 100%;
  }
}

@media (min-width: 901px) {
  .rwd-image {
      width: auto;
  }
}



/* 26 resolution 1024 */