@import url("https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Noto+Serif:wght@400;700&family=Open+Sans&display=swap");

/*** MAIN STYLING ***/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Open sans", sans-serif;
  line-height: 1.5;
  font-size: 1rem;
  background: #0e337d;
  color: #cfe6ad;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

h1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 1.6rem;
}

/*** HEADER ***/

.hero-section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  padding: 0 20px;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.hero-video video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  object-fit: cover;
}

.hero-text {
  z-index: 2;
  background: rgba(0, 0, 0, 0.3);
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 15px;
}

.hero-text h1 {
  font-family: "East Sea Dokdo", cursive, sans-serif;
  font-size: 7rem;
  margin-bottom: -10px;
  line-height: 1;
}

.hero-text h2 {
  letter-spacing: 2px;
  font-weight: 700;
}

.btn {
  display: inline-block;
  padding: 10px 30px;
  background: rgba(17, 121, 217);
  color: #fff;
  border-radius: 5px;
  border: solid #fff 2px;
  margin: 25px;
  opacity: 0.7;
}

.btn:hover {
  transform: scale(0.98);
}

#intro {
  margin: 20px;
  padding: 40px;
  text-align: center;
}

/**** FLEX PARENT ****/

.flex-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.flex-child {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
  width: 300px;
  border: 5px solid #0b6ba8;
  border-radius: 10px;
  margin: 30px;
}

.flex-child h2 {
  padding-bottom: 15px;
}

/**** FORM ****/

.form {
  padding: 20px;
}

.form-container {
  display: flex;
  flex-direction: column;
  padding: 25px;
  justify-content: center;
  /* height: 400px; */
  background: #cfe6ad;
  color: #0e337d;
  border-radius: 5px;
  /*margin: 15px; nuevo*/
}

.form-group {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  /*  height: 25px; */
}

.form-group label {
  width: auto;
  font-size: 0.8rem;
}

.form-group input {
  width: 600px;
  height: 40px;
  background: #0e337d;
  color: #cfe6ad;
  border-radius: 5px;
  padding: 5px;
  font-size: 1rem;
}

input::placeholder {
  color: #cfe6ad;
}

.checkbox-label {
  display: block;
  position: relative;
  margin: auto;
  cursor: pointer;
  font-size: 22px;
  line-height: 24px;
  height: 24px;
  width: 24px;
  clear: both;
}

.checkbox-label input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkbox-label .checkbox-custom {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 29px;
  width: 29px;
  background-color: transparent;
  border-radius: 5px;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  border: 2px solid #ffffff;
}

.checkbox-label input:checked ~ .checkbox-custom {
  background-color: #0e337d;
  border-radius: 5px;
  -webkit-transform: rotate(0deg) scale(1);
  -ms-transform: rotate(0deg) scale(1);
  transform: rotate(0deg) scale(1);
  opacity: 1;
  border: 2px solid #ffffff;
}

.checkbox-label .checkbox-custom::after {
  position: absolute;
  content: "";
  left: 12px;
  top: 12px;
  height: 0px;
  width: 0px;
  border-radius: 5px;
  border: solid #009bff;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(0deg) scale(0);
  -ms-transform: rotate(0deg) scale(0);
  transform: rotate(0deg) scale(0);
  opacity: 1;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.checkbox-label input:checked ~ .checkbox-custom::after {
  -webkit-transform: rotate(45deg) scale(1);
  -ms-transform: rotate(45deg) scale(1);
  transform: rotate(45deg) scale(1);
  opacity: 1;
  left: 8px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid #009bff;
  border-width: 0 2px 2px 0;
  background-color: transparent;
  border-radius: 0;
}

.checkbox-label .checkbox-custom::before {
  position: absolute;
  content: "";
  left: 10px;
  top: 10px;
  width: 0px;
  height: 0px;
  border-radius: 5px;
  border: 2px solid #ffffff;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
}

.checkbox-label input:checked ~ .checkbox-custom::before {
  left: -3px;
  top: -3px;
  width: 24px;
  height: 24px;
  border-radius: 5px;
  -webkit-transform: scale(3);
  -ms-transform: scale(3);
  transform: scale(3);
  opacity: 0;
  z-index: 999;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
}

.input-title {
  font-size: 0.5em;
}

button {
  padding: 10px 30px;
  background: rgba(17, 121, 217);
  color: #fff;
  border-radius: 5px;
  border: solid #fff 2px;
  margin-top: 25px;
  opacity: 0.7;
  font-size: 1rem;
}

button:hover {
  transform: scale(0.98);
}

/**** ACCORDION ****/

.accordion {
  /* width: 90%;
   max-width: 1000px;
   margin: 2rem auto; */
  width: 300px;
  border: 5px solid #0b6ba8;
  border-radius: 10px;
  margin: 30px;
  padding: 20px;
}

.accordion-item {
  background-color: #b1882d;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}
.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  color: #cfe6ad;
}
.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}
.accordion-item-header.active::after {
  content: "\2212";
}
.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background: #0e337d;
}
.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
  color: #cfe6ad;
}

/**** FOOTER ***/

.footer {
  height: 80px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  left: 0;
  right: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #3c3021;
  color: white;
}

.footer img {
  max-width: 26px;
  margin-left: 3px;
}

a {
  color: inherit;
}

.social-media {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

@media (min-width: 768px) {
  #intro p {
    max-width: 800px;
    margin: 0 130px;
    font-size: 1.2rem;
  }

  .flex-parent {
    display: flex;
    align-items: space-evenly;
  }

  .flex-child {
    width: 500px;
  }
  .input-title {
    font-size: 1em;
  }

  .accordion-text-container.active {
    height: 120px;
  }
}

@media (min-width: 1024px) {
  #intro p {
    font-size: 1.4rem;
    margin-left: auto;
    margin-right: auto;
  }

  .footer-text {
    font-size: 1rem;
  }
}
