* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #ededed;
}


h1 {
  font-family: 'Playfair Display', serif;
  font-size: 24px;
  text-align: center;
}

h2 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
}

p {
  font-family: 'Roboto', sans-serif;  
}

/* HEADER */

.header-background-image {
  height: 400px;
  background-image: url("img/SannaDolckWall_Wedding2_640px.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-background-image h1 {
  color: #13443b;
  margin-top: -100px;
  text-align: center;
  font-size: 32px;
}

.header-background-image h2 {
  color: #7e947f;
  margin-top: -10px;
  text-align: center;
}




  /* FORM */

  .form-heading {
    padding-bottom: 20px;
    font-weight: 900;
    font-family: 'Playfair Display', serif;
    padding: 5px 0 5px 0;
  }

  form {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif; 
    background-color: rgb(122, 140, 122);
    margin: 20px;
    box-shadow: 4px 4px #c9c9c9;
  }

  .form-group {
    padding: 10px;
  }

  .form-group input,
  .form-group text-area {
    width: 300px;
  }

  .button input{
    background-color: #13443b;
    border-radius: 10px;
    padding: 10px;
    color: white;
    font-family: 'Playfair Display', serif;
    padding-bottom: 27px;
  }

  label {
    display: block;
    margin-bottom: 5px;
  }

  .form-group-radio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  input {
    border-radius: 5px;
    height: 30px;
  }

  input:invalid {
    border: 1px solid red;
  }

/* ACCORDION */

.accordion {
  padding: 20px;
  margin: 20px;
  background-color: rgb(177, 179, 177);
  box-shadow: 4px 4px #c9c9c9;
}

.accordion h1{
  margin-bottom: 35px;
}
.accordion-item {
  background-color:#13443b;
  border-radius: 10px; 
}

.accordion-item-header {
  padding: 10px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 20px;
  position: absolute;
  right: 20px;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  background-color: white;
  margin-bottom: 15px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} 

.accordion-item-body-content {
  padding: 20px;
  border-bottom: 3px solid;
  border-image: linear-gradient(to right, transparent, #13443b, transparent) 1;  
}




/* MEDIA QUERIES */
/* På skärmar större än 678 px */
@media screen and (min-width: 678px) {


  .header-background-image {
    background-image: url("img/SannaDolckWall_Wedding2_1920px.jpg");
    background-position: bottom;
  }
 
  .header-background-image h1 {
  color: white;
    ;
  }

  .header-background-image h2 {
    color: white;
  }

  .container {
    display: flex;
    }

  .container form {
      width: 50%;
    }

  .accordion {
      width: 50%;
    }
}



/* MEDIA QUERIES */
/* På skärmar större än 1025 px */
@media screen and (min-width: 1025px) {

  .header-background-image {
    background-image: url("img/SannaDolckWall_Wedding2_2400px.jpg");
    background-position: bottom;
  }

  }





/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

/* accordion-item-header.active + .accordion-item-body { */
  /* some styling here */
  /* max-height: auto;
} */