* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* width: 100%; */
  font-family: 'Poppins', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  padding: 1rem;
}

/* ----------- HEADER ----------- */

header {
  display: flex;
  justify-content: center;
  background-image: url(./images/plate.jpeg);
  background-size: cover;
  background-position: center;
  width: 100%;
  object-fit: cover;
  min-height: 50vh;
  padding: 0;
  margin: 0;
}

.header-title {
  color: rgb(0,51,51, 0.75);
  border-top: 10px rgb(0,51,51, 0.75) solid;
  border-bottom: 10px rgb(0,51,51, 0.75) solid;
  padding: 1rem 0rem;
  font-size: 50px;
  text-align: center;
  align-self: center;
  text-transform: uppercase;
}

/* ----------- SIGN-UP SECTION ----------- */

form {
  padding: 1rem;
  min-width: 400px;
  display: grid;
  justify-content: center;
  gap: 1rem;
  margin: 2rem;
  background-color: rgb(0,51,51);
  border: 5px solid rgb(0,51,51);
}

.form-header {
  display: flex;
  justify-content: center;
  color: white;
}

label {
  color: white;
  font-size: 12px;
}

input {
  margin: 0.25rem 0rem;
  padding: 0;
}

input[type="text"], input[type="email"] {
  width: 100%;
  padding: 0.5rem 0.25rem;
}

input[type="radio"] {
  margin-right: 0.25rem;
}

.radio-group {
  display: flex;
  justify-content: space-around;
}

.preference {
  padding-right: 1rem;
}

.preference-option {
  width: 100%;
  padding: 0.5rem 0.25rem;
  margin-bottom: 1rem;
}

.checkbox-label {
  margin-top: -0.5rem;
}

form button {
  font-size: 110%;
  width: 50%;
  color: white;
  background-color: inherit;
  border: 2px white solid;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem 0rem;
  justify-self: center;
}

form button:hover {
  color: rgb(0,51,51);
  font-weight: bolder;
  background-color: white;
  cursor: pointer;
}

.submit-form {
  display: none;
  font-size: 30px;
  text-align: center;
  padding: 3rem;
  min-width: 400px;
  align-self: center;
  gap: 1rem;
  margin: 2rem;
}

/* ----------- ACCORDION/FAQ SECTION ----------- */

.accordion {
  padding: 1rem;
  border: 5px solid rgb(0,51,51);
  min-width: 400px;
  display: block;
  margin: 2rem;
}

.accordion-header {
  color: white;
  background-color: rgb(0,51,51);
  display: flex;
  justify-content: center;
  margin: -1rem -1rem -0rem -1rem;
  padding: 1rem;
}

.question {
  font-weight: bolder;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-left: 1rem;
}

.question::before{
  content: "+";
  text-decoration: none;
  padding-right: 0.5rem; 
}

.question:hover{
  font-weight: 800;
  cursor: pointer;
}

.answer {
  display: none;
}

.answer p {
  background-color: rgb(0,51,51,0.25);
  padding: 1rem;
  margin: 0rem 1rem;
  font-size: 90%;
}

.open + .answer {
  border-top: none;
  display: inline;
}

.question.open::before {
  content: "-";
}

/* ----------- BOTTOM BANNER -----------*/

.image {
  margin: 0;
  padding: 0;
}

.img-spices {
  width: 100%;
  max-height: 50vh;
  margin-bottom: -0.5rem;
  object-fit: cover;
}

/* ----------- FOOTER -----------*/

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color:rgb(169,169,169);
  text-align: center;
  font-weight: lighter;
  font-size: 80%;
  color: white;
}

.footer-linkedin {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

.footer-linkedin:hover{
  text-decoration: underline;
}

/* ----------- MEDIA QUERIES ----------- */

/* Desktop elements that should behave differently */
@media (min-width: 992px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* padding: 1rem; */
  }
  .header-title {
    font-size: 70px;
  }
  label {
    font-size: 14px;
  }
  .submit-form {
    font-size: 40px;
    padding: 5rem;
  }
}

/* Tablet elements that should behave differently */
@media (min-width: 768px) and (max-width: 991px){
  .header-title {
    font-size: 70px;
  }
  .submit-form {
    font-size: 40px;
    padding: 4rem;
  }
}