html {
  scroll-behavior: smooth;
}

body {
  color: #ffffff90;
  background-color: #000;
  margin: 0;
  font-family: raleway;
  font-weight: 200;
  /* margin-bottom: 96px; */
}

p {
  margin-top: 0;
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: center;
  /* margin-top: 0; */
}

h1 {
  font-size: 64px;
  font-family: raleway dots;
  font-weight: 100;
  margin: 0;
}

.pulse {
	transform: scale(1);
	animation: pulse 4s infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.95);
	}

	70% {
		transform: scale(1.05);
	}

	100% {
		transform: scale(0.95);
	}
}


h2 {
  font-size: 1.125rem;
  line-height: 1.5;
  font-family: raleway;
  font-weight: 200;
  margin-left: 1rem;
}

h3 {
  font-size: 1rem;
  font-family: raleway;
  font-weight: 200;
}


/* NAV & HERO */

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  position: fixed;
  width: 100%;
  top: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.company-logo {
  width: 80px;
  height: auto;
}

.hero-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("unsplash_pic.jpg");
  background-position: center;
  background-size: cover;
  position: relative;
  height: 360px;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5rem;
}


.hero-button {
  border-radius: 24px;
  background-color: aqua;
  font-family: raleway;
  font-size: 1.125rem;
  border: 0;
  height: 48px;
  padding-left: 2rem;
  padding-right: 2rem;
  cursor: pointer;
}

.hero-button:hover {
  opacity: 80%;
}



/*INFO */

.sectionHeading {
  margin-left: 0;
  font-weight: 600;
  text-align: center;
}

.middleSection {
  display: flex;
  flex-direction: column;
}

.preamble {
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0;
}

.preamble p {
  font-size: 1.125rem;
  line-height: 1.8rem;
  margin-top: 0;
}

.jes-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 3rem;
}

.jes-info p {
  font-size: 1rem;
  line-height: 1.5rem;
}

.jes-img {
  border-radius: 50%;
  width: 96px;
  height: 96px;
  align-items: center;
  object-fit: cover;
  margin-right: 1rem;
}

.contact {
  display: flex;
  flex-direction: row;
  margin-top: 3rem;
  align-items: center;
  justify-content: center;
}

.contact p {
  text-align: left;
  margin-bottom: 0;
  font-size: 14px
}

.accordion {
  flex-direction: column;
  justify-content: center;
  /* padding: 1rem; */
  margin-left:  1rem;
  margin-right: 1rem;
  margin-top: 2rem;
  cursor: pointer;
}

.question {
  display: flex;
  justify-content: space-between;
  position: relative;
  background-color: #141414;
}

.question h2 {
  margin-right: 1rem;
}

.question:hover {
  background-color: #191919;
}

.expand-icon {
  width: 1.125rem;
  height: auto;
  margin-right: 1rem;
  opacity: 70%;
}

/* .accordion .question::before {
  content: "+";
  position: absolute;
  right: 1rem;
  font-size: 40px;
} */

.answer {
  position: relative;
  background-color: #222;
  display: none;
  padding: 1rem;
    /* transition-duration: 4s; */
}


.answer p {
  text-align: left;
  line-height: 1.5rem;
  max-width: 90%;
  font-size: 1rem;
}


.active {
  background-color: #111;
}

.active + .answer {
  display: block;
}


/* FORM */

.form {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  margin: 1rem 1rem 2rem 1rem;
}

input, textarea, select {
  width : 150px;
  padding: 1rem;
  margin: 0;
  font-size: 0.8rem;
  font-family: inherit;
}

input {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 48px;
  margin-bottom: 1rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: none;
  opacity: 70%;
}

.dropdown {
  width: 100%;
  height: 48px;
  margin-top: 0;
  margin-bottom: 1.5rem;
  margin-top: 0.5rem;
  border-radius: 8px;
  border: none;
  opacity: 70%;
}


/* RADIOBUTTONS  */

/* .radiobutton-row input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} */

.radiobutton-row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-bottom: 2rem;
  padding-bottom: 1rem;
}

.option {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0;
}

.custom-radio {
  width: 1.125rem;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0%;
  padding-right: 0.8rem;
}

.option label {
  margin-right: 1rem;
  margin-left: 0.5rem;
}

.option input {
  width: 1.125rem;
  align-items: center;
  margin-bottom: 0;
  margin-top: 0%;
  padding-right: 0.8rem;
}

label {
  font-size: 1.125rem;
}

input:valid {
  border: 3px solid aqua;
}

/* input:invalid {
  border: 3px solid red;
} */


/* FOOTER */

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.4rem 0 0.4rem 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  background-color: #1a1a1a;
  opacity: 70%;
}

.technigo-logo {
  width: 40px;
}

.github-logo {
  width: 40px;
  height: 40px;
}

.technigo {
  display: flex;
  flex-direction: row;
  margin-left: 1rem;
}

.github {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 1rem;
}


.footer p {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  font-size: 14px;
  color: #fff;
}

.footer a {
  text-decoration: none;
  cursor: pointer;
}


/* MEDIA QERIES  */

@media (min-width: 768px) and (max-width: 991px) {

  h1 {
    font-size: 140px;
  }

  .company-logo {
    width: 96px;
    height: auto;
  }

  .hero-image {
    height: 550px;
  }

  .hero-text {
    padding-bottom: 4rem;
    padding-top: 8rem;
  }

  .preamble {
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .info-text {
    margin-left: 4rem;
    margin-right: 4rem;
  }
  
  .accordion {
    padding: 0;
    margin-left: 4rem;
    margin-right: 4rem;
  }

  .jes-img {
    width: 140px;
    height: 140px;
  }
  
  .contact p {
    font-size: 1.125rem;
    margin-left: 1.5rem;
  }

  .form {
    margin-top: 2rem;
    margin-left: 4rem;
    margin-right: 4rem;
    margin-bottom: 4rem;
  }

}



@media (min-width: 991px) {
  
  h1 {
    font-size: 200px;
  }

  .hero-image {
    height: 650px;
  }

  .company-logo{
    width: 112px;
  }
  
  /* .hero-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 96px;
  }
   */
  .hero-text p {
    font-size: 3rem;
  }

  .hero-text {
    /* margin-bottom: 48px;
    margin-top: 48px; */
    padding-bottom: 4rem;
    padding-top:10rem;
  }

  .hero-button {
    border-radius: 24px;
    background-color: aqua;
    font-family: raleway;
    font-size: 1.125rem;
    padding-left: 6rem;
    padding-right: 6rem;
  }


  .preamble {
    width: 50%;
    float: left;
  }
  
  .preamble p {
    text-align: left;
  }

  .accordion {
    width: 50%;
    padding: 0%;
  }

  .form {
    width: 50%;
  }

  .jes-info {
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
    width: 50%;
    float: left;
    margin-top: 0;
  }

  .jes-img {
    width: 140px;
    height: 140px;
  }
  
  .jes-info p {
    font-size: 1.125rem;
    line-height: 1.5rem;
    text-align: left;
  }

  .info-text {
   float: left;
  }

  .preamble:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* .jes-img {
    border-radius: 50%;
    width: 20%;
    object-fit: cover;
  } */

  .sectionHeading {
    text-align: left;
  }

  .middleSection {
    display: flex;
    flex-direction: row;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 3rem;
  }

  .form { 
    margin-top: 2rem;
  }

  .contact {
    justify-content: left;
  }

  github-logo {
    width: 48px;
    height: 48px;
  }


}