*{
  text-decoration: none;
}

a{
  color: gold;
}
/* simple-form */
.input-container{
  margin-bottom: 15px;
  max-width: 300px;
}

.input{
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  border-left: 3px solid;
  transition: border-color 0.5s ease-out;
}

.input:optional{
  border-left-color: #999;
}

.input:required{
  border-left-color: palegreen;
}

.input:invalid{
  border-left-color: salmon;
}

.input:focus{
  outline: none;
}

.input:required:focus:valid{
  background: url("valid.svg") no-repeat 95% 50%;
  border-color: palegreen;
}

.input:required:focus:invalid{
  background: url("invalid.svg") no-repeat 95% 50%;
  border-color: salmon;
}

.radio-button-container{
  display: block;
  margin-bottom: 15px;
  max-width: 300px;
}

.radio-button{
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid #dddddd;
  border-radius: 4px;
  border-left: 3px solid #999; 
  cursor: pointer;
}

.radio-button-container input{
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio-button-container input:checked + label{
  border-color: palegreen;
  background: url("valid.svg") no-repeat 95% 50%;
}

.radio-button-container label:hover{
  background-color: palegreen;
  border-color: palegreen;
}

.checkbox-container{
  display: inline-flex;
  align-items: center;
  margin-bottom: 15px;
}

.checkbox-container input{
  position: absolute;
  visibility: hidden;
  display: none;
}

.checkbox-container label{
  margin-top: -5px;;
}

.checkbox-container label::before{
  content: "";
  display: block;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #eee;
  margin-right: 10px;
  cursor: pointer;
}

.checkbox-container label:hover::before{
  background-color: #ccc;
}

.checkbox-container input:checked + label::before{
  background: url("valid.svg") no-repeat 95% 50%;
}

.checkbox-container p{
  margin: 0;
}

.submit-container{
  display: block;
  margin-bottom: 15px;
  max-width: 300px;
}

.submit-container label{
  display: block;
  width: 100%;
  padding: 12px;
  border: 1px solid palegreen;
  border-radius: 4px;
  cursor: pointer;
}

.submit-container input{
  position: absolute;
  visibility: hidden;
  display: none;
}

.submit-container label:hover{
  background-color: palegreen;
}



