footer{
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 20px 30px;
    background: #D3D3D3;
    color: #573B8C;
    height:150px;
    cursor: pointer;
  }

  footer p:hover{
      border-bottom: black;
  }