@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap');

body{
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
}
/******SIGN UP SECTION*****/

.sign-up
{
  display: grid; 
  grid-template-rows: 80% 20%;
  gap: 10px;
  border:#f88379 2px solid;
  height: 600px;
  margin: 6%;
  border-radius: 3px;
}
form{
  display: grid;
  grid-template-rows: 20% 80%;
  border: 2px blue solid; 
}

.form-heading
{
  justify-self: center;
  color:#f88379;
  font-size:30px;
}

.form-input{
  /* border: green 2px solid; */
  border-radius: 3px;
  box-shadow: 3px 4px 5px 0px rgba(0, 0, 0, 0.38);
  justify-self: center;
  padding: 5%;
  margin-bottom: 50px;
}

.name-fields{
margin-bottom: 10px;
}

.email-password
{
  display: flex;
  flex-direction: column;
}

.email-password input{
  margin-bottom: 10px;
}

.option
{
  display: flex;
  margin-bottom: 10px;
  /* justify-content: space-around; */
}

.option label{
  flex-grow: 1;
}

.option select{
  flex-grow: 2;
}
.radio-buttons{
  margin-bottom: 10px;
}

.check-boxes{
  margin-bottom: 10px;
}

.sign-buttons
{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button:nth-child(1){
  background-color: #f88379; /* Green */
  border: none;
  color: #F8F8FF;
  padding: 10px 25px;
  border-radius: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
 
}

button:nth-child(2){
  background-color: #F8F8FF;
  color:#f88379;
  border: 2px solid #f88379;
  padding: 10px 25px;
  border-radius: 10%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
.sallad-pic 
  {
    border: 2px black solid;
    display: flex;
    justify-content: center;
  }

.sallad-pic img{
  width: 100%;
}

/***** FAQ SECTION*****/

.accordion
{
  display: grid; 
  grid-template-rows: 20% 80%;
  gap: 10px;
  border:red 2px solid;
  height: 600px;
  margin: 6%;
}

.question-pic{
  display: flex;
  justify-content: center;
  border: solid 2px black;
}

.question-pic img{
  width:100%;
}

.faq{
  display: grid;
  border: solid 2px black;
  gap:40px;
  grid-template-rows: 30% 70%;
  border: 2px blue solid; 
}

.faq-heading{
  justify-self: center;
  border: red solid;
}

.question-answers{

  margin: 5%;
}

.question{
  border: 2px solid black;
  margin-bottom:5%
}
.answer

{
  display: none;
  border: 2px solid red;
}
/* the + sign is used to select the sibling that comes immediately next to the element you selected.
in this case it is the div with the answer class next to the div with the active class.
this can be used for the FAQ-accordion. read more here: https://www.w3schools.com/css/css_combinators.asp */

.active + .answer {
  display: block;
  color: blue; 
  margin-bottom:5%;
}

.active + .question{
  margin: 0;
}
 
/*****For ipad with screens between 650 and 1024px******/
@media (min-width: 768px) and (max-width:1024px){
  .sign-up
  {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    height: 500px;
    margin: 6%;
    
}

form{
  height: 500px;
}

.sallad-pic{
  height: 500px;
}
  .accordion{
    display: grid; 
    grid-template-columns: 1fr 2fr;
    height: 500px;
  } 

  .question-pic{
    height: 500px;
  }
  
  .question-pic img{
    width:100%;
  }
  
  .faq{
    display: grid;
    height: 500px;
    gap:40px;
    grid-template-rows: repeat(1);
    border: 2px blue solid; 
  }

}
/*****For desktop with screens 1025px and larger******/
@media (min-width: 1025px){

  .sign-up
  {
    display: grid; 
    grid-template-columns: 2fr 1fr;
    height: 500px;
    
}
  form{
    height: 500px;
  }

  .sallad-pic{
    height: 500px;
  }
  .accordion
  {
    display: grid; 
    grid-template-columns: 1fr 2fr;
    gap: 40px;
    height: 500px;
  } 

  .question-pic{
    height: 500px;
    display: flex;
    justify-content: center;
    border: solid 2px black;
  }

  .question-pic img{
    width:100%;
  }
  .faq{
    display: grid;
    height: 500px;
    gap:40px;
    grid-template-rows: repeat(1);
    border: 2px blue solid; 
  }
}