.accordion {
    border: 3px solid red;
    border-radius: 7px;
}

.accordion-header {
    margin: 0;
    padding: 10px;
}

.accordion-content {
    display: none;
    margin: 0;
    padding: 10px;
    border-top: 3px solid blue;
}

.accordion-selected /* This one is not in out html anywhere, how come it recognizes it or connects it? */{
    display: block;
}