body {
    width: 400px;
    background-color: black;
    display: flex;
    justify-content: center;
}
form {
    background-color: white;

}

input {
    font-size: 20px;
}

input:valid {
    background-color: green;
}

input:invalid {
    background-color: red;
}

label {
    display: block;
    margin-bottom: 20px;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    width:250px;
}

button {
    background-color: #4CAF50; /* Green */
    border: 2px solid black;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    /*margin: 4px 2px; */
    cursor: pointer;
    border-radius: 12px;
    width: 200px;
    align-items:center ;
}

.button {
    display: flex;
    justify-content: center;
}