body {
    margin: 0;
}


/* Hero section */
.hero{
    position: relative;

}

.hero-image {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}

.hero-title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}




