body {
  background-color: #637d4e;
  display: flex;
  flex-direction: column;
  height: 100%;
}
html {
  height: 100%;
}
.mobile-nav {
  text-align: center;
  background-color: #586642;
  padding: 20px;
}

.hero-section {
  width: 100%;
  height: 400px;
  background-image: url(./pexels-mart-production-7890010.jpg);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  color: white;
  justify-content: center;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
  align-items: center;
}
.hero-title {
  font-size: 15px;
}
.hero-subtitle {
  font-size: 12px;
}

form {
  font-size: 15px;
  font-weight: bold;
  margin: 40px 50px 20px 40px;
  display: flex;
  border: 6px solid #586642;
  border-radius: 18px;
  background-color: #c7beb2;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 10px;
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

label {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  width: 70%;
  height: 30px;
  border: 2px solid #586642;
  border-radius: 18px;
  background-color: #c7beb2;
}

.input-address {
  width: 100%;
  align-items: center;
}

.phone-number {
  width: 100%;
  align-items: center;
}
.radio-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.wrapper-choice {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.radio-option {
  display: flex;
  flex-direction: row;
}
.container-radio {
  display: flex;
  flex-direction: row;
}

.psw {
  width: 100%;
  align-items: center;
}

.terms {
  display: flex;

  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
}

button {
  width: 70%;
  height: 30px;
  background-color: #8e8271;
  border: 1px solid;
  border-radius: 20px;
  padding-bottom: 20px 20px 20px 20px;
  margin: 20px;
  border-color: #8e8271;
}
footer {
  background-color: #586642;
  text-align: center;
  color: white;
  width: 100%;
  font-size: 15pxpx;
  height: 70px;
}
