* {
  box-sizing: border-box;
}

body {
  font-family: var(--primaryFont);
  font-weight: 500;
}

.main-wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0 calc(var(--spacing) * 4);
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.res-img {
  width: 100%;
  height: auto;
}

.block {
  display: block;
}

figure {
  margin: 0;
}

h1,
h3 {
  margin: 0;
}
