* {
  box-sizing: border-box;
}

body {
  font-family: var(--primaryFont);
  font-weight: 300;
}

.main-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 var(--medium);
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.res-img {
  max-width: 100%;
  height: auto;
}

.block {
  display: block;
}
