:root {
  /* COLOR PALETTE */
  --primaryColor: 182;
  --primaryColorLight: hsl(var(--primaryColor), 78%, 34%);
  --primaryColorNormal: hsl(var(--primaryColor), 57%, 45%);
  --primaryColorDarker: hsl(var(--primaryColor), 50%, 25%);
  --secondaryColor: 52;
  --secondaryColorLight: hsl(var(--secondaryColor), 97%, 57%);
  --secondaryColorNormal: hsl(var(--secondaryColor), 97%, 50%);
  --secondaryColorDarker: hsl(var(--secondaryColor), 92%, 48%);
  --mainBackgroundColor: hsl(0, 0%, 95%);
  --white: #fff;
  --black: #000;

  /* SIZE */
  --xSmall: 0.5em;
  --small: 0.8em;
  --medium: 1em;
  --large: 1.2em;
  --xLarge: 1.5em;
  --xxLarge: 2em;
  --spacing: 4px;

  /* FONTS */
  --primaryFont: "Roboto", sans-serif;
}
