body {
  font-family: "DM Serif Display";
  margin: 0;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Styles */
header {
  height: 30vh;
  text-align: center;
  padding: 20px 0;
  background: url("./image/flower2.jpg");
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1,
p {
  width: fit-content;
  backdrop-filter: blur(10px);
  font-family: "DM Serif Display";
}

h1 {
  padding-inline: 10px;
  font-size: 52px;
}

header p {
  font-size: 20px;
}

/* Navigation Styles */
nav {
  display: flex;
  justify-content: center;
  background-color: #333;
}

nav a {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  font-family: "DM Serif Display";
}

/* Content Styles */
.flower-img-box {
  display: flex;
}

.flower-img {
  width: 50%;
}

.flower-img {
  width: 50%;
}

/* Form Styles */
.form-container {
  background-color: #fff;
  border-radius: 0.625em;
  margin: 1.25em auto;
  max-width: fit-content;
  padding: 60px 80px;
}

.input-field {
  width: 100%;
  height: 20px;
}

.input-container {
  width: 100%;
  height: 50px;
  margin: 10px;
}

.radio-box {
  width: 100%;
}


#bouquet-size {
  height: 20px;
}


textarea {
  width: 100%;
}

button {
  width: 200px;
  height: 30px;
  margin-top: 100px;
  font-family: "DM Serif Display"
}

select {
  width: 100%
}

.content {
  background-color: #EEEFF1;
  padding: 80px 100px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Page Image Styles */
.page-image {
  width: 100%;
  display: flex;
}


/* Footer Styles */
footer {
  color: white;
  text-align: center;
  padding: 1.25em;
  background-color: black;
}

/* Media Queries */
@media screen and (max-width: 1024px) {

  /* Styles for tablets and smaller screens */
  nav {
    flex-direction: column;
    align-items: center;
  }

  .form-container {
    margin: 1.25em 0;

  }
}

@media screen and (max-width: 667px) {

  /* Styles for mobile screens */
  nav a {
    padding: 0.5em 1em;
  }

  .form-container {
    padding: 20px 30px;
  }

  button {

    margin-top: 80px;

  }

  .input-container {
    margin: 14px;
  }

  .content {

    padding: 60px 30px;
  }

}