@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body,
.accordion-wrapper {
  background-color: #f3e8dd;
}

.header,
.accordion {
  position: relative;
}

.hero,
.main-section__paragraph,
.accordion-header {
  text-align: center;
}

.hero,
.form {
  color: white;
}

.hero__header,
.main-section__paragraph,
.form__header,
.accordion-header {
  font-size: 2rem;
}

.hero__paragraph,
.accordion__header {
  font-size: 1.25rem;
}

.hero,
.main-section__paragraph {
  font-family: 'Bitter', serif;
}

hr,
.wrapper,
.form__input,
.form__input::placeholder {
  color: #3c2f2f;
}

.main-section,
.wrapper,
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__input,
.accordion-header {
  margin-bottom: 30px;
}

.form__header,
.horizontal-rule {
  margin-bottom: 20px;
}

.form-wrapper,
.accordion-section {
  width: 100%;
}

.header {
  width: 100vw;
  height: 70vh;
  background: url("./images/coffee.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero {
  position: absolute;
  top: 30%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-shadow: black 2px 5px;
}

.hero__paragraph {
  margin-top: 20px;
}

.main-section {
  height: 70vh;
  color: #573525;
  font-weight: 500;
}

.main-section__paragraph--bold {
  font-weight: 600;
  font-size: 2.8rem;
  margin-bottom: 10px;
  text-shadow: #69412f 1px 3px;
}

.wrapper {
  background-color: #3c2f2f;
  font-family: 'rubik', sans-serif;
}

.form {
  background-color: #8a715a;
  padding: 35px;
}

.form-wrapper {
  margin-top: 50px;
  padding: 80px 0;
}

.form__input {
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  width: 350px;
  background-color: #f6f1eb;
}

.form__input--green {
  width: 20px;
}

.form__input--green:checked:before{
  background-color: green;
}

.submit-input:hover {
  background-color: #f1e0ce;
}

.accordion-section{
  padding: 50px 0 80px 0;
}

.accordion-wrapper {
  padding: 30px 10px;
}

.accordion {
  margin: 10px 10px;
}

select {
  appearance: none;
}

select {
  background: url("./images/arrow.png");
}

.form__input--valid {
  background: url("./images/check.png");
}

.form__input--invalid {
  background: url("./images/x.png");
}

select,
.form__input--valid,
.form__input--invalid {
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 315px 12px;
  background-color: #f6f1eb;
}

.form__input:focus {
  outline: none !important;
  border: 1px solid #3C2F2F;
}

#policyInput {
  accent-color: green;
}

.accordion__header {
  position: relative;
  padding: 10px 0;
  cursor: pointer;
}

.accordion__paragraph {
  display: none;
}

.active + .accordion__paragraph {
  display: block;
}

.underline {
  text-decoration: underline;
}

@media (min-width: 460px) {
  .accordion-wrapper {
    padding: 30px;
  }
  .accordion__header.active:before {
    content: url("./images/minus.png");
  }
  .accordion__header::before {
    content: url("./images/plus.png");
    position: absolute;
    right: 0;
  }
}

@media (min-width: 667px) {
  .hero__header {
    font-size: 3rem;
  }
  .form,
  .accordion-wrapper {
    border-radius: 20px;
  }
  .form-wrapper,
  .accordion-section {
    width: 65%;
    padding: 80px 30px;
  }
  .accordion-wrapper {
    padding: 30px;
  }
  .main-section {
    height: 80vh;
  }
}

@media (min-width: 1024px) {
  .hero__paragraph,
  .form-wrapper,
  .accordion-section {
    margin-top: 0;
  }

  .form-wrapper,
  .accordion-section {
    width: 50%;
  }

  .hero__header {
    font-size: 4rem;
  }

  .hero__paragraph {
    font-size: 2rem;
  }

  .main-section {
    height: 70vh;
  }

  .main-section__paragraph {
    font-size: 3rem;
  }

  .main-section__paragraph--bold {
    font-size: 3.8rem;
  }

  .wrapper {
    flex-direction: row;
  }

  .form {
    flex-direction: column;
  }
}

