@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  }

  .hero {
  width: 100vw;
  height: 70vh;
  background: url("./images/coffee.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

h1 {
  font-size: 2rem;
}

.hero__text {
  text-align: center;
  position: absolute;
  top: 30%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Bitter', serif;
}

.main-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #573525;
  font-weight: 500;
}

.main-section__paragraph--bold {
  font-weight: 600;
  font-size: 3.5rem;
}

.main-section__paragraph {
  font-size: 3rem;
  text-align: center;
  font-family: 'Bitter', serif;
}

.wrapper {
  display: flex;
  background-color: rgb(143, 118, 104);
}

.form,
.accordion-body {
  width: 50%;
}

.accordion-body {
  padding: 50px 30px;
}

.accordion__header{
  font-size: 2rem;
  text-align: center;
}

.accordion {
  color: black;
  background-color: white;
  padding: 30px 30px;
  font-family: 'rubik', sans-serif;
}

.input {
  position: relative;
  margin: 10px 10px;
}

.input__label {
  position: relative;
  padding: 10px 0;
  font-size: 1.25rem;
  color: black;
  cursor: pointer;
}

@media (min-width: 667px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  .hero-text p {
    font-size: 2rem;
  }
}

