@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  background-color: #f3e8dd;
}

.hero {
  width: 100vw;
  height: 70vh;
  background: url("./images/coffee.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

h1 {
  font-size: 2rem;
}

.hero__text {
  position: absolute;
  text-align: center;
  top: 30%;
  width: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Bitter', serif;
}

.main-section {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #573525;
  font-weight: 500;
}

.main-section__paragraph--bold {
  font-weight: 600;
  font-size: 3.5rem;
}

.main-section__paragraph {
  font-size: 3rem;
  text-align: center;
  font-family: 'Bitter', serif;
}

.wrapper {
  display: flex;
  background-color: #3C2F2F;
  color: #3c2f2f;
  /* background-color: #201109; */
  font-family: 'rubik', sans-serif;
}

.form-wrapper,
.accordion-wrapper {
  width: 50%;
  padding: 50px 30px;
}

.form {
  background-color: #8a715a;
  padding: 50px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.form__header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.form__input {
  margin-bottom: 30px;
  padding: 15px 20px;
  background-color: #fafafa;
  border: none;
  border-radius: 5px;
  width: 350px;
  color: #3C2F2F;
}

.form__input--small {
  width: 20px;
}

.form__input::placeholder {
  color:  #3C2F2F;
}

hr {
  color: #3c2f2f;
}

.accordion {
  background-color: #fafafa;
  padding: 30px;
  border-radius: 20px;
}

.accordion__header {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.input {
  position: relative;
  margin: 10px 10px;
}

.input__header {
  position: relative;
  padding: 10px 0;
  font-size: 1.25rem;
  cursor: pointer;
}

.input__paragraph {
  display: none;
}

.active + .input__paragraph {
  display: block;
}

@media (min-width: 667px) {
  h1 {
    font-size: 3rem;
  }
}

@media (min-width: 1024px) {
  h1 {
    font-size: 4rem;
  }

  .hero-text p {
    font-size: 2rem;
  }
}

