*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
COLOR PALETTE: 

Main colors: 

Dark purple: #240747;
Red: #eb2632; 

Dust Palette: 

Wine: #792A17;
Grey: #7D7484;
Light purple: #B1A8B9;
Darkest purple: #FDE9FF;

*/

/* ----------------------------------------------- */
/*                GLOBAL COMPONENTS                */
/* ----------------------------------------------- */

body {
  background-color: #fff;
  font-family: 'Flamenco', serif;
  color: #fff;
}

/* ----------------------------------------------- */
/*                    HEADER                       */
/* ----------------------------------------------- */

.hero {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  overflow: hidden;
  z-index: 300;
}

.hero .hero__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: #240747;
  opacity: 0.5;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  object-position: center;
  object-fit: cover;
}

.hero__nav-container__logo {
  height: 10vw;
  width: auto;
  float: left;
  z-index: 10;
}

.hero__nav-container__nav-bar__nav-link {
  display: none;
  padding: 15px 20px;
  font-size: 20px;
  text-decoration: none;
  }

.hero__contents {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-shadow: 0 1px 0 black;
}

.hero__contents__container__title {
  font-size: 8pw;
}

.hero__contents__container__subtitle {
  font-size: 3pw;
}

.hero__contents__container__cta-button {
  margin: 1vw 20vh; 
  padding: 1vw;
  width: 20%;
  font-size: 4vw;
  border-radius: 60%;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  border: none;
  color: #fff;
  text-align: center;
  font-weight: 400;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
}


/* ----------------------------------------------- */
/*                    ACCORDION                    */
/* ----------------------------------------------- */

.accordion {
  color: #000;
  font-size: 18px;
  margin: 20px;
}

.accordion__title {
  background-color: #240747;
  color: #fff;
  padding: 8px;
}

.accordion__question {
  background-color: #B1A8B9;
  color: #240747;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion__answer {
  display: none;
  padding: 10px;
}

.active + .accordion__answer {
  display: block;
}

/* ----------------------------------------------- */
/*                  SIGN-UP-FORM                   */
/* ----------------------------------------------- */

.sign-up-form {
  background-color: #B1A8B9;
  color: #240747;
  font-size: 18px;
  margin: 20px;
}

.sign-up-form__contents {
  margin-bottom: 40px;
}

.sign-up-form__title {
  background-color: #240747;
  color: #fff;
  padding: 8px;
}

.sign-up-form__fields {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sign-up-form__contents__label {
  margin-top: 10px;
  margin-bottom: 2px;
}

.sign-up-form__contents__input {
  padding: 20px;
}

.sign-up-form__contents__input::placeholder {
  font-size: 16px;
}

.sign-up-form__choices{
  display: block;
  padding: 10px;
}

.sign-up-form__contents__list {
  list-style: none;
  padding-bottom: 8px;
}

.sign-up-form__contents__list li {
  padding-top: 5px;
}

.sign-up-form__contents__button {
  margin: 10px 0 20px 25%;
  padding: 8px 60px;
  background-color: #805BA3;
  color: #fff;
}

/* ----------------------------------------------- */
/*                  SPONSORS                       */
/* ----------------------------------------------- */

.sponsors {
  color: #000;
  width: 50%;
  margin: 0 auto;
}

.sponsors ul {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sponsors li {
  list-style: none;
  width: auto;
}

.sponsors__logo {
  width: 10rem;
  height: auto;
}

/* ----------------------------------------------- */
/*                   FOOTER                        */
/* ----------------------------------------------- */

.footer__container {
  background-color: #7D7484;
  color: rgb(184, 178, 178);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding: 30px;
  }
  
.footer__logo__transparent {
  height: 25vw;
  width: auto;
  float: left;
  }

  .footer__list {
  list-style: none; 
  }
  
  .footer__list__item {
  margin: 20px;
  text-align: center;
  }
  
  .footer__social-icon {
  font-size: 40px;
  margin: 0 6px;
  color: rgb(184, 178, 178);
  }
  
  .author-email {
  color: rgb(184, 178, 178);
  }



/* ----------------------------------------------- */
/*                  MEDIA QUERIES                  */
/* ----------------------------------------------- */

/* iPad */

@media only screen and (min-width: 768px) {
  
  body {
    font-size: 30px;
  }

  /*--- HEADER ---*/
 
  .hero {
    height: 400px;
  } 

  .hero__contents {
      top: 55%;
  }

  .hero__contents__container__title {
    font-size: 6vw;
  }
  
  .hero__contents__container__subtitle {
    font-size: 4vw;
  }

  .hero__contents__container__cta-button {
    font-size: 3vw;
  }

  /* CONTENT */

  .content-block {
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    max-width: 700px;
  }
  
  /*--- FORM ---*/

 .sign-up-form__title {
  font-size: 30px;
  padding: 12px;
 }

 .sign-up-form__fields, 
 .sign-up-form__choices {
  padding: 25px 80px;
 }

 .sign-up-form__contents__input {
  padding: 20px;
  font-size: 1.2vw;
 }

 .sign-up-form__contents__input::placeholder {
  font-size: 16px;
 }

 .sign-up-form__contents__button {
  padding: 25px 100px;
  margin-top: 25px;
  margin-left: auto;
 }

 /*--- SPONSORS ---*/

 .sponsors {
   width: 70%;
   margin-bottom: 5%;
 }

 .sponsors ul {
  list-style: none;
  display: inline-flex;
  justify-content: center;
  flex-direction: row;
  margin-left: 0;
 }

 .sponsors li {
  padding-right: 25px;
 }

 .sign-up-form__contents__button {
  font-size: 3vw;
 }


/*--- FOOTER ---*/ 

  .footer__container {
  justify-content: space-between;
  padding: 10px;
  }

 .footer__social-icon {
  font-size: 30px;
  margin: 0;
  }

 .footer__logo__transparent {
  height: 20vw;
  }

 .footer__list__item {
  font-size: 2vw;
  text-align: end;
  }
  
}

/* Big iPad (iPad Pro) */

@media only screen and (min-width: 1024px) {
  .hero {
    height: 500px;
  }

  .footer__logo__transparent {
    height: 15vw;
  }

   /* CONTENT */

   .content-block {
    max-width: 900px;
  }

  /*--- SPONSORS ---*/

 .sponsors ul {
  margin-left: 10%;
 }

 .sponsors li {
  padding-right: 50px;
 }

 .sign-up-form__contents__button {
  font-size: 3vw;
 }

  .footer__list__item {
    font-size: 1.5vw;
    text-align: end;
    }  
}


/* Desktop */

@media only screen and (min-width: 1366px) {

  /*--- HEADER ---*/

  .hero {
    height: 100vh;
  } 

  .hero__nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .hero__nav-container__nav-bar__nav-link {
    display: inline-block;
    color: #fff;
    z-index: 10;
    }

  .hero__contents {
      top: 55%;
  }

  .hero__contents__container__title {
    font-size: 6vw;
  }
  
  .hero__contents__container__subtitle {
    font-size: 4vw;
  }

  .hero__contents__container__cta-button {
    font-size: 3vw;
    cursor: pointer;
  }

 /*--CONTENT--*/ 

  .accordion {
    font-size: 30px;
  } 

  .content-block {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    align-items: stretch;
    max-width: 1200px;
  }

  .sign-up-form {
    font-size: 1.5vw;
  }

  .sign-up-form__title {
    font-size: 45px;
    padding: 12px;
  }
  
  .sign-up-form__fields, 
  .sign-up-form__choices {
    padding: 25px 80px;
  }

  .sign-up-form__contents__input::placeholder {
    font-size: 18px;
  }
  
  .sign-up-form__contents__button {
    padding: 15px 100px;
    font-size: 1.5vw;
  }
  
  .sign-up-form__contents__input {
    padding: 20px;
    font-size: 1.5vw;
  } 

  .sponsors {
    color: #000;
    width: auto;
    margin-left: auto;
    margin-right: auto;
  }
  
}

/* Bigger screens */


@media only screen and (min-width: 1900px) {
  .hero,
  .footer__container {
    max-width: 1800px;
  }
  .content-block {
    max-width: 1400px;
  }
}

@media only screen and (min-width: 3840px) {
  .hero {
    max-width: 100%;
  }

  .hero__contents {
    top: 55%;
  }

  .hero__contents__container__title {
  font-size: 4vw;
  }

.hero__contents__container__subtitle {
  font-size: 2vw;
}

.hero__contents__container__cta-button {
  font-size: 1.5vw;
  cursor: pointer;
}

  .footer__container {
    max-width: 3800px;
  }
  .content-block {
    max-width: 2000px;
  }
}