*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
COLOR PALETTE: 

Main colors: 

Dark purple: #240747;
Red: #eb2632; 

Dust Palette: 

Wine: #792A17;
Grey: #7D7484;
Light purple: #B1A8B9;
Darkest purple: #FDE9FF;

*/

/* ----------------------------------------------- */
/*                GLOBAL COMPONENTS                */
/* ----------------------------------------------- */

body {
  background-color: #fff;
  font-family: 'Flamenco', serif;
  color: #fff;
}

/* ----------------------------------------------- */
/*                REUSABLE COMPONENTS              */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/*                    HEADINGS                     */
/* ----------------------------------------------- */

/* ----------------------------------------------- */
/*                    HEADER                       */
/* ----------------------------------------------- */

.hero {
  position: relative;
  width: 100%;
  height: 200px;
  text-align: center;
  overflow: hidden;
  z-index: 300;
}

.hero .hero__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: #240747;
  opacity: 0.5;
}

.hero__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  object-position: center;
  object-fit: cover;
}

.hero__nav-container__logo {
  height: 10vw;
  width: auto;
  float: left;
  z-index: 10;
}

.hero__nav-container__nav-bar__nav-link {
  display: none;
  padding: 15px 25px;
  font-size: 30px;
  text-decoration: none;
  }

.hero__contents {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  text-shadow: 0 1px 0 black;
}

.hero__contents__container__title {
  font-size: 8vw;
}

.hero__contents__container__subtitle {
  font-size: 6vw;
}

.hero__contents__container__cta-button {
  margin: 1vw 20vh; 
  padding: 1vw;
  width: 20%;
  font-size: 4vw;
  border-radius: 60%;
  background-color: rgba(255,255,255,0.2);
  backdrop-filter: blur(15px);
  border: none;
  color: #fff;
  text-align: center;
  font-weight: 400;
  white-space: nowrap;
  font-family: Arial, Helvetica, sans-serif;
}


/* ----------------------------------------------- */
/*                    ACCORDION                    */
/* ----------------------------------------------- */

.accordion {
  color: #000;
  font-size: 18px;
  margin: 20px;
}

.accordion__title {
  background-color: #240747;
  color: #fff;
  padding: 8px;
}

.accordion__question {
  background-color: #B1A8B9;
  color: #240747;
  cursor: pointer;
  width: 100%;
  padding: 10px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

.accordion__answer {
  display: none;
  padding: 10px;
}

.active + .accordion__answer {
  display: block;
}

/* ----------------------------------------------- */
/*                  SIGN-UP-FORM                   */
/* ----------------------------------------------- */

.sign-up-form {
  background-color: #B1A8B9;
  color: #240747;
  font-size: 18px;
  margin: 20px;
}

.sign-up-form__title {
  background-color: #240747;
  color: #fff;
  padding: 8px;
}

.sign-up-form__fields {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sign-up-form__choices{
  display: block;
  padding: 10px;
}

.sign-up-form__contents__list {
  list-style: none;
  padding-bottom: 8px;
}

.sign-up-form__contents__list li {
  padding-top: 5px;
}

.sign-up-form__contents__button {
  margin: 10px 0 20px 25%;
  padding: 8px 60px;
  background-color: #805BA3;
  color: #fff;
}



/* ----------------------------------------------- */
/*                  MEDIA QUERIES                  */
/* ----------------------------------------------- */

/* Desktop */

@media only screen and (min-width: 1366px) {

  .hero {
    height: 80vh;
  }

  .hero__nav-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  
  .hero__nav-container__nav-bar__nav-link {
    display: inline-block;
    color: #fff;
    z-index: 10;
    }

  .hero__contents {
      top: 55%;
  }

  .hero__contents__container__title {
    font-size: 6vw;
  }
  
  .hero__contents__container__subtitle {
    font-size: 4vw;
  }

  .hero__contents__container__cta-button {
    font-size: 3vw;
  }

  .accordion {
    padding-top: 85vh;
    font-size: 30px;
  }

}