/* Styling the accordion elements */
.accordion__answer,
.accordion__question {
  padding: 1em 5px;
  border: 1px solid #8d8741;
  border-radius: 10px;
}

.accordion__question {
  color: #8d8741;
  font-weight: bold;
}

.accordion__answer {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  display: none;
  /* transition: all 0.4s ease-in-out; */
}

.accordion__question--open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.accordion__answer--open {
  /* transition: all 0.4s ease-in-out; */
  display: block;
}
