/* Styling the form elements */

.form__section {
  display: flex;
  flex-flow: column nowrap;
  /* border: none; */
  /* padding: 0; */
  margin: 2em 0;
}

.form__section-title {
  padding: 0;
  margin-bottom: 1em;
}

.form__input-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;
}

.form__input-field {
  margin-top: 1em;
  font-size: 1em;
  padding: 1em;
  background: #f3f3f3;
}

.form__button {
  margin-bottom: 1em;
}
