/* Styling the form elements */

.form__section {
  display: flex;
  flex-flow: column nowrap;
  /* border: none; */
  /* padding: 0; */
  margin: 2em 0;
  min-width: 230px;
}

.form__section-title {
  padding: 0;
  margin-bottom: 1em;
}

.form__section-subtitle {
  margin-bottom: 1em;
}

.form__input-wrapper {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1em;
}

.form__input-wrapper--submit-section {
  display: block;
  margin: 1em;
}

.form__input-field {
  margin-top: 1em;
  font-size: 1em;
  padding: 1em;
  background: #f3f3f3;
}

.form__button {
  box-shadow: 0px 10px 14px -7px #395a6d;
  background-color: #659dbd;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 0;
  border: 0;
}
