/* debug styles */

.forms {
  background: pink;
}
.accordion {
  background: rgb(149, 214, 149);
}
footer {
  background: orange;
}
/* end of debug styles */

/* Layout specific styles and sizings for base skeleton */

body {
  margin: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto repeat(2, 40%) auto;
}

/* makes sure the video cover fullwidth and has appropriate height */
.hero__video {
  width: 100%;
  height: 420px;
  object-fit: cover;
}
