/* Styling for Hero Elements */
.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__title {
  position: absolute;
  z-index: 1;
  margin: 0;
}
.hero__nav {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  margin: 1em 3em;
}

.hero__button {
  padding: 0.5em;
}
