/* Layout and sizings for large screens (min width: 660px) */
body {
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: auto 80% auto;
  grid-template-areas: "hero hero" "forms accordion" "footer footer";
}

.hero__video {
  height: 720px;
}

/* Declaration of grid areas */

.hero {
  grid-area: hero;
}

.forms {
  grid-area: forms;
}

.accordion {
  grid-area: accordion;
}

footer {
  grid-area: footer;
}

/* Font sizings for large screens */
h1 {
  font-size: 4em;
}
