/* Layout and sizings for large screens (min width: 660px) */

.hero__video {
  height: 720px;
}
.content__container {
  max-width: 720px;
}

/* Font sizings for large screens */
h1 {
  font-size: 65px;
}
h2 {
  font-size: 30px;
}
.form__section-title,
.accordion__question {
  font-size: 24px;
}
.content {
  font-size: 19px;
}
