/* header tags */
.hero__title,
.content__title,
.button {
  font-family: "Syncopate", sans-serif;
  text-align: center;
  color: white;
}
.content,
.content__title span,
.form__section-title {
  font-family: "Montserrat", Verdana, sans-serif;
  font-weight: 200;
}
.hero__title {
  font-size: 32px;
  line-height: 1.5em;
  text-shadow: 2px 2px 8px grey;
}
.hero__title span {
  font-family: "Bangers", Verdana, cursive;
  -webkit-text-stroke: 1px black;
}
.content__title {
  font-size: 24px;
}
.content__title span {
  display: block;
  font-size: 0.8em;
  margin: 1em;
}
.form__section-title,
.button,
.accordion__question {
  font-size: 20px;
}
.content {
  font-size: 12px;
}
