/* header tags */
h1,
h2 {
  font-family: "Syncopate", sans-serif;
  text-align: center;
  color: white;
}
.content,
h2 span,
.form__section-title,
h4 {
  font-family: "Montserrat", Verdana, sans-serif;
  font-weight: 200;
}
h1 {
  font-size: 32px;
  line-height: 1.5em;
  text-shadow: 2px 2px 8px grey;
}
h1 span {
  font-family: "Bangers", Verdana, cursive;
  -webkit-text-stroke: 1px black;
}
h2 {
  font-size: 24px;
}
h2 span {
  display: block;
  font-size: 0.8em;
  margin: 1em;
}
legend {
  font-size: 20px;
}

/* class specific typography */
.content {
  font-size: 12px;
}
