/* header tags */
h1 {
  font-family: "Syncopate", sans-serif;
  font-size: 2em;
  line-height: 1.5em;
  color: white;
  text-shadow: 2px 2px 8px grey;
}
h1 span {
  font-family: "Bangers", Verdana, cursive;
  -webkit-text-stroke: 1px black;
}
h4 {
  font-family: "Montserrat", Verdana, sans-serif;
  font-weight: 200;
  color: rgb(41, 41, 41);
}
