.accordion{
    width: 100%;
    margin-top: 20px;
}
li{
    list-style-type: none;
}
.question{
    margin: 7px 0px;
    height: 60px;
    background-image: url(/img/accordion\ background.jpg);
    border: solid;
    border-color: #4b1313a1;
    border-radius: 11px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    text-shadow: 3px 3px 3px black;
    font-weight: 700;
}
.subtitle3{
    background-color:#cb997e;
    border-radius: 10px;
    padding: 15px 0px;
    text-align: center;
    color: white;
  }
.answer{
    display: none;
    background-color: #eddcd2;
    padding: 10px 20px;
    text-align: justify;
    font-size: 15px;
    border:double  #4b1313a1;
    border-radius: 17px;
}
.answer-selected{
    display: block;
}
.short-text3{
    text-align: center;
}