@media (min-width: 1366px) {
    .main-title{
        margin: 40px 0px;
        padding: 0px 40px;
        font-size: 60px;
    }
    .hero-mobile{
        display: none;
    }
   .hero-desktop{
       width: 100%;
       display: block;
       object-fit: cover;
   }
   .menu-mobile{
       display: none;
   }
   .desktop-menu{
       width: 50%;
       font-size: 30px;
       color: white;
       text-shadow: 3px 3px 5px black;
       position: absolute;
       z-index: 2;
       right: 100px;
       display: flex;
       flex-direction: row;
       justify-content: space-between;
    }
    .desktop-menu a{
        text-decoration: none;
        color: white;
    }
    .desktop-menu p {
        padding: 30px;
    }
    .desktop-menu p:hover{
        background-color: rgba(0, 0, 0, 0.5);
        cursor: pointer;
    }

    .text-content{
        text-align: center;
    }
    
    .text-content2{
     padding: 60px 0px;
    }  

    .wooodmood-img{
        height: 500px;
    }

    .wooodmood-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .form{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
     
    form{
        width: 30%;
    }

    .testimonial{
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .testimonial  h1{
        margin: 0;
        text-align: center;
        font-weight: 300;
        font-size: 40px;
    }

    .testimonial-comments .comment{
        font-style: italic;
        font-size: 17px;
        text-align: justify;
    
    }

    .testimonial-comments .author{
        font-weight: bold;   
    }

    .accordion{
        width: 45% !important;
        margin-bottom: 50px;
    }

    footer{
        flex-direction: row;
        justify-content: space-around;
    }

}

@media (min-width: 1600px) {
    .desktop-menu{
        font-size: 25px;
    }

    .main-title{
        font-size: 45px;
    }

    .text-content h1{
        font-size: 70px;
    }
    .text-content p{
        font-size: 42px;
    }
    .button-content .form-buttom{
        font-size: 40px;
        padding: 27px;
    }
    .text-content2{
        padding: 60px 0;
        justify-content: space-around;

    }
    .woodmood-about h1{
        font-size: 55px;
        width: 45%;
    }
    .woodmood-about p{
        font-size: 25px;
        width: 45%;
    }

    .wooodmood-img{
        height: 700px;
    }
    .form{
        margin: 60px 0;
    }

    .form fieldset{
        width: 100%;
    }

    .form legend{
        font-size: 30px;
        margin-bottom: 30px;
    }
    .form .label{
        font-size: 25px;
    }

    .form input{
        width: 90%;
        height: 50px;
        font-size: 25px;
    }

    .themes-options label{
        font-size: 20px;
    }
    .themes-options .option{
        align-items: center;
        display: flex;
        margin-bottom: 15px;
    }

    .themes-options .radio{
        width: auto;
        height: auto;
        width: 30px;
        height: 30px;
        margin-right: 20px;
    }

    .box2{
        height: 200px !important;
        margin: 7px 11px;
        padding: 0px 12px;
    }

    .label2 {
        font-size: 20px;
    }
    .submit-buttom input{
        font-size: 25px;
        height: 70px;
    }

    .testimonial h1{
        font-size: 50px;
    }

    .testimonial-comments p{
        font-size: 25px !important; 
    }

    .accordion .subtitle3{
        border-radius: 20px;
        padding: 30px 0px;
        font-size: 40px;
    }
    .accordion .short-text3{
        font-size: 25px;
    }
    .accordion .question{
        height: 70px;
        border-radius: 20px;
        font-size: 25px;
        margin: 10px 0;
    }
    .accordion .answer{
        font-size: 22px;
        padding: 30px;
        border-radius: 20px;
    }

    footer {
        height: 25%;
    }
}


